[2021-06-16 13:17] harrigo commented on #2793
I am getting this, exact same thing, seemed to manifest around version 2.3.6 or 2.3.7, very slow non finishing queries, i am modifying related products by adding some products when none exist but the query should not take this long. Shame there are no answers for this one.

[code]

Above is example of my query that is failing however unsure why like stated that is stuck sending data and will just

[2021-06-17 08:17] kamanivardhman commented on #3276
@magento I am working on this

[2021-06-18 10:32] i370w commented on #3216
Hello, is there a solution for this error or workaround? I have the same problem, issue persists on login.

Uncaught TypeError: Cannot read property 'length' of null
    at Object.handler (rules.js:69)
    at validate (validator.js:44)
    at validator.js:84
    at Function._.every._.all (underscore.js:237)
    at validator (validator.js:82)
    at UiClass.validate (abstract.js:406)
    at UiClass

[2021-06-20 03:13] adorobeleza commented on #3252
Estou com com o mesmo problema, ao habilitar o MSI não consigo adicionar produtos ao carrinho tambem tentei editar o mysql com o mesmos comandos e obtive o mesmo resultado

[2021-06-22 11:02] kamanivardhman commented on #3276
@magento I check the whole issue and The issue is fixed. Here is the pull request https://github.com/magento/inventory/commit/337f8b7d56d81c217d5bf2bac180b315fd6120d0#diff-3f538d466d079fb270c25ba797de6eae883621a534997a58de77551b095df1ab

[2021-06-29 11:21] erfanimani commented on #2859
@smoskaluk did you ever find out why this happened?

[2021-06-29 19:31] bassplayer7 commented on #3155
Unless I am missing something significant, it looks to me like there's a remarkable typo in: `\Magento\InventoryConfigurableProduct\Pricing\Price\LowestPriceOptionsProvider\StockStatusBaseSelectProcessor::process`

The early exit currently is:

[code]

However, since this method is _adding_ stock filtering, the early should be:

[code]

Reference: https://github.com/magento/inventory/blob/1.2-deve

[2021-06-30 07:19] erfanimani commented on #3304
I agree that the event should be changed from `sales_order_creditmemo_save_after` to something else. Or at the very least have a check in that event to ensure there is no reservation compensation tied to this particular SKU/credit memo combination. However, the latter seems more complex/over-engineered than simply changing it to an event that only fires once per credit memo.

That said, the event

[2021-06-30 07:58] erfanimani commented on #2859
@smoskaluk this is most likely due to this MSI bug: https://github.com/magento/inventory/issues/3304

It's triggered when MSI is used in combination with asynchronous sales email sending

[2021-07-01 20:29] heerdt commented on #3312
Hey @craig-bartlett !

I have the same exact issue, with an extra problem that I am using GraphQL to fetch my products and display on my storefront. Every time I save a simple product that is part of many bundles, it removes the bundles from the search while it's saving/reindexing, which can take several minutes depending on how many bundle products it's assigned to. I think it's because Magento i

[2021-07-02 10:35] craig-bartlett commented on #3312
Hi @heerdt

Thanks for the confirmation!

As a temporary solution I was able to get our saving time from 8+ minutes (and sometimes timing out) to about 5-10 seconds. As all of our bundles are set to ship separately I simply bypassed the time consuming validation check in ShipmentTypeValidator.php with a plugin. As mentioned above, it's line 84 (where it loads all related bundles) that's the bottle

[2021-07-05 10:36] michalbednarzcsm commented on #2793
Hi.
I have exactly the same problem, after turn on Magento_Inventory (MSI), before everything was ok.
It's really critical issue in my opinion - storefront is unreachable when this problem occurs.
I am trying to debug this problem right now.
Maybe someone have other solution than remove related products block?

[2021-07-05 14:03] fredden commented on #2793
Is this related to https://github.com/magento/magento2/issues/25199, https://github.com/magento/magento2/pull/27129, https://jira.mariadb.org/browse/MDEV-20900?

Check the your database engine is running a supported version and that it's up-to-date. https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

[2021-07-07 10:23] michalbednarzcsm commented on #2793
@fredden Thanks for answer.
Database is running on Percona especially this version:
https://www.percona.com/doc/percona-server/5.7/release-notes/Percona-Server-5.7.32-35.html

I was tried to debug this problem, but only solution for now is to cut off related products (crossell upsell) functionality.
What i know for now is SQL query form related products makes database tables lock and whole Magento

[2021-07-08 09:18] TechOS-PL commented on #2793
@sky-hub & @Quazz You tried add index in inventory_stock_2 (inventory_stock_*) table on the is_salable column ?

[2021-07-08 13:03] Leone opened #3316 "Bundle with dynamic price is not sorted correctly"
Bundle product with the dynamic price isn't sorted correctly in the categories.
Final price, price, min and max price are 0.0000 in catalog_product_index_price table for bundle product because Magento tries to load simple products prices in `\Magento\Bundle\Model\ResourceModel\Indexer\Price::calculateDynamicBundleSelectionPrice` method and it checks if product is available in the default stock:
[c

[2021-07-09 14:25] DJB95 commented on #2847
@sidolov is there any update on this? I can relate and I'm dealing with the same kind of issue (Magento 2.4.1) with our Bol.com marketplace API (comparable to an Amazon marketplace API).
@chadwixk have you tried setting "Backorders" to "Allow Qty Below 0" and "Out-of-Stock Threshold" to "0" ? I did this, but there seems to be a bug in Magento that causes this setting to not work. Curious if this w

[2021-07-09 14:43] DJB95 commented on #2846
@magento-engcom-team having the same issue here. Is there any known fix for this?

[2021-07-09 15:56] chadwixk commented on #2847
@sidolov @DJB95 unfortunately, these issues ended up being the straw that broke the camel's back and my client moved to Shopify. We've had no such issues on their platform. We don't currently support any other clients on Magento, so I haven't needed to try any other work arounds, etc on these issues.

That said, we will target Magento users for our software as well at some point and it would be go

[2021-07-14 09:08] krearthur commented on #1370
I'm running magento 2.3.6 and can confirm the same behaviour, after saving a product the out-of-stock-threshold (min_qty in code) reverts back to 0. I don't understand why this issue is closed, when it clearly isn't fixed.

[2021-07-14 16:32] ub42a commented on #2847
Magento should *not* be dictating to it's users how they run their business, especially when there is no way for Magento to account for all of the various permutations of business processes out there.  We're in the same boat - our ERP system is the "primary" controller of inventory and fulfillments and yet Magento (just 1 spoke of our sales channels which include 3P, B2B, etc) is unable to exist p

[2021-07-16 10:24] TechOS-PL commented on #2793
I know the cause of this problem. The problem occurs when the afterExecuteList plugins of configurable products, group products and bundle products are launched after reindex. Delete & insert to the inventory_stock_ * will be send, which freeze the table and next select to this table appears, such a query has the status "Sending data" and nothing it works.

[2021-07-20 14:05] surabhisrivastava09 commented on #3266
@magento I am working on this issue

[2021-07-22 10:34] francescosalvi opened #3317 "Saving Shipment overwrites its associated Inventory Source with 'default'"
### Preconditions (*)

Magento 2.4.2 (tested with a vanilla-ish installation, i.e. disabling all non-core modules)
<details>
  <summary><code>composer info | grep module-inventory</code></summary>
<pre>
magento/module-inventory                                          1.2.0     N/A
magento/module-inventory-admin-ui                                 1.2.0     N/A
magento/module-inventory-advanced-che

[2021-07-22 16:38] aliantech commented on #3276
The desktop has disappeared, but the mobile has not disappeared

[2021-07-29 10:54] malafalx91 commented on #3260
Thanks for this thing here, in magento 2.4.2 I had the same problem, solved by removing the module I didn't use.

[2021-08-11 09:23] #3180 closed, assigned to gwharton

[2021-08-11 09:23] #3181 closed, assigned to gwharton

[2021-08-11 15:49] gwharton opened #3319 "Backorder (qty backordered recorded in database for order) is broken on multi source/stock systems."
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Create Test Stock
2. Create Test Source
3. Assign Default Website to Test Stock and assign Test Source
4. Create Test Product, allow backorders with notify, In Stock. Default Source Qty = 10, Test Source Qty = 0
5. Frontend, Add to cart test Product. Observe the backorder warning on checkout indicating product is coming from t

[2021-08-11 15:59] #3319 closed, assigned to nobody

[2021-08-11 19:56] bluedarter2 commented on #3276
With this mod applied, there is still an issue with mobile view:
![Screenshot from 2021-08-11 12-54-08](https://user-images.githubusercontent.com/62311346/129094559-c1be533e-7877-4325-b0e1-e00d3e6f5f12.png)

[2021-08-12 15:31] tuyennn commented on #2002
Anyupdate on this?

[2021-08-12 15:40] tuyennn commented on #2002
Anyupdate on this?

Seem like
[code]
[code]

Not sure the Stock/Source reindex strategy could fix the problem or not

![image](https://user-images.githubusercontent.com/4010395/129226199-eb6d08d4-7ee0-4a22-8d23-0484b9229621.png)

[2021-08-12 21:44] nmklong commented on #3111
I'm having the exact same issue, is this being worked on yet, how was this not reported sooner

[2021-08-17 15:50] timpea opened #3321 "Front End to Debug Stock Issues"
### Description (*)
Some kind of front end to the Inventory_reservation table, that shows issues. e.g. reservations where the sum of the qty is positive & reservations that don't have an order in the sales_order table.

### Expected behavior (*)
Page in the Magento admin to show all the current rows in the inventory_reservation, the ability to click on each one to be taken to the related order.

T

[2021-08-23 10:38] IanFiretoys commented on #3062
We are also having persistent issues with this on our store on 2.4.2, perhaps most stores ship their orders quickly enough for the indexer to resolve this before a customer encounters it, but occasionally we have to hold an order back, which makes this issue more evident.

i don't really see why whatever index is doing this isn't basing this off the saleable qty and not the stock qty.

we can only

[2021-08-30 12:37] maghamed commented on #3321
@magento give me 2.4-develop instance

[2021-08-30 12:40] maghamed commented on #3321
@magento give me 2.4-develop instance

[2021-09-01 15:10] MarekCernak commented on #3276
what about in vendor/magento/module-inventory-configurable-product-frontend-ui/view/frontend/web/js/configurable-variation-qty.js

from
`if (response.qty !== null && response.qty > 0) {`
to
`if (response.qty !== null && parseFloat(response.qty) > 0) {`

[2021-09-02 10:05] ilnytskyi commented on #3317
I confirm I faced similar issue when using
[code]
The plugin takes the `sourceCode` from the request instance. It would be nice to check is sourceCode already assigned as ExtensionAttribute and if not then resolve it form request or other places.
[code]

[2021-09-03 11:58] ganeddact commented on #2785
I'm experiencing this issue in both 2.4.2 and 2.4.3 versions.
How's the status of it?

[2021-09-07 08:06] timpea commented on #3321
Another issue that needs a way to solve without directly fixing it in the DB.

Place a pending order for a product. (SKU: A)
Open the product and change the sku (SKU change from A to B)
Cancel the pending order (SKU: A)
Re-create order with the new sku. (SKU: B)

In inventory_reservation:
-1 for A (new order for A)
+1 for B. (when cancelling pending order for A, it puts B back in stock)
-1 for B (

[2021-09-23 21:03] hassanas commented on #3266
@Surabhi-Cedcoss  Any update on this issue ?

[2021-10-04 15:36] zandreifurnica commented on #3267
@magento give me 2.4.3-p1 instance

[2021-10-05 06:33] zandreifurnica commented on #3267
@magento give me 2.4.3-p1 instance

[2021-10-06 00:45] JonathanHelvey commented on #3276
Issue reproduced in 2.4.2-p1 after upgrading from Magento 2.3.5. Tried @MarekCernak solution worked for me.

[2021-10-06 15:24] kassner opened #3326 "1.2.3 release?"
### Summary

Can you push the `1.2.3` tag to GitHub?

### Examples

[code]

### Proposed solution

Make the `1.2.3` release be available on [GitHub](https://github.com/magento/inventory/tree/1.2.3).

[2021-10-06 19:25] codecodeio commented on #3111
I'm using Magento Commerce 2.4.2-p1 and have the same issue.  I have a bundle with manage stock set to false (0) but \Magento\CatalogInventory\Model\Quote\Item\QuantityValidator::validate() sets out of stock error info because of this call:
$stockStatus = $this->stockRegistry->getStockStatus($product->getId(), $product->getStore()->getWebsiteId());

I resolved the issue by creating a preference fo

[2021-10-07 15:57] LyraGhost commented on #3278
Just wanted to chip in that I was also having this issue, but it is an issue with some js stripe placed on the page, as they did an override on the loadArea function but didnt return the result when calling the original.

Ive reported the issue to stripe as well.

[2021-10-08 16:10] ganeddact opened #3328 "Notify order is ready for pickup not working if global stock is turned off"
### Preconditions (*)

1. Magento 2.4.3
2. MSI enabled
3. In-store pickup configured and working
4. Global stock control turned off (in Stores > Configuration > Catalog > Inventory > Product Stock Options > Manage Stock)

### Steps to reproduce (*)

1. Place an order containing items assigned to Sources of the Sales channel of the website
2. Access the backend, check the order, try to "Notify orde

[2021-10-10 10:43] iphigenie commented on #3101
I second this - it is annoying especially as it leaves phantom entries if you change the sku right after duplication, which most people do (whether stock synchronise is set or not) (it's part of a set of things that aren't triggered by the first save after duplication, because the "has changed" flags aren't triggered)

Products should be duplicated without any stock being created

![Ashampoo_Snap_

[2021-10-12 14:15] alshulah commented on #2299
Anyone tested

below patch

https://support.magento.com/hc/en-us/articles/4410121211917-MDVA-37115-Only-0-left-notice-is-shown-on-product-page

[2021-10-15 14:58] sinfonie commented on #3266
@Surabhi-Cedcoss  Any update on this issue?

[2021-10-19 14:47] Quazz commented on #3106
Current implementation doesn't allow this.

Imo, their current logic is incorrect/insufficient.

They link sourcecode to shipment, because they assume each "source" handles their shipping on site.

But ultimately such consideration should be ignored in favour of the more flexible and accurate way of handling this:

Link source code to shipment of specific items. (link it to the items, not the ship

[2021-10-19 15:24] seansan commented on #3106
Unsubscribing from this issue

Apparent this is important ;) good luck

On Tue, 19 Oct 2021 at 16:47, Quazz ***@***.***> wrote:

[2021-10-19 23:05] atomixstar commented on #3267
Hello, any news related to this issue? We have similar problem.

main.CRITICAL: Placing an order with quote_id 3AxnMz1GsgP7B3RXdEjpcWBaCRbauow7 is failed: Quote does not have Pickup Location assigned. [] []

[2021-10-21 13:51] IanFiretoys opened #3329 "Partial Refunds on orders pre-shipment generate return to stock reservations, but order can't be shipped, leading to stock issues"
### Preconditions (*)

1. magento 2.4.3 with MSI enabled (also 2.4.2)
2. order for multiple products,

### Steps to reproduce (*)

1. refund an incomplete amount of one item in the order (ie. if 6 duffel bags in green were ordered, refund 4 of them but allow the rest of the order to remain)
2. tick return to stock checkbox
3. attempt to ship/complete the order

### Expected result (*)

1. shipment

[2021-10-21 16:51] IanFiretoys opened #3330 "can't change/edit SKU of any products with a source assigned"
### Preconditions (*)

1. 2.4.3 multiple sources enabled in MSI
2. product with an SKU and a source assigned

### Steps to reproduce (*)

1. with a source assigned, change the SKU of the product by 1 letter/number and hit save
2.

### Expected result (*)

1. product saves, reloads with the amended SKU
2.

### Actual result (*)

1. error code drops, on production it mentioned logs in the exception

[2021-10-27 06:18] WinstonN commented on #2793
Reduce your batch sizes, down to 500 as this article state https://dave-baker.com/2019/07/28/fixing-slow-reindexes-in-magento-2-mariadb/
It does make things a lot better

[2021-11-03 07:42] staradzinau opened #3331 "In-store pickup: impossible to search for source on the checkout page for mobile devices"
### Preconditions (*)

1. Magento 2.4.3 CE
2. MSI is enabled
3. In-store pickup is configured

### Steps to reproduce (*)

1. Add some product (available for in-store pickup) to the shopping cart
2. Go to checkout
3. Choose the "In-Store Pickup Delivery" shipping method
4. Click on the "Select other" button
5. The "select store" modal is opened

### Expected result (*)

1. The input to type the lo

[2021-11-05 01:29] uandiweb opened #3332 "Multi Source Inventory (MSI) with Custom Stock & Custom Sources Cause Products to Disappear"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Ensure "Display Out of Stock Products" is set to "No" (as per default Magento settings)
3. Set products' visibility to "Catalog, Search"

### Steps to reproduce (*)

1. Create new inventory source (i.e. "Store 1")
2. Create new inventory stock (i.e "Custom Stock")
3. Set the "Main Website" to be a sales channel of the "Custom Stcok"
4. Assign "Store 1"

[2021-11-15 17:23] mattwellss commented on #2218
@gwharton sorry to bother, but I'm still experiencing this (`null` values for `qty_backordered`) on 2.4.3-p1 (which installs the newest tag of the inventory module metapackage). Do you know which commit(s) resolve the issue?

[2021-11-15 17:31] gwharton commented on #2218
This remains broken in all current Magento releases i am afraid. I created several PRs to fix it, but all got ignored so they all got closed by stale bot.

I realised that the backorder qty that is stored in the dB is obtained from the default stock/source. I switched my store to only use a single source, the default one so it works for me but if you use other sources, then it will fail and will r

[2021-11-15 17:36] mattwellss commented on #2218
Thank you for the quick response! I've been reviewing your PR, and comparing it to my own WIP changes it seems like we're on similar tracks.

Really appreciate the work you put in.

[2021-11-15 17:40] gwharton commented on #2218
Yeah, MSI needs to return the backorder qty, which it curreny doesn't. And then core needs to not override the qty returned by MSI, with the backorder qty from default stock, which it currently does.

[2021-11-16 16:41] Shubi-MHI opened #3334 ""{\"message\":\"Maximum items of type \\\"%type\\\" is %max\",\"parameters\":{\"type\":\"\\\\Magento\\\\InventoryApi\\\\Api\\\\Data\\\\SourceItemInterface\",\"max\":20}}""
A Celigo flow has been running to update inventory and out of nowhere today, it keeps throwing the below error:

Error code: 400
Relative URI: V1/inventory/source-items

"{\"message\":\"Maximum items of type \\\"%type\\\" is %max\",\"parameters\":{\"type\":\"\\\\Magento\\\\InventoryApi\\\\Api\\\\Data\\\\SourceItemInterface\",\"max\":20}}"

Payload:
{
  "id": "125",
  "recordType": "inventoryitem",

[2021-11-19 09:56] dattruongthe commented on #3288
Hi dev team, Do we have any update related to this issue? It still happens on Magento 2.4.3-p1

Thanks.

[2021-11-26 20:36] nthurston commented on #3332
Do you happen to have gaps in your entity ids?

I just came here to report something similar to https://github.com/magento/magento2/issues/31224

Which is now happening specifically with MSI because of the plugin in module-inventory-catalog-search/Plugin/CatalogSearch/Model/Indexer/ChildProductFilterByInventoryStockPlugin.php

FYI it works when Show out of stock is set to yes because it checks tha

[2021-11-29 11:45] vseager commented on #3062
This issue is still reproducible on 2.4.3 for both configurable and simple products.

[2021-11-30 04:46] Brocknoviatch commented on #2424
In stock filter
Sale filter
In stock in particular warehouse

These should all be standard part of Magento 2, not 3rd party installs. I can't think of an eCommerce store owner who doesn't want this functionality!
This should be reopened.

[2021-12-09 00:31] tschirmer commented on #3314
Bump

[2021-12-16 22:53] pmonosolo commented on #2362
I'm experiencing the same on 2.4.3. This seems to be due to some inventory issue where one item is missing from the cart due to stock and another item in the cart.

1) Client goes to shop, puts item into cart
2) At night the item goes out of stock
3) Client comes back, puts a different item into cart
4) Client visits Cart or Checkout page - error shows up on both.

[2021-12-17 00:59] pmonosolo commented on #2362
The weird part is that the displaying errors is TURNED OFF everywhere, but the error still shows up uncovering server path!

[2021-12-20 14:46] ni-bschmitt commented on #2727
Totally support this, that's serious. +1
If you assign multiple sources to a store, even if allowed countries (for store and source) are configured properly, it's not taking that constraint into account and allows overselling. We constantly have issues because of that.

We're thinking of splitting up that store so that we can apply a 1:1 relation to source and store. What a pity.

[2021-12-21 12:05] paales commented on #2727
FYI. We've opensourced some stuff a long time ago: https://github.com/ho-nl/magento2-ReachDigital_InventoryOrderSourceReservations

I haven't got an active customer for this functionality, but it should work.

[2022-01-06 17:23] Berman59 commented on #3111
Just wanted to add some notes on 2.3.x.

Upgraded to 2.3.7-p2 and the issue persists; if there is an entry for a non-default-source bundle in inventory_stock_x (where x is a non default stock id), it will show fine in category and product page; otherwise it will show as out of stock. The actual bundle can be added and checked out without issues regardless of this stock status.

I tried manually ad

[2022-01-12 11:14] gmalhotra02 commented on #2362
I am facing the same error in Magento 2.4.3 any solution?

error is : Type Error occurred when creating object: Magento\InventorySourceSelection\Model\Address, Argument 1 passed to Magento\InventorySourceSelection\Model\Address::__construct() must be of the type string, null given, called in /var/www/public_html/magento2/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 12

[2022-01-12 17:03] pmonosolo commented on #2362
Are you using Amasty Shipping Table rates?

[2022-01-13 08:45] gmalhotra02 commented on #2362
Yes, I am using Amasty Shipping Table rate extension. Any changes to be done to the module ?

[2022-01-13 16:59] pmonosolo commented on #2362
Go to:
/Model/Quote/Inventory/InventoryRequestFromQuoteFactory.php

and change:

[code]

This fixed the issue for me.

To test you can:

Use guest account, add to cart, then go straight to login page and log in. This should show the error on cart / checkout pages.

I requested Amasty team expedite this fix, but I don't know when they will fix it.

I tried to do an override for that method, but its

[2022-01-14 14:34] nmarquez2 opened #3336 "Default source check missing on source item decrement for Legacy stock status update"
### Preconditions (*)

1. Magento Inventory Version: 1.2.1-p1, develop
2. Magento Version 2.4.3-p1

### Steps to reproduce (*)

1. Decrement a source item for a source that is not the Default source

### Expected result (*)

1. The legacy stock status should not be updated if the decremented source item is not for the default source

### Actual result (*)

1. Legacy stock status is updated regardl

[2022-01-14 17:07] gmalhotra02 commented on #2362
Thank you and this worked for me as well. No more errors now, will wait for Amasty team to update

[2022-01-18 15:34] evs-xsarus opened #3337 "Quick order product w/o qty but allow backorder"
I have a simple product which I try to add using magento/module-quick-order . The product has no quantity (null) and isn't added in the source table. Backorders (Allow qty below 0) is enabled:

![image](https://user-images.githubusercontent.com/44158071/149967509-1afbdc04-7d3e-459d-a045-7dd255e9a1da.png)

This product can be added to the cart using the PDP, but not from the quick order. In the lat

[2022-01-18 15:35] evs-xsarus commented on #3337
PS I 'm running Magento magento/product-enterprise-edition 2.4.2 with magento/extension-b2b 1.3.1

[2022-01-18 15:41] evs-xsarus commented on #3337
The field 'qty' seems to be nullable in table 'cataloginventory_stock_item' . When adding products with the qty to 'null', it doesn't seem to be added to the source table, resulting in this error.

[2022-01-19 10:30] HenKun commented on #2895
@sidolov Sure this is closed correctly? Magento 2 without MSI allows creating orders of out-of-stock products from admin area. They explicitely implemented `skipSaleableCheck` property in `Magento\Catalog\Helper\Product`. This property is set to `true` in constructor of `vendor/magento/module-sales/Controller/Adminhtml/Order/Create.php`. This explicitely allows creating those orders from admin pan

[2022-01-19 12:12] HenKun commented on #2895
@magento give me 2.4-develop instance

[2022-01-19 17:11] pmonosolo commented on #2362
The official fix from Amasty team coming out next month.

[2022-01-24 11:49] hostep commented on #3326
@mmansoor-magento, @sidolov: it looks like version 1.2.3 is still missing here on github. Versions 1.2.2 and 1.2.3-p1 are published but 1.2.3 seems to be missing. Thanks!

[2022-01-24 11:51] hostep commented on #3326
Ah sorry, I just noticed it is published in [the tags](https://github.com/magento/inventory/tags), just not in [the releases](https://github.com/magento/inventory/releases), but that's fine I guess (albeit it a bit confusing).

I believe this ticket can be closed?

[2022-01-24 15:47] sidolov commented on #3326
@hostep looks like something went wrong during the release publication procedure, I have created 1.2.3 release, thank you for the input!

[2022-01-24 15:47] #3326 closed, assigned to nobody

[2022-01-25 03:05] Adel-Magebinary commented on #2727
For anyone who has run into this issue, there is a simple workaround.

Looks like Magento decided to keep legacy stock logic alongside MSI. Then it created lots of other bugs and this.

The easiest way to make sure the MSI logic is working perfectly is to create a new source to bypass the hardcoded id 1 of (Default source and default stock) in order to bypass the legacy stock logic.

You can simpl

[2022-01-25 13:00] fm-cl commented on #2362
Hello @pmonosolo

I had this same issue, and this fixed for me. Thank you alot you made my day!

[2022-01-27 23:24] willtran commented on #3296
I don't think this issue will ever get worked on. This is because a Stock in MSI is shared between different sales channel - and product status is a website scoped attribute. I have had to bring the logic for filtering out configurable products with disabled (but saleable) children when building. the query for PLP

[2022-02-03 07:14] manan-india opened #3338 "Spinner/Loader does not stop after clicking Assign Sources in Creating Configurations of simple product"
### Preconditions (*)

1. Magento version - 2.3.7
2. MSI version - 1.0.x

### Steps to reproduce (*)

1. Create New simple Product (Enable MSI)
2. Click on Assign Source, modal will opened, Now click on Cancel button
3. Create configurations by clicking on create configuration
4. Assign Souce to each configuration

### Expected result (*)

1. It should open the sources grid. pfa
![image](https://u

[2022-02-03 18:02] fgonzalez-Redegal opened #3339 "Extra compensation reservation (inventory_reservation) in any update of credit memo"
### Preconditions (*)

1. Magento 2.4.3-p1 with magento/module-inventory 1.2.1-p1
2. With small data: profiles/ce/small.xml

### Steps to reproduce (*)

1. Create a full Credit Memo with not checked Return to Stock for one of products (for example: sales_creditmemo.entity_id = 1)
2. It create registers into inventory_reservation. For example 2.
3. Programmatically update some date of Credit Memo (

[2022-02-03 18:03] #3339 closed, assigned to nobody

[2022-02-04 22:44] tales-desde-mileto opened #3340 "Extra compensation reservation (inventory_reservation) in any update of credit memo"
### Preconditions (*)

1. Magento 2.4.3-p1 with magento/module-inventory 1.2.1-p1
2. With small data: profiles/ce/small.xml

### Steps to reproduce (*)

1. Create a full Credit Memo with not checked Return to Stock for one of products (for example: sales_creditmemo.entity_id = 1)
2. It creates registers into inventory_reservation. For example #2 lines.
3. Programmatically update some date of Credi

[2022-02-07 14:06] kevinvarley opened #3341 "Product data import causes default stock source to be added back into products"
The default stock source is added back into products after a data import despite it being explicitly removed from products previously.

Should the default stock be being added back into products if the merchant has setup a custom stock / source?

### Preconditions (*)

1. Install Magento 2.4.3-p1 with sample data
2. In the admin area setup a new inventory source
3. In the admin area setup a new st

[2022-02-14 04:37] Adel-Magebinary commented on #2793
@TechOS-PL  did you resolve the issue?

[2022-02-14 11:25] IanFiretoys opened #3342 "Amend "out of stock" logic to account for unfulfilled orders properly"
### Description (*)

I would like to request that the logic governing how and when a product's `source item status` is set to `out of stock` is changed.

I believe this should happen as the `saleable qty` hits 0, not when the `source qty` does.

Currently, if an order reserves the last of the stock of a particular SKU, that sku's `source item status` remains `in stock` until the order is shipped,

[2022-02-15 10:11] PascalBrouwers commented on #3304
The problem is not only with creditmemo's but also order reservations, shipments, etc. Some reservations will be double because it does not check if such a reservation already exists.

[2022-02-16 11:04] PascalBrouwers opened #3343 "Unable to go back to default source"
### Preconditions (*)

1. Magento 2.x

### Steps to reproduce (*)

1. Create a new source `B`
2. Transfer products van source `default` to `B`
3. Transfer products van source `B` to `default`

### Expected result (*)

1. State should be when everything was on `default` source

### Actual result (*)

1. Too much to list. But that a look at `BulkZeroLegacyStockItem` and `SetDataToLegacyStockItem` ho

[2022-02-23 02:01] tschirmer commented on #3342
Same for me at 2.4.3-p1. Still broken

[2022-02-25 18:54] pmonosolo commented on #2362
The issue has been solved in latest release of the plugin (1.10.3). Have not tested yet, but that's what I've been told.

[2022-03-07 09:52] kevinjavitz commented on #3111
Lost a lot of time on this one, and low and behold it is actually in the official docs that bundles are not supported with MSI in 2.3.x: https://docs.magento.com/user-guide/v2.3/catalog/inventory-about-product-types.html

I wish I had seen this earlier, so to make a long story short bundles won't work on the non-default stock source websites.

[2022-03-08 23:52] lytesaber commented on #3062
This issue is still present in 2.4.3-p1, which I'm seeing on both product list and product view pages. Why were the concepts of salable quantity and stock reservations even introduced if frontend stock statuses and add to cart forms are not reflective of the salable quantity value of a product.

Admin Panel (Simple Product - Salable Quantity 0)
<img width="802" alt="image" src="https://user-images

[2022-03-13 22:29] jmoreno-transom commented on #3280
I would like to thank you [korovitskyi] very much and sincerely for this post, it has helped me to continue with my work in a production store, point 2.b is not mentioned in official Magento Docs and here is where I found it and set up the In Store Delivery method works now for me!!, may JESUS CHRIST bless you always 🙏🏼

[2022-03-18 07:23] ioweb-gr opened #3346 "Negative source item quantity not calculated in stock"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)
Create at least 2 sources and add product X to those sources with the following quantities
source1 -> qty = 2 / stock status = in stock
source2 -> qty = -2 / stock status = out of stock

Another example

source1 -> qty = 2
source2 -> qty = 3
source3 -> qty = -29

2. Reindex inventory

### Expected result (*)

1. The product sho

[2022-03-18 08:23] ioweb-gr commented on #3346
I've been checking the code deeper to see why this is happening and this is probably done so that when a product is set to out of stock, positive quantities will be zeroed out more than negative quantities being zeroed out.

So I think that changing the condition from

`SUM(IF(source_item.status = 0, 0, quantity))`

to

`SUM(IF(source_item.status = 0 AND source_item.quantity > 0, 0, quantity))`

W

[2022-03-21 08:36] riconeitzel commented on #2017
Amazing, that we still have to patch the core in order to get a running magento installation 😂

[2022-04-05 12:03] pauldonnelly commented on #3306
I can confirm this issue is happening on M2.4.3-p1. Is there any solution to this issue?

![Screenshot 2022-04-05 at 13 02 12](https://user-images.githubusercontent.com/1893180/161749602-39927aad-4889-4eca-8f66-4a0ecbe149e9.png)

[2022-04-10 22:27] TzviCons commented on #3065
Was this was already requested in https://github.com/magento/inventory/issues/1441?

If so, there may be a module to do this https://github.com/magento/inventory/issues/1441#issuecomment-545881356

[2022-04-13 15:42] plastikschnitzer commented on #3330
I can confirm its also on Magento 2.4.3-p1 and the workaround pointed out by @IanFiretoys is working fine. See my full stack trace:

[code]

[2022-04-13 15:56] IanFiretoys commented on #3330
I have recently found this is related to a 3rd party extension, can you confirm if you have the bss inventory report extension installed?

[2022-04-13 16:03] plastikschnitzer commented on #3330
@IanFiretoys yes I have installed BSS Inventory report, latest version 1.1.6 see its also included in my stack trace line 2 and 3. The extension also causes other problems with Magento 2.4.3 like this here: https://support.bsscommerce.com/support/solutions/articles/19000133595-v1-1-6-how-to-fix-error-registry-key-bss-salable-qty-before-already-exists-

Can you confirm its fixed with the extension

[2022-04-14 08:42] IanFiretoys commented on #3330
it is confirmed to work without the extension, this issue also cropped up and the cause was the bss inventory report not dealing with getSaleableQuantity properly.
https://github.com/magento/magento2/issues/35257#issuecomment-1089872925

[2022-04-14 09:05] plastikschnitzer commented on #3330
Outch, looks like this Extension is really buggy and its worth thinking about how to replace it …

I sent a bugreport to BSS Commerce, basically this makes it not being compatible for Magento 2.4. – lets hope they fix it.

[2022-04-14 10:09] IanFiretoys commented on #3330
yep, same, if anyone can suggest an alternative stock history extension i'm all ears

[2022-04-15 07:36] plastikschnitzer commented on #3330
The Plugin provider made a fix and published it: https://bsscommerce.freshdesk.com/support/solutions/articles/19000135701

Working for me. I know no other alternate stock history module, I guess most others rely on external stock management solutions and not 100% on MSI only – imho the stock tracking&history / reporting function should be Magento core anyway to give MSI the "next level". We will s

[2022-04-21 13:55] ioweb-gr commented on #3304
I noticed that on the
https://github.com/magento/inventory/blob/develop/InventoryShipping/Observer/SourceDeductionProcessor.php

There's a condition that checks if the shipment is new

https://github.com/magento/inventory/blob/0f0eaf1e19dbea1a660b8de66eb8873a4c71ccab/InventoryShipping/Observer/SourceDeductionProcessor.php#L96

Unlike the

https://github.com/magento/inventory/blob/develop/Inventory

[2022-04-28 16:02] ChaseTheory commented on #2785
@smoskaluk What was the solution here?

[2022-05-05 15:08] dbachmann commented on #3267
Any updates here? This error also occurs in the latest 2.4.4

[2022-05-06 01:34] magneticeye commented on #3267
@dbachmann I ended up getting an extension to cover this functionality, I couldn't wait for it to be fixed.

[2022-05-12 09:52] greezlu commented on #3062
From what i understood there is **Stock** and **Reservations**.
**Reservations** decreasing after order placement and **Stock** decreasing after shipment. So there is a gap before shipment. And frontend check for "Add To Cart" button to appear based on **Stock** only. But you can't actualy add product to cart because logic checks both **Stock** and **Reservations**.

So I wrote small patch which f

[2022-05-13 10:38] afzelarshad commented on #2111
object manager is bad practices

[2022-05-13 20:44] marwan-corals commented on #3062
The patch works on single / detail page but not on category or listing pages

[2022-05-17 10:10] greezlu commented on #3062
@marwan-corals Thanks

So, my solution was not perfect)
I changed direction. Now there's two patches. Basically for single product and collection. I changed SQL request to include reservation data. Would appreciate additional testing.

And I think I can left previous patch because it works fine for **single** product view page.

**Update:**
Working versions thanks to @Djohn12:

Final patches
---
*

[2022-05-17 10:31] marwan-corals commented on #3062
Thanks, I'll apply shortly and get back to you

[2022-05-17 12:02] greezlu commented on #3062
No, It's not working(
Problem with query. I'll fix it later

[2022-05-18 04:46] Jazzz09 commented on #3058
I am also getting this issue after upgrading Magento version to 2.3.7-p3

[2022-05-18 07:08] aligent-lturner opened #3350 "Configurable products marked out of stock incorrectly"
### Preconditions (*)

1. Non-default inventory source and stock has been set up
2. Configurable product set up with one or more simple products
3. Simple products are all out of stock at `default` source
4. At least one simple product in stock (with plenty of stock) at other sources

### Steps to reproduce (*)

1. Create and ship an order with a configurable product using a source other than the

[2022-05-18 13:51] IvanVizcaino commented on #3350
I have the same problem. Any temporal solution available? Thanks

[2022-06-01 11:26] maheshm-kensium commented on #3350
HI @aligent-lturner ,

We are also facing similar issue, when we installed either 2.4.4 CE/EE the MSI modules will be installed as part Magento Core application through composer and enabled by default.

When MSI modules are enabled the configurable parent product stock status are not updating correctly and always stays in Out Of Stock (OOS) once the stock status changed from Is In stock to OOS (ei

[2022-06-01 11:49] IvanVizcaino commented on #3350
Hello, I have a temporal solution that is working for me. We are override \Magento\ConfigurableProduct\Model\Inventory\ChangeParentStockStatus The problem is the variable $childrenIsInStock is initialized a false and then never change the value. We are calculated the value of this variable with the sum of sources quantities. This is incorrect if you use stock for websites, but this is a fastest so

[2022-06-02 08:37] marwan-corals commented on #3062
@greezlu were you able to fix it ?

[2022-06-02 09:32] Djohn12 commented on #3062
Hi @marwan-corals , I've made some updates on the patch targetting category pages and it does seem to work on the project I applied it on,, it'll be delivered on our QA for further testing today.

You can find my updated version on the original PR from greezlu there : https://github.com/magento/inventory/pull/3349#issuecomment-1141851894

I don't think greezlu had time to review my changes yet but

[2022-06-02 20:11] greezlu commented on #3062
@marwan-corals
Hi. Sorry, just got time. Thanks to @Djohn12 it should work now. Feel free to test.

[2022-06-02 21:42] marwan-corals commented on #3062
Hello @greezlu Thanks I tried to apply patches but paths do not seem to be correct

git apply  github-issue-3062-2.patch
error: Model/ResourceModel/GetStockItemData.php: No such file or directory
error: etc/frontend/di.xml: No such file or directory
error: etc/graphql/di.xml: No such file or directory

and when moved it to the vendor folder

error: vendor/magento/module-inventory-catalog/Model/Res

[2022-06-02 22:22] greezlu commented on #3062
Patches were intended for composer. I'll take a look in the morning.

[2022-06-03 06:26] greezlu commented on #3062
@marwan-corals
I've updated patches file path from vendor. Should work with git now.

[2022-06-03 06:31] Djohn12 commented on #3062
FYI, I'm not using second patch which applies on
* `vendor/magento/module-inventory-catalog/Model/ResourceModel/AddStockDataToCollection.phpvendor/magento/module-inventory-indexer/Model/ResourceModel/GetStockItemData.php`
* `vendor/magento/module-inventory-indexer/etc/frontend/di.xml`
* `vendor/magento/module-inventory-indexer/etc/graphql/di.xml`

It does seem to work on my side when only applying

[2022-06-03 09:09] marwan-corals commented on #3062
@greezlu still having issues applying

[code]

[2022-06-03 09:15] Djohn12 commented on #3062
@marwan-corals
* you might be using the malformed version of the patch.

Can you try again with this one and tell us if patch is applied as expected ?
[github-issue-3062-category-page.zip](https://github.com/magento/inventory/files/8831191/github-issue-3062-category-page.zip)

* or your patch is not located in the right directory.

=> Can you check your patch is located at `~/projectRootDir/patche

[2022-06-03 09:27] marwan-corals commented on #3062
@Djohn12

Im applying it directly before including it composer so I can test it before :)
just to make sure we're aligned, what is the difference between

and

[2022-06-03 09:30] greezlu commented on #3062
@marwan-corals
Strange. I had no problems installing this patch with git or composer.

- Can you please tell me which version of the package is installed.
`magento/module-inventory-catalog`
- Also please make sure that no other patches were applied before for `AddStockDataToCollection.php` file.

[2022-06-03 14:40] marwan-corals commented on #3062
getting an error

@greezlu  @Djohn12

 INNER JOIN `catalog_product_index_price` AS `price_index` ON price_index.entity_id = e.entity_id AND price_index.customer_group_id = 0 AND price_index.website_id = '3'
 INNER JOIN (SELECT `product`.`entity_id` AS `entity_pk_value`, `rt`.`avg_percent` FROM `catalog_product_entity` AS `product`
 LEFT JOIN (SELECT `rova`.`entity_pk_value`, avg(percent_approved)

[2022-06-05 20:10] VadymLinyvyi commented on #3062
\Magento\InventoryCatalog\Model\ResourceModel\AddStockDataToCollection::execute
MySQL in the else should be changed
`} else {
            $stockIndexTableName = $this->stockIndexTableNameResolver->execute($stockId);
            $collection->getSelect()->join(
                ['product' => $resource->getTable('catalog_product_entity')],
                sprintf('product.entity_id = %s.entity_id', Co

[2022-06-05 20:15] VadymLinyvyi commented on #3062
@marwan-corals, @greezlu
\Magento\InventoryCatalog\Model\ResourceModel\AddStockDataToCollection::execute
'else' should be changed
`
        } else {
            $stockIndexTableName = $this->stockIndexTableNameResolver->execute($stockId);
            $collection->getSelect()->join(
                ['product' => $resource->getTable('catalog_product_entity')],
                sprintf('product.entity

[2022-06-06 09:51] Djohn12 commented on #3062
Hi @marwan-corals @VadymLinyvyi , thanks for the feedback !

This was an error on my part : the field is named `quantity` and not `qty` when going in the `else` block and looking into the inventory_stock_X tables.

I have modified the patch accordingly, can you test it again and tell us if that's now working as expected ?
[github-issue-3062-category-page.zip](https://github.com/magento/inventory/f

[2022-06-06 10:03] marwan-corals commented on #3062
@Djohn12 @greezlu neither patches worked for me

[2022-06-06 10:19] Djohn12 commented on #3062
@marwan-corals what do you mean exactly by 'not working' ?
* Do the patches apply correctly ?
* Do you have any error/log for us to investigate ?
* I did the patch from a magento commerce 2.4.3-p2 instance, can you confirm what version of Magento you're using ? The original files might differ from different magento versions

[2022-06-06 10:27] marwan-corals commented on #3062
patches applied successfully, no errors in the log, the products are still showing on catalog and single pages as in Stock
Magento commerce 2.4.3-p1

[2022-06-06 10:32] Djohn12 commented on #3062
Can you tell us what deploy mode you're using on your environment ?
Did you run any common magento CLI commands in order to update the executed code ?
I believe
* `bin:magento setup:upgrade` is required on developer mode in order to make the changes work
* Either `bin:magento cache:flush` or `bin:magento cache:clean` will be required on any other mode

[2022-06-06 11:32] marwan-corals commented on #3062
Of course I did the commands before, Im using git apply
bwt applying patch through composer didnt work, **even in a new installation**

  - Applying patches for magento/module-inventory-catalog
    patches/composer/magento/module-inventory-catalog/github-issue-3062-category-page.patch (Fix product salability on categories pages)
   Could not apply patch! Skipping. The error was: Cannot apply patch

[2022-06-06 11:39] marwan-corals commented on #3062
@Djohn12  I upgraded to 2.4.3-p2 and same issue with composer patch applying

    patches/composer/magento/module-inventory-catalog/github-issue-3062-category-page.patch (Fix product salability on categories pages)
   Could not apply patch! Skipping. The error was: Cannot apply patch patches/composer/magento/module-inventory-catalog/github-issue-3062-category-page.patch

[2022-06-06 11:42] Djohn12 commented on #3062
That's strange, I'm applying the patches using composer without any issue :thinking:
Didn't try applying them using git, never did...

Can you try :
* deleting the whole `vendor/magento/module-inventory-catalog/` directory (this will make sure composer is applying the patches on a clean module installation)
* running `composer install -vvv` (this should download a clean `InventoryCatalog` module a

[2022-06-06 11:57] marwan-corals commented on #3062
@Djohn12 screenshot attached

https://www.screencast.com/t/mywaAytF

[2022-06-06 12:06] Djohn12 commented on #3062
Okay, I can reproduce when running `composer update` as you did.
I don't understand why those two commands behave differently when applying patches but it seems they do.
Sadly, I don't really have the time to get my head into debugging composer install/update commands ^^

Can you try running a classic `composer install` (which seems to work as expected) ?

Don't hesitate to use the composer verbos

[2022-06-06 12:12] marwan-corals commented on #3062
@[Djohn12](https://github.com/Djohn12)

Ok Category page applies, however Category pages still showing products with Salable 0 as in Stock, Single Page failed to patch

 post-package-install: cweagans\Composer\Patches->postInstall
  - Applying patches for magento/module-inventory-indexer
    patches/composer/magento/module-inventory-indexer/github-issue-3062-2.patch (Fix product salability on sing

[2022-06-06 12:15] VadymLinyvyi commented on #3062
@Djohn12
![image](https://user-images.githubusercontent.com/45318943/172158531-8766c24a-667c-464f-b7e4-6fa280aaee8c.png)
This is a result of the query on the category page in my test ENV. Magento 2.4.3 EE, developer mode

[2022-06-06 12:16] marwan-corals commented on #3062
@Djohn12 I appreciate your efforts but the patches don't work!

[2022-06-06 12:55] Djohn12 commented on #3062
I believe there are some misunderstandings and I think that's on me I'm sorry. :grimacing:

Back from the start, here is what I have applied on my side :
* in directory `patches/composer/magento/module-inventory-indexer`
[github-issue-3062-product-page.zip](https://github.com/magento/inventory/files/8844388/github-issue-3062-product-page.zip)
* in directory `patches/composer/magento/module-invento

[2022-06-06 13:10] marwan-corals commented on #3062
@Djohn12 Thanks latest testing of patches

1- both patches were applied successfully
2- Single Page is showing OOS, Category Page still showing In stock

Simple Product

[2022-06-06 13:55] Djohn12 commented on #3062
Sorry to ask but you did make sure cache is cleared on category pages, did you ?
If so : there's something we're still missing...

Any chance you can debug and find where the calculation goes wrong ? Or give us a way to reproduce ?
This could be hard for us to fix unless we're reproducing on our end :grimacing:

[2022-06-06 15:32] VadymLinyvyi commented on #3062
@Djohn12, thanks for your work on this issue. I think I should explain what I meant.
Due to this code in the \Magento\InventoryCatalog\Model\ResourceModel\AddStockDataToCollection::execute class
`if ($isFilterInStock) {
            $collection->getSelect()
                ->where('stock_status_index.' . $isSalableColumnName . ' = ?', 1);
        }`
I expected that products with is_salable == 0 wil

[2022-06-06 15:37] Djohn12 commented on #3062
@VadymLinyvyi  As a matter of fact, I don't see any screenshot of a storefront page from you in this thread ^^

If products are showing as 'Out of stock' and addToCart button is not displayed the patch is working as expected.

For not showing Out Of Stock products on your frontend : did you check your configuration at _Store > Configuration > Catalog > Inventory > Stock Options > Display Out Of St

[2022-06-06 15:40] marwan-corals commented on #3062
@Djohn12 please let me know how we can connect directly to show you the issue, as mentioned on category pages the product is showing in stock with the AddToCart button for OOS items

[2022-06-09 11:12] marwan-corals commented on #3062
@greezlu @Djohn12 @VadymLinyvyi did you get the chance to check?
are you able to connect so we show you the reproduced issue?

[2022-06-09 12:42] VadymLinyvyi commented on #3062
@Djohn12 Store > Configuration > Catalog > Inventory > Stock Options > Display Out Of Stock Products config is set as 'No', but products are stll rendered.

[2022-06-09 13:27] Djohn12 commented on #3062
@marwan-corals I'm not sure what you mean by 'connect directly' but I need to say I won't be able to make any live call with you to debug your Magento instance.

You detailed your issue in your comment https://github.com/magento/inventory/issues/3062#issuecomment-1147430868 already and I understand the patch is not having the expected results on catalog pages on your instance. The initial bug is s

[2022-06-16 02:43] adarshkhatri opened #3351 "Not indexing In-stock products"
MSI plugin class prevents indexing in-stock products in special scenarios. When indexing Magento indexes products in a batch of 500 (default). On each batch, it goes to loop until it finds 0 products. Let's say there are 50,000 SKUs and the system is indexing
when on the 10th batch, it finds 460 products, and the MSI plugin checks if these consist of any out-of-stock products and returns only in-s

[2022-06-16 10:38] alvinnguyen commented on #3350
Is this related to https://support.magento.com/hc/en-us/articles/4428085214093-MDVA-42584-Stock-status-of-configurable-product-not-updated-automatically? It might not be as the patch mentioned the issues is via simple product being updated via API or import.

[2022-06-23 12:20] marwan-corals commented on #3062
@Djohn12 based on your comments you mentioned that your patch should work for category pages, anyways thanks for your time, but if you can remove the patches so people won't spend their time trying something not working

[2022-07-05 07:39] praveen-chelumalla commented on #2895
We also got same issue and requirement also be same like  we want to sell some products in the admin area but not in the front end  so what we did we created one website for backend and assigned those products those want to sell in the backend and also set customer sharing as global and we achieved it.

[2022-07-05 10:15] DylanBluescope commented on #3267
@magneticeye What plugin did you get to help?

[2022-07-11 12:13] ayangolenko commented on #3336
Hi all,
Do you have any updates about this issue? Because it's also reproducible in Magento 2.4.3-p2

[2022-07-12 09:35] Djohn12 commented on #3062
@marwan-corals you're right, I have edited my comment accordingly, hope it makes the situation clearer and will prevent anymore misunderstandings.

[2022-07-19 06:46] Vinai opened #3354 "Missing release tag 1.2.0-p1 required by Magento 2.4.0-p1"
### Summary (*)
The package `magento/product-community-edition` 2.4.0-p1 requires `magento/inventory-metapackage` with version `1.2.0-p1`.
Obviously, the package has been built, since 2.4.0-p1 is installable, but sadly it is not possible to manually resolve the dependency without the release tag.

### Proposed solution

1. Check out the commit that was used to build `magento/inventory-metapackage`

[2022-07-19 17:59] sdzhepa commented on #3354
Hello @Vinai

Thank you for reporting and collaboration!

Adobe team start working on this issue and to process it we need additional details from you.
Could you please provide more details on what the user/customer tried to do and how? (preconditions, steps, etc)

Unfortunately "sadly it is not possible to manually resolve the dependency without the release tag." is not clear enough

Also, 2.4.0-

[2022-07-20 07:53] Vinai commented on #3354
When analyzing behavior of a Magento installation without access to the code base, I often use the repositories under https://github.com/magento to see what code is included in a release. This is easier than downloading a given package in a given version, or installing an instance for the given release.
In this case, I am looking at a 2.4.0-p1 Magento instance.
In the product metapackage `composer

[2022-07-22 00:20] sshrewz commented on #3354
Thanks for providing us with details, @Vinai, and for giving us the branch information. Rest assured that we are looking into this and will advise as soon as we have a resolution.

[2022-07-28 14:24] sidolov commented on #3354
Hi @Vinai ! 1.2.0-p1 tag and release were created on GitHub: https://github.com/magento/inventory/releases/tag/v1.2.0-p1
I'm closing the issue as done.
Thank you for your input!

[2022-07-28 14:24] #3354 closed, assigned to nobody

[2022-08-03 15:03] ArronKing opened #3357 "Can't ship orders with a decimal qty < 1"
### Preconditions (*)

1. Magento 2.4.4
2. MSI
3. Additional stocks and sources setup (I have two additional sources, and one additional stock)
4. Simple product with qty uses decimals and min qty set to 0.2. In stock at the two additional sources.

### Steps to reproduce (*)

1. Create two orders - one for 0.5 of the product. One for 4.5.
2. Create a shipment for each of the orders
3. In source s

[2022-08-04 11:23] pixel-paul opened #3358 "Configurable products marked out of stock - Magento 2.4.4"
### Preconditions (*)
1. Magento 2.4.4
2. PHP 8.1
3. Inventory modules

### Steps to reproduce (*)

1. Add a configurable product
2. Add 3 child products with stock > 0
4. Test purchase products until the product is marked out of stock
5. Add more items to the product inventory

### Expected result (*)
1. Product is marked as in stock when inventory is added back in

![magento2](https://user-image

[2022-08-08 09:18] usud85 commented on #3267
still having the same problem, is there any solution ?

[2022-08-10 18:40] Vinai commented on #3354
@sidolov Thanks for your help, but you tagged the wrong ref.

The tagged version is the commit [6884797](https://github.com/magento/inventory/commit/688479772926c71b65ce4e73b6fed35ebad837ea):
https://github.com/magento/inventory/blob/v1.2.0-p1/_metapackage/composer.json#L3

The correct version is the commit [2a6fdb4](https://github.com/magento/inventory/commit/2a6fdb4e08dc307cd92ca4a7a0958128611be

[2022-08-12 12:44] giacmir opened #3359 "1.2.3 version is badly packaged in composer"
### Summary (*)
After upgrading to Magento 2.4.5 my composer.lock indicates that I have installed version 1.2.3 of `module-inventory-configurable-product`

![image](https://user-images.githubusercontent.com/447940/184355439-89189684-875c-4146-bf15-7e0e313ac79d.png)

On github, looking at files for 1.2.3 tag, module directory `/Plugin/CatalogInventory/` looks like this:

![image](https://user-image

[2022-08-15 10:07] leonhelmus opened #3360 "Category count for category pages is wrong when show out of stock is enabled 2.4.5"
After upgrading to php 8.1 + M2.4.5 i get the following issue:
* Product count of category pages is wrong it shows the total of all products while i do have a filter enabled.

### Preconditions (*)

1. cataloginventory/options/show_out_of_stock is enabled
2. Magento 2.4.5
3. php 8.1
4. latest version of magento/module-inventory:1.2.3

### Steps to reproduce (*)

1. I have a total of 29 products in

[2022-08-17 14:15] pixel-paul commented on #3358
This appears to be reolved in 2.4.5

[2022-08-17 14:15] #3358 closed, assigned to nobody

[2022-08-18 10:11] ArronKing commented on #3357
Apologies - this isn't actually related to inventory. I've found the root cause and opened an issue / PR in the main Magento2 repository:

https://github.com/magento/magento2/issues/35971

Closing this issue here.

[2022-08-18 10:11] #3357 closed, assigned to nobody

[2022-08-22 20:46] Jupagar77 commented on #1240
This exact same error is happening when using refund rest endpoints and sending the return to stock items:
[code]

[2022-08-30 20:22] pmonosolo commented on #3360
Might be also related to my testing today: https://github.com/magento/magento2/issues/36055

[2022-08-30 20:30] pmonosolo commented on #3360
@leonhelmus your patch resoves the issue in my case!

Thanks!!! I have almost pulled all my hair trying to debug this.

[2022-09-02 21:56] pmonosolo commented on #3360
There's a bit simpler way to fix this and reduce the clocks. Its not great coding, but oh wells:

![image](https://user-images.githubusercontent.com/66754347/188240145-69261b95-5586-417a-9069-07e9ccab40f9.png)

Catalog Search page shows Category ID as = Default.

So when it hits Category ID as Default, we just skip the whole thing.

[2022-09-02 22:33] pmonosolo commented on #3360
Ah, I just disabled that Plugin.

![image](https://user-images.githubusercontent.com/66754347/188242643-078a2ce7-5668-4743-a610-db6d91a4aa85.png)

They need to rewrite that to check for:

- If page is Catalog Search Page
- If there are filters applied.

Currently it just checks the Category page, so on Search Page it uses "Default Category" and outputs the whole catalog.

When you filter by attrib

[2022-09-05 12:42] sebastian-ehrling commented on #3360
Disable the plugin only works with enabled MSI. I've removed all MSI Modules from my projects.
So the fix doesn't work for me

[2022-09-06 07:39] maheshm-kensium commented on #3350
Hi, has anyone looking in to this issue?

[2022-09-14 10:59] danielrussob commented on #3350
solved in quality patch: MDVA-41061-V4 and ACSD-45488

https://devdocs.magento.com/quality-patches/tool.html#patch-grid

[2022-09-21 21:51] sdouma opened #3361 "Documentation says backorder by source is supported but the options don't exist"
https://github.com/magento/inventory/wiki/Configure-MSI-backorders#configure-backorders-for-a-source
The documentation shows that backorders are supported by source. However, no such area exist. This is very important use-case because some warehouses or stocks support backorders in various regions while others don't.

### Preconditions (*)
1. Magento 2.4.3

### Steps to reproduce (*)

1. On the Ad

[2022-09-28 15:32] craig-bartlett commented on #3267
In our case (2.4.4), I found once the pickup location was set and the user pressed next, an AJAX request was sent to rest/default/V1/carts/mine/shipping-information with a JSON payload including the pickup_location_code. However there were two versions of the extension attributes element:

<img width="390" alt="Screenshot 2022-09-28 at 15 43 16" src="https://user-images.githubusercontent.com/17876

[2022-09-29 10:13] #3330 closed, assigned to nobody

[2022-09-30 01:03] sdouma opened #3362 "InventoryAPI implementing StockExtensionInterface breaks adding in any other Extension Attribute"
### Summary (*)
When \Magento\InventoryApi\Api\Data\StockExtension implements the extension interface it will break adding any other extension attribute because it isn't going to build in generated. Even if you override the class and interface, magento bases on the generated interface, so when Magento\Ui\DataProvider builds the item data through the hydrate interface, it will base the extension at

[2022-09-30 03:03] sdouma commented on #3351
That's not how it works and if it was don't you think you would see this on a default instance with sample data.

[2022-09-30 03:23] sdouma commented on #3362
Found this #3275 after checking through m2 issues. Been over a year and it is P1 and low risk

[2022-09-30 10:47] adarshkhatri commented on #3351
You can try with the default instance, at least for me (I am in the commerce version) it is behaving this way. Regardless, the system should index all the in-stock products, even out of 100,000 products, only 2 items (entity ID 1 and entity ID 100,000 are in stock). Currently, the system only indexes entity ID 1.

[2022-10-03 10:16] LeonidTomashevskyAmasty commented on #3360
Amasty's QA has also reproduced this issue on 2.4.5-p1 via MFTF for Improved Layered Navigation.

[2022-10-03 15:25] LeonidTomashevskyAmasty commented on #3360
For now, the best solutions:
1. Disable the plugin.
2. Disable MSI extensions.

Suggested fix `$items = $subject->getCollection()->getItems();` is not working:
![image](https://user-images.githubusercontent.com/32565794/193614544-c8750e94-956e-4fb3-aec0-f6f67ef21ba0.png)

[2022-10-05 09:58] Playhf commented on #3350
Seems like it wasn't solved. Still experiencing an issue with it. Configurable goes OOS

[2022-10-14 17:00] rafaelcalero commented on #3267
@craig-bartlett could you please be more specific about your solution? we are facing the same issue and I'm kind of stuck.

Thank you

[2022-10-17 09:31] craig-bartlett commented on #3267
@rafaelcalero Hi, I copied the two JS files mentioned above (pickup-address-converter.js and store-pickup.js) into my theme. I then changed the references to "extensionAttributes" in them to "extension_attributes". I had to do the same with new-customer-address.js. I'm still unsure what brought this about as I have since been moved off this issue.

[2022-10-18 09:58] rafaelcalero commented on #3267
In our case, it was a js from a 3rd party module that puts extension_attributes.additional_methods in the address, therefore we had the following information in the shipping-information AJAX call (rest/default/V1/carts/mine/shipping-information):

![image](https://user-images.githubusercontent.com/11404715/196395941-30a29b4f-f545-4503-a95a-179ad57808ef.png)

As @craig-bartlett said, in this case w

[2022-10-18 17:05] indunie commented on #3350
Experienced the same. Below patches didn't solve the issue. Any recent update?
MDVA-41061-V4 and ACSD-45488

[2022-10-19 09:18] cptX commented on #3358
I can verify that it's not resolved in 2.4.5!

[2022-10-20 09:37] sohelrana09 commented on #3350
After shipment, the configurable product goes OOS just because of https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/ConfigurableProduct/Model/Inventory/ChangeParentStockStatus.php#L100. 2.4.4 introduced with https://github.com/magento/inventory/blob/e08a47c3501de2cbff42b3ac05058ce15d620e75/InventoryConfigurableProduct/Plugin/InventoryApi/UpdateParentStockStatusInLegacyStockPlug

[2022-10-26 03:09] tuyennn commented on #2830
Any updates on this ticket?

[2022-10-31 16:54] javmage commented on #3185
Is there a similar patch for Magento 2.4.5? Doesn't work with latest Magento.

[2022-11-03 16:47] glo35082 commented on #3018
@magento give me 2.4-develop instance with inventory

[2022-11-08 02:08] cuongho803 commented on #3350
Hello there, I am facing this issue too, now I think the problem stays in this file "
"vendor/magento/module-inventory-configurable-product-indexer/Indexer/SelectBuilder.php".
`$select = $connection->select()
            ->from(
                ['stock' => $indexTableName],
                [
                    IndexStructure::SKU => 'parent_product_entity.sku',
                    IndexStructure:

[2022-11-08 23:05] aligent-lturner commented on #2933
I'm not sure if the asynchronous indexing was introduced as a solution to this issue, but that's not the full extent of the problem - at least not anymore.

This class - https://github.com/magento/inventory/blob/develop/InventoryCatalogSearch/Plugin/InventoryIndexer/Indexer/SourceItem/Strategy/Sync/FulltextIndexUpdater.php was introduced in 2021, with a commit message of `MC-42287: Items count is

[2022-11-11 13:31] codebase-md opened #3364 "Stock status and saleable qty is not update when updating a product with qty 0"
### Preconditions (*)

1. Magento Inventory 1.2.3(most recent versions seem to contain the same logic as well)
2. No Backorders enabled

### Steps to reproduce (*)

1. Update a product with qty = 0 and stock_status 'out of stock'
2.

### Expected result (*)

1. Stock status should switch to 'in stock' and saleable qty should be equal to qty

### Actual result (*)

1. Stock status is not updated an

[2022-11-13 07:24] ioweb-gr opened #3365 "Notice: Undefined offset: 0 in vendor/magento/module-inventory-configurable-product-admin-ui/Observer/ProcessSourceItemsObserver.php on line 83"
### Preconditions (*)

1. 2.4.1
2. One configurable product and children with sources assigned
3. Multiple websites and store views
E.g.

![image](https://user-images.githubusercontent.com/20220341/201510467-2b2e4cc6-2c87-44fe-af2b-c597862a3cfe.png)

### Steps to reproduce (*)

1. Try to save the configurable product in a different store view than the Default

![image](https://user-images.githubus

[2022-11-13 16:00] jonathanribas opened #3366 "Creditmemo on a non shipped order is adding saleable quantity"
### Preconditions (*)
Adobe Commerce version 2.4.5-p1
Magento Inventory version 1.2.5

### Steps to reproduce (*)
1. Place an order with SKU 123 and 1 quantity
2. Invoice order
3. Credit memo from invoice (with refund online option) not returning item back in stock

### Expected result (*)
- Refund item quantity shouldn't be added back to physical stock

### Actual result (*)
- Refund item quantit

[2022-11-13 17:23] #3366 closed, assigned to nobody

[2022-11-13 17:25] jonathanribas commented on #3366
Got it:
- Order not shipped: return to stock setting when doing a credit memo means compensate reservation.
- Order already shipped: return to stock setting when doing a credit memo will return product to stock
Sorry!

[2022-11-28 22:06] kwilliams-concentrix commented on #3350
Any update here? We are experiencing in 2.4.5p-1 still

[2022-11-30 09:54] ganeddact opened #3367 "In-Store pickup store selection wrongly loads all available sources"
If Magento has several sources associated with the website stock, and a configurable option is associated with only some of these and not all, if it is put in the cart, during checkout only the sources/stores where it is associated should be visible for it to be picked up. It's instead showing all sources of the website stock.
On the contrary, if the same product is added to the cart but from its