[2020-02-05 20:16] sidolov commented on #257
Hi @maghamed , we are about to complete MSI project feature development and keep issues of defined scope only to have clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be closed.
Thank you for your involvement!

[2020-02-05 20:16] #257 closed, assigned to nobody

[2020-02-05 20:17] sidolov commented on #1441
Hi @paales , we are about to complete MSI project feature development and keep issues of defined scope only to have clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be closed.
Thank you for your involvement!

[2020-02-05 20:17] #1441 closed, assigned to paales

[2020-02-05 20:18] sidolov commented on #1644
Hi @tomekjordan , I'm closing this issue since it's already supported in different way as described by @maghamed .
Thank you for your involvement!

[2020-02-05 20:18] #1644 closed, assigned to nobody

[2020-02-05 20:20] sidolov commented on #2498
Hi @maghamed , we are about to complete MSI project feature development and keep issues of defined scope only to have clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be developed in scope of MBI.
Thank you for your involvement!

[2020-02-05 20:20] #2498 closed, assigned to nobody

[2020-02-05 20:21] sidolov commented on #1925
Hi @seansan  , we are about to complete MSI project feature development and keep issues of defined scope only to have clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be closed.
Thank you for your involvement!

[2020-02-05 20:22] #1925 closed, assigned to nobody

[2020-02-05 20:22] sidolov commented on #2345
Hi @seansan  , the described behavior is already implemented. I'm closing the issue since it's not relevant.
Thank you for your involvement!

[2020-02-05 20:22] #2345 closed, assigned to nobody

[2020-02-05 20:26] sidolov commented on #2416
Hi @VZeroCool  , we are about to complete MSI project feature development and keep issues of defined scope only to have clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be closed.
Thank you for your involvement!

[2020-02-05 20:26] #2416 closed, assigned to TadeuRodrigues

[2020-02-05 20:32] sidolov commented on #1873
Hi @larsroettig , thank you for your investigation and suggestion on how to make micro performance optimizations! Looks like you have commits related to the described issue, please, open pull request if you are ready to contribute it!  I believe we can close the issue since it's don't have a high impact on the product. Thank you for your collaboration!

[2020-02-05 20:32] #1873 closed, assigned to nobody

[2020-02-06 10:17] seansan commented on #1925
My advise is NOT to close this issue. It is of strategic importance and can already be executed by other SW solutions.

What I see is that Magento is implementing mostly already existing logic ... whilst sometimes we shoud stretch ourselves and try to add something new

[2020-02-06 10:19] TobiasLufinity opened #2817 "Wish list always empty if MSI is installed and using another source than default"
### Preconditions (*)
1. Magento 2.4-develop with sample data
2. Magento Inventory version 1.1-develop installed (https://github.com/magento/inventory)

### Steps to reproduce (*)
1. Go to admin and create a new Source (Stores -> Inventory -> Sources)
2. Create a new Stock and assign the newly created source to the stock (Stores -> Inventory -> Stocks). Also select Main Website in Sales Channels
3

[2020-02-06 14:15] Stepa4man commented on #2817
I have the same

[2020-02-06 19:51] sidolov commented on #1877
Issue will be moved to devdocs repo.

[2020-02-06 19:51] #1877 closed, assigned to nobody

[2020-02-06 20:08] sidolov commented on #1461
Should be implemented in scope of devdocs issue.

[2020-02-06 20:08] #1461 closed, assigned to nobody

[2020-02-06 20:12] sidolov commented on #1507
Will be delivered in scope of devdocs ticket.

[2020-02-06 20:12] #1507 closed, assigned to nobody

[2020-02-06 20:13] sidolov commented on #1932
Will be delivered in scope of devdocs issues

[2020-02-06 20:13] #1932 closed, assigned to nobody

[2020-02-06 20:17] sidolov commented on #1448
Will be covered in scope of devdocs issue

[2020-02-06 20:17] #1448 closed, assigned to nobody

[2020-02-06 20:17] sidolov commented on #2274
Will be covered in scope of devdocs issue

[2020-02-06 20:17] #2274 closed, assigned to keharper

[2020-02-06 20:57] sidolov commented on #778
@smoskaluk I agree with @p-bystritsky , this option can be used by shipping carriers in case when the product can be sold with decimal qty and carrier has an ability to split an order to few packages if it's weight > max shipping weight (defined by carrier). It shouldn't have any impact on the inventory logic.
I'm closing the issue since there is nothing to do with it.

[2020-02-06 20:57] #778 closed, assigned to nobody

[2020-02-08 18:02] shikhamis11 commented on #3193
also I noticed one issue .. If we create shipment by disabling MSI with the payload ` {
  "entity": {
    "increment_id": "000000003",
    "order_id": 3,
    "items": [
        {
          "sku": "WSH12-32-Red",
          "qty": 1
        }
      ],
    "tracks": [
      {
        "order_id": 3,
        "qty": 1,
        "track_number": "123",
        "title": "Test",
        "carrier_code": "dhl"

[2020-02-08 18:04] magento-engcom-team commented on #3193
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31301` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-10 15:42] iamsophiesk opened #2821 "When upgrading to 2.3.4 with encrypted drive, seeing "File name too long" error"
### Preconditions
Issue when upgrading from Magento 2.3.3 -> 2.3.4.
Using Ubuntu 16.04 (possibly 18.04?) with encrypted home directory, and Magento installed in home directory (eg in `~/projects/magento`)

### Steps to reproduce
Perform upgrade from Magento 2.3.3 -> 2.3.4 and run commands as outlined on https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

### Expected result
The

[2020-02-10 16:21] sidolov commented on #1490
Already implemented and used for the new implementation.

[2020-02-10 16:21] #1490 closed, assigned to nobody

[2020-02-10 16:21] sidolov commented on #1073
Closing the issue since it's not relevant anymore.

[2020-02-10 16:21] #1073 closed, assigned to nobody

[2020-02-10 16:47] #1491 closed, assigned to nobody

[2020-02-10 16:50] sidolov commented on #1486
@maghamed epic moved to the internal backlog since it's out of planned scope.

[2020-02-10 16:50] #1486 closed, assigned to springerin, aleron75, seruymt

[2020-02-10 17:04] sidolov commented on #400
Moved to the internal backlog.

[2020-02-10 17:04] #400 closed, assigned to nobody

[2020-02-10 17:07] sidolov commented on #133
Hi @paales , we are about to complete MSI project feature development and keep issues of defined scope only to have clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be closed.
The described behavior may be implemented by 3d party extension.
Thank you for your involvement!

[2020-02-10 17:07] #133 closed, assigned to nobody

[2020-02-10 17:08] sidolov commented on #726
Hi @mbrinton01  we are about to complete MSI project feature development and keep issues of defined scope only to have a clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be closed.
Thank you for your involvement!

[2020-02-10 17:08] #726 closed, assigned to nobody

[2020-02-10 17:09] sidolov commented on #2075
Hi @simonmaass  we are about to complete MSI project feature development and keep issues of defined scope only to have a clean and transparent backlog.
Unfortunately, the current issue is out of scope and should be closed.
The described feature may be implemented by 3d party developers.
Thank you for your involvement!

[2020-02-10 17:09] #2075 closed, assigned to nobody

[2020-02-10 17:10] sidolov commented on #2344
Hi @seansan , thank you for your request! The described behavior is already implemented, we log the source used for every shipment and return. I'm closing the issue!
Thank you for your collaboration!

[2020-02-10 17:10] #2344 closed, assigned to nobody

[2020-02-10 17:12] chadwixk opened #2822 "Many Wiki links are dead (404)"
Many of the links in the [wiki](https://github.com/magento/inventory/wiki/Magento-MSI-APIs) are not found.

Example: [SourceItemsSaveInterface](https://github.com/magento/inventory/blob/2.3-develop/app/code/Magento/InventoryApi/Api/SourceItemsSaveInterface.php)

[2020-02-10 17:23] sidolov commented on #2822
Hi @chadwixk , @TadeuRodrigues , links are fixed now. Thank you for the input!

[2020-02-10 17:23] #2822 closed, assigned to nobody

[2020-02-10 17:53] sidolov commented on #2762
Hi @kassner I'm closing the issue since it's not implemented and may be developed by 3d party developers.

[2020-02-10 17:53] #2762 closed, assigned to nobody

[2020-02-10 20:01] sidolov commented on #1628
@IvanPletnyov I'm closing the issue since ScalableInventory functionality should be deprecated and removed.

[2020-02-10 20:01] #1628 closed, assigned to nobody

[2020-02-10 20:39] sidolov commented on #1051
Already implemented and used for the new implementation.

[2020-02-10 20:39] #1051 closed, assigned to phoenix128

[2020-02-10 22:54] adarshkhatri commented on #1638
Still showing in 2.3.3

[2020-02-10 23:49] chadwixk opened #2823 "Provide API to Adjust Stock Qty Only, Let Magento set Stock Status flag (Comply with ."
### Description (*)
The [Backorders ](https://github.com/magento/inventory/wiki/Configure-MSI-backorders) functionality doesn't work ideally when using a third party ERP, etc to manage inventory. Magento has logic that allows you to have a 0 Qty, a negative Out of Stock Threshold, which then allows you to take backorders up to the Out of Stock threshold and then sets the Stock Status flag to Out o

[2020-02-10 23:56] chadwixk commented on #2745
@smoskaluk, which API call did you use, because the [only one I know of](https://devdocs.magento.com/redoc/2.3/admin-rest-api.html#operation/inventoryApiSourceItemsSaveV1ExecutePost) requires you to also pass the Stock Status, which is essentially overriding the Out of Stock Threshold logic that is supposed to determine when to update the Stock Status value?

[2020-02-11 03:28] chadwixk commented on #2822
@sidolov awesome! That was fast :)

[2020-02-11 08:15] smoskaluk commented on #2745
@chadwixk Yes, I used POST call /rest/V1/inventory/source-items with such Body
{
  "sourceItems": [
    {
      "sku": "product SKU",
      "source_code": "Source Code",
      "quantity": 0,
      "status": 1,
      "extension_attributes": {}
    }
  ]
}

[2020-02-11 16:17] itmsenior opened #2824 "Timeout after amending price of product in cart"
### Preconditions (*)

1. Magento 2.3.3
2. MSI 1.1.3

### Steps to reproduce (*)

1. Add product to site
2. Add new product to cart
3. Amend price of product in cart in Magento admin
4. Refresh cart page

### Expected result (*)

1. Cart pages loads and new product price appears

### Actual result (*)

1. Timeout error occurs

[2020-02-11 16:37] chadwixk commented on #2745
@smoskaluk then doesn't the fact that you're passing the stock status override the Out of Stock Threshold functionality?

Essentially, the Out of Stock Threshold functionality determines when to update the Stock Status from In Stock to Out of Stock.

So when you did these steps:

Your REST call in step 6 is what set the Stock Status to In Stock. I don't see how you can test this functionality usin

[2020-02-11 16:46] itmsenior commented on #2824
We can see never ending SQL queries in our profiler that look like this:
[code]

[2020-02-11 21:03] sidolov opened #2825 "Hide store pickup on the Checkout if one of the products in cart is not available for pickup"
### Description (*)
Hide store In-Store Pickup on the Checkout if one of the products in the cart is not available for pickup.

### Scenario
1. Create `Source 1` (enabled as a pickup location)
2. Create `Product 1` and assign to the `Source 1`
3. Create `Source 2` (disabled as a pickup location)
4. Create `Product 2` and assign to the `Source 2`
5. Add both products to the cart
6. Proceed to check

[2020-02-11 21:05] sidolov opened #2826 "Hide store pickup during order submissions if one of the products is not available for pickup"
### Description (*)
Hide store In-Store Pickup on the Checkout if one of the products in the cart is not available for pickup.

### Scenario
1. Create `Source 1` (enabled as a pickup location)
2. Create `Product 1` and assign to the `Source 1`
3. Create `Source 2` (disabled as a pickup location)
4. Create `Product 2` and assign to the `Source 2`
5. Log in to the backend
6. Create order on the back

[2020-02-12 10:07] duckchip opened #2827 "Weird flip of saleable qty = 1 and qty = 0 when placing shipment of order"
Hi guys, we experienced a weird issue concerning shipments that can’t be placed because an item is not in stock. The following error came up: 'Not all of your products are available in the requested quantity.'

First of all, how is it even possible that this scenario can happen. I was able to reproduce it on 2.3.2 and 2.3.3. It seems partially fixed in 2.3.4

### Preconditions (*)

1. Magento 2.3.

[2020-02-12 11:34] duckchip commented on #2827
An additional requirement: The indexers should be set on schedule.

[2020-02-12 12:58] smoskaluk commented on #2827
Hi @duckchip , this issue was fixed by PR https://github.com/magento/inventory/pull/2740

[2020-02-12 13:33] duckchip opened #2828 "Swatch of configurable product that has salable qty = 0 is still shown on frontend after reindex and cache flush"
### Preconditions (*)

1. 2.3.2, 2.3.3, 2.3.4
2. inventory-composer-metapackage enabled

### Steps to reproduce (*)

1. Create a configurable product with simples attached to it, using a swatch attribute
2. Give them all qty = 1
3. Order and invoice a configuration
4. Do a reindex and cache flush

### Expected result (*)

1. The ordered swatch has now saleable qty = 0 and is not shown in the swatc

[2020-02-12 14:14] duckchip commented on #2828
this issue is fixed by PR #2740

[2020-02-12 15:16] smoskaluk opened #2830 "Wrong salable qty for Out of stock product with negative Out-Of-Stock Threshold"
### Preconditions (*)

1. Create product with Qty = 100,  enabled Backorders and Out-Of-Stock Threshold = -10

### Steps to reproduce (*)

1. Set stock status for this product = Out of stock

### Expected result (*)

1. Salable qty has to be = 0

### Actual result (*)

1. Salable qty = 10

[2020-02-12 16:34] sidolov commented on #2827
@duckchip I'm closing the issue since it's already fixed in #2740.
Feel free to re-open it if you found an additional case.

[2020-02-12 16:37] sidolov commented on #2824
Hi @itwebdev2 , we tried to reproduce the issue several times, described scenario works as expected.
Could you please add additional information about the Magento instance to help us reproduce it?
Do you have 3d party extensions?

[2020-02-12 16:51] duckchip commented on #2828
I re-openend the issue since this happens every time before the order with the specific product is shipped. Only then the swatch is removed

This is not intended behaviour to me.

[2020-02-12 17:15] itmsenior commented on #2824
Hi @sidolov , what version of MSI did you test on? Wondering if 1.1.4 might have solved this issue? Any idea where we can see release notes for 1.1.4?

[2020-02-12 17:17] sidolov commented on #2824
We are tested on the latest 1.1-develop branch

[2020-02-12 17:19] itmsenior commented on #2824
Can you generate instances based on MSI branches here?

[2020-02-12 17:31] itmsenior commented on #2824
@sidolov , We've found the issue. You need to have a tax method configured and have TAX Calculation Method Based On: "Row Total" for issue to occur. The queries that lead to the timeout are however MSI related hence logging here.

[2020-02-13 11:39] duckchip commented on #2827
I re-opened this issue because the initial problem that is reported in the title of this issue: "Weird flip of saleable qty = 1 and qty = 0 when placing shipment of order" before reindex  is still happening.

The only thing that was fixed is a fail-save of an automatic status change of the out-of-stock attribute upon creation of the shipment.

[2020-02-14 08:28] atwixfirster commented on #3185
@magento give me 2.4-develop instance

[2020-02-14 08:28] magento-engcom-team commented on #3185
Hi @atwixfirster. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-14 08:29] magento-engcom-team commented on #3185
Hi @atwixfirster, here is your [Magento instance](https://i-26575-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26575-2-4-develop.instances.magento-community.engineering/admin_227f](https://i-26575-2-4-develop.instances.magento-community.engineering/admin_227f)
Login: `76bc96ea` Password: `ed680f8f794c`
Instance will be terminated in up to 3 hours.

[2020-02-14 14:24] smoskaluk commented on #2824
Hi @itwebdev2 Even with tax configuration described in your last comment I can't reproduce this issue. I tried on latest 1.1-develop branch and on composer magento version 2.3.3. May be there are any other specific details we need to take into account - please let us know.

[2020-02-14 20:12] sidolov opened #2834 "On checkout flow show sources where all cart products are available for pickup"
## Description
All products can be picked up in one place if they are each assigned to the source the customer selects (even if they don’t have sufficient quantity there at the time of order).

## Use case
1. Create two store pickup sources in the same region (both can be found according to In-Store Pickup radius setting).
2. Create product 1 and assign it to the first source.
3. Create product 1

[2020-02-17 13:33] itmsenior commented on #2824
Closing issue - is caused by 3rd party Stripe module.

[2020-02-17 13:33] #2824 closed, assigned to nobody

[2020-02-20 09:14] nmalevanec opened #2836 "Elasticsearch Advanced Search By 'SKU' Doesn't Work In MFTF Tests."
Advanced search by 'sku' doesn't work in MFTF tests for simple, downloadable, bundle and configurable products using Elasticsearch and custom stocks. Isn't reproduced manually.

### Preconditions (*)

1. Magento with MSI(1.1-develop)

### Steps to reproduce (*)

1. Run tests StorefrontAdvancedSearchSimpleProductCustomStockTest, StorefrontAdvancedSearchBundleProductCustomStockTest, StorefrontAdvanc

[2020-02-21 16:46] #2836 closed, assigned to nobody

[2020-02-21 19:15] sidolov commented on #1962
Closing since it's not implemented in core and should be fixed across the platform after implementation

[2020-02-21 19:15] #1962 closed, assigned to nobody

[2020-02-21 19:18] sidolov commented on #2424
@VZeroCool such customizations should be implemented in the scope of the 3d party module if it's needed. Right now we haven't case for such filter. Thank you!

[2020-02-21 19:18] #2424 closed, assigned to nobody

[2020-02-21 20:41] sidolov commented on #522
Should be implemented in scope of https://github.com/magento/inventory/issues/1487

[2020-02-21 20:41] #522 closed, assigned to nobody

[2020-02-21 20:43] sidolov commented on #610
Duplicate for https://github.com/magento/inventory/issues/220

[2020-02-21 20:43] #610 closed, assigned to nobody

[2020-02-21 20:48] sidolov commented on #1584
@joridos could you please take a look at comment https://github.com/magento/inventory/pull/2818#issuecomment-585820938?

[2020-02-21 21:00] sidolov commented on #2269
Closing the ticket since the mentioned behavior is not supported by design.

[2020-02-21 21:00] #2269 closed, assigned to nobody

[2020-02-22 04:04] micwallace commented on #2269
@texboy @deepikajaniyani I finally got around to it. It ended up being a bit more complicated than expected, lots of considerations required in regard to cancellations, returns, etc. The solution has not been tested thoroughly yet, but I have done some preliminary testing and it's working as expected so far.

The code is over here:
https://gist.github.com/micwallace/46a2d95113a1d89bd25cc3cfb697006

[2020-02-23 22:55] lbajsarowicz opened #2841 "Inventory Cron jobs should be assigned to separate Cron Group"
### Preconditions (*)
1. Magento 2.3.4
2. MSI installed

### Steps to reproduce (*)
1. Run Cron Jobs

### Expected result (*)
1. Inventory Crons should be run in separate Group

### Actual result (*)
1. Inventory Cron jobs are run in the same Group that all Generic jobs.

[2020-02-24 15:05] sidolov commented on #2841
@lbajsarowicz could you please clarify why Inventory cron jobs should be in a separate group?

[2020-02-24 15:10] lbajsarowicz commented on #2841
1. It's very common that there are multiple Jobs added to `<group id="default">`, some of them cause failures or locks, and then some of the tasks are not being run. DevOps / SysOps experts run different Cron Groups separately to avoid such situations: `cron:run --group=index` isolated from `cron:run --group=default` etc. To sum up: **It's more reliable** to have a separate group for all Inventory

[2020-02-24 15:29] smoskaluk commented on #2554
Closing issue due it not reproducing on mainline MSI branch (1.2-develop)

[2020-02-24 15:29] #2554 closed, assigned to nobody

[2020-02-24 15:29] smoskaluk commented on #2828
Closing issue due it not reproducing on mainline MSI branch (1.2-develop)

[2020-02-24 15:29] #2828 closed, assigned to nobody

[2020-02-26 04:22] chadwixk opened #2846 "Decrease Stock When Order is Placed & Manage Stock"
### Preconditions (*)

- Version 2.3.2
- Decrease Stock When Order is Placed = YEs
- Manage Stock = No

### Steps to reproduce (*)
1. Place and order, issue an invoice (tested using Check /Money order payment method, so manually issue invoice), product stock quantity does not decrement by order amount

### Expected result (*)

1. Product inventory to be reduced by ordered amount

### Actual result

[2020-02-26 04:55] chadwixk opened #2847 "MSI and Posting a Shipment via API"
### Preconditions (*)
- Version 2.3.2
- Manage Stock = Yes
- Product Inventory level is 0 for a product that is on an order in the Processing status

### Steps to reproduce (*)
- Post a Shipment via the API (`order/{id}/ship`) to the order mentioned in the pre-requisites

### Expected result (*)

- the shipment gets created in Magento

### Actual result (*)

- API responds with: `"message": "Could

[2020-02-26 09:17] qrz-io commented on #2269
@sidolov Why has this been closed? Some of the comments explain why this feature is troublesome for a very large number of merchants - every single one of our clients has a WMS that cannot integrate with Magento in the way it expects, and therefore needs to turn this feature off.

The outcome of this issue should be, at the very least, a checkbox somewhere to turn stock reservations off.

[2020-02-26 15:01] amenk commented on #2554
@smoskaluk Was this fixed or just not reproduced at all? i.e. was it reproduced in an older branch version and then found to be fixed now? Where can the fixing code be found? With which Magento release will it be fixed?

[2020-02-26 16:08] sidolov commented on #538
Moved to internal backlog since the epic out of scope.

[2020-02-26 16:08] #538 closed, assigned to nobody

[2020-02-26 16:10] sidolov commented on #608
Moved to internal backlog

[2020-02-26 16:10] #608 closed, assigned to nobody

[2020-02-26 16:10] sidolov commented on #1351
Moved to internal backlog

[2020-02-26 16:10] #1351 closed, assigned to nobody

[2020-02-26 19:44] sidolov commented on #2343
@seansan the issue converted to story and located here: https://github.com/magento/inventory/wiki/Assign-Source-Selector-for-Processing-of-Returns-Credit-Memo
We are going to include it to the next milestone and start development soon.

[2020-02-26 19:44] #2343 closed, assigned to nobody

[2020-02-26 19:47] sidolov commented on #587
Converted to story: https://github.com/magento/inventory/wiki/Performance-tests-scenario-for-Inventory

[2020-02-26 19:47] #587 closed, assigned to nobody

[2020-02-26 20:23] sidolov commented on #85
Should be resolved in scope of https://github.com/magento/inventory/issues/220

[2020-02-26 20:23] #85 closed, assigned to nobody

[2020-02-26 21:55] sidolov commented on #2847
Hi @chadwixk could you please describe the case when you need such behavior?
As for me, it's correct response according to the preconditions, since we have 0 on the stock there is nothing to ship, the product is physically absent.

[2020-02-27 02:56] chadwixk commented on #2847
@sidolov if you're posting a shipment via an API, there is some other external system involved and the user of that system has indicated the item has physically shipped. But Magento, despite having no knowledge of the physical world,  says, "No, you can't ship this!"...but guess what, I already did ship it,nits on the UPS truck so let me post it!  :)

If you are shipping from the Magento UI, I agr

[2020-02-27 09:57] wigman commented on #2821
This is our current solution:

Disable all MSI modules, which is the only way to get this to work, unless you want to fork the MSI repo and change the filename there.

In `composer.json`:
[code]

[2020-02-27 22:46] #2138 closed, assigned to fratob85

[2020-02-28 12:06] VasylShvorak opened #2851 "Return to Stock checkbox is applied for all products from order not only for selected"
### Preconditions (*)

1. Magento 2.4-develop with MSI 1.2-develop

### Steps to reproduce (*)

1. Login as customer
2. Add two simple products to cart
3. Place order
4. Create invoice and shipment
5. Check Quantity and Salable Quantity decrease by 1 for appropriate products
![image](https://user-images.githubusercontent.com/26908019/75546726-e7f96500-5a31-11ea-8b2b-767182e44a74.png)
6. Click `Cre

[2020-03-02 14:11] VasylShvorak opened #2858 "[Bundle Product Support] Can't Proceed to Checkout from Shopping Cart page on Staging preview with Bundle product"
### Preconditions (*)

1.Magento 2.4-develop EE + 1.2-develop B2B with MSI PR [#2797](https://github.com/magento/inventory/pull/2797)

### Steps to reproduce (*)

1. Enable B2B Features
![image](https://user-images.githubusercontent.com/26908019/75682284-d4eacd00-5c9d-11ea-9a89-4e1cbcda4b86.png)

2. Create bundle product
![image](https://user-images.githubusercontent.com/26908019/75682035-69086480

[2020-03-02 14:40] smoskaluk commented on #2851
Hi @VasylShvorak , I tried to reproduce this issue, but got different result - for product which I didn't return to stock the qty on source reduced, but salable qty get wrong

![salable](https://user-images.githubusercontent.com/27818516/75685749-c0113800-5ca3-11ea-935e-ec4047dd9e02.png)

this error caused by wrong extra reservation for this product in table inventory_reservation

![reservation](h

[2020-03-02 15:20] smoskaluk opened #2859 "Extra compensation reservation when Credit Memo created"
### Preconditions (*)

1. Magento 2.4-develop with MSI 1.2-develop

### Steps to reproduce (*)

1. Create 2 simple productы with qty = 100
2. Place order with 1 item of both these products
3. Create full `Invoice`
4. Create full `Credit Memo` with not checked `Return to Stock` for one of products
5. Open 'Products' grid in admin
6. Check 'inventory_reservation' table

### Expected result (*)

1. Q

[2020-03-03 11:03] #2724 closed, assigned to nobody

[2020-03-03 11:03] #574 closed, assigned to nobody

[2020-03-03 11:03] #2001 closed, assigned to nobody

[2020-03-03 11:03] #2714 closed, assigned to nobody

[2020-03-03 11:03] #2773 closed, assigned to sdzhepa

[2020-03-03 14:05] #1637 closed, assigned to nobody

[2020-03-03 16:12] iosos-excel opened #3172 "Cannot invoice orders which contain bundle products comprised of physical and virtual products"
### Preconditions (*)

1. Magento 2.3.5-p2, 2.4.0
2. Magento Inventory is enabled

### Steps to reproduce (*)

1. In the admin, create a sample physical product (This item has weight)
2. Create a sample virtual product (This item has no weight)
3. Create a sample bundle product
    * Set "Dynamic Price" to "No"
    * In "Bundle Items" add 2 options
        * Assign the sample physical product to o

[2020-03-04 00:28] #2299 closed, assigned to nobody

[2020-03-04 08:28] smoskaluk opened #2862 "Asynchronous mass actions don't work with MySQL on Products grid"
### Preconditions (*)

1. New Stock with new  'Test Source' created
2. Several products with inventory on Default source created

### Steps to reproduce (*)

1. Setup asynchronous run for bulk operations in configuration. Go to Stores -> Configuration -> Catalog -> Inventory. Set in 'Admin bulk operations' run asynchronously = 'Yes'
2. Open 'Products' grid in admin
3. Select all products
4. Select

[2020-03-04 10:35] se45ky commented on #2821
I have the same problem here.

[2020-03-04 18:30] iosos-excel commented on #3172
@magento give me 2.3.4 instance

[2020-03-04 18:30] magento-engcom-team commented on #3172
Hi @iosos-excel. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-04 18:30] magento-engcom-team commented on #3172
Hi @iosos-excel, here is your [Magento instance](https://i-27144-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27144-2-3-4.instances.magento-community.engineering/admin_eee7](https://i-27144-2-3-4.instances.magento-community.engineering/admin_eee7)
Login: `840f8935` Password: `076d19a5b913`
Instance will be terminated in up to 3 hours.

[2020-03-04 21:02] iosos-excel commented on #3172
I cannot reproduce the issue in the Magento instance provided. However, the instance is missing the entire inventory source system, which is where the error seems to occur according to the logs. If I install a totally fresh/vanilla Magento 2.3.4 on my machine the inventory system is present and the issue is reproducible.

[2020-03-06 04:01] jsdupuis opened #2864 "Cannot ship product if user doesn't have permission to edit Source configurations"
### Preconditions (*)

1. Magento Open Source 2.3.3
2. Php 7.2
3. Using MSI (Multiple Source Inventory). Website has 1 stock made of 2 sources

### Steps to reproduce (*)

1. Have a product with 2 sources and with quantity 1+ in both sources
2. Have a user/role that doesn't have permission to edit store configurations
3. Have that user open an order that contains this product and click "Ship"

###

[2020-03-06 11:58] nmalevanec commented on #2858
@VasylShvorak, This issue is not related to MSI. Was able to reproduce it on magento without MSI.
Looks like problem is bundle selection table connected to catalog product entity table by entity id but not row id.

[2020-03-06 11:58] #2858 closed

[2020-03-06 17:39] sidolov commented on #2847
@chadwixk I got your point, you have a synchronization issue between Magento and external inventory system. We still cannot allow shipping orders in case of Qty = 0 because data will become inconsistent, but you may enable backorders with fixed product qty to avoid such issue. It will help you eliminate the synchronization gap and don't oversell much since backorders qty will be fixed. What do you

[2020-03-06 17:47] sidolov commented on #2290
Mechanism should be implemented in Magento core and re-used in the Inventory scenarios.

[2020-03-06 17:47] #2290 closed, assigned to nobody

[2020-03-06 19:38] #1584 closed, assigned to nobody

[2020-03-06 20:21] sidolov commented on #89
@naydav I have reviewed the Inventory ACL tree and it looks good as for me. I'm closing the issue as not relevant. Thank you!

[2020-03-06 20:21] #89 closed, assigned to nobody

[2020-03-06 20:43] sidolov commented on #1638
Issue is fixed in scope of https://github.com/magento/inventory/pull/2855

[2020-03-06 20:43] #1638 closed, assigned to nobody

[2020-03-06 20:54] sidolov commented on #1037
Hi @milindsingh , do you need help with this issue?

[2020-03-07 14:14] lbajsarowicz opened #2866 "MFTF: Wrong type of <wait> used in test"
### Preconditions (*)
1.  Magento\FunctionalTestingFramework.functional\MSI_Multi_Mode.StorefrontPartialInvoiceCreatedForOrderWithConfigurableProductInAdminTest

### Steps to reproduce (*)
N/A

### Expected result (*)
`WaitForLoadingMaskDisappear` should be used.
`WaitForPageLoad` is used actually.

### Actual result (*)

1. [Screenshots, logs or description]
![image](https://user-images.githubuse

[2020-03-09 13:22] amenk commented on #2554
@smoskaluk Do you know any commits where this was fixed?

[2020-03-09 14:31] DanieliMi commented on #2554
@amenk it seems to be fixed this commit https://github.com/magento/inventory/commit/89b5f02ef65479d9af22f90f86c98e163f476780

[2020-03-12 12:25] smoskaluk commented on #2190
Not reproducing on MSI mainline branch (1.2-develop)

[2020-03-12 12:25] #2190 closed, assigned to nobody

[2020-03-12 17:53] #1389 closed, assigned to nobody

[2020-03-12 20:03] #2826 closed, assigned to nobody

[2020-03-13 13:17] #2825 closed, assigned to nobody

[2020-03-13 15:22] sidolov commented on #2834
Fixed in scope of https://github.com/magento/inventory/pull/2839

[2020-03-13 15:22] #2834 closed, assigned to swnsma

[2020-03-13 20:29] gwharton opened #2875 "Placing an order does not invalidate the GetReservationsQuantityCached cache"
Pull Request #2699 introduced caching to various modules within MSI to improve database performance. None of the cache's provide a mechanism to invalidate the cache when needed.

This is especially apparant in the GetReservationsQuantityCached class which cache's the result of the analysis of the reservations table. The GetReservationsQuantityCached class is used by the getSalableQuantity() functi

[2020-03-13 21:12] thebraziliandeveloper commented on #2821
Me too, having the same problem.

[2020-03-14 16:45] gwharton commented on #2875
Here is a simpler integration test that can be tagged onto the end of

InventorySales/Test/Integration/Stock/GetProductSalableQtyTest.php

[code]

[2020-03-14 17:08] gwharton opened #2876 "Hard coded paths to integration test fixture files makes integration testing difficult"
### Preconditions (*)
1. Install MSI development environment as per documentation at https://github.com/magento/inventory/wiki/Metapackage-Installation-Guide

### Steps to reproduce (*)
1. Attempt to run MSI integration tests

### Expected result (*)
1. Able to run tests and they pass

### Actual result (*)
1. Tests fail due to hard coded paths to test fixture files referencing location of MSI cod

[2020-03-14 17:10] gwharton commented on #2876
Actually, it would help if the command `composer config repositories.ext path "./ext/*/*/*"` created the symlinks in app/code instead of vendor/magento

[2020-03-16 20:48] gwharton commented on #2876
As a workaround, this works for me
[code]

[2020-03-17 14:09] #2568 closed, assigned to nobody

[2020-03-17 14:09] #2160 closed, assigned to nobody

[2020-03-17 17:45] #2816 closed, assigned to nobody

[2020-03-18 12:55] #2311 closed, assigned to Jeroenll

[2020-03-18 14:03] smoskaluk opened #2882 "Store Pickup button present on check-out when products are not not available for pickup"
### Steps to reproduce
1. Create `Source 1` (enabled as a pickup location)
2. Create `Product 1` and assign to the `Source 1`
3. Create `Source 2` (disabled as a pickup location)
4. Create `Product 2` and assign to the `Source 2`
5. Add both products to the cart
6. Proceed to checkout

### Expected result (*)
1. 'Pick In Store' button should be hidden

### Actual result (*)

1. 'Pick In Store' but

[2020-03-19 13:04] nmalevanec commented on #2859
@smoskaluk, verified on latest 2.4-develop with latest 1.2-develop MSI, everything works perfectly fine, issue not reproduced. If new details will occur, please add them to description and reopen this issue.

[2020-03-19 21:26] #2864 closed, assigned to nobody

[2020-03-20 12:00] tr33m4n opened #2886 "`The requested sku is not assigned to given stock` when shipping an un-managed order with an empty "stock""
### Preconditions

1. Inventory 1.07
2. Magento 2.3.4

### Steps to reproduce

1. On a vanilla install of 2.3.4 create a new simple product that has "Manage Stock" set to "No"
2. Checkout as normal with the product, creating a new sales order
3. Add a new "Stores" -> "Inventory" -> "Stocks" with no sales channels or assigned sources
4. Open the recently created order in "Sales" -> "Orders"
5. Clic

[2020-03-21 08:56] tr33m4n commented on #2886
Closing, just seen this PR https://github.com/magento/inventory/pull/2878 which resolves this

[2020-03-21 08:56] #2886 closed, assigned to nobody

[2020-03-23 19:30] chadwixk commented on #2847
@sidolov that represents an issue from a customer service standpoint that is less than ideal as it opens up the possibility of allowing orders that cannot be shipped and disappointing the customer and inducing extra customer service time to resolve.

Also, if allowing this via the api causes data "will become inconsistent", isn't this also the case with the current situation? By allowing the api t

[2020-03-23 19:52] #1487 closed, assigned to Stepa4man

[2020-03-23 19:52] #578 closed, assigned to nobody

[2020-03-24 02:05] adarshkhatri opened #2895 "Cannot sell out of stock or disabled product from admin area"
### Preconditions (*)

1. Magento 2.3.3
2. Product 1 => 0 stock (out of stock)
3. Product 2 => disabled

### Steps to reproduce (*)

1. Login to admin
2. Create an order for "Product 1" and "Product 2"

### Expected result (*)

1. Allow creating order with out of stock or disabled product from ADMIN area

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/8390252/77380712

[2020-03-24 19:09] sidolov commented on #2895
Hi @adarshkhatri, described expected result is not correct and current behavior is expected.
We cannot allow selling disabled products, for the out of stock products such option is available if backorders are enabled.
I'm closing the issue since it's not relevant.
Thank you for your contribution!

[2020-03-24 19:09] #2895 closed, assigned to nobody

[2020-03-25 01:31] adarshkhatri commented on #2895
Hi @sidolov
The problem is, if I enable backorder then it will be available in front end too. There are multiple reasons we don't want to make items available for frontend but only sell from backend:

One of them is: the supplier doesn't allow us to sell from front end but allow us to sell from in-store.

Also, some discontinued items we would still want to sell from admin area because the supplie

[2020-03-25 01:58] adarshkhatri commented on #2895
Also, I have tested with **Backorders**, it does allow us to create order but cannot ship.

Product inventory setting:
![image](https://user-images.githubusercontent.com/8390252/77493759-09663900-6e98-11ea-85a3-82c0bfc1c0e9.png)

When trying to ship, it throws this error:
![image](https://user-images.githubusercontent.com/8390252/77493830-46cac680-6e98-11ea-91fc-268f4b95cee9.png)

[2020-03-25 13:06] smoskaluk opened #2899 "Low stock report in scope of website works incorrectly"
### Preconditions (*)

1. Create custom website with custom store and storeview
2. Create custom stock with custom source and custom website
3. Create product 'Prod 1' with qty = 10 on default source, Notify Qty = 100 and Main website assigned
4. Create product 'Prod 2' with qty = 10 on custom source, Notify Qty = 100 and custom website assigned

### Steps to reproduce (*)

1. Go to Reports -> Low

[2020-03-25 16:52] #2583 closed, assigned to nobody

[2020-03-26 10:08] agallart opened #3059 "Can't set stock for diferents scopes"
### Preconditions (*)

1. Magento 2.3.3
2. enable Inventory Management

### Steps to reproduce (*)

1.create Websites

![image](https://user-images.githubusercontent.com/16067982/77633171-5eb15180-6f4f-11ea-8691-543a612e4e23.png)

2.create Source
![image](https://user-images.githubusercontent.com/16067982/77633063-2f9ae000-6f4f-11ea-951d-cc613a2d75f1.png)

3.create Stocks
![image](https://user-ima

[2020-03-26 10:11] agallart commented on #3059
@magento give me 2.4-develop instance

[2020-03-26 10:11] magento-engcom-team commented on #3059
Hi @agallart. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-26 10:12] magento-engcom-team commented on #3059
Hi @agallart, here is your [Magento instance](https://i-27449-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27449-2-4-develop.instances.magento-community.engineering/admin_2ab3](https://i-27449-2-4-develop.instances.magento-community.engineering/admin_2ab3)
Login: `6f5e07a2` Password: `c6794a71f9d7`
Instance will be terminated in up to 3 hours.

[2020-03-26 10:15] agallart commented on #3059
can't reproduce without MSI ..
![image](https://user-images.githubusercontent.com/16067982/77635546-0714e500-6f53-11ea-8c2b-1254c4c7864c.png)

[2020-03-27 11:26] LittleBigDev opened #2904 "Fatal error in `inventory:reservation:list-inconsistencies` because of wrong sku parameter type"
### Preconditions
1. `magento/inventory-composer-metapackage` v1.1.3
2. `magento/module-inventory` v1.0.6

### Steps to reproduce

1. Create a product with a numerical sku (for example, an EAN)
2. Create an order with this product, to get inventory reservation(s)
3. In `inventory_reservation` table, duplicate a row for this product. This will create a reservation inconsistency.
3. Execute cli comm

[2020-03-28 17:34] #2859 closed, assigned to nobody

[2020-03-28 19:27] #2899 closed, assigned to nobody

[2020-03-30 21:53] #2904 closed, assigned to nobody

[2020-03-31 08:37] smoskaluk commented on #2851
Fixed by https://github.com/magento/inventory/pull/2896

[2020-03-31 08:37] #2851 closed, assigned to konarshankar07

[2020-03-31 10:28] smoskaluk opened #2911 "Error when opening Orders grid in admin with DB split"
### Preconditions (*)

1. Configure the split database solution for Magento EE

### Steps to reproduce (*)

1. Create product
2. Place order with this product
3. Go to admin and open Orders grid

### Expected result (*)

1. Orders grid opens

### Actual result (*)

1. SQLSTATE[42S02]: Base table or view not found: 1146 Table 'pr1.sales_shipment' doesn't exist, query was: SELECT `inventory_source`.

[2020-04-01 11:32] smoskaluk opened #2917 "CLI command 'inventory:reservation:list-inconsistencies' doesn't work with virtual products"
### Preconditions (*)

1. Custom stock with custom source and Main website  created
2. Virtual product created with inventory on custom source

### Steps to reproduce (*)

1. Place order with virtual product
2. In inventory_reservation table, duplicate a row for this product to create a reservation inconsistency.
3. Execute CLI command : inventory:reservation:list-inconsistencies

### Expected res

[2020-04-02 15:16] amenk commented on #2269
I think we have a similar problem like the thread starter.

1. We manage quantity in an external ERP
2. Product is ordered and in previous Magento versions this lowered the qty
3. Once the order is processed / shipped in the ERP
4. Order is not set to complete / shipped in Magento because there is no ERP integration
5. Updates qty comes in via ERP later

We tried the two FOSS modules mentioned her

[2020-04-02 17:49] #2882 closed, assigned to nobody

[2020-04-02 19:46] #2592 closed, assigned to nobody

[2020-04-02 19:46] #2719 closed, assigned to nobody

[2020-04-03 14:10] smoskaluk opened #2924 "Error during uninstall"
### Preconditions (*)

1. Magento 2.4 develop + MSI 1.2-develop

### Steps to reproduce (*)

1. Run CLI command <setup:uninstall>2.

### Expected result (*)

1. Uninstall successful

### Actual result (*)

![image](https://user-images.githubusercontent.com/27818516/78369512-f9ec9b80-75cd-11ea-927c-8ddf0979d8b1.png)

[2020-04-04 16:01] Stepa4man commented on #2817
Looks like this bug was already fixed. I'm closing it.

[2020-04-04 16:01] #2817 closed, assigned to Stepa4man

[2020-04-04 16:30] sidolov opened #2929 "[Performance improvement] Add caching of result for sql queries"
After analysis performed it was found that around some sql queries are repeatable and result of such queries can be cached.

**Scenario: Configurable Product Add To Cart**

| Calls | Time | SQL |
|---------|-----------|-----|
| 16x | +2.92 ms | select ? from m2_inventory_stock_sales_channel where (type = ?) and (code = ?) |
| 16x | +2.67 ms | select m2_inventory_stock.* from m2_inventory_stock whe

[2020-04-04 16:34] sidolov opened #2930 "Refactor InventoryDistanceBasedSourceSelection plugin to handle exceptions instead of silent fail"
`\Magento\InventoryDistanceBasedSourceSelection\Plugin\FillSourceLatitudeAndLongitude`

[code]

[2020-04-04 17:31] volmar commented on #2821
For me what worked was moving the repo out of  /home directory to /opt, which is not encrypted. Now if we want to change this we need to reduce filename size.

[2020-04-04 22:02] FrankStappers opened #3018 "Unable to add product with multi-source inventory to wishlist with"
### Preconditions (*)

1. Magento Commerce 2.3.4, vanilla

### Steps to reproduce (*)

1. Create a new inventory source -named 'new-source'-  in the Magento Admin
2. Create a new stock inventory -named 'new-stock'- the Magento Admin, assign 'new-source' and default website to the 'new-stock'. Ensure that the setup is similar to:
<img width="1118" alt="Screenshot 2020-04-04 at 23 40 40" src="https:

[2020-04-04 22:54] cmacdonald-au commented on #2876
@vadimjustus sorry - early morning misclick ;)

[2020-04-04 23:25] cmacdonald-au opened #2933 "Simultaneous changes that require indexing will collide and MySQL will throw errors"
### Preconditions (*)
1. Magento2 2.4-develop
2. Inventory 1.2-develop
3. 100+ sources
4. 1000+ items assigned to 50% or more of those sources

### Steps to reproduce (*)

1. With all sources assigned to a stock.
2. Execute the following scenarios multiple times, simultaneously;
 * Remove a source item assignment
 * Add a source item assignment
 * Change the qty levels for a source item across mul

[2020-04-04 23:29] maghamed commented on #2933
Here is a dump of our conversation in Slack (as it will be eventually rotated and vanished there )

[code]

[2020-04-04 23:43] cmacdonald-au commented on #2933
Options summary;
1. Honour "Index by Schedule" for all changes

   Discarded due to known side-effects as discussed in https://github.com/magento/inventory/issues/2002

1. Dedicated indexing processor;
   * Implement a queue to capture "immediate" index requests
   * Trigger an ad-hoc "immediate" reindex job to ensure only one reindex happens at a time

1. Dedicated partial reindexer;
   * Same as

[2020-04-05 02:20] cmacdonald-au opened #2936 "`ReindexAfterSourceItemsDeletePlugin` triggers a full stock reindex for a single source removal"
### Summary
When removing products from sources, a full stock reindex is triggered, courtesy of `ReindexAfterSourceItemsDeletePlugin`.

This may make sense when doing a mass import ("Delete"), but causes performance issues and table contention during standard product maintenance, (reindexing all stocks for a source when one product has changed does not make sense).

### Examples

### Proposed solu

[2020-04-05 02:35] cmacdonald-au commented on #2936
Related to https://github.com/magento/inventory/issues/2933 . This issue causes excessive pressure on the indexing tables/processes and when subjected to a high change rate of source-item assignments

[2020-04-05 08:14] #2821 closed, assigned to nobody

[2020-04-05 16:45] #2876 closed, assigned to vadimjustus

[2020-04-08 22:45] RuslanKostiv1 opened #2946 "[REST] Unable to create a product without type_id"
### Preconditions (*)
1. Magento (2.4-develop) with Inventory (1.2-develop) installed.
2. Access token with access to Catalog generated (`System` -> `Integration`)

### Steps to reproduce (*)

1. Open any REST client
2. Set API request endpoint to `/rest/default/V1/products`
3. Method set to `POST`
4. Headers set to the following:
`Content-Type`: `application/json; charset=UTF-8`
`Accept`: `applic

[2020-04-09 10:30] smoskaluk commented on #2946
Hi @RuslanKostiv1 , thanx for your report. May you create PR with proposed solution, please?

[2020-04-09 16:20] RuslanKostiv1 commented on #2946
@smoskaluk created https://github.com/magento/inventory/pull/2950

[2020-04-10 12:46] magento-engcom-team commented on #3185
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33287` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-10 13:28] arun-eglobeits commented on #2817
I have the same issue too. Is there any reference link of the fix.

[2020-04-10 13:30] arunsingh-jhon commented on #2817
I have the same issue too. Is there any reference link of the fix.

[2020-04-10 19:39] Stepa4man commented on #2817
@arunsingh-jhon https://github.com/magento/magento2/commit/1f99b199a4c52852746f46c09ee12b48f4c707b8#diff-687c6956f0b6aeaeb974b7eaec603a42
Not sure, check this.
I also found this opened PR, check if you can find it helpful
https://github.com/magento/magento2/pull/27527

[2020-04-13 03:07] adarshkhatri opened #2960 "Cannot edit products after disabling MSi"
### Preconditions (*)

1. Magento 2.3.3
2. MSI enabled

### Steps to reproduce (*)

1. Disable MSi https://devdocs.magento.com/extensions/inventory-management/#disable-inventory-management as described here.

### Expected result (*)

1. Should allow editing products

### Actual result (*)

1. Throws error.

**How do I fix this?**

[2020-04-14 05:21] #2960 closed, assigned to nobody

[2020-04-15 10:10] smoskaluk opened #2967 "'Back in stock' alert for Bundle product on default stock doesn't work"
### Preconditions

1. Magento MSI 2.3.5
2. Bundle Product created with inventory on default source  with 'Out of stock' status
3. Back in stock alerts enabled in configuration
4. Customer create account on Home page

### Steps to reproduce

1. By direct url open your Bundle Product page on frontend
2. Subscribe for 'Product back in stock' alert
3. In admin set status for Bundle Product 'In stock'

[2020-04-15 10:13] smoskaluk opened #2968 "'Back in stock' alert for Configurable product on custom stock doesn't work"
### Preconditions

1. Magento MSI 2.3.5
2. Custom stock with custom source created with Main website assigned
3. Configurable Product created with inventory on custom source with 'Out of stock' status
4. Back in stock alerts enabled in configuration
5. Customer create account on Home page

### Steps to reproduce

1. By direct url open your Configurable Product page on frontend
2. Subscribe for 'Pr

[2020-04-15 15:16] #2946 closed, assigned to nobody

[2020-04-20 17:04] regannoveske commented on #2269
We've been dealing with the same issue, our point of truth is an external ERP and the duplicate reserve is a huge issue.

After reading all of your suggestions, with no apparent fully tested solution, I wanted to throw an idea out there and see what you think:

What if, every time the ERP sends a stock and shipment update, we update the reservations table to zero out the values?  (truncating it cr

[2020-04-20 20:34] okorshenko opened #2975 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-20 20:34] okorshenko commented on #2975
@magento I am working on this

[2020-04-20 20:35] #2975 closed, assigned to okorshenko

[2020-04-21 13:01] asim-vax commented on #2269
@sidolov So the ticket won't be looked into because you won't support inventory coming from an external source?

[2020-04-22 08:31] magento-engcom-team commented on #3018
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33626` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-22 08:33] sudheers-kensium commented on #3018
Reproduced the issue.
![image](https://user-images.githubusercontent.com/50358141/79959705-10399900-84a2-11ea-9d82-0b13f905f0e6.png)

[2020-04-22 13:32] smoskaluk opened #2978 "All sources shown when adding product as bundle option"
### Preconditions (*)

1. Create custom stock with 20 custom sources
2. Create simple and assign all sources to it

### Steps to reproduce (*)

1. Create bundle product and add your simple product as option to it

### Expected result (*)

1. It would looks better if list of sources would be minimized as on Products grid

### Actual result (*)

1. All simple product's assigned sources are shown in

[2020-04-23 14:21] smoskaluk opened #2982 "Stock status of grouped product not considering 'default qty' option"
### Preconditions (*)

1. Create custom stock with custom source
2. Create simple product with qty = 1 on custom source
3. Create grouped product with simple product as option and set 'default qty' for it = 2

### Steps to reproduce (*)

1. Open grouped product page on frontend

### Expected result (*)

1. Grouped product should be 'Out of stock'

### Actual result (*)

1. Grouped product is 'In s

[2020-04-23 17:01] smoskaluk opened #2985 "Stock status of grouped or bundle product on custom website not considering if child products assigned to this website as well"
### Preconditions (*)

1. Create custom website with store and storeview
2. Create custom stock with custom source and custom website as sales channel
3. Create one simple product with qty = 5 on custom source and assign it to custom website
4. Create second simple product with qty = 20 on custom source but not assigned to custom website
5. Create bundle or grouped product  with both simple produc

[2020-04-23 19:42] zakdma opened #2986 "[TSG] MFTF tests failing because of incorrect source grid behaviour (1.2-develop)"
### 1.2-develop

These tests are flaky because of incorrect source grid behaviour
- CacheValidationProductSourceStatusChangeTest
- SimpleProductWithZeroQtyAndInStockStatusOnTestSourceVisibleOnHomePageIfBackordersEnabledOnConfigurationPageTest
- StorefrontPartialInvoiceCreatedForOrderWithConfigurableProductInAdminTest

**Example**
Magento\FunctionalTestingFramework.functional\MSI_Multi_Mode.CacheVa

[2020-04-23 21:59] lenaorobei opened #2990 "Fix flaky AdminCreateShipmentWithChangedSimpleProductIntoConfigurableCustomStockTest"
### Preconditions (*)
Install Magento with extensions:
- Page Builder
- Adobe Stock Integration
- Inventory

### Steps to reproduce (*)
Run MFTF tests

### Expected result (*)
All tests pass

### Actual result (*)
`AdminCreateShipmentWithChangedSimpleProductIntoConfigurableCustomStockTest ` fails with timeout
<img width="902" alt="Screen Shot 2020-04-23 at 4 58 37 PM" src="https://user-images.gith

[2020-04-23 23:59] slavvka opened #2991 "Fix flaky AdminCreateShipmentWithDeletedSimpleProductDefaultStockTest"
### Preconditions (*)
Install Magento with extensions:
- Adobe Stock Integration
- Inventory

### Steps to reproduce (*)
Run MFTF tests

### Expected result (*)
All tests pass

### Actual result (*)
`MSI_Multi_Mode.AdminCreateShipmentWithDeletedSimpleProductDefaultStockTest ` fails with timeout

![Screenshot 2020-04-23 18 57 07](https://user-images.githubusercontent.com/9741905/80160954-90402b80-8

[2020-04-24 21:57] slavvka opened #2994 "Fix flaky AdminCreateShipmentWithChangedSimpleProductIntoConfigurableDefaultStockTest"
### Preconditions (*)
Install Magento with extensions:
- Adobe Stock Integration
- Inventory

### Steps to reproduce (*)
Run MFTF tests

### Expected result (*)
All tests pass

### Actual result (*)
`Magento\FunctionalTestingFramework.functional\MSI_Multi_Mode.AdminCreateShipmentWithChangedSimpleProductIntoConfigurableDefaultStockTest` fails without error message
![Screenshot 2020-04-24 16 53 26](

[2020-04-24 22:01] slavvka opened #2995 "Fix flaky AdminManageStockOnProductPageTurnedOffForSimpleProductTest"
### Preconditions (*)
Install Magento with extensions:
- Adobe Stock Integration
- Inventory

### Steps to reproduce (*)
Run MFTF tests

### Expected result (*)
All tests pass

### Actual result (*)
`Magento\FunctionalTestingFramework.functional\MSI_Multi_Mode.AdminManageStockOnProductPageTurnedOffForSimpleProductTest` fails without screenshot

![Screenshot 2020-04-24 16 58 53](https://user-images

[2020-04-27 14:44] lenaorobei opened #2996 "Fix tests from MSI_Multi_Mode suite"
### Preconditions (*)
Install Magento with extensions:
- Adobe Stock Integration
- Inventory

### Steps to reproduce (*)
Run MFTF tests

### Expected result (*)
All tests pass

### Actual result (*)
`SimpleProductWithZeroQtyAndInStockStatusOnTestSourceVisibleOnHomePageIfBackordersEnabledOnConfigurationPageTest` and `CacheValidationProductSourceStatusChangeTest` fail with
[code]
![ab57d4857aef65a8]

[2020-04-27 15:04] sivaschenko opened #2997 "Fix flaky StorefrontReorderOfTheOrderWithConfigurableProductWithDropDownAttributeOnTestStockFromHomepageTest"
### Steps to reproduce (*)
Run `app/code/Magento/InventoryAdminUi/Test/Mftf/Test/StorefrontReorderOfTheOrderWithConfigurableProductWithDropDownAttributeOnTestStockFromHomepageTest.xml` MFTF test

### Expected result (*)
Test should pass

### Actual result (*)
Test randomly fails on the mainline pull requests

Curl error thrown for http POST to /session/1f661f00fec7990651953ba67f5a78e4/log with par

[2020-04-27 15:06] sivaschenko opened #2998 "Fix flaky AdminMassActionUnAssignAllProductSourcesFromSimpleProductTest"
### Steps to reproduce (*)
Run `app/code/Magento/InventoryAdminUi/Test/Mftf/Test/AdminMassActionUnAssignAllProductSourcesFromSimpleProductTest.xml` MFTF test

### Expected result (*)
Test should pass

### Actual result (*)
Test fails randomly on mainline pull requests on the `deleteFourthProduct` step

Curl error thrown for http POST to /session/42bfa8cbcd2f08f45b70e4617f7435c5/element/25/clear

O

[2020-04-27 22:33] moojet commented on #2269
@regannoveske

How does your ERP connect to Magento at the moment?

[2020-04-27 22:56] maghamed commented on #2269
Let me share the thread which we had in #msi community slack channel recently.
Which describes what particular should be customized to make Magento Inventory be easily integrated with an external ERP/Warehouse Management System.

<img width="1340" alt="Screen Shot 2020-04-27 at 5 52 53 PM" src="https://user-images.githubusercontent.com/1928215/80428756-3dc28000-88b0-11ea-83ff-58822b973647.png">
<i

[2020-04-27 22:57] moogento commented on #2269
-- Please reply above this line --

Hey Magento/inventory,

We received your email! Someone from our team will get back to you as
soon as possible.

Thanks!

[2020-04-28 03:08] moojet commented on #2269
@maghamed Thanks for that. Couple questions:
- Do you typically send the purchase to the supplier right away, so they can adjust their stock?
- What happens if the store doesn't get paid right away, but wants to reserve that item at the supplier?
- Is there a way to check that the supplier's stock numbers take account of your sales & pending orders? I guess the date of last update vs date of sales

[2020-04-28 17:51] slavvka commented on #2986
Looks like StorefrontPartialInvoiceCreatedForOrderWithConfigurableProductInAdminTest fails due to the timeout of 60 secs and is not related to this issues

[2020-04-28 18:04] sidolov commented on #2986
@slavvka according to the screenshots and steps that lead to failure it's exactly the same case and it will be resolved on the scope of pull request.

[2020-04-28 18:10] slavvka commented on #2986
@sidolov make sense. In my case I had it with timeout failure

[2020-04-28 18:22] #2986 closed, assigned to nobody

[2020-04-28 18:22] #2996 closed, assigned to nobody

[2020-04-28 23:20] achleitner commented on #2269
Hello, does this work with Magento 2.3.4? We are having trouble with Magento displaying out of stock products(salable quantitiy 0) as in stock in the front end for non logged in users. Thanks!

[2020-04-29 15:32] sdzhepa commented on #3018
@smoskaluk could you please check this issue?

if it's still valid I will move it into Magento Inventory(MSI) or Commerce(EE)  backlog

[2020-05-01 00:27] riconeitzel opened #3006 "❓Need explanation/possible bug (SourceSelection isVirtual)"
In

https://github.com/magento/inventory/blob/d390a35fbf671e717e8f334fd700cd3fe0154ed5/InventoryShipping/Model/GetSourceSelectionResultFromInvoice.php#L108-L127

there's a condition filtering products

https://github.com/magento/inventory/blob/d390a35fbf671e717e8f334fd700cd3fe0154ed5/InventoryShipping/Model/GetSourceSelectionResultFromInvoice.php#L114

If I have an order with just simple products

[2020-05-01 15:35] slavvka opened #3007 "Fix flaky AdminCreateShipmentWithDeletedSimpleProductCustomStockTest"
### Preconditions (*)
Install Magento with extensions:
- Adobe Stock Integration
- Inventory

### Steps to reproduce (*)
Run MFTF tests

### Expected result (*)
All tests pass

### Actual result (*)
`Magento\FunctionalTestingFramework.functional\MSI_Multi_Mode.AdminCreateShipmentWithDeletedSimpleProductCustomStockTest` fails

![Screenshot 2020-05-01 10 34 44](https://user-images.githubusercontent.

[2020-05-01 15:38] slavvka opened #3008 "Fix flaky AdminCreateCreditMemoSimpleProductWithChangedSkuDefaultStockTest"
### Preconditions (*)
Install Magento with extensions:
- Adobe Stock Integration
- Inventory

### Steps to reproduce (*)
Run MFTF tests

### Expected result (*)
All tests pass

### Actual result (*)
`Magento\FunctionalTestingFramework.functional\MSI_Multi_Mode.AdminCreateCreditMemoSimpleProductWithChangedSkuDefaultStockTest` fails with:
[code]

![Screenshot 2020-05-01 10 37 28](https://user-images

[2020-05-04 09:03] sudhanshu-bajaj commented on #2522
Hi All,

Is this resolved on latest release or we need to follow temporary solution from @moderncodes ?

[2020-05-04 21:43] judin commented on #2522
I'm here wondering exactly the same - although I'm running 2.3.4

[2020-05-04 22:28] judin commented on #2522
In reply @sudhanshu-bajaj I just updated my instance based on @chrisbadley and @moderncodes code changes above - and it resolves my issue (temporarily). Is this going to be in a release?

[2020-05-05 21:53] sidolov opened #3012 "[Async Salable Status] Create infrastructure for async status update"
### Description (*)

1. Post message to the queue after the reservation was placed
2. Handle message by consumer and update status in the table

[2020-05-05 21:54] sidolov opened #3013 "[Async Salable Status] Storefront implementation for IsProductSalable service"
### Description (*)
Provide new implementation for IsProductSalable service for storefront operation that uses stored in DB data instead of processing through the chain.

[2020-05-05 21:56] sidolov opened #3014 "[Async Salable Status] new implementation for AreProductsSalable service"
### Description (*)

Provide new implementation for AreProductsSalable service to read salable statuses for several products from the DB instead of processing via the chain.

[2020-05-06 06:59] Jitheesh opened #3061 "Products stock status issues with Out-of-Stock Threshold"
### Preconditions (*)

1. Magento Commerce 2.3.5
2. MSI modules enabled
3. PHP 7.2

### Steps to reproduce (*)

1. Make sure MSI modules are enabled
2. Make sure default stock is configured
3. Configure Out-of-Stock Threshold value as 10
4. Create products and set inventory as 11
5. Check FE - Product should be in stock
6. Change product qty to 10 and save - Product become out of stock
7. Now chan

[2020-05-06 09:46] smoskaluk opened #3015 "Report of inventory bulk action doesn't work"
### Preconditions (*)

1. Magento MSI with enabled RabbitMQ service and consumer async.operations.all should be started
2. Enable in configuration 'Admin bulk operations' run asynchronously
3. Create custom stock with custom source
4. Create several products with inventory on default source

### Steps to reproduce (*)

1. Apply mass action 'Transfer Inventory To Source' from default to custom sour

[2020-05-08 08:52] swathishs commented on #3061
@magento give me 2.4-develop instance

[2020-05-08 08:52] magento-engcom-team commented on #3061
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 08:54] magento-engcom-team commented on #3061
Hi @swathishs, here is your [Magento instance](https://i-28120-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28120-2-4-develop.instances.magento-community.engineering/admin_2788](https://i-28120-2-4-develop.instances.magento-community.engineering/admin_2788)
Login: `e629370f` Password: `68e685e5773a`
Instance will be terminated in up to 3 hours.

[2020-05-08 15:58] okolesnyk opened #3022 "Refactor tests to be able to execute them when Magento performance is dropped"
### Preconditions (*)

1. Unskip list of test specified below
2. Enable MSI, ASI, PageBuilder extension on Jenkins builds
3. Reproducible with 1.1-develop and 1.2-develop branches
### Steps to reproduce (*)

1. Execute build

### Expected result (*)

1. Build passed ✅

### Actual result (*)

1. Build fails ❌

List of tests which fails probably due to Magento performance degradation when CE, EE, B2

[2020-05-12 14:39] nmalevanec commented on #2982
Not a bug. Default quantity in grouped product is user defined and should not affect grouped product stock status.

[2020-05-12 14:39] #2982 closed, assigned to nmalevanec

[2020-05-13 10:04] elburro1887 commented on #2269
I am also setting the stock via my external warehouse management system and it seems MSI was rolled out without any regard for these situations, which seem to involve a lot of users.

There should at least be minimal pain when migrating by providing the following settings in the config, so that the installation of any 3rd party modules or fixes is not necessary.

- Enable vs. disable inventory res

[2020-05-13 12:56] moojet commented on #2269
We just made some changes to our [StockEasy](https://moogento.com/stockeasy-m2) ext. which does this:
- when importing stock via csv, it removes entries from the reservations table for those imported SKUs
- others are left

Would this method work for you? I think this sidesteps your 2nd req, as the reservations system should still produce purchase limits until that external stock is updated.

[2020-05-13 13:07] #3007 closed, assigned to nobody

[2020-05-13 13:07] #2995 closed, assigned to nobody

[2020-05-13 13:07] #2998 closed, assigned to nobody

[2020-05-13 13:07] #3008 closed, assigned to nobody

[2020-05-14 10:32] xonevn-ai commented on #1544
Same here... Anyone get rid of this????

[2020-05-14 14:34] itmsenior opened #3058 "Inventory stock issue when creating a new disabled product"
### Steps to reproduce (*)

1. Magento 2.3.4-p2
2. Create a new product in the Magento admin ensuring that "Enable product" is set to "No", "Manage Stock" is set to yes and stock quantity is valid number (i.e. 100)
3. Wait for index to process new product via CRON
4. Update "Enable Product" to be "yes" and save the product
5. View product on frontend

### Expected result (*)

1. Product should app

[2020-05-14 14:35] itmsenior commented on #3058
@magento give me 2.4-develop instance

[2020-05-14 14:35] magento-engcom-team commented on #3058
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 17:26] sydekumf opened #3035 "MSI does not respect the "Display out of stock products" setting"
MSI does not respect the "Display out of stock products" setting

### Preconditions (*)
1. Magento 2.3.5 with MSI activated

### Steps to reproduce (*)
1. Create a configurable with 2 simples
2. Set `qty > 0` for one simple, the other has `qty = 0` and `is_salable = 0`
3. Set "Display out of stock products" = 1 in Store -> Configuration -> Catalog -> Inventory

### Expected result (*)
1. The swatc

[2020-05-15 07:45] itmsenior commented on #3058
@magento give me 2.4-develop instance

[2020-05-15 07:45] magento-engcom-team commented on #3058
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-15 07:47] magento-engcom-team commented on #3058
Hi @itwebdev2, here is your [Magento instance](https://i-28227-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28227-2-4-develop.instances.magento-community.engineering/admin_a36b](https://i-28227-2-4-develop.instances.magento-community.engineering/admin_a36b)
Login: `97121bce` Password: `061b1cee2f0a`
Instance will be terminated in up to 3 hours.

[2020-05-16 02:17] TadeuRodrigues commented on #3015
Hi i'm working on this issue. https://github.com/magento/magento2/pull/27916

[2020-05-16 13:36] Sutharsan27 commented on #3058
@magento give me 2.4-develop instance

[2020-05-16 13:36] magento-engcom-team commented on #3058
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-16 13:37] magento-engcom-team commented on #3058
Hi @Sutharsan27, here is your [Magento instance](https://i-28227-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28227-2-4-develop.instances.magento-community.engineering/admin_f0c1](https://i-28227-2-4-develop.instances.magento-community.engineering/admin_f0c1)
Login: `34f08e67` Password: `9ed7851b7cc4`
Instance will be terminated in up to 3 hours.

[2020-05-16 13:56] Sutharsan27 commented on #3058
@magento give me 2.3.4 instance

[2020-05-16 13:56] magento-engcom-team commented on #3058
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-05-18 10:29] Sutharsan27 commented on #3058
@magento give me 2.3.4 instance

[2020-05-18 10:29] magento-engcom-team commented on #3058
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-05-18 10:39] Sutharsan27 commented on #3058
@magento give me 2.3.5 instance

[2020-05-18 10:39] magento-engcom-team commented on #3058
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-18 11:01] Sutharsan27 commented on #3058
@magento give me 2.3.5-p2 instance

[2020-05-18 11:01] magento-engcom-team commented on #3058
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-05-18 11:20] itmsenior commented on #3058
Hi @Sutharsan27

Are you struggling to replicate the issue?

[2020-05-18 11:40] Sutharsan27 commented on #3058
Hey @itwebdev2 , yea!! I tried with 2.4-develop and couldn't succeed. Wanted to check with the other versions before letting you know.
Since you asked, Magento community are no longer accepting any pull requests to 2.3.x versions. So I got to have this recreated in 2.4-develop version.  I'm a bit lost in step 3 - Wait for index to process new product via CRON. Can you please be more specific on wh

[2020-05-18 12:39] itmsenior commented on #3058
@magento give me 2.4-develop instance

[2020-05-18 12:39] magento-engcom-team commented on #3058
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 12:40] itmsenior commented on #3058
@Sutharsan27 OK, thanks for looking into it.
I think this relates to MSI so I don't think I'll be able to replicate using the Magento instances.

[2020-05-18 12:41] magento-engcom-team commented on #3058
Hi @itwebdev2, here is your [Magento instance](https://i-28227-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28227-2-4-develop.instances.magento-community.engineering/admin_5933](https://i-28227-2-4-develop.instances.magento-community.engineering/admin_5933)
Login: `e0e0b22b` Password: `8cce7610d335`
Instance will be terminated in up to 3 hours.

[2020-05-18 12:46] itmsenior commented on #3058
@Sutharsan27 How do I confirm I can replicate the issue with instance if it requires Magento CRON & MSI?

[2020-05-18 16:30] itmsenior opened #3041 "Inventory stock issue when creating a new disabled product"
### Preconditions (*)

1. Magento 2.3.4-p2

### Steps to reproduce (*)

1. Magento 2.3.4-p2
2. Create a new product in the Magento admin ensuring that "Enable product" is set to "No", "Manage Stock" is set to yes and stock quantity is valid number (i.e. 100)
3. Wait for index to process new product via CRON
4. Update "Enable Product" to be "yes" and save the product
5. View product on frontend

##

[2020-05-19 14:19] achleitner commented on #1751
Hello, did you ever find a solution for this. We get this when refunding via Braintree. Refund goes though in Braintree but no credit memo is created. When trying to create offline memo we get "cant save credit memo"

Thanks!

[2020-05-19 21:16] #2866 closed, assigned to konarshankar07

[2020-05-20 15:20] HansiBlomberg commented on #2531
I experienced the same exact issue when enabling the inventory modules on Magento Community Edition 2.3.5-p1.  My solution was to disable one module in app/etc/config.php
'Magento_InventoryLowQuantityNotification' => 1,
change to
'Magento_InventoryLowQuantityNotification' => 0

Then I went to backend and removed the product causing the duplicate item error.
In my case it was a configurable product

[2020-05-21 01:54] #2929 closed, assigned to nmalevanec

[2020-05-21 13:08] jordanvector opened #3049 "Need Explanation/Feature Request - How to pull order/order_items by msi source"
### Description (*)
We have multiple warehouses around the world that fufill based on what is assigned to their MSI inventory source.  Most of these 3rd parties communicate with magento to pull and update orders via the rest api.  Maybe I am completely missing the correct process on how to do this, but there does not seem to be a way via the rest api to filter orders by inventory source without bu

[2020-05-22 03:23] maharzan86 opened #3062 "Product having zero salable quantity results in stock in product list page and out of stock in view page."
Preconditions (*)

 1. Magento 2.3.5-p1(MSI enabled)

Steps to reproduce (*)

1. Create a simple product with qty = 1
2. Place an order that will cause the product to have 0 salable quantity
3. The Salable Quantity drops to zero, while the Quantity remains at 1.

Expected result (*)

1. The product, having Salable Quantity 0, should display out of stock label in both product list page and product

[2020-05-22 05:25] Sutharsan27 commented on #3058
@itwebdev2 Apologies for the delay, I will have to get in touch with the Magento team on how to get the MSI and Magento CRON enabled. I will keep you posted.

Are these the only required setup to reproduce the issue, please confirm?

[2020-05-23 09:22] Sutharsan27 commented on #3058
Hi @itwebdev,2 all issue specific for MSI should be reported in the MSI repo

fyi: @sidolov @smoskaluk @sdzhepa

It seems this issue MSI specific and should be fixed in MSI repository.

EngCom team, please confirm and transfer this issue to the https://github.com/magento/inventory/issues

Closing this issue

[2020-05-23 15:39] Puru2016 opened #3053 "Magento2: Not able to assign Source after enable the MSI module"
### Preconditions (*)

1. Magento Commerce 2.3.3
2. MSI modules re-enabled

### Steps to reproduce (*)

1.  I am facing stock reservation issue in my running website when product have 1 Qty, in this condition I am not able to place order on frontend.
2. To fix this issue I have disabled the all modules of MSI.
3. Again I am facing some issue when duplicate order created.
4. To revert this side eff

[2020-05-26 02:31] maharzan86 commented on #3062
@ajijshekh123 @m2-assistant  any updates...

[2020-05-26 06:25] swathishs commented on #3061
Hi @Jitheesh,2 all issue specific for MSI should be reported in the MSI repo

fyi: @sidolov @smoskaluk @sdzhepa

It seems this issue MSI specific and should be fixed in MSI repository.

EngCom team, please confirm and transfer this issue to the https://github.com/magento/inventory/issues

Closing this issue

[2020-05-26 09:22] swathishs commented on #3059
Hi @agallart,2 all issue specific for MSI should be reported in the MSI repo

fyi: @sidolov @smoskaluk @sdzhepa

It seems this issue MSI specific and should be fixed in the MSI repository.

EngCom team, please confirm and transfer this issue to the https://github.com/magento/inventory/issues

Closing this issue

[2020-05-26 16:42] sidolov opened #3054 "Adapt composite product salability status after reservation was placed."
Connected to the https://github.com/magento/inventory/issues/3013

Currently, the index table does not contain actual information about composite product salability.

We decided to post an async message to the queue and recalculate status in the background process.

We need to add additional behavior to handle composite products during reservation processing:

- Get simple product SKU and find all

[2020-05-27 06:36] ajijshekh123 commented on #3062
@magento give me 2.4-develop instance

[2020-05-27 06:36] magento-engcom-team commented on #3062
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 06:37] magento-engcom-team commented on #3062
Hi @ajijshekh123, here is your [Magento instance](https://i-28325-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28325-2-4-develop.instances.magento-community.engineering/admin_e319](https://i-28325-2-4-develop.instances.magento-community.engineering/admin_e319)
Login: `b3dbe885` Password: `da1af70eb12a`
Instance will be terminated in up to 3 hours.

[2020-05-27 14:02] wallacehao commented on #3062
Hi Sir,
Can give me the ticket of Dev commit.
Thanks

[2020-05-28 04:41] swathishs commented on #3062
Hi @maharzan86,2 all issue specific for MSI should be reported in the MSI repo

fyi: @sidolov @smoskaluk @sdzhepa

It seems this issue MSI specific and should be fixed in the MSI repository.

EngCom team, please confirm and transfer this issue to the https://github.com/magento/inventory/issues

Closing this issue

[2020-05-28 04:59] maharzan86 opened #3060 "Product having zero salable quantity results in stock in product list page and out of stock in view page."
Preconditions (*)

    1. Magento 2.3.5-p1(MSI enabled)

Steps to reproduce (*)

    1. Create a simple product with qty = 1
    2. Place an order that will cause the product to have 0 salable quantity
    3. The Salable Quantity drops to zero, while the Quantity remains at 1.

Expected result (*)

    1. The product, having Salable Quantity 0, should display out of stock label in both product lis

[2020-05-28 05:05] maharzan86 commented on #3060
@magento give me 2.4-develop instance

[2020-05-28 08:13] itmsenior commented on #3058
I had logged a separate ticket on the MSI repo.
Will close that one as this one has more history.

[2020-05-28 08:14] itmsenior commented on #3041
Duplicate of #3058

[2020-05-28 08:14] #3041 closed, assigned to nobody

[2020-05-28 08:28] maharzan86 commented on #3060
@magento I want to check this issue in 2.4-develop instance. Provide me 2.4-develop instance.

[2020-05-28 19:44] TadeuRodrigues commented on #3059
hi, you can use 'rest/V1/inventory/get-product-salable-quantity/prova/2'

[2020-05-29 01:19] maharzan86 commented on #3062
@magento give me 2.4-develop instance

[2020-05-29 12:20] seansan opened #3065 "Disable reservations or reserve on source level || howto know the stock source allocation at invoicing"
### Description (*)
Currently stock is reserved from salable qty and the actual source deduction happens at shipping. This might be handy for merchants with external ERP/WMS ... but if you manage stock in Magento then this creates some problems for our process.

The problem here is that:

 - We need to know the stock source allocation at invoicing (or quote or order, but asap)
 - We want to know t

[2020-05-29 15:38] sidolov commented on #3060
Closed as duplicate for https://github.com/magento/inventory/issues/3062

[2020-05-29 15:38] #3060 closed, assigned to nobody

[2020-05-29 19:15] slanka-vsi commented on #2445
remove generators folder or
run bin/magento setup:di:compile first then bin/magento setup:upgrade resolve the issue

[2020-05-30 18:12] udittakwani commented on #3053
Same issue did you find any solution?

[2020-06-01 00:55] maharzan86 commented on #3062
@magento any updates on this ?

[2020-06-01 01:20] maharzan86 commented on #3062
@magento give me 2.4-develop instance

[2020-06-01 08:14] Puru2016 commented on #3053
I have created a record in `inventory_source_stock_link` table:-

![image_2020_05_23T15_47_44_009Z](https://user-images.githubusercontent.com/20985181/83389187-6ab50600-a40d-11ea-8fba-2d2eb71d7980.png)

Open and save product to update salable quantity in each product.

Hope that solution work for you.

[2020-06-01 09:29] udittakwani commented on #3053
Thank you so much it worked now assigned source is showing up but there is other issue now all my products are showing out of stock on front end even though they are showing in stock in backend

Is there any specific command i need to run after making changes in DB?

[2020-06-01 12:13] smoskaluk opened #3066 "Product not appears on category page when async Stock / Source indexer enabled"
### Preconditions (*)

1. Enable asynchronous Stock/Source reindex strategy in configuration
2. New Stock created with New Source assigned and with Main Website assigned as Sales Channel
3. Simple Product with inventory on new Source created

### Steps to reproduce

1. Do bin/magento cron:run twice

### Expected result (*)

1. Your Simple Product should presents on category page on frontend

### A

[2020-06-01 12:39] udittakwani commented on #3053
I figured it out doing re-indexing helped and now i am able to see everything perfectly thanks

[2020-06-03 16:28] #3066 closed, assigned to nobody

[2020-06-03 21:04] djacques4gorilla opened #3071 "Invalid carrier code?"
Hi,

I noticed the following carrier code in the new in-store pickup shipping method:
https://github.com/magento/inventory/blob/92c6817a5ba6bbc7be93092e25af8769c713311e/InventoryInStorePickupShippingApi/Model/Carrier/InStorePickup.php#L33

I believe the assumption that the underscore separates the carrier code from the method code exists in the logic, because I have seen custom carriers break afte

[2020-06-04 07:20] seansan commented on #2269
We have the same issue. Stock worked perfectly before reservations .. and is now leading to a lot of custom coding and uncertainty.

 1. How can we disable stock reservations?
 2. or how can we assign stock to a source location at quote/invoice moment instead of shipping?

[2020-06-04 08:46] qrz-io commented on #2269
@seansan completely agree with your points, it's so frustrating that the maintainers are just shrugging and saying "nah it's fine".

Take a look at our module for a starting point, it forces stock selection at order invoice rather than shipment, and strongly relies on an external system to do stock replenishment in case of returns.

edit: link to the module: https://github.com/AmpersandHQ/magento2

[2020-06-04 09:02] elburro1887 commented on #2269
I am also using the ampersand/magento2-disable-stock-reservation module, since the magento devs don't feel like this is an issue.

[2020-06-04 09:17] seansan commented on #2269
It should have been made an option

1. To turn on / off reservation

2. Or to select at which moment in time to allocate it to a source (reservations per source)

I want to elaborate a little more on this because there are many questions about this in the community. It is also witholding merchants from making the step to M2.

**Turn on / off reservation**

Ability to disable reservations completel

[2020-06-04 09:21] seansan commented on #2269
Sorry missed that : Completely my point ...

THis change is leading to tremendous impact now

[2020-06-04 11:28] secomm-dev opened #3072 "Product is oversold when multiple people purchase same product at the same time"
### Preconditions (*)

1. Magento 2.3.x
2. A product with QTY = 1, Saleable-QTY = 1
3. Any payment method, any shipping method
4. Any environment (standard LAMP following Magento recommendation)

### Steps to reproduce (*)

1. Multiple people add the product into cart. E.g. 10 people working on 10 different devices
2. Proceed to Checkout
3. Enter all required information: shipping address, shippin

[2020-06-04 12:18] smoskaluk commented on #3072
Hi @secomm-dev! This issue will be fixed by PR https://github.com/magento/inventory/pull/3046

[2020-06-04 14:47] smoskaluk commented on #3059
Hi @agallart! Please recheck MSI documentation to see that by design website as sales channel can be assigned to one stock only and stock items could not be different in different scopes

[2020-06-04 14:47] #3059 closed, assigned to nobody

[2020-06-04 18:58] #3013 closed, assigned to novikor

[2020-06-04 18:58] #3012 closed, assigned to nuzil, TadeuRodrigues, novikor

[2020-06-04 19:49] #3014 closed, assigned to novikor

[2020-06-05 09:43] smoskaluk commented on #3061
Hi @Jitheesh ! I can't reproduce your issue. Did you do re-index and cache flush after changing your configuration - out of stock threshold value?

[2020-06-05 13:09] alchats commented on #2269
We installed, configured, themed, and developed a 2.3.5 instance.
We also migrated about 30k products and put a lot of work in tweaking the content, before realising this MSI business and the catastrophic incompatibility with our ERP system and entire business model.
After considering AmpersandHQ's extension, I notice their warning about how both the inventory and cataloginventory_stock should be

[2020-06-05 13:26] Swahjak commented on #2269
@alchats as far as I'm aware of you can actually completely disable MSI and just go with the legacy stock. To give you an idea, we run with the following modules as "replace" in the composer.json (and rely on the 'old' cataloginventory to manage the stock):

[code]

[2020-06-05 15:16] vseager opened #3076 "Option to enable/disable stock reservations"
### Description (*)

This is a followup to #2269 . The original issue was implied that it is a bug and was closed on the basis that the current functionality was intended.

I would like to raise it again but this time as a **feature request** on the basis that there are many users who are running into problems with this when using warehouse and inventory management systems. Whilst the reservation

[2020-06-10 05:15] maharzan86 commented on #3062
@magento any updates on this ?

[2020-06-10 05:43] ankurvr opened #3079 "Not getting storepickup option on checkout because of wrong condition getting added in searchcriteria object."
### Preconditions (*)
1. Magento with 2.4-develop and Inventory with 1.2-develop
2. PHP 2.3
3. Environment: Ubuntu 18.04 / Mac 10.13.6
4. DB: MySQL 8.0.13

### Steps to reproduce (*)
1. Create 1 or more new sources with `Use as Pickup Location` option enabled in it.
2. Create new stock for default website using newly created sources
3. Assign products to newly created sources and add inventory in

[2020-06-10 05:46] ankurvr commented on #3079
@magento I am working on this

[2020-06-10 09:09] #2454 closed, assigned to nobody

[2020-06-10 11:48] alfonso-eusebio commented on #2269
This might be a bit off-topic, but I think it's still relevant enough...

What I've always found odd is that there is a single "switch" to either have Magento handle stock levels and product display logic, or do nothing at all with stock information: the Manage Stock switch.

In fact, I think the name is misleading because managing the stock (i.e. increase/decrease quantities, etc) doesn't have an

[2020-06-12 21:43] #3022 closed, assigned to nobody

[2020-06-13 10:36] gwharton commented on #2218
Fixed in 2.4

[2020-06-13 10:36] #2218 closed, assigned to nobody

[2020-06-15 17:27] #3071 closed, assigned to nobody

[2020-06-16 12:27] konrad-konieczny commented on #2522
looks like vendor/magento/module-inventory-reservation-cli/Model/SalableQuantityInconsistency/FilterManagedStockProducts.php still not fixed in new magento version, fatal error for numeric sku values

[2020-06-16 14:39] dverkade opened #3093 "Export product low stock notifications report not working"
### Preconditions
1. Magento 2.3.5-p1
2. MSI / Inventory enabled

### Steps to reproduce
1. Log in to admin panel. Go to Reports > Products >Low Stock
2. Locate "Export To" form, select CSV and click "Export"
3. An error message shows

### Expected result
1. Export will be created and downloaded

### Actual result
1. An error message shows

[code]

[2020-06-16 14:41] dverkade commented on #3093
This error is caused by the following code

[code]

It's looking for a child object in the following parent: `adminhtml.block.report.product.inventory.lowstock.grid` however that parent is never defaint in any other layout XML file, so it will not be able to find the child block, returning false in the `$exportBlock` variable. The next call will fail because it's expecting `$exportBlock` to be obj

[2020-06-17 13:29] maghamed opened #3094 "Inventory indexer triggers Price re-indexation"
[code]
[code]

The change was added in the scope of the Bundle product support story.
The existence of this plugin looks excessive and should be investigated. Dependencies between inventory and price indexes should be avoided.

[2020-06-18 01:15] Adel-Magebinary commented on #2727
this is a serious issue @magento-devops

[2020-06-18 10:05] mamsincl commented on #2362
Hi @magento-team

I know it is closed, but experiencing almost the same issue with 2.3.5

[code]
the order placed without any address data, according to class constructor only having issue with city

[2020-06-18 11:20] mamsincl opened #3095 "InventorySourceSelection Address model expects city to be string while it can be NULL"
Hi @magento-team

When placing order without any address data, we can invoice, ship but cannot refund

### Preconditions (*)

1. Magento 2.3.5

### Steps to reproduce (*)

1. make all fields on billing/shipping address on checkout page non mandatory
2. create an order on frontend with no shipping/billing detail at all
3. invoice, ship and refund

### Expected result (*)

1. Creditmemo can be creat

[2020-06-19 08:52] mamsincl commented on #3095
@magento I am working on this

[2020-06-22 12:35] seansan opened #3101 "Duplicate product, also duplicates msi stocj"
### Preconditions (*)
1. 2.3.5
2. create simple, set 3 sources, 1 source has qty 1
3. set backorders allowed via global config

### Steps to reproduce (*)
1. duplicate product 1 time
2. then duplicate the 2nd product also again

### Expected result (*)
1. 3 products, only 1st original product has stock

### Actual result (*)
1. All duplicated products have the same stock as product 1 whihc is very

[2020-06-22 13:18] zakdma opened #3102 "Configurable Product option is still displayed and available on Product view page after Place Order with full option qty"
### Preconditions (*)

1. Magento 2.4-develop Inventory 1.2-develop

### Steps to reproduce (*)

1. Create Configurable product with two options with qty of 10
2. Place order with any of the options with full of qty (10)
3. View the Configurable product on Product view page.

### Expected result (*)

4. Product with option that was ordered with full qty should be out of stock (option from the sele

[2020-06-22 13:51] seansan opened #3103 "Source selection algo based on prio not working in 2.3.5?"
### Preconditions (*)
1. MSI and 2.3.5
2. 3 sources, 1 source with prio 2, has qty 3
3. order 3 qty in order

### Steps to reproduce (*)
1. See above

### Expected result (*)
1. Goto ship and click SSA with option based on priority
2. Click next and continue work

### Actual result (*)
1. Logical source is selected and filled qith qty 3, but greyed out
2. cannot continue before selecting option in

[2020-06-22 15:05] adamzero1 commented on #2017
For anybody still experiencing this issue on fresh installs please see: https://magento.stackexchange.com/questions/315644/unable-to-apply-patch-magento-inventorysales-setup-patch-schema-initializewebsit/315645#315645

[2020-06-23 11:33] seansan opened #3106 "Ability to ship/source from multiple sources in 1 shipment"
### Description (*)
We have 3 sources in 1 stock. All 3 sources are local and I can walk there ... and pick the items. Source 1 is in our store wh, source 2 is in the large warehouse and source 3 is used for incoming items.

If our stock looks like this
source 1: 1
source 2: 1
source 3: 1
then salable qty = 3

An order comes in from 1 customer ordering the 3 last items. Now we cannot make 1 shipme

[2020-06-23 11:34] seansan commented on #3103
Error is #3106

Expectation was that source algo would source "over" all sources, 1 item from source 1, 2 items from source 2 etc

Now we are forced to create a shipment from 1 source only

[2020-06-23 11:37] seansan commented on #3076
+1 very important to turn off .... also the source selection then applies again directly upon sale allowing th admin to see "where" this product will be sourced from ... **in addition you can again show the customer information of where the item will be sourced from** its almost ridiculous that we have completely lost the ability to let customers know delivery times and sending locations and where

[2020-06-23 12:45] seansan opened #3107 "MSI Allow sources that are not salable() but do allow sourcing for shipping"
### Description

Currently the loop is not complete. When utilizing backorders when a customer orders from a source + backorder then the admin has to backorder the item. During this time the order cannot be shipped because there is not enough stock. This is correct.

When the item is received it is uploaded to some incoming source like "Incoming". The orders can then be shipped combining local sto

[2020-06-23 14:35] denniskopitz commented on #2269
We also have an integration to an ERP that provides "source of truth" inventory qty updates.  To be clear, this means that qty recieved from that system already respects reservations for the orders we have sent it.  Our solution is:

Add a plugin that **only** allows "order_placed" events into the magento reservations table (this enables magento to continue to provide accurate saleable qty between

[2020-06-23 16:01] regannoveske commented on #2269
@denniskopitz Thank you, this appears elegant and capable of handling our specific situation.  Thank you so much for sharing!!!!  Looking forward to attempting to deploy & test.

[2020-06-23 16:01] moogento commented on #2269
-- Please reply above this line --

Hey Magento/inventory,

We received your email! Someone from our team will get back to you as
soon as possible.

Thanks!

[2020-06-23 19:45] #3093 closed, assigned to nobody

[2020-06-23 20:54] denniskopitz commented on #2269
Glad to help.  Thanks for 👍

On Tue, Jun 23, 2020, 12:01 PM regannoveske <notifications@github.com>
wrote:

[2020-06-25 01:34] #2917 closed, assigned to nobody

[2020-06-25 16:56] #3095 closed, assigned to nobody

[2020-06-26 20:07] nuethicadam commented on #3062
Our clients are running into this issue and our site is not properly hiding out of stock products on catalog and search pages, leading to confusion from our customers.

[2020-06-29 11:57] seansan opened #3109 "Add returns processing logic to MSI"
### Description (*)
If a credit memo is created then MSI seems to do the following.
- If an order is not shipped then it just cancels the reservation
- If an order is shipped then it used the shipped from sources in the order (can be more than 1) and finds the one with the highest priority.
- Also all sources accept returns, which is not the case in real life

### Expected behavior (*)
- The user

[2020-06-30 13:15] seansan opened #3195 "Magento Out-of-Stock Threshold setting to 0"
There is some confusion on the design of the setting Out-of-Stock Threshold (related to backorders) especially around this setting having the value of zero. Backorders are enabled. There are 3 references to this setting and the value of zero.

Our assumption is that the 1st statement below should always be true when backorders are enabled. If the Out-of-Stock Threshold reaches 0 or is 0 or was set

[2020-06-30 17:17] regannoveske commented on #2269
@denniskopitz   I'd like to explore this further.  Can you please message me through https://www.linkedin.com/in/reganreneeengmanbell/

Thanks!

[2020-06-30 18:41] ecombricks commented on #3065
Also, product price, shipping costs, taxes may vary depending on a source. We have an implementation ready [https://ecombricks.com/advanced-msi.html](https://ecombricks.com/advanced-msi.html). In other words, this is a customer's source selector.

[2020-06-30 19:16] gwharton commented on #3195
If backorders are on and out of stock threshold is zero, that means unlimited backorders are allowed. If negative then it will only allow a certain amount to be backordered.

[2020-06-30 19:16] gwharton commented on #3195
I can't see a reason why you would set it positive

[2020-06-30 19:18] gwharton commented on #3195
If you don't want backorders then turn backorders off for that product, not set threshold to zero.

[2020-06-30 19:19] gwharton commented on #3195
The name of the setting could be improved in my opinion 😀

[2020-06-30 19:22] gwharton commented on #3195
If you have 2 in stock and set threshold to -20 then salable qty will be 22 and 22 can be sold.   If you set threshold to zero, salable qty will be 2 but unlimited items can be sold and salable qty will go negative as they are sold.

[2020-06-30 20:13] seansan commented on #3195
You don’t edit backorders settings on a 1 product basis. We manage 100.00+
products. You set it globally.

On Tue, 30 Jun 2020 at 21:18, Graham Wharton <notifications@github.com>
wrote:

[2020-06-30 20:16] seansan commented on #3065
Thanks. Does the link work?

After some more research: it is strange that the reservations table does
not include a source. It could even be of a backorders type.

Reservations should contain a planned source. During Shipping you may
override this. But in general is is important to know a source.

Think pricing. Shipping. Letting the customer know the delivery time.
Showing a warning.

On Tue, 30

[2020-06-30 21:12] ecombricks commented on #3065
By default, source code isn't known during the checkout / create order process. And therefore, there is no source to create a reservation on checkout finishing. The stock which can be determined by a website is assigned instead. Later, the administrator can assign sources during the create shipment process.

The link includes the extension screenshots and the user guide to illustrate a possible ap

[2020-07-01 08:14] smoskaluk opened #3110 "In Store Pickup delivery not available for order with Configurable product"
### Preconditions (*)

1. Enable  In Store Pickup delivery method in Admin Configuration
2. Create custom stock with custom active for In Store Pickup source and assign Main website
3. Create Configurable product with inventory on created source

### Steps to reproduce (*)

1. Add Configurable product to the shopping cart and proceed to checkout

### Expected result (*)

1. In Store Pickup deliver

[2020-07-01 11:23] iphigenie opened #3111 "Impossible to get sellable bundles with MSI in 2.3.4?"
This is a question as much as a "bug" report - it's likely this is all a consequence of the transitional status of MSI

UPDATED FOR CLARITY and new information

1. What tag/version of Inventory do I need to have installed on a 2.3.4 installation to have the most consistent bundle behaviour?

2. What are the real constraints for a bundle to be sellable if MSI is on, on both the bundle and its compo

[2020-07-02 11:47] ankurvr opened #3112 "The constant EARTH_RADIUS_KM needs to be public not private."
### Summary (*)
There is nothing private in that constant value so better making it public so it can be used in other extensions.

### Examples (*)
I would like to use it somewhere with different distance finding algorithm in my extension. Then i can't use the constant `EARTH_RADIUS_KM` because it's private.

### Proposed solution
Removing private scope of variable. So it can be accessed from anyw

[2020-07-02 11:48] ankurvr commented on #3112
@magento I am working on this

[2020-07-02 18:49] IbrahimS2 commented on #3102
Same problem here, it should check against Salable Quantity rather checking against Qty itself, thus causing a lot of misleading and costing businesses a lot of money!

[2020-07-03 07:42] smoskaluk opened #3115 "In Store Pickup delivery not available for order with Bundle product"
### Preconditions (*)

1. Enable  In Store Pickup delivery method in Admin Configuration
2. Create custom stock with custom active for In Store Pickup source and assign Main website
3. Create Simple product with inventory on created source
4. Create Bundle product with created simple as a child product

### Steps to reproduce (*)

1. Add Bundle product to the shopping cart and proceed to checkout

[2020-07-04 12:19] luongvm commented on #3111
I ran to this issue with the same finding as you: I'm not using the default stock & default source, my items are in stock in different stocks and the website is assigned to that stock. Individual products is fine but the bundle product disappeared. The only way to show them is to assign default stock/source to children products.

I was thinking this is a bug but now you say this is not implemented

[2020-07-06 15:30] smoskaluk opened #3116 "In Store Pickup order with Bundle product could not be notified"
### Preconditions (*)

1. Enable  In Store Pickup delivery method in Admin Configuration
2. Create custom stock with custom active for In Store Pickup source and assign Main website
3. Create Simple product with inventory on created source
4. Create Bundle product with created simple as a child product

### Steps to reproduce (*)

1. Place order with created Bundle product
2. Click button 'Notify

[2020-07-06 19:46] iphigenie commented on #3111
Hi @joturako

It's not implemented but a workaround is - it's just not documented. For example the logic around the indexes

Once you line things up just so it works, bundles can be bought and the stock of the components is handled fine on shipping

I made a clone of my site end of June and the way it was then, a bundle was in stock happily with none of the products needing to be in the default st

[2020-07-06 20:02] iphigenie opened #3118 "Inventory doesn't "follow" when SKU changes, making products disappear"
### Preconditions (*)

Tested on my instance of 2.3.4 with inventory release 1.1.4 from january
Site with MSI enabled
Products

### Steps to reproduce (*)

Add stock to the products, save, index, check that all is right with these products

Change the product sku, save

reindex etc.

### Expected result (*)

Stock entries should be updated for the new sku
Product should remain in stock and working

[2020-07-06 20:10] iphigenie commented on #3118
Clearly if you are going to use a changeable - in your own setup sku can change, id cannot - value like SKU as a key in your tables, then you need to have either foreign keys and cascade changes OR you need an Observer on product save for sku change as well as for stock change.

[2020-07-06 21:18] sidolov commented on #3112
Hi @ankurvr , the reason to make this constant private was to avoid coupling between objects and dependencies between different modules, also such approach makes it impossible to use inheritance for the constant and we highly recommend using composition during development instead of inheritance. If you need similar constant in your extension - please define it in your implementation as well.

I'm

[2020-07-06 21:18] #3112 closed, assigned to ankurvr

[2020-07-07 11:37] iphigenie commented on #3111
updated for clarity with:

my old bundles (migrated via data migration tool) show on the site, (some don't, but thats sku changes i think). All show out of stock until I make a lot of contorsions with the component products such as putting them in default stock. That didnt use to be the case. These bundles that show as "out of stock" on the website are totally fine being sold in admin. No stock wa

[2020-07-07 11:40] iphigenie commented on #3111
_updated for clarity with_

It's really unclear what the current "normal behaviour" should be

What master tables should a product appear in,  with which data, to show as sellable?

I think it is both cataloginventory_stock_item and inventory_source_item which feed their respective indexes, is that even right? any other?

I thought inventory_source_item should be pushing changes to cataloginventor

[2020-07-07 13:59] iphigenie commented on #3111
Tested on a clean 2.3.4 with sample data

1. added 2 sources
2. assigned new sources to a new stock for the website
3. moved all stock from default to one of the new sources

reindex, clean caches

the one bundle product on the site doesnt show anymore

[2020-07-07 14:02] luongvm commented on #3111
Thats how it is with clean install of 2.3.5-p1

[2020-07-07 14:15] iphigenie commented on #3111
Looking further:

- grouped products don't appear in the inventory_source_item but they then do appear in the index (on my instance they are in the inventory_source_item table, maybe they shouldnt be)

- bundle isn't appearing in either

I can call the bundle direct, and it is "out of stock"

[2020-07-07 14:50] iphigenie commented on #3111
There must be a way to make it work, since people are reporting issues like "bundle appears in stock even though it shouldnt" ;)

[2020-07-07 16:26] iphigenie commented on #3111
I got that demo data sprite ball to be in stock - manually that is! @joturako

neither the bundle nor component products are put in the default stock. So it is possible.

main tables:
- components appear in inventory_source_item only for live sources, with real stock numbers
- components are in the cataloginventory_stock_item with is_in_stock=1 everything else default. stock is 0
- bundle is in th

[2020-07-07 18:12] #3116 closed, assigned to nobody

[2020-07-08 12:09] patelnimesh1988 opened #3121 "Order Id Missing in inventory_reservation table"
### Preconditions (*)

1. Magento Inventory 1.2
2. MSI enabled

### Steps to reproduce (*)

1. I added 2 to 3 sources and each has QTY more then 10. When I try to place order it placed successfully but I did not found order id in **inventory_reservation** table.

### Expected result (*)

1. Order id must be save in **inventory_reservation** metadata column
2. ![NeedResultOrderIdMissiingInInventory

[2020-07-08 14:11] #3110 closed, assigned to nobody

[2020-07-08 14:12] #3115 closed, assigned to nobody

[2020-07-10 13:00] maderlock commented on #2269
I've been pretty surprised by this approach by MSI - you've considered multiple scenarios, really? How then was your conclusion that everyone should work with reservations?

We need multiple stock but without the two-versions-of-the-truth introduced by reservations. The Ampersand module looks like a way to save ourselves a lot of headaches!

[2020-07-10 14:25] seansan commented on #2269
Hi rob. Ampersand has a not a complete solution in my opinion. One of the
strange problems is that the front end (or any other channel) does not know
where the sale is being made from.
The simplest msi solution should just offer multi stock. Much in the same
way as it was devised for M1 (where it was never completed)

On Fri, 10 Jul 2020 at 15:01, Rob Egginton <notifications@github.com> wrote:

[2020-07-13 17:22] regannoveske commented on #2269
I think reservations should be handled on a case-by-case basis depending on the client's configuration.  In our case, since our single POT is synchronized once daily, we need stock to be reserved/managed between synchronizations and wholly ignored for shipping fulfillment. Each use case may have it's own solution.

For us however, the ampersand module is not a viable solution. We tested it, and fo

[2020-07-13 17:29] helmsmantest opened #3127 "Command inventory:reservation:list-inconsistencies gives fatal error"
### Preconditions (*)
Magento version 2.3.5-p1

### Steps to reproduce (*)

1. After migration we've got product with the following SKU "702675"
2. I'm getting fatal error when I'm trying to check product's compensations (by running bin/magento inventory:reservation:list-inconsistencies)

### Expected result (*)

Get all necessarry data about product's stock
Order [order inc ID]:
  - Product [prod

[2020-07-13 18:56] Stepa4man commented on #3127
Hi, @helmsmantest
thanks for report
Already fixed in https://github.com/magento/inventory/pull/2912
And looks like it should be in 1.1 and 1.2 packages.

Please make sure you have latest updates from inventory.

[2020-07-13 18:56] #3127 closed, assigned to Stepa4man

[2020-07-14 12:05] VasylShvorak opened #3133 "Visual swatch attribute option of Configurable product on addtional stock is visible after order placement with all it's quantity"
### Preconditions (*)

1. Magento EE 2.4.0-beta2
2. Additional source is created
![image](https://user-images.githubusercontent.com/26908019/87422425-4d18b600-c5e1-11ea-88dc-9641793b7eff.png)
3. Additional stock is created
![image](https://user-images.githubusercontent.com/26908019/87422525-71749280-c5e1-11ea-97c7-0407079c0496.png)

### Steps to reproduce (*)

1. Create configurable product with P

[2020-07-15 15:44] VasylShvorak commented on #3133
Closed as issue was caused due of misconfiguration

[2020-07-15 15:44] #3133 closed, assigned to nobody

[2020-07-19 14:56] novikor opened #3140 "IsProductSalable/AreProdustsSalable composite products support."
### Description (*)
Currently, `IsProductSalable`/`AreProdustsSalable` services do not support bundle and configurable product types.

The relevant logic should be moved from `Magento\InventoryBundleProduct\Plugin\CatalogInventory\Helper\Stock\AdaptAssignStatusToProductPlugin` and `Magento\InventoryCatalog\Plugin\CatalogInventory\Helper\Stock\AdaptAssignStatusToProductPlugin`
### Expected behavior

[2020-07-19 15:21] novikor opened #3141 "Salability status is recalcuated for the whole cart on update."
### Preconditions (*)
1. Regular Magento setup.

### Description
At the moment, when a new product is added to cart or item QTY  is updated, salability status is being recalculated for each item that can lead to dramatic performance degradation issues for shopping carts with many items - for example for B2B customers.

### Steps to reproduce (*)
1. Add item to cart;
2. Update QTY and measure time

[2020-07-21 13:06] DigitalStartupUK commented on #3127
@Stepa4man At what point will these changes it make it over to M2?

[2020-07-21 13:48] Stepa4man commented on #3127
Hi @DigitalStartupUK , thanks for the question.

I just checked it out. I don't see this in any released version. So most probably it will appear with the next release.

In case if you don't want to wait you can get [patch](https://patch-diff.githubusercontent.com/raw/magento/inventory/pull/2912.diff)
And apply it to your project. So you can solve it till the next update

UPDATE: Link to the patch

[2020-07-22 09:45] maharzan86 commented on #3062
@magento any updates on this?

[2020-07-22 10:01] maharzan86 commented on #3062
@magento can you provide me 2.4-develop instance as I need to check this issue in 2.4-develop branch.

[2020-07-22 20:57] sidolov commented on #2990
Fixed in scope of https://github.com/magento/inventory/pull/3034

[2020-07-22 20:57] #2990 closed, assigned to nmalevanec

[2020-07-22 20:57] sidolov commented on #2991
Fixed in scope of https://github.com/magento/inventory/pull/3034

[2020-07-22 20:57] #2991 closed, assigned to nmalevanec

[2020-07-22 20:58] sidolov commented on #2994
Fixed in scope of https://github.com/magento/inventory/pull/3034

[2020-07-22 20:58] #2994 closed, assigned to nmalevanec

[2020-07-22 20:58] sidolov commented on #2997
Fixed in scope of https://github.com/magento/inventory/pull/3034

[2020-07-22 20:58] #2997 closed, assigned to nmalevanec

[2020-07-24 08:27] mathula2504 commented on #3093
Still I also face this issue in magento 2.3.5-p1. Can anyone help me?

[2020-07-27 13:47] Pr00xxy opened #3147 "Unreleased bug fix causing fatal error"
### Description

Pull request https://github.com/magento/inventory/pull/2912 fixed type error bug causing fatal errors.

however no release addressing this issue has been created.

Release 1.1.5 was created shortly after the merge of this fix.

Tag [1.1.5](https://github.com/magento/inventory/blob/610b63244bb0fc1d72a87ee0fbd14b46f6915622/InventoryReservationCli/Model/SalableQuantityInconsistency/F

[2020-07-29 14:44] sidolov commented on #3147
Hi @Pr00xxy , you are right, the mentioned fix will be included in the upcoming 1.1.6 release.
I'm closing the issue since it's already fixed.

[2020-07-29 14:44] #3147 closed, assigned to nobody

[2020-07-29 17:29] smoskaluk opened #3149 "Low stock report doesn't display Configurable product options"
### Preconditions (*)

1. Set 'Notify for Quantity Below' threshold  = 10 in Configuration in Admin
2. Create Configurable product with option's quantity =  5

### Steps to reproduce (*)

1. Open in Admin: Reports -> Low stock

### Expected result (*)

1. Configurable options should be displayed in Low Stock report

### Actual result (*)

1. Configurable options are not displayed in Low Stock repo

[2020-07-30 14:18] itmsenior opened #3150 "Cannot create shipment via the API"
### Preconditions (*)

1. Magento 2.3.5-p2
2. MSI 1.1.5

### Steps to reproduce (*)

1. Create simple product in admin with manage_stock = 1
2. Order product
3. Attempt to ship order via shipment API (salesShipOrderV1)

### Expected result (*)

1. Shipment is created

### Actual result (*)

1. Shipment is not created with the following error shown: Could not save a shipment, see error log for deta

[2020-07-31 21:14] sidolov commented on #2625
Dependencies are reviewed and look good. Closing as not relevant

[2020-07-31 21:14] #2625 closed, assigned to nobody

[2020-08-03 17:26] smoskaluk opened #3153 "No order inconsistencies were found if delete reservation for shipment"
### Preconditions (*)

1. Create simple product with inventory on custom Source and Stock

### Steps to reproduce (*)

1. Make order with simple product and then shipped it,  two reservations created - negative for placing order and positive for shipment.
![image](https://user-images.githubusercontent.com/27818516/88706868-1f238d80-d11a-11ea-9a03-97fb63f7ac15.png)

2. Delete reservation for shipme

[2020-08-04 01:19] #3121 closed, assigned to patelnimesh1988, o-iegorov

[2020-08-04 06:38] wexo-team opened #3155 "Out of stock products are not rendered with prices"
### Preconditions (*)

1. Magento 2.3.5-p1 with magento/inventory-composer-metapackage version 1.1.5 (module-inventory, 1.0.8)

### Steps to reproduce (*)

1. Configurable products that are out of stock
2. The setting "show out of stock products" = yes (config path "cataloginventory/options/show_out_of_stock")

### Expected result (*)

That the products are visible and shown with price

### Actual

[2020-08-05 16:26] mbrinton01 commented on #3018
When a fix is made for this issue, PR needs to cover adding product to wishlist from all possible locations:

- Product detail page
- Category page
- Cart

[2020-08-06 18:33] iphigenie commented on #3111
@magento give me 2.4-develop instance

[2020-08-07 08:24] iphigenie commented on #3111
@magento I am working on this

[2020-08-07 08:25] iphigenie commented on #3111
@magento add to contributors team

[2020-08-07 08:25] iphigenie commented on #3111
@magento add to contributors team

[2020-08-07 08:27] iphigenie commented on #3111
@magento give me 2.4-develop instance

[2020-08-07 08:27] iphigenie commented on #3111
@magento I am working on this

[2020-08-08 02:20] thai2301 commented on #2413
any update on this ?

[2020-08-10 13:56] smoskaluk commented on #3118
Hi @iphigenie ! This issue fixed by https://github.com/magento/inventory/pull/2795, please have a look.

[2020-08-10 13:56] #3118 closed, assigned to nobody

[2020-08-10 15:39] smoskaluk opened #3162 "Refactor MFTF tests which using SourceCode for source search"
Quick search (by keyword) in Sources grid  or during assigning sources to product doesn't work with source code.
![image](https://user-images.githubusercontent.com/27818516/89800923-18dcda80-db38-11ea-9817-f9408294af6a.png)
 MFTF actionwords like AdminAssignSourceToProductAndSetSourceQuantityActionGroup use search by souce code, what is wrong, they must be refactored to use argument 'Source name'.

[2020-08-11 07:43] smoskaluk opened #3164 "MFTF test coverage customer notification for pickup orders with complex products"
Cover these test scenarios with MFTF tests:
https://studio.cucumber.io/projects/69435/test-plan/folders/1063873/scenarios/4934275
https://studio.cucumber.io/projects/69435/test-plan/folders/1063873/scenarios/4934154
https://studio.cucumber.io/projects/69435/test-plan/folders/1063873/scenarios/4934156

[2020-08-11 09:03] seansan opened #3165 "MSI setting that prevents negative salable qtys (or some kind of correction process)"
### Description (*)
Sometimes on a live system the salable qty goes under 0 (negative). This is an impossible situation and can occur when working with both if not all: MSI multiple sources. stocks, backorders enabed and stock feed import from remote systems. IN addition there may be code updates, syste restarts. Data inconsistencies just sometimes occur. My intention is not to discuss if the situ

[2020-08-11 09:24] seansan opened #3166 "MSI Source support for flags that control "can ship from source" and "accepts returns""
### Description (*)
To date the MSI project has added a lot (I even read somewhere it is 30% of all core code?) ... good work. In our M1 system we have been using several multistock solutions and kind of learned along the way. One of the things however we are missing in M2 MSI is that currently a warehouse can be either enabled/or not ... on and off. In essence this influences the salabilty. Can t

[2020-08-11 13:24] AAbitar commented on #3076
+1
The stock reservation prevents, that a completed shipping can be set to be shipped (complete) via API.
Most orders remain "processing" and i also can not set it in the backend manually.

Manage Stock = True (is_in_stock)
Decrease quantities = False (unlimited quanitites)

(German backend)
[2020-07-24 13:55:13] main.CRITICAL: Die Sendung konnte nicht gespeichert werden. {"exception":"[object] (M

[2020-08-12 19:22] #3164 closed, assigned to smoskaluk

[2020-08-13 07:41] m2-assistant[bot] opened #3169 "[Issue] In store pickup intersection search graphql"
This issue is automatically created based on existing pull request: magento/inventory#3161: In store pickup intersection search graphql

---------
### Description (*)
Add support of intersection assignment filter for GraphQl endpoint.
Add functional tests coverage.

Request for GraphQl schema changes: https://github.com/magento/architecture/pull/419

### Contribution checklist (*)
 - [ ] Pull requ

[2020-08-13 13:54] usman786cs commented on #3062
Hi all

Our customers are facing this issue which is really affecting our sales.
Any update on this lads.

[2020-08-13 13:54] usman786cs commented on #3062
@maharzan86  did you find any solution of this

[2020-08-13 17:40] TadeuRodrigues commented on #3155
@magento I am working on this

[2020-08-14 05:39] maharzan86 commented on #3062
@usman786cs not yet I'm stuck in this issue. Magento is not responding in this issue...

[2020-08-15 18:31] Renu05 commented on #3172
Hi @iosos-excel ,

I have tested in Vanilla Magento 2.3.4  . I am able to reproduce the above said error.

**Steps Followed :**
I have added bundle product in cart which contains both virtual product and simple product and dynamic price is set to No.
After successful order place when i am trying to create a invoice for this order i am getting the error.

**Got Following error** :

[2020-08-17 19:21] sdzhepa commented on #3172
Due to the description and discussion under
This issue seems related to [Magento Inventory Project (a.k.a MSI)](https://github.com/magento/inventory)
Transfer this issue into https://github.com/magento/inventory/issues

[2020-08-18 16:03] jrosell commented on #2715
I think it should be possible to disable all Magento_Inventory* modules without having to include this lines or at least should be documented here: https://devdocs.magento.com/extensions/inventory-management/#disable-inventory-management

[2020-08-24 07:05] lokeshvnaik commented on #3062
I had also raised the similar issue here https://github.com/magento/magento2/issues/27460. But they tested it on wrong environment i.e. on 2.4 instead of 2.3 and then closed it

[2020-08-25 14:26] AddyAhmed commented on #2522
@albsa Where you able to find the cause/resolve this issue? If so, do you mind sharing the solution please.

[2020-08-27 04:33] JithinJay commented on #3062
Hi everyone I am also facing a similar issue, we are using  Magento stock update API to update our stock and the issue occurs on configurable products, the child product qty is set correctly by Magento but the parent item qty is set wrong and sometimes 0 / not saleable resulting in out of the stock issue, on further investigation, I find that something is going wrong on the function: `executeList`

[2020-08-27 07:28] usman786cs commented on #3062
Looks like this issue is not yet fixed.
I fixed this issue by
Magento\InventorySalesAdminUi\Model\GetSalableQuantityDataBySku
class.
We need to pass product sku to get stock info and for specified stock we can get salable qty.

Hope this will help.

[2020-08-27 23:33] bubasuma commented on #3018
Internal Magento team is working on this issue right now.

[2020-09-01 13:14] vmartins opened #3177 "Create compensations command error: Call to a member function getEntityId() on bool"
### Preconditions (*)

1. Migrated from Magento 1.9.3.8 to Magento 2.4.0
2. Migration caused inventory [inconsistencies](https://devdocs.magento.com/guides/v2.4/inventory/inventory-cli-reference.html)

### Steps to reproduce (*)

1. Upgrade from 1.9.3.8 to 2.4.0
2. Run the command to [create compensations](https://devdocs.magento.com/guides/v2.4/inventory/inventory-cli-reference.html#create-compen

[2020-09-01 14:58] sidolov commented on #3177
@vmartins it's a known issue, it was fixed in scope of PR: https://github.com/magento/inventory/pull/3144 and will be available with 2.4.1 release. I'm closing the issue since it's already fixed. Thank you for your report!

[2020-09-01 14:58] #3177 closed, assigned to nobody

[2020-09-01 17:15] gwharton opened #3178 "Backorders are no longer taking into account Order Reservations when determining backorder Qty."
### Preconditions (*)

1. 2.4.0 with MSI

### Steps to reproduce (*)

1. Create test product in test category with 2 in stock, backordered enabled with notify.
3. Go to frontend test category and purchase 3 of the item.
4. Ensure backorder message stating 1 needs to be backordered is displayed to customer
5. Go to frontend test category and purchase 2 of the item.
6. Ensure backorder message stati

[2020-09-01 17:30] #3178 closed, assigned to nobody

[2020-09-02 11:01] gwharton opened #3180 "Backorders not recorded properly in sales_order_item when product is not assigned to default source"
### Preconditions (*)

1. 2.4.0 with MSI

### Steps to reproduce (*)

1. Create Test Source
2. Create Test Stock, assigning to "Main Website" and assign Test Source
3. Create Test Product, assign to test source leaving qty 0. Do not assign to default source at the stage. Advanced Inventory, set allow backorders with notify.
4. Go to Frontend test products webpage
5. Add 5 to cart and purchase (Che

[2020-09-02 13:49] gwharton opened #3181 "Backorder amount recorded in sales_order_grid does not take into account reservations."
### Preconditions (*)

1. 2.4-develop with MSI

### Steps to reproduce (*)

1. Deploy 2.4-develop with MSI
2. Create Test product. 10 in stock, backorders enabled with notify.
3. Go to frontend. Purchase 6 items. Ensure no backorder message is displayed.
4. Go to frontend. Purchase 6 items. Ensure backorder message is displayed saying 2 needs to be backordered.
5. Go to frontend. Purchase 20 items

[2020-09-03 06:33] wexo-team commented on #3155
@TadeuRodrigues thanks for starting work on the issue. Any progress yet? Do you have any thoughts on what release it might be introduced in?

[2020-09-03 11:42] gwharton commented on #3181
Note that https://github.com/magento/magento2/pull/29881 will simplify the fix of this issue.

[2020-09-03 11:43] gwharton commented on #3180
Note that https://github.com/magento/magento2/pull/29881 will simplify the fix of this issue.

[2020-09-09 14:17] #3018 closed, assigned to FrankStappers, bubasuma

[2020-09-10 16:43] Uncover-Commerce opened #3184 "Stores do not show up when searching for city/postcode. [In-Store Pickup]"
### Preconditions (*)

1. Magento ver. 2.4.0

### Steps to reproduce (*)

1. Make sure in-store pickup locations have been added
2. Add product(s) to cart and proceed to checkout
3. Select in-store pickup delivery method
4. Enter a postcode or city

Note: This was also tested using the /swagger page

### Expected result (*)

1. A list of locations within the set radius of the given city or postcod

[2020-09-11 09:58] swnsma commented on #3184
Hi @Spectre-Creative!
Thank you for your report!

Could you please clarify:
1.  Which algorithm is used for distance search? (Bo -> Stores -> Config -> Catalog -> Inventory -> Distance Provider for Distance Based SSA -> Provider)
2. If you are using Google Map, is there correct API Key in place?
3. If you are using Offline calculation, have you imported geonames with command _inventory-geonames:im

[2020-09-14 14:53] Uncover-Commerce commented on #3184
Thanks for getting back to us @swnsma - Sorry for the delay.
Using the Google API, which has helped us narrow this down as the Google Console is showing the 4xx errors for every attempt. But they do not show the error messages.

The console.log on the Magento site front-end does not show the Google API error response message either. Is there a log file these error responses get placed? I tried loo

[2020-09-15 19:31] HenKun commented on #2522
Is there any open issue for this bug?

[2020-09-17 02:29] haiwera-silk-cd opened #3187 "Incorrect link between catalog_product_entity and catalog_product_super_link while indexing inventory of configurable products"
Hi, After an importing operation, I accidentally find that the row_id and entity_id in product tables have been differentiated. I believe that was a feature which Magento does support, however when I synchronized a batch of inventory data of these products that have different row_id and entity_id from a external endpoint, I found a very weird issue that one product has been updated by the indexer

[2020-09-17 16:17] zainison opened #3188 "can someone help me im stuck with. the installation on magento 2.4 thank you"
![Screen Shot 2020-09-17 at 7 12 02 PM](https://user-images.githubusercontent.com/14095296/93498308-4dec0200-f91a-11ea-8cc5-4494e4b723d9.png)

[2020-09-17 16:38] zainison commented on #3188
@magento I am working on this

[2020-09-18 04:04] bap14 commented on #2522
Doesn't seem that there's an internal ticket for this issue.

We ran into this when we had products with all numeric SKUs and this error cropped up. Seems that for some reason all numeric SKUs are being interpreted as an integer at some point. Casting them to a string when calling the `execute` function resolves this particular issue.

I applied the same changes that @moderncodes posted [here](htt

[2020-09-18 15:15] sumeetmagento commented on #3062
@maharzan86  Are you able to solve this issue?
Actually we are also facing this type of issue on Magento 2.3.5
Does anyone know how to solve this any patch available?
@usman786cs can you please explain via steps so that we also know how to do?
thanks

[2020-09-18 18:48] TadeuRodrigues commented on #3155
@wexo-team not yet but i gonna have a release so soon (this week, I will text you)

[2020-09-22 12:11] lucenarenato commented on #3185
Thank you!

[2020-09-23 07:39] maharzan86 commented on #3062
@sumeetmagento Sorry to say not yet. :(

[2020-09-23 07:47] sumeetmagento commented on #3062
@maharzan86
okay

[2020-09-25 12:30] kunzi opened #3194 "How to update to 1.1.5 in M2.3.3?"
Is there a way to upgrade inventory-composer-metapackage to 1.1.5 in M2.3.3?

`composer require magento/inventory-composer-metapackage:1.1.5`

Throws this:

[code]

[2020-09-25 14:10] seansan commented on #3195
?????

The issue is very clear, we spend time to log it

Please no robot emails !!!

[2020-09-29 13:04] Uncover-Commerce commented on #3184
Well we managed to get the response from Google's API showing using the "vendor/magento/module-inventory-distance-based-source-selection/Model/DistanceProvider/GoogleMap/GetGeoCodesForAddress.php" file and outputting after line 94.

But the same problem exists. All stores show when we begin typing in the input and then delete all characters. But when searching for city/post-code, no stores are sho

[2020-09-29 14:58] swnsma commented on #3184
Hi @Spectre-Creative!
Sorry for delay.

The reason why you can see a full list of the Stores is because we are showing all available stores if nothing found near customer address or customer is a guest.
May I ask you to check latitude/longitude values in your Pickup Locations (Sources)?
If you have not received a valid response from Google's API, maybe latitude/longitude did not save in your Picku

[2020-09-29 18:13] tcmax76 opened #3198 "Checkout: Clicking Shipping tab works, but then refreshes back to In-Store Pickup tab"
### Preconditions (*)

1. Magento 2.4.0
2. Braintree by PayPal installed
3. Categories populated with products
4. Custom stock and source created to use one source with in-store pickup -- all items migrated to that stock and source.

### Steps to reproduce (*)

1. Visit site as guest.
2. Navigate to category page.
3. Add product to cart.
4. Open mini-cart and click proceed to checkout.
5. On check

[2020-09-30 07:49] #3169 closed, assigned to swnsma

[2020-09-30 12:11] m2-assistant[bot] opened #3200 "[Issue] Composite products support for IsProductSaleable."
This issue is automatically created based on existing pull request: magento/inventory#3088: [WIP] Composite products support for IsProductSaleable.

---------

### Description (*)
Composite products support for IsProductSalable.

### Fixed Issues (if relevant)

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits are accompanied by meani

[2020-09-30 12:28] novikor opened #3201 "Load product salability data on-demand"
**Can and must be delivered together with  #3243: Product Salability Improvements branch**

### Summary (*)
Product salability data should not be loaded every time on product load, on-demand only.
See `\Magento\CatalogInventory\Observer\AddInventoryDataObserver.`

### Examples (*)
- Current behavior can lead to performance degradation;
- It is required change to resolve #3200: Composite products s

[2020-09-30 12:32] #3200 closed, assigned to novikor

[2020-09-30 16:01] Uncover-Commerce commented on #3184
The last piece of the puzzle was indeed the latitude/longitudes either had wrong values or empty.
Thank you so much for responding to help out. Much appreciated 👍

[2020-10-01 12:18] engcom-Oscar opened #3204 "Products not assigned to current stock displaying on category page if 'Display out of stock products' enabled"
### Preconditions (*)

1. Magento 2.4-develop with Inventory modules enabled
2. In Admin -> Configuration -> Catalog -> Inventory -> Stock options enable 'Display Out of Stock Products'

### Steps to reproduce (*)

1. Create stock with custom source but not assign to any website
2. Verify that Default stock assigned to default source and Main Website
3. Create product and set qty > 0 and status 'I

[2020-10-02 01:12] maharzan86 opened #3206 "setup:upgrade command revert the Product salability status to previous state."
### **Preconditions (*)**
1. Magento 2.4.0(MSI enabled)
### Steps to reproduce (*)
1. Create new stock as Stock-A
2. Also create 3 sources as Store-1, Store-2, Store-3
3. Now, create a configurable product with simple product having Store-1 qty = 1
4. Assign 3 sources to that simple product
5. Place an order that will cause Store-1 to have 0 salable quantity
6. The Salable Quantity drops to zero,

[2020-10-02 08:53] maharzan86 commented on #3206
**I have upgraded from 2.4.0 to Magento2.4.1.**
The tested products are simple, configurable, bundle and grouped.
As per the testing in 2.4.0, the outcome of test results in 2.4.1 are same. The inventory_stock_3 table is changed during either indexer:reindex or setup:upgrade following the [out of stock] products are shown as [in stock] in both the product list and view page.

### Before indexer:re

[2020-10-05 18:56] bap14 commented on #2522
According to Magento, this has been fixed in MSI 1.2 which is compatible with Magento 2.4. So if you're using Magento < 2.4 you will need to apply the patch.

[2020-10-05 23:53] haiwera-silk-cd commented on #3187
Did anyone review on this? please give me some reply, thank you. @magento-team

[2020-10-05 23:59] maxlussier opened #3209 "Unable to select a store using pickup-location-services.js::getLocation(sourceCode)"
### Preconditions (*)
1. Magento 2.4.0 Commerce Edition without sample data installed
2. Magento Inventory Metapackage 1.2.0 installed with sources, stock and channels configured

### Steps to reproduce (*)

1. Call the getLocation(sourceCode) method of `Magento_InventoryInStorePickupFrontend/js/model/pickup-locations-service`:

Example of call:
[code]

### Expected result (*)

1. The API request

[2020-10-06 13:33] riconeitzel commented on #1544
witzig, wen man auf seiner suche nach issues so findet @rofthedeep  😄 👋🏻🤚🏻👋🏻🤚🏻👋🏻🤚🏻

[2020-10-06 13:47] rofthedeep commented on #1544
@riconeitzel :) wir haben es dann so gelöst, dass wir die Datenbank nicht mehr automatisch syncronisieren, sondern nur noch nach Bedarf per Robo Script ... eine wirkliche Lösung haben wir aber nicht gefunden ...

[2020-10-06 20:41] ahsan-horani-reviver commented on #3172
Is there any update on this issue? I am still facing this issue in Magento 2.3.2 @sdzhepa @magento-engcom-team

[2020-10-07 05:27] MBansode commented on #3062
Hi @usman786cs
Facing the same issue on Magento 2.3.5-p2, could you please explain the steps to fix this issue.
Thanks!

[2020-10-08 13:03] iphigenie commented on #3206
First question therefore is which of these is wrongly returning true to the reindex query?

` (legacy_stock_item.use_config_backorders = 0 AND legacy_stock_item.backorders <> 0 AND (legacy_stock_item.min_qty >= 0 OR legacy_stock_item.qty > legacy_stock_item.min_qty)) `

`((legacy_stock_item.use_config_manage_stock = 0 AND legacy_stock_item.manage_stock = 0)) `

`((legacy_stock_item.use_config_min_

[2020-10-08 15:59] iphigenie commented on #3206
Very quick testing on a vanilla magento with demo data

- create two sources, one stock, associate to website
- move stock from default to one of the sources
- pick one configurable product (I used MJ01), remove most of the variant stock, leaving a few
- create an order that buys that stock
- refresh, indeed the product is out of stock, and the inventory_stock_2 table shows correct content
- run i

[2020-10-08 16:04] iphigenie commented on #3111
I never solved this, just reverted to putting a small amount of inventory for each component of a bundle IN the default stock.

2.4 changes things and this problem I think does not happen there

[2020-10-08 20:19] tcmax76 commented on #3198
I believe we've figured out what was causing this. On checkout, when we'd click on the Shipping Tab, the In-Store Pickup shipping method radio button was being selected by default in Shipping Methods because there were no other valid shipping methods available at the time, so it was redirecting back to the Pick in Store tab.

This was due to a setting in Amasty Table Rates -- a 3rd party extension

[2020-10-11 23:43] rodrigopeters opened #3271 "table rate and in-store delivery issues"
### Preconditions (*)

1. Magento 2.4
2. Ubuntu 18
3. MariaDB 10

### Steps to reproduce (*)

1. Enable Table Rate shipping method at Admin
2. Enable In-Store Delivery at Admin
3. Open frontend and add products to shopping cart
4. Click at "Proceed with Checkout" button
5. Checkout shipping shows In-Store Delivery page
6. Click at Shipping button to change shipping method

### Expected result (*)

[2020-10-12 11:37] ajijshekh123 commented on #3271
Hi, @rodrigopeters,
I have enabled the Table rate and In-Store Delivery Shipping method in the admin configuration but the "In-Store Delivery" Shipping method is not showing on the checkout page.
See attached the screenshot:
![image](https://user-images.githubusercontent.com/24711761/95742235-4ddaea00-0cad-11eb-9383-1a09cb6644f9.png)

![image](https://user-images.githubusercontent.com/24711761/957

[2020-10-12 11:54] ahsan-horani-reviver commented on #3172
Finally addressed this issue. Solution: https://magento.stackexchange.com/a/324163/21432

[2020-10-12 12:05] rodrigopeters commented on #3271
You need to follow magento documentation to set-up In-Store Delivery with a Google Matrix API account and store location. You can check in this video that every time you click on Shipping button it goes back to In-Store Delivery
[issue 30447.zip](https://github.com/magento/magento2/files/5364985/issue.30447.zip)

[2020-10-12 12:09] ajijshekh123 commented on #3271
Okay @rodrigopeters, Thanks for the Update.

[2020-10-12 13:51] ajijshekh123 commented on #3271
Hi, @rodrigopeters,
I have reviewed your video. You have customized your Magento instance. It will require the developer experience to verify the issue and fixed that issue.
So Let me add the "Triage: Dev Experience" tag in that issue.

Thanks.

[2020-10-16 23:11] rodrigopeters commented on #3271
I started all over again, did not customized any component and some controls during checkout step appears to be wrong. Still having a lot of problems with this functionality

[2020-10-19 00:15] magento-quality-patches commented on #3018
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-30428: Fixes the issue where customers cannot add a product to wishlist if this product is assigned to a custom inventory source.

**Compatible versions**
Magento OpenSource/Commerce/Commerce Cloud 2.3.3 - 2.3.5, 2.4.0

:warning: We s

[2020-10-19 21:01] LyraGhost opened #3216 "Error in Checkout when switching from Store-Pickup to Shipping"
### Preconditions (*)
1. Magento 2.4.0 with sample data (clean installation)
2. Inventory 1.2.0

### Steps to reproduce (*)
1. Create 1 or more new sources with `Use as Pickup Location` option enabled in it.
2. Create new stock for default website using newly created sources
3. Assign products to newly created sources and add inventory in it so it can be available for pickup.
4. Enable In store De

[2020-10-20 09:32] kamilszarmach commented on #2396
To reproduce:
- open tab with product managament
- update stock with REST API:
https://domain.com/rest/V1/products
body: `{
            "product": {
                "sku": "XXXXX",
                "extension_attributes": {
                    "stock_item": {
                        "qty": 666 ,
                        "is_in_stock": true
                    }
                }
            },

[2020-10-20 22:06] elisei commented on #3206
same problem around here.

[2020-10-21 18:33] marrrecki commented on #3062
@maharzan86 please look at:
vendor/magento/module-catalog/Model/Product.php around line 1766 you should find method `isInStock` (I'm using EE). This method should check `is_in_stock ` attribute but method body is checking product status:
`return $this->getStatus() == \Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED;`

Maybe this is the reason.

[2020-10-23 11:37] swnsma opened #3219 "Composite products disappear on category pages during reindex for huge catalogs"
According to current architecture, there is a possible situation that composite products will disappear for some time during inventory reindex.
Thinks become worse since 2.4.0, because stock status for products is taken from index table.

### Preconditions
1. Magento 2.3.5
2. Huge catalog (or set sleep in plugins to \Magento\InventoryIndexer\Indexer\SourceItem\Strategy\Sync)

### Steps to reproduc

[2020-10-27 05:25] lokeshvnaik opened #3223 "Multi Source Inventory - Stocks sources of other website's showing on applying store switcher in admin"
### Preconditions (*)
1. Magento CE 2.3.4

### Steps to reproduce (*)
1. Create 2 websites - UAE(default) & Oman
2. Create 2 inventory sources one each for the above websites under Stores > Inventory > Sources
- UAE
- Oman
3. Create 2 inventory stocks under Stores > Inventory > Stocks and assign them to above websites (Sales Channel) and assign one source to each UAE and Oman respectively
- UAE (S

[2020-10-27 06:56] haiwera-silk-cd commented on #3187
Bubble ... for preventing it being closed

[2020-10-27 14:18] engcom-Delta commented on #3223
Issue should be transferred to MSI [repo](https://github.com/magento/inventory/issues) for further discussion

[2020-10-28 11:36] bmelman opened #3224 "Offline Pick in store location postcode lookup not working for dutch postcodes"
### Preconditions (*)

1. Magento 2.4.1
2. bin/magento inventory-geonames:import nl_NL
3. use Dutch Address/Postcode in checkout

### Steps to reproduce (*)

1. Enable multiple Sources for a product, add it to cart and proceed to checkout
2. Select Store Pickup after filling addresss details including postcode

### Expected result (*)

1. Should return closest source location

### Actual result (*

[2020-10-28 16:35] VladimirZaets opened #3225 "Demo issue (Test)"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-10-28 18:18] #3225 closed, assigned to VladimirZaets

[2020-10-28 18:41] VladimirZaets opened #3227 "Demo issue (Tesing)"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-10-28 19:08] #3227 closed, assigned to VladimirZaets

[2020-11-03 10:34] seansan opened #3232 "Introduce Source Reservations (MSI Show delivery times per source and see source from which the product was sold)"
### Description (*)
Currently stock is reserved as a global qty from salable qty. There is no link to any source on order creation, but later in the process during shipment. For many merchants this is a problem and deviation from previous versions and M1. One option would be to disable source reservation #3076 but reservations are here to stay. A better solution is to add a source to the reservati

[2020-11-03 20:24] sidolov opened #3233 "Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-11-03 20:25] #3233 closed, assigned to sidolov

[2020-11-03 20:53] bjornmeat opened #3234 "Excessive queries on inventory_source_carrier_link and inventory_source tables"
### Preconditions (*)

1. Magento 2.4.1 with 3 inventory stock and 300 inventory sources, 70k products
2.Queued stock updates with queue and consumers (async/bulk)

### Steps to reproduce (*)

1.Send multiple stocklevel updates
2.Monitor db queries - notice level of queries:
SELECT `main_table` . * FROM `inventory_source_carrier_link` AS `main_table` WHERE ( ( `source_code` = ? ) )
and
SELECT `mai

[2020-11-04 10:00] bjornmeat commented on #3234
To clarify - when experiencing this: We get updates for stock locations and inventory levels

[2020-11-04 10:37] paales opened #3235 "Extensibility of GraphQl Pickup Locations"
### Description (*)

From a frontend UI perspective it would be great if third party carrier pickup locations are available through the pickupLocations query endpoint and use the same mutations to select the shipping address.

### Expected behavior (*)

The `PickupLocations.items` type should be of value `[PickupLocationInterface]`

https://github.com/magento/inventory/blob/1.2-develop/InventoryIn

[2020-11-07 17:58] maxlussier commented on #3209
@magento I am working on this

[2020-11-07 17:59] maxlussier commented on #3209
@magento add to contributors team

[2020-11-07 18:00] maxlussier commented on #3209
@magento i am working on this

[2020-11-09 22:38] ioweb-gr commented on #2727
I just found this thread and it's indeed a very serious issue. The whole point of having a MSI is because you want to have accurate stock level information on the store per warehouse availability. Both overselling and underselling is bad for the shop and the customer experience. This is a really severe issue for MSI setup that needs attention. Isn't there a way to do the check more efficiently on

[2020-11-10 12:45] Jeeva-Rathinam opened #3239 "Magento 2.3.4 - Column definition "order_id" and reference column definition "entity_id" are different in tables "inventory_pickup_location_order" and "sales_order""
### Summary (*)

After move all the files to app/code/magento getting the following error,

`Column definition "order_id" and reference column definition "entity_id" are different in tables "inventory_pickup_location_order" and "sales_order" Column definition "order_id" and reference column definition "entity_id" are different in tables "inventory_order_notification" and "sales_order" Column defin

[2020-11-11 11:31] vvgaz commented on #2396
elburro1887 did you fix this issue i am having the exact same problem at the moment. Im getting a 200 response and even able to change the price but the stock always resets.

[2020-11-11 11:31] vvgaz commented on #2396
@elburro1887

[2020-11-14 11:31] #3209 closed, assigned to maxlussier

[2020-11-16 09:54] elburro1887 commented on #2396
@vvgaz

This is the code I am using that works:

[code]

[2020-11-16 11:00] dverkade opened #3244 "Saleable quantity not filterable and orderable in product grid"
### Description
Magento has a product grid showing product information in the backend. When you add the saleable quantity / quantity per source to the grid the column is not filterable or orderable.

### Expected behavior
I can filter and order the quantity on a product grid

### Benefits
Users can filter and order the product grid

[2020-11-16 11:06] lyusya-nnn opened #3245 "2 error messages are shown in the cart when product is out of stock"
### Preconditions (*)

1.Magento 2.4.0 with MSI extensions enabled
2. Only one default stock present

### Steps to reproduce (*)

1. In admin panel set product qty to 2, in stock - yes
2. Open product detail page on frontend
3. Add 2 products to the shopping cart
4. In admin panel set product as out of stock
5. Refresh shopping cart on frontend

### Expected result (*)

 Error message "This produc

[2020-11-16 12:25] haiwera-silk-cd commented on #3187
This issue were supposed to be irking to you guys,

[2020-11-17 11:28] jorgb90 commented on #2269
@regannoveske Did you find a solution? We have the same situation..

[2020-11-17 13:05] seansan commented on #2424
+1

I think this is a great addition. You wan to be able to view product collections based on availability in a source

In addition a request was made to be able to create a "category" from 1 stock in 1 source (for example a SALE category that accesses only!! the products that are in stock in 1 source and where the layered nav is also built on the actual products in that source only!)

[2020-11-17 13:06] seansan commented on #2075
+1 would be great and really what a merchant would need

It is a realistic and existing business process that all merchants deal with

[2020-11-17 13:11] seansan opened #3246 "Create category/product collection based on stock in 1 or more sources (and only from those sources)"
### Description (*)
Currently it is impossible to create a category based on the products that have stock in 1 source. For sale or shipping purposes one would want to create a category (or product collection) that can be used that *only* holds the products that exist in the selected source. Layered nav would also have to follow the same stock limitations to build filters. Currently Magento cannot

[2020-11-17 13:15] seansan opened #3247 "Please move: "Reservation on the level of Source" and during "Quote to Order" from the backlog to M4"
Please move: Reservation on the level of Source from the backlog to M4

https://github.com/magento/inventory/wiki/MSI-Roadmap#milestone-4-remove-dependencies-to-cataloginventory-module

The ability to set reservations on a source level - and preferably already at the quote level is so requested by the community: #3076 #2269 #2075 #1441 #3232

The link between product and source was suddenly lost w

[2020-11-18 09:29] rliukshyn commented on #3133
@VasylShvorak I am dealing with the same issue, could you please provide clarification on what exactly was misconfigured?

thanks

[2020-11-18 10:05] Quazz commented on #2793
I have something similar, but on Opensource version (and Magento 2.4 (same thing happened on 2.3.5), Mariadb 10.4 (same thing happened on 10.3), not using flat tables)

In total the server on average uses about 20 out of 64GB RAM so plenty of breathing space.

Example query:

[code]

Explain tells us that the "ORDER BY" forces it into temporary table and such, though I'm not sure if that's what ca

[2020-11-19 14:19] pixel-paul commented on #3062
This persists in 2.3.6

[2020-11-20 12:56] swnsma opened #3248 "Manage Stock setting does not impact on In-Store Pickup qty availability"
### Preconditions (*)
1. Configure In-Store Pickup.
2. Set 'Manage Stock' = false for all products.
3. Products with 'Manage Stock' = false config.

### Steps to reproduce (*)
1. Create In-Store Pickup Order.
2. Go to Admin Panel.
3. Notify order that it is ready for pickup.

### Expected result (*)
1. Customer was notified

### Actual result (*)
1. Customer was not notified because current QTY is

[2020-11-20 13:24] Quazz commented on #2793
I turned on explain in slowquerylog, this shows us why this query is so slow, but not why it happens of course:

[explain.txt](https://github.com/magento/inventory/files/5573761/explain.txt)

Attached the explain plan in txt file. As you can see the query that gets stuck uses no KEY for tables inventory_in_stock and stock_status_index, which likely explains why it's so slow.

But it doesn't always

[2020-11-23 14:01] Melleschepers commented on #2793
I am having the same kind of issue. I'm having magento MSI enabled and therefore also have the table inventory_stock_2. So I assume you are also using MSI?

It turns out that all the mysql queries that are getting stuck are using this table. So I think it is related to a lock on the inventory_stock_2 table. In my situation we are updating the stock every hour, and that's when this issue sometime o

[2020-11-24 16:45] padmapriya-varadhan commented on #3053
This worked for me. Thanks a lot!

[2020-11-27 09:41] dverkade opened #3250 "Product grid, filtering and sorting of saleable quantity missing with MSI enabled"
# Preconditions
1. Magento 2.3.5-p2

### Steps to reproduce
1. Login into the backend and open the product grid
2. Expand the filters, there's no filter for the saleable quantity

### Expected result
1. I'm able to filter on the salable quantity
2. I'm able to sort on the salable quantity

### Actual result
1. Filtering is missing.
2. Clicking the "Salable quantity" column does not do anything

![

[2020-12-01 09:45] TectonicKestrel opened #3252 "No default stock location after enabling MSI"
Until recently i was using Magento 2.3.3-p1 with MSI disabled (disabled all related modules). I use a module to import my stock and pricing on a daily basis and this was not compatible with MSI until now. They have now released a compatible version, so i updated the module, enabled MSI and also updated to magento 2.3.6.
When i go to "Stores" > "Stocks" I dont have any location listed there, not ev

[2020-12-03 05:34] Berman59 commented on #3111
Hi, just wondering if you had more insights on this issue since then?

I am seeing the same issue, more specifically, bundles are showing fine for the default website, but any other websites won't show the product in categories due to "INNER JOIN `inventory_stock_X` AS `stock_index` ON stock_index.sku = product.sku" returning empty results, which in turn is caused by inventory_stock_x tables don't

[2020-12-04 09:13] bfontaine commented on #2847
Is there anything new on this subject? We have Magento 2.3.6 and the same issue:

1. Product has a quantity of 1
2. Customer orders it :arrow_right: the quantity is now 0
3. We ship it from the API :arrow_right: Error because the quantity is 0

[2020-12-05 19:03] TectonicKestrel commented on #3252
A fresh install does not have this issue, does anyone know what could have caused this issue on my initial 2.3.3 install and a way to fix this without having to reinstall my live site?

[2020-12-07 18:00] dmitriyzov commented on #1398
The best temporary fix I found is to update Model/ResourceModel/AddStockDataToCollection.php

The fix works the same way the `addStockDataToCollection()` does - if `$isFilterInStock` is "false", joinLeft is used. Otherwise, 'join' is used.

Determine method:
`$method = $isFilterInStock ? 'join' : 'joinLeft';`

Then, instead of
`$collection->getSelect()->join()`

use the new method:
`$collection->g

[2020-12-08 18:56] pepsi10 commented on #3248
Hi, any updates on this issue?

[2020-12-08 20:42] swnsma commented on #3248
Hi @pepsi10, as you can see - no one from contributors has pick the ticket up yet :)

[2020-12-09 08:22] swnsma commented on #3248
@magento give me 2.4.1 instance

[2020-12-09 14:41] iphigenie commented on #3111
Hi

In November I moved to 2.4.x and things are cleaner there.

On 2.3.5 / 2.3.6 things only worked with:
- bundle set to manage stock=no
- product set to manage stock=yes and in stock properly

It then took some repeat reindexing, running the inventory message queues, waiting for cron routines to kick in etc. and some bundles would appear fine.
Some bundles wouldn't so I had to allow backorders o

[2020-12-11 03:57] tanimoto-true opened #3255 "composer require magento/inventory-metapackage -> no matching package found"
### As I try to install MSI following installation guide in wiki in this repository, It doesn't work well.
https://github.com/magento/inventory/wiki/Metapackage-Installation-Guide

### Preconditions (*)

1. magento  2.3.4
2. composer 1.10.19

### Steps to reproduce (*)

1. exec following command
[code]

### Expected result (*)

1. successfully install magento/inventory-metapackage package

### Act

[2020-12-11 08:59] ananth-iyer commented on #3239
@magento I am working on this

[2020-12-13 13:47] jordanvector commented on #3076
+1

Large merchant here, same exact problems

The stock reservation prevents, that a completed shipping can be set to be shipped (complete) via API.
Most orders remain "processing" and i also can not set it in the backend manually.

So we have 1000s or orders sitting in processing that has actually with little or no way to fix them.

Stock reservations should be able to be disabled.  This feature

[2020-12-15 08:38] barryvdh commented on #3076
We're facing the exact same situation as described in https://github.com/magento/inventory/issues/2269#issuecomment-499479576
It's currently impossible to use any external system to manage stock information. Right now we have to disable the stock with https://github.com/yireo/magento2-replace-inventory but we'd prefer (for future proofing) to be able to just skip the reservations. Eg. just decreas

[2020-12-15 09:08] seansan commented on #3076
I think reservations = not going away (no matter my or our opinion)

But what needs to be fixed is the situation as you explain. Upon sale (and
quote) stock should be assigned

1. an MSI source (so reservations are made on source level, as an
'intended' source to ship from)

2. stock updates from external systems should take the reservations from
'that source' (so depends on 1) into account and th

[2020-12-15 14:07] Quazz commented on #2793
Was able to catch one as it was happening. I changed the categories assigned to a product and saved the product. On another tab I was browsing on our site when it got stuck on loading.

I dove into mysql and saw a bunch of queries stuck (oldest one on 'Sending data', rest on 'Waiting for metadata lock', probably waiting on the 'Sending data' one? Though it's a select, so why??)

Then I invoked 'SH

[2020-12-16 02:35] adarshkhatri commented on #2895
Any update on this?

[2020-12-22 12:03] kashirraheel opened #3270 "Salable vs Default Quantity"
### Preconditions (*)

1. Magento v.2.3.3

### Steps to reproduce (*)

1. Seems to be a bug with the new MSI update on M 2.3.3.
2. Even though the quantity of a simple product is 2 or 3 in the backend, it still shows out of stock on the frontend. This seems like a common issue as a lot of users are reporting this issue.

### Expected result (*)

1. <img width="1217" alt="Screenshot 2020-12-22 at 5

[2020-12-23 20:49] orthener commented on #3018
This patch not working with 2.4.1. BUT problem still present in M2.4.1.
MDVA-30428 not present in available list for M2.4.1
Some changes are already present in `Magento\Wishlist` module and patch can't be applyed. Got an error:

Applying patch m2-hotfixes/MDVA-30428__fixes_add_a_product_with_custom_inventory_to_wishlist__2.3.5-p1.patch failed.
error: vendor/magento/module-wishlist/Model/Adminhtml/

[2020-12-23 21:01] bubasuma commented on #3018
Hi @orthener as you noticed the patch is not available for 2.4.1 meaning not compatible with 2.4.1.

[2020-12-30 10:33] engcom-Alfa commented on #3271
Hi @rodrigopeters .

Looks like this issue related to MSI functionality.
@sdzhepa Could you move this ticket to the [Inventory](https://github.com/magento/inventory/issues) repository?
Thanks!

[2020-12-30 10:36] engcom-Alfa commented on #3270
Hi @kashirraheel  .
Looks like this issue related to MSI functionality.
@sdzhepa Could you move this ticket to the Inventory repository?
Thanks!

[2021-01-05 05:41] jsutariya opened #3259 "Cart item not updating while maximum quantity allowed in cart is set to 1"
### Preconditions (*)

1. Magento version 2.4.1 + Inventory
2. PHP 7.4

### Steps to reproduce (*)

1. Create a simple product in admin panel with customizable options
2. Set Maximum Qty Allowed in Shopping Cart value to 1 for the product
3. Add product to cart with selecting any customizable option.
4. Product added to cart successfully
5. Click on edit item in cart page for the product
6. Change

[2021-01-08 18:54] InternetAdvertisingSolutions opened #3260 "Magento 2.4.1 In-Store Delivery causes checkout to permanent hang with Error is email.js:165 Uncaught TypeError: Cannot read property 'check' of undefined at UiClass.validateEmail (email.js:165)"
Summary of the issue,

Magento 2.4.1 In-Store Delivery causes checkout to permanent hang when an existing customer enters their password.
Checkout Page hangs with loading circle
Error is email.js:165 Uncaught TypeError: Cannot read property 'check' of undefined
at UiClass.validateEmail (email.js:165)

**Preconditions (*)**

1. Magento CE 2.4.1
2. Ubuntu 20.04
3. MySQL8
4. Apache2
5. php7.4
6. Elas

[2021-01-09 13:45] mrtuvn commented on #3260
are you sure this issue can reproduce in Open source edition ? I believe only you have Commerce edition will able to have option for reproduce problem

[2021-01-12 05:52] RonakParmar commented on #3053
@udittakwani I have reindexed but still my old products are showing out of stock. I have checked in database. "inventory_source_item" this table shows only newly created products. Old products are missing in this table.

Is there any solution for this issue?

Thank you.

[2021-01-12 07:47] udittakwani commented on #3053
Sorry then you will have to add products i have not faced this issue so cant help

[2021-01-16 09:02] vegafire opened #3263 "Install Magento Inventory after Magento installation using composer.json"
I have install Magento-2.3.6 using github, but after the installation some of the Magento modules are missing like Magento_InventorySalesApi and others inventory. I want to install Smilesuite elasticsearch but the Magento inventory are missing. Is their anyways to install inventory using composer.json and I have also searched for installing modules inventory but its showes to add metadata in compo

[2021-01-19 09:27] Abdallah-herri opened #3269 "Store pickup doesn' work when i add customizable option to a simple product"
### Preconditions (*)
Magento version 2.4.1

### Steps to reproduce (*)
1. Create a simple product.
2. add a customizable option to this product (https://docs.magento.com/user-guide/catalog/settings-advanced-custom-options.html).
![Screenshot_2021-01-19 Joust Duffle Bag Products Inventory Catalog Magento Admin(1)](https://user-images.githubusercontent.com/55665570/105013733-da7d0d00-5a3f-11eb-8c77

[2021-01-19 11:56] engcom-Alfa commented on #3269
Hi @Abdallah-herri.

Looks like this issue related to MSI functionality.
@sdzhepa Could you move this ticket to the [Inventory](https://github.com/magento/inventory/issues) repository?
Thanks!

[2021-01-22 18:04] perfpcs opened #3268 "Quantity per Source Column breaks Saved Views in Product Grid"
### Preconditions (*)

In the latest Magento 2.4.1 ythere is a bug where if you enable in the grid the column "Quantity per Source" and then enable this column and save it in any views, those views are never recoverable. Clicking on your saved view will bring a random assortment of columns and not anything like how you saved them.

### Steps to reproduce (*)

Our Developers did the following to de

[2021-01-25 08:14] engcom-Alfa commented on #3268
Hi @perfpcs.

Looks like this issue related to MSI functionality.
@sdzhepa Could you move this ticket to the [Inventory](https://github.com/magento/inventory/issues) repository?
Thanks!

[2021-01-25 10:38] torhoehn commented on #3260
@mrtuvn We also have this issue in Open source edition.

[2021-01-25 11:11] mrtuvn commented on #3260
Yeah i'm not sure that maybe code not cover all edge cases. Can we setup feature Click-and-Collect in vanilla magento open source ? I totally missed that. Any related links or docs wrap this ?

[2021-01-25 12:47] torhoehn commented on #3260
I'll try to reproduce it here: https://github.com/magento/magento2/issues/31576

[2021-01-25 14:04] torhoehn commented on #3260
@mrtuvn Unfortunately it's not possible without running indexer.

[2021-01-26 06:08] perfpcs commented on #3268
@engcom-Alfa thank you...hope its an easy fix :)

[2021-01-26 18:22] AAbitar commented on #3076
The whole Magento 2 reservation system is broken. We can not use this software anymore until the reservation system can be disabled.
Additional external API calls on order fulfilment does not work (no shipping number/order update) because the stock reservation system want to see stock on delivery day.
So while the API tells Magento, that the goods has been physically dispatched, Magento tells the

[2021-01-26 18:23] AAbitar commented on #2269
The whole Magento 2 reservation system is broken. We can not use this software anymore until the reservation system can be disabled.
Additional external API calls on order fulfilment does not work (no shipping number/order update) because the stock reservation system want to see stock on delivery day. So while the API tells Magento, that the goods has been physically dispatched, Magento tells the

[2021-01-27 13:34] serbaninno opened #3265 "Product form soruces grid page navigation issue"
### Preconditions (*)
Magento version 2.3.5-p2 + Inventory
PHP 7.2

### Steps to reproduce (*)
1. Install a clean Magento 2.3.5-p2 project and create a simple product from admin
2. Create multiple sources (more than the pagination limit in product form - by default it is five). I created 21
3. Assign the sources to the product with quantity
4. Save the product and notice that the sources have more

[2021-01-28 15:49] TectonicKestrel commented on #3260
I have this issue too on 2.4.1. I tried processing the order manually from the admin panel after a customer alerted me to this and got this error:
Order saving error: Warning: array_merge(): Expected parameter 2 to be an array, object given in /var/www/vhosts/clicksaveandprint.com/httpdocs/vendor/magento/module-inventory-in-store-pickup-sales-admin-ui/Plugin/Sales/Model/AdminOrder/Create/AdaptSetS

[2021-01-28 16:42] m2-assistant[bot] opened #3266 "[Issue] disabled sorting column allocated_sources in sales order grid"
This issue is automatically created based on existing pull request: magento/inventory#3205: disabled sorting column allocated_sources in sales order grid

---------

### Description (*)
if you to want sort order grid by allocated_sources asc or desc then you see magento popup error and in error log writing message "[2020-10-01 15:40:45] main.CRITICAL: SQLSTATE[42S22]: Column not found: 1054 Unknow

[2021-01-29 04:30] perfpcs commented on #3268
@sdzhepa Could you move this ticket to the Inventory repository? If that's where it needs to go to get fixed?

[2021-01-30 20:24] ghost opened #3267 ""Quote does not have Pickup Location assigned." in Instant Purchase with Pickup Store"
Hello guys,

we developed a payment module with the Vault feature(https://github.com/dholidev/module-payu). Instant Purchase worked perfectly well with the other shipping methods, however, when using the new **"Pickup Store"** feature of **Magento 2.4.0**, it is not possible to finalize the purchase on the product page. We are getting the message **"Quote does not have Pickup Location assigned."**

[2021-02-01 12:40] engcom-Alfa commented on #3267
Hi @dholidev .

Looks like this issue related to MSI functionality.
@sdzhepa Could you move this ticket to the [Inventory](https://github.com/magento/inventory/issues) repository?
Thanks!

[2021-02-04 08:02] thai2301 commented on #3102
up!

[2021-02-04 11:13] Quazz commented on #2793
Issue goes away entirely when removing the related products blocks with a layout file.

We don't even use related products but there you go.

[2021-02-06 23:36] perfpcs commented on #3268
Hi all, I am not sure what else I can provide? It is very clear what the problem is and is confirmed by our developers. It is a matter of the community who can fix the issue.
thank

[2021-02-09 13:04] sivaschenko opened #3273 "Mark interfaces as API"
The following interfaces should be marked as API in future-develop branch

1. inventory/InventoryApi/Model/IsProductAssignedToStockInterface.php
1. inventory/InventoryCatalogApi/Model/SourceItemsProcessorInterface.php
1. inventory/InventoryInStorePickupGraphQl/Model/Resolver/PickupLocations/SearchRequest/ResolverInterface.php
1. inventory/InventoryIndexer/Indexer/SelectBuilderInterface.php
1. inve

[2021-02-09 13:13] craig-bartlett commented on #3260
We're seeing the same issue with 2.4.1 when logged in and loading the checkout page. We also have in-store delivery enabled with stock setup.

The error is triggered in [app/code/Magento/Checkout/view/frontend/web/js/view/form/element/email.js](https://github.com/magento/magento2/blob/2.4/app/code/Magento/Checkout/view/frontend/web/js/view/form/element/email.js). I don't fully understand the logic

[2021-02-09 14:32] craig-bartlett commented on #3260
Hi,

It looks like it's caused by the Amazon_Payment module. In particular this line [here](https://github.com/amzn/amazon-payments-magento-2-plugin/blob/c58197b1ef20a372b9029f0e091180ec92cb6192/src/Payment/view/frontend/web/js/view/form/element/email.js#L44). If enabled, the code in the initialize method changes the value of InputFieldEmailValue in checkoutData which then triggers the callback me

[2021-02-09 16:07] mrtuvn commented on #3260
Kill that module with fires. J/k
External modules must update to compatible with magento. I believe module related from amazon need update to keep sync with workflow of magento.
@craig-bartlett are you sure this module is included in magento ?
@InternetAdvertisingSolutions

[2021-02-09 18:23] imontaine commented on #2413
Just to clarify this issue further for the dev who will end up fixing this.
1) If all Child items are disabled then the configurable does not show on the category
2) If all Child items are out of stock then the configurable does not show on the category
Issue -> If there is a mixture of only disabled and out of stock items, then the entire product shows on the category with all variations

[2021-02-10 18:38] gaiterjones opened #3276 "Magento 2.4.2 inventory-configurable-product-frontend-ui shows "Only 0 left" when variation product is in stock"
### Preconditions (*)

1. Magento 2.4.2
2. Configurable product with variation products in stock and variation qty above configured only X left threshold of 0

### Steps to reproduce (*)

1. Load configurable product page
2. Select a variation product

### Expected result (*)

1. configurable-variation-qty element created by module-inventory-configurable-product-frontend-ui frontend stockQty templ

[2021-02-16 19:36] TectonicKestrel opened #3278 "In Store pickup from Admin area "Order saving error""
### Preconditions (*)
1. Magento 2.4.1
2. PHP 7.4
3. Percona 5.7
4. Porto Theme (with my own child theme)

### Steps to reproduce (*)
1. Enable In Store pickup and add all required details to make this work
2. Create an order from the admin area
3. Add products to the order
4. Add customer details
5. Choose your in store pickup as the delivery method (In my case i have called in "Click & Collect"

[2021-02-17 07:50] way2ecommerce opened #3279 "Website with NOT default inventory source fails on layered navigation attribute filter"
### Preconditions (*)
1. Magento CE 2.3.6 (fresh install)

### Steps to reproduce (*)
1. Create new website / store / store view (e.g. website2)
2. Create new inventory source (e.g. source2) (from Stores > Inventory > Sources)
3. Create new Stock and assign the new created website and source (from Stores > Inventory > Stock)
4. Create new filtrable Attribute (e.g. attribute1) (or use manufacturer

[2021-02-17 08:39] korovitskyi opened #3280 "Fail on load checkout shipping page, "The In-Store delivery" ship method"
### Preconditions (*)

1. Magento 2.4.2
2. B2B 1.3.1

### Steps to reproduce (*)

Configure "The In-Store delivery" method.
1. Geolocation:
    a.)install geolocation bin/magento inventory-geonames:import us (if USA only);
    b) set configuration  Store → Configuration → Catalog → Inventory → Distance Provider for Distance Based SSA → Provider: Offline Calculation.
2. Stock:
    a) Add two or mor

[2021-02-17 08:40] korovitskyi commented on #3280
@magento I am working on this

[2021-02-18 15:12] way2ecommerce commented on #3279
I think MSI is not overwriting Magento\CatalogSearch\Model\Search\FilterMapper\StockStatusQueryBuilder. This makes the query look for the "stock_status" in "cataloginventory_stock_status" instead of the "status" of "inventory_source_item". I think this may be the problem, but I'm not sure if this change would be a valid solution.

[2021-02-19 17:06] ThisIsRuddy commented on #3035
@sydekumf I've made a diff patch based on your changes, thanks again

[code]

[2021-02-21 18:11] daniel-pietka commented on #3276
I have the same problem,
clean installation of magento 2.4.2 on localhost

The type configurable product with variation has been added,
SKU, prices and stock level have been set for each product.

On the front, the product is available, when I click on the variant, the message: "Only 0 left"

I tried to change the configuration to no avail.

The main product is set to On, Available.

Each product

[2021-02-21 18:41] gaiterjones commented on #3276
There doesn't seem to be much interest in this issue at the moment it's pretty easy to fix in the js but the easiest way to work around it is to disable the module.

`bin/magento module:disable Magento_InventoryConfigurableProductFrontendUi`

[2021-02-21 19:26] daniel-pietka commented on #3276
Can you give me your solution how I solved this problem edit the code? I can code in php and a bit in JS, but I can't handle it.

[2021-02-21 19:35] daniel-pietka commented on #3276
When I disable the Magento_InventoryConfigurableProductFrontendUi module I get an error for a configurable product.

On the front, the options for available variants have disappeared, after adding the product to the cart without selecting a variant, an error appears with the message: You must select options with the product.

There were JS errors in the Chrome console: require.js: 141 Uncaught Err

[2021-02-22 08:54] ioweb-gr opened #3285 "Price indexer shouldn't be affected by the configuration option cataloginventory/options/show_out_of_stock"
### Preconditions (*)
1. 2.4.1
2. Multistore installation.

### Steps to reproduce (*)
- Create two websites
- Create a few different sources
- Create 2 stocks for two websites (Stock1 -> Website 1 , Stock 2 -> Website 2 )
- Create a product and assign to both websites
- Add stock quantity only to Stock 1 but not Stock 2 so that the product is salable in Website 1 and out of stock in Website 2

A)

[2021-02-22 09:01] ioweb-gr opened #3286 "salable quantity is not available in the elastic search bucket list"
### Preconditions (*)
1. Magento 2.4.1
2. MultiSourceInventory

### Steps to reproduce (*)

- Create two websites
- Create a few different sources
- Create 2 stocks for two websites (Stock1 -> Website 1 , Stock 2 -> Website 2 )
- Create a product and assign to both websites
- Add stock quantity only to Stock 1 but not Stock 2 so that the product is salable in Website 1 and out of stock in Website

[2021-02-22 13:19] gaiterjones commented on #3276
@adigame you can try extending/updating vendor/magento/module-inventory-configurable-product-frontend-ui/view/frontend/web/js/configurable-variation-qty.js

at line 32 change

`if (response.qty !== null) {`

to

`if (response.qty > 0) {`

This is a workaround that will stop the incorrect returned value of 0 from showing the stock message.

[2021-02-22 16:35] daniel-pietka commented on #3276
@gaiterjones this https://github.com/magento/inventory/issues/3276#issuecomment-783368250 it helped me a lot, thank you for your help.

[2021-02-23 10:54] erik-augustin commented on #3076
reservations should be disabled or give instruction how they can be deleted by cron task (without giving other problems)

[2021-02-23 21:53] sdzhepa opened #3288 "Can not add Bundle to cart if Simple has Minimum Qty Allowed limit"
### **ISSUE:**

When Simple product has Minimum Qty Allowed limit it is impossible to add Bundle which has it as option if smaller amount is selected.
This case may be useful when merchant does not want to sell some item separately, e.g. cord or 1 bottle of wine, but is ok when it is sold as part of bundle, e.g. whole computer, or box of assorted wines, etc.

###  **PRECONDITIONS:**

- Magento wit

[2021-02-23 23:16] jilu1 opened #3289 "`Quantity Per Source` column is missing in product grid for CE with core bundle extensions"
### Preconditions (*)

1. Magento CE 2.4-develop with MSI 1.2-develop and all other core bundle extensions
2.

### Steps to reproduce (*)

1. Due to a MFTF framework bug, some MSI tests are not generated and run for CE for a while. The bug is found after the MFTF bug is fixed.
2. Run MFTF test AdminMassActionUnAssignAllProductSourcesFromSimpleProductTest with CE + all core bundle extensions
3. Tes

[2021-02-23 23:26] jilu1 opened #3290 "`Return to Stock` checkbox in admin Credit Memo page is missing for CE with core bundle extensions"
### Preconditions (*)

1. Magento CE 2.4-develop with MSI 1.2-develop and all other core bundle extensions
2.

### Steps to reproduce (*)

1. Due to a MFTF framework bug, some MSI tests are not generated and run for CE for a while. The bug is found after the MFTF bug is fixed.
2. Run MFTF test AdminCreateCreditMemoPartialRefundFullInvoiceFullShipmentBundleProductDefaultStockTest with CE + all core

[2021-02-24 11:54] korovitskyi opened #3291 "Console error on enabled "In-store Delivery" delivery method"
### Preconditions (*)

1. Magento EE
2. B2B 1.3.1

### Steps to reproduce (*)

1. Enable B2B;
2. Enable Purchase Order (in the config and for the company);
3. Enable and configured "In-store Delivery" Ship Method;
4. Make a purchase order with an online payment method. Purchase order after place will be in "APPROVED - PENDING PAYMENT" status.
5. Place this order -> will be redirected to the checko

[2021-02-24 11:55] korovitskyi commented on #3291
@magento I am working on this

[2021-02-24 18:54] jilu1 commented on #3289
Close issue as this might be timing issue in test

[2021-02-24 18:54] #3289 closed, assigned to nobody

[2021-02-24 18:54] jilu1 commented on #3290
Close issue as this might be timing issue in test

[2021-02-24 18:54] #3290 closed, assigned to nobody

[2021-03-03 15:59] Morgy93 commented on #3276
You could also just replace that module completely for now by adding to your `composer.json`:

[code]

After `composer update` and `magento setup:upgrade` it is gone.

[2021-03-04 14:39] iflam opened #3295 "Backorder Use Config Setting not properly used in sql query"
Origin: https://github.com/magento/magento2/issues/32358

### Preconditions (*)

Magento 2.4.1
MSI enabled

### Steps to reproduce (*)

1. Enable backorders via Stores > configuration > catalog > inventory
2. Set Out of Stock threshold to -2
3.  Create a product with quantity -2 for all sources
4. Within the product's advanced inventory, make sure "Use Config Setting" is checked under "Backorder"

[2021-03-07 19:03] ioweb-gr opened #3296 "Configurable product where variations are disabled on website/store view appears as salable."
### Preconditions (*)
1. Magento 2.4.1 with MSI
2. Set Magento to hide products that are out of stock.

### Steps to reproduce (*)
1. Multiple store views
- Store1
- Store2
- Store3
2. A configurable product with 1 variation assigned to multiple sources - assigned to a stock - assigned to Store1
- Source1 (in stock, qty 2)
- Source2 (out of stock)
- Source3 (out of stock)
3. Product is enabled in

[2021-03-07 19:52] ioweb-gr commented on #3296
After further investigating I notice that on the stock index for the specific store view, the configurable product's total salable quantity is incorrectly counted. It appears as `instock` with salable quantity = 2 because the enabled/disabled status is not taken into account correctly.

Could you point  me to the code responsible for building the index of the total salable quantity of the configur

[2021-03-07 23:16] ioweb-gr commented on #3296
I ended up tracking it all the way to this function

`\Magento\InventoryIndexer\Indexer\SelectBuilder::execute`

Which results in the following SQL in my case

[code]

Which seems to calculate the total quantity available of the product in the required sources but fails to take into account the store view and the simple product (child of configurable in this case) status in the store view.

If the

[2021-03-08 07:18] ioweb-gr commented on #3296
Looking up at Configurable product indexer the query is

[code]

Yielding the result as above

![image](https://user-images.githubusercontent.com/20220341/110286599-e02db280-7fed-11eb-8379-238404b2d982.png)

and again skipping the fact that the offending products have disabled status

[code]

[2021-03-09 15:51] iflam opened #3297 "Back Order customer notification does not show"
### Preconditions (*)

Magento 2.4.1
MSI

### Steps to reproduce (*)

1. Create a product, add to source
2. Put QTY as -1 and Out of Stock Threshold as whatever you want (i.e. -20)
3. Add one to cart
4. Go to checkout page or cart page

### Expected result (*)

1. A message displays that says "We don't have as many quantity as you requested, but we'll back order the remaining ___"

### Actual resu

[2021-03-11 05:31] ioweb-gr commented on #3155
Hi guys, were you able to find any solution here? It seems eveyone reached eventually the same conclusion about this issue which led here. I'm finding myself in the same predicament and looking for a workaround

[2021-03-11 05:32] ioweb-gr commented on #3285
Looks related to #3155

[2021-03-11 05:50] ioweb-gr commented on #3296
This seems related to  #2413

[2021-03-11 11:05] mam08ixo opened #3298 "User Role with Limited Resource Permissions Cannot Access Shipping Methods Config Section"
### Preconditions

Any M2 version with `magento/module-inventory-in-store-pickup-shipping-admin-ui` installed

### Steps to Reproduce

1. In admin panel, create a new user role.
2. Set _Resource Access: Custom_.
3. Grant the _Stores → Settings → Configuration →  Shipping Methods Section_ permission.
4. Create a new user, assign to the new role.
5. Log in with the new user, navigate to store config

[2021-03-18 18:17] danhort commented on #3276
I think the issue is coming from GetProductQtyLeft class. vendor/magento/module-inventory-catalog-frontend-ui/Model/GetProductQtyLeft.php
The execute method is returning 0.0 even when it is not supposed to return any quantity.
It should be returning null instead.

It can be replaced with the following:
[code]

[2021-03-23 20:57] alexiscl02 commented on #3298
@mam08ixo

Thank you for the workaround!

[2021-03-23 22:43] enyceedanny commented on #3276
Instead of hiding it, is there a potential fix that will properly show the quantity when the option is selected?

[2021-03-24 08:07] dragonfly4 commented on #3270
Same issue on 2.3.6-p1 any very annoying for our clients. Is someone working on this issue please?

[2021-03-25 10:21] timpea opened #3300 "inventory:reservation:list-inconsistencies - lists part shipped items"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Data migration from Magento 1 to Magento 2.4.2, some orders part shipped
2. M2 - run inventory:reservation:list-inconsistencies

### Expected result (*)
1. Inconsistencies on all order items that have not been shipped

### Actual result (*)
1. If 1 or more items in an order hasn't been shipped, all items on that order will be sh

[2021-03-26 09:34] reevelau opened #3301 "Salable Quantity set to 0 due to incorrect GetStockItemDataInterface implementation is used during runtime"
I have a 2.4.2 Magento setup on docker . ```setup:di:compile``` and ```setup:static-content:deploy``` are executed during docker image build. So I could spin up the docker image and have a full functional Magento server.

Recently, I have an issue of Salable Quantity showing 0 when the docker image is booted up. Looking into the image with Xdebug, during runtime [GetProductSalableQty.php](https://

[2021-03-30 14:31] huykon commented on #3250
Are there any solution for this issue?

[2021-03-30 16:30] DavaGordon commented on #3250
@magento I am working on this

[2021-03-31 08:21] DavaGordon commented on #3250
@dverkade after reviewing the MSI module in regards to your change i can see that the column has in fact been set to be none filterable / none sortable. this is mainly down to the fact that this columns data is not possible to be sorted due to the possibility of multiple sources of quantity.

[2021-03-31 08:24] huykon commented on #3250
@DavaGordon how can I update salable qty filterable?

[2021-03-31 08:40] DavaGordon commented on #3250
@huykon with the format of the data it is not possible to do so as the data passed to the column is not a string or an integer. setting the columns as filterable/sortable will have no impact.

[2021-03-31 08:43] huykon commented on #3250
Yes I known. This field is not a table column in mysql so we can't make sortable/ filterable. Is that right?

[2021-03-31 09:01] DavaGordon commented on #3250
Yes @huykon the column is a breakdown of multiple quantity sources of inventory based on stock source so the value is a dynamic value based on those values please see screenshot for example

![screencapture-m235-p2-test-admin-catalog-product-index-key-91d5fcf7ff5ff5dea8e299569331e7a1a6145f24fc971effd0dc2264e69a939d-2021-03-31-09_59_48](https://user-images.githubusercontent.com/4630696/113119089-f6

[2021-03-31 09:39] huykon commented on #3250
@DavaGordon can we custom filterable work for saleable qty if only 1 source of inventory?

[2021-03-31 09:44] DavaGordon commented on #3250
@huykon not really as it still passes back an the data in the same format. the only way you would be able to do this is by overwriting the UI component to return back a string/int which i dont recommend if you plan on using MSI in the future. if you do not use multi stock sources i would recommend disabling the MSI completely and only relying on the quantity field in magento which does allow filte

[2021-03-31 10:18] DavaGordon commented on #3250
@diazwatson @magento-admin can you please close this ticket as this is not a bug.

[2021-03-31 10:19] diazwatson commented on #3250
Considering this is not an issue, I am closing this issue. Feel free to reopen if you think otherwise.

[2021-03-31 10:19] #3250 closed, assigned to DavaGordon

[2021-03-31 16:05] angelo983 commented on #3276
The less invasive way to hide the message is editing the file
vendor/magento/module-inventory-configurable-product-frontend-ui/view/frontend/templates/product/view/stockQty.phtml
at line 8 from
`    <?= /* @noEscape */ __('Only %1 left', "<strong>%1</strong>") ?>`
to
`    `

THIS IS NOT A SOLUTION!

[2021-04-01 14:49] riconeitzel opened #3302 "Deleting website doesn't delete entry from inventory_stock_sales_channel"
Magento 2.3.5-p2

needs to be verified in 2.3.6-p1 and 2.4.x as well.

Table uses website code instead of website_id, no foreign key available.

If you delete a website which is assigned to a stock (admin/inventory/stock/edit/stock_id/1)

1. the stock overview breaks
2. product details are missing on frontend
3. product widget preview (in page builder) breaks.

Reason: There are entries (website_c

[2021-04-01 15:08] huykon commented on #3244
are the any way to do this?

[2021-04-06 07:25] ioweb-gr commented on #3111
I'm also facing an issue similar to this but with configurable products. I have a product that's salable in `stock id = 5` and doesn't have anything in `stock id = 1 (default stock)` so it's out of stock there.

While I can see the product in the catalog, and add it to cart, I can't checkout with a message that "some of the products are out of stock"

Any ideas for a workaround? That's on 2.4.1 so

[2021-04-06 08:22] irajneeshgupta commented on #2413
@sidolov
any updates?

[2021-04-06 12:26] iphigenie commented on #3111
Hi @ioweb-gr

I have found that new clean products are working fine in 2.4.x for me BUT on my live site (and clones) there's some old data that does not seem to update as it should - i have found some both in the "old" cataloginventory_ tables and in the reservations table. This will cause problems on both website and admin (reservations) or only admin (for the cataloginventory_ tables)

Mine were

[2021-04-06 12:39] ioweb-gr commented on #3111
I've been trying to track it down also and ended up at QuantityValidator observer from Magento_CatalogInventory not finding the correct values for items `\Magento\CatalogInventory\Model\Quote\Item\QuantityValidator`

Basically by digging deeper into it I notice it uses the old StockRegistryInterface

[code]

Which even though the scopeId in my case is website with id = 2

It overrides the value an

[2021-04-06 12:43] ioweb-gr commented on #3111
An update, the tables you mention get populated when doing normal save of a product as well, and the stock status is not resolved correctly. Basically you have to manually set the configurable status to in_stock which is actually meaningful for the default stock but not as much for MSI. Also the stock status for configurable is also an indexed value since it relies on the website assignments of th

[2021-04-06 22:48] SmokinX commented on #3224
Just an extra remark: I just want Pickup as an option. No fancy postal code lookups.
So why not add options to skip lookup. Certainly with only ONE source location.

[2021-04-07 05:28] Berman59 commented on #3111
I don't think my issue was the same as ioweb-gr's but just wanted to mention, for my case in 2.3 above, I ended up adding a check on bundles for their status and add them to the category item collection when it is visible, regardless of children stock availability. Seems to work for me so far.

And thanks iphigenie for your earlier reply. It is indeed very important to set bundles to 'ship separat

[2021-04-08 09:57] TectonicKestrel commented on #3278
I found this error in the browser console if this helps narrow down the issue:
`scripts-mixin.min.js:4 Uncaught TypeError: Cannot read property 'then' of undefined
    at g.window.AdminOrder.setShippingMethod (scripts-mixin.min.js:4)
    at new <anonymous> (trigger-shipping-method-update.min.js:1)
    at Object.initComponent (layout.min.js:8)
    at fire (jquery.min.js:212)
    at Object.fireWith

[2021-04-08 23:30] jonaschen623 commented on #3185
any update?

[2021-04-09 06:55] atwixfirster commented on #3185
Hi, jonaschen623 !

I think you may create a patch from my fix - https://github.com/atwixfirster/magento2/commit/fd0058414d0f826539e7e43f3ba375cdbc6df7f4 and use it on your project.

Thanks

[2021-04-09 07:41] Jeroenll opened #3304 "creditmemo_created event registered twice if creditmemo mail is sent async"
### Preconditions (*)
1. Setup order/creditmemo mail sending in Magento.
2. Enable async mail sending.

### Steps to reproduce (*)
1. Place and invoice order.
2. Create creditmemo based on invoice, return items to stock and send copy of creditmemo as email to customer.
3. Order is now closed and `creditmemo_created` event is saved in inventory_reservation table.
4. Run `sales_send_order_creditmemo

[2021-04-09 08:13] Jeroenll commented on #3304
It's fixed with this commit: https://github.com/magento/magento2/commit/2f8b94d171dbb8c0847ffe7e6b3b013431c233c3 but the issue remains that on every creditmemo save new `creditmemo_created` entries are added.

Should we change this event (https://github.com/magento/inventory/blob/1.2-develop/InventorySales/etc/events.xml#L15) to `sales_order_creditmemo_refund`?

[2021-04-16 07:57] jeroencusters opened #3305 "Magento 2.4.1 negative out of stock threshold without MSI"
We have disabled Magento MSI (disabled all Magento_Inventory* modules; php bin/magento module:disable -f Magento_Inventory) since we use external WMS system. We want to use negative out-of-stock threshold for backorders. When we set negative out-of-stock threshold and save, the value is set to 0. The magento inventory documentation (https://docs.magento.com/user-guide/catalog/inventory-configure-i

[2021-04-19 09:52] danish-tayyib-visionet commented on #2817
@Stepa4man @arunsingh-jhon I am facing the same issue on magento 2.4.1. Is there an solution for this??

[2021-04-21 03:11] magneticeye commented on #3267
I have what appears to be the same problem.

Running Magento ver. 2.4.2
I am using MSI functionality

When I checkout using Pickup Instore option I get this error: Quote does not have pickup location defined.
When I checkout using Paypal express and pickup instore I get this error: Quote does not have pickup location assigned.

Checked that the source is assigned correctly and pickup instore is ac

[2021-04-21 08:49] Cisca22 commented on #3276
This one worked for me to get the 0 away, but I should prefer the right number of stock for our B2B shop. It is important for customers to know what the stock is.

[2021-04-21 08:51] Cisca22 commented on #3276
It works for me to get the 0 stock away, but I prefer the right number of stock for our B2B shop.

[2021-04-22 03:06] nhatlich994 opened #3307 "M2.4.1 CE MSI issue"
### Preconditions (*)
1. M2.4.1
2. MSI enabled
3. Developer mode
4. 2 Websites (VN and Main) [View image](https://imgur.com/k6FR9Zm)
5. 3 Source (Default, Source1, Source2)
6. 3 Stock (Default, Stock1, Stock2)
7. Enable "Display Out of Stock Products" in configuration in admin

### Steps to reproduce (*)
1. Enable all three of source
2. Config source and stock like this [(source configuration)](ht

[2021-04-22 04:05] jigar48 commented on #3288
I am still getting this issue on Magento 2.4.2. Is there any solution so far ?

[2021-04-22 05:45] magneticeye commented on #3267
@dholidev How are you dealing with this problem? Are you running an older version of magento? Or maybe an extension for custom shipping methods? Or have you just removed this functionality until it is fixed?

[2021-04-22 08:33] magento-engcom-team commented on #3307
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42000` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-22 16:24] ghost commented on #3267
@magneticeye all right. The customer uses Magento Commerce 2.4.2 and needs the "Pickup Store" feature.

The customer's option was to disable only the "Instant Purchase" on the product page and keep the feature of storing the credit card.

[2021-04-27 09:14] DmitryFurs opened #3306 "The inventory columns in the product grid are empty if the SKU contains double quotes"
### Preconditions (*)

1. Magento 2.4.2
2. Products with double quote (`"`) in sku

### Steps to reproduce (*)

1. Create product with double quote (`"`) in sku
2. Assign to custom source
3. Open catalog product grid in admin ui

### Expected result (*)

1. Columns **Quantity per Source** and Salable **Quantity** display the number of available products

### Actual result (*)

1. Columns **Quantit

[2021-04-27 16:53] johan7avila commented on #3062
This persist in 2.4.2

[2021-04-29 05:27] reevelau commented on #3301
It is found that the order of the module in config.php is critical to the loading order of di.xml in vendor folder. Reverting the change of config.php by the following command, recover this issue.
```bin/magento setup:upgrade --keep-generated```

[2021-04-29 05:27] #3301 closed, assigned to nobody

[2021-04-29 10:05] andrewbess commented on #3297
@magento I am working on it

[2021-04-29 10:23] craig-bartlett opened #3308 "In-Store Pickup Offline Store Search Doesn't Match UK Postcodes"
### Preconditions (*)

1. Magento 2.4.*
2. Enable MSI
3. Enable In-Store Pickup
4. Offline distance algorithm enabled
5. Generated UK postcodes with bin/magento inventory-geonames:import GB
6. Multiple sources enabled for in-store pickup

### Steps to reproduce (*)

1. Add a product to the basket
2. Go to checkout and select the in-store pickup delivery method
3. Use the Select Store button to sea

[2021-04-29 14:51] vovsky commented on #3255
FYI: In a guide there is a step that should solve the issue, but agree that better solution would be more preferable:
`Remove or comment the line "magento/inventory-composer-installer": "1.1.0" in _metapackage/composer.json file since the package is required for composer based installation only (temporary workaround, have to be fixed soon).`

[2021-04-29 15:11] wojtekn commented on #2817
I spot that issue too. It looks 2.3.6 is affected. Based on code review I see it was fixed in 2.4, there was a quality patch created for 2.3.5 but 2.3.6 looks somehow broken - some code from that patch exists in 2.3.6, some don't. MDVA-30428 can't be applied for 2.3.6.

https://devdocs.magento.com/quality-patches/release-notes.html

[2021-05-04 23:37] mwgh401 commented on #2269
Hi my client is having the same issue as well. The 3rd party OMS syncs their version of Salable Qty to Magento's Qty every 5 minutes. Our current workaround is, when pushing OMS Salable Qty to Magento Qty, check to see if there is any Reserved Qty, if there is add to it first, and then update the Magento Qty.

However the Magento Product API does not seem to have the get method for Reserved Qty on

[2021-05-11 06:07] magneticeye opened #3311 "Filter by MSI source in Product Grid"
### Description (*)
I would like a list of products that have been assigned to a specific source in the product grid.

### Expected behavior (*)
In the product grid, click on filter and have a source drop down box that is populated with all of the sources that exist.
Then select the source to filter and click apply filters.
### Result:
List of products that have been assigned to that particular so

[2021-05-12 07:22] tschirmer commented on #2043
We had this happen when a sku was put in , ordered, then changed before shipping. The shipment then tries to find an skus that is no longer being indexed (and nor should it be). The index would be far better off running on product entity_ids so this kind of this doesn't happen.

[2021-05-12 07:23] tschirmer commented on #2043
This has happened on our 2.3.6-p1 version with the latest msi installed.

The best solution we've found is to block out the sku field on edit, so it's treated like an id that can't be edited.

This also doesn't work well if skus have spaces in them

[2021-05-13 12:18] craig-bartlett opened #3312 "Products belonging to multiple bundles become increasingly slower to save"
Hi,

I'm currently investigating an issue with saving simple products that belong to multiple large bundles, which I've replicated on a clean install. If a product belongs to many large bundles (in our case one product belongs to 80 different bundles with a many as 5 options with 40 products in each) and these products are assigned to stocks/sources, it can take several minutes to save that produc

[2021-05-31 00:53] tschirmer opened #3314 "Product sku change results in shipments not processing (index table does not account for previous sku used)"
### Preconditions (*)
 - Magento 2.3.7

### Steps to reproduce (*)

1. Create Product with SKU "test"
2. Set qty to 50
3. Add inventory to Source
4. Process order with product in it
5. Change SKU from "test" to "test-1"
6. Reindex Inventory
7. Attempt to create shipment for order made in step 4.

### Expected result (*)

1. Shipment should be created

### Actual result (*)

1. Error occurs: "Sourc

[2021-06-02 09:38] christianlknudsen commented on #3276
Issue reproduced in 2.4.2-p1

[2021-06-09 14:12] naxrd commented on #3260
I just added this lines:

if (typeof myVar == 'undefined')
                return true;

before the line:

return validator.check(usernameSelector);

In the file:

 pub/static/frontend/Magento/luma/es_US/Magento_Checkout/js/view/form/element/email.js

And its working ok.

[2021-06-10 12:56] mizzimizzi commented on #1398
Hi,
this PR seems to solve the problem in a partial way:
https://github.com/magento/inventory/pull/3085
however, the same logic should also apply to the case
[code]
in the if statement