[2018-11-02 14:57] #1867 closed, assigned to nobody

[2018-11-02 18:17] #1744 closed, assigned to ivy00johns

[2018-11-02 18:19] #1778 closed, assigned to ivy00johns

[2018-11-04 19:01] larsroettig opened #1873 "Slow array function used in loop"
Let's start with an example demonstrating the case:
[code]

In order to reduce execution time we can modify the code and perform the merge operation only once:
[code]

Currently in

[2018-11-06 09:52] IvanPletnyov opened #1875 "Low stock report displays 'Out of stock' products assigned to default source"
### Preconditions
1. Magento with MSI and EE
2. Create source
3. Create stock with assigned created source
4. Create simple/virtual product . Assign it to default source with qty = 100 and save product

### Steps to reproduce
1. On created product set on default source "Notify quantity" = 101 and source item status = "Out of Stock"
2. Go to "Reports" → "Low Stock"

### Expected result
1. Product n

[2018-11-06 22:44] lorikrell commented on #1460
Added content to user guide, Admin user guide, and DevDocs. Closing as complete.

[2018-11-06 22:44] #1460 closed, assigned to lorikrell

[2018-11-06 22:45] lorikrell commented on #1507
Content written and prepped. Moving to Milestone 3

[2018-11-06 22:46] lorikrell commented on #1508
Updated grouped. Bundle not supported yet.

[2018-11-06 22:46] lorikrell commented on #1508
Completed. Creating new issue for bundle

[2018-11-06 22:46] #1508 closed, assigned to lorikrell

[2018-11-06 22:47] lorikrell commented on #544
Completed - added to Open Source, Commerce, and B2B.
https://docs.magento.com/m2/ee/user_guide/catalog/inventory-management.html
https://docs.magento.com/m2/ce/user_guide/catalog/inventory-management.html
https://docs.magento.com/m2/b2b/user_guide/catalog/inventory-management.html

[2018-11-06 22:47] #544 closed, assigned to lorikrell, jhill-magento

[2018-11-06 22:53] lorikrell opened #1876 "DOCS"

[2018-11-06 22:53] #1876 closed, assigned to nobody

[2018-11-06 22:55] lorikrell opened #1877 "DOCS - Documentation for Milestone 3"
Add documentation to DevDocs and User Guide for Milestone 3, post 2.3.0.

Moved previous doc tickets for content associated to Milestone 3.

[2018-11-06 23:00] lorikrell commented on #543
All work completed for Milestones 1 and 2 for MSI.
All DevDocs live:
   * [Inventory Management](https://devdocs.magento.com/guides/v2.3/inventory/index.html)
   * [Order Processing with Multi Source Inventory](https://devdocs.magento.com/guides/v2.3/rest/tutorials/msi-order-processing/index.html)
   * [Managing sources](https://devdocs.magento.com/guides/v2.3/rest/modules/inventory/manage-sources

[2018-11-06 23:00] #543 closed, assigned to lorikrell, jhill-magento

[2018-11-07 14:20] smoskaluk opened #1878 "Double compensational reservation after cancellation of shipped order with simple product"
### Preconditions

1. Magento MSI multy stock mode
2. Simple product created with qty on default source = 100

### Steps to reproduce

1. Order placed from admin with qty = 5 of simple product
2. Shipment created for whole order (Qty = 5 of simple product)
3. Cancel order from admin

### Expected result

1. Only one compensational reservation should be created

### Actual result

1. Two compensati

[2018-11-07 19:17] ivy00johns commented on #1606
Issue no longer present. Closing bug.

[2018-11-07 19:17] #1606 closed, assigned to ivy00johns

[2018-11-07 19:19] ivy00johns commented on #1801
Issue no longer present. Closing ticket.

[2018-11-07 19:19] #1801 closed, assigned to ivy00johns

[2018-11-07 22:45] #1732 closed, assigned to okolesnyk

[2018-11-07 22:45] ivy00johns commented on #1732
Merged to Mainline.

[2018-11-07 22:46] ivy00johns commented on #1576
Merged to Mainline.

[2018-11-07 22:46] #1576 closed, assigned to okolesnyk

[2018-11-08 11:25] IvanPletnyov opened #1881 "Compensation reservation created for all ordered qty of products after partial invoice and cancel order"
### Preconditions
1. Magento 2.3 with MSI
2. EE version

### Steps to reproduce
1. Create  custom stock with custom source and assigned to sales channels "Main Website"
2. Create two simple products. Both products assign to default and custom sources with qty = 100
3. Create order with both products with qty = 10
4. Go to order page and create partial invoice (ex: first product qty = 7, second pro

[2018-11-08 19:20] maghamed opened #1883 "Partial Credit Memo after Shipping not working"
was discovered in the scope of #1881

# Steps to reproduce

1)Create Simple product with qty = 100
2) Place an order with  qty = 10 for this product
3) Make an Invoice for 7 items
4) Ship 3 items
5) Cancel Order
6) Create Credit Memo checking back to Stock checkbox for 5 items

# Expected Result

SourceItem Qty is 98

# Actual Result

SourceItem Qty is 102

![image](https://slack-imgs.com/?c=1&url

[2018-11-09 16:20] ivy00johns commented on #1631
_*Original Description. Working on cleaning it up before I handoff the project to Tom.*_

----
----

**UPDATES**
* ~After this PR: https://github.com/magento-engcom/msi/pull/1642~
* After this PR: https://github.com/magento-engcom/msi/pull/1716

----

**List of Skipped Tests**
- MSI-1316 - AdminCreateOrderWithGroupedProductDefaultStockTest
- MSI-1313 - AdminOrderCreatedWithConfigurableProductWithD

[2018-11-09 17:33] #965 closed, assigned to nobody

[2018-11-09 17:33] ivy00johns commented on #965
Automated already but it didn't have the correct ID. Corrected. Closing issue.

[2018-11-09 18:38] #1883 closed, assigned to maghamed, seruymt, IvanPletnyov

[2018-11-09 18:38] #1881 closed, assigned to maghamed, seruymt

[2018-11-09 18:38] #1878 closed, assigned to seruymt

[2018-11-09 18:38] #1861 closed, assigned to vadimjustus

[2018-11-09 18:54] maghamed opened #1886 "Source Selection Algorithm for configurable product does not consider items being already shipped"
# Preconditions

1. Configurable product created
2. Place an order and buy a particular variation of this product (Qty 10)
3. Go to order -> ship in Multi-Source Mode
4. SSA will provide a distribution of 10 ordered items
5. create a partial shipment of 5 items from any source
6. visit SSA page again. `Qty to Ship` does not include items already shipped, thus you see 10 instead of 5 items to ship

[2018-11-10 07:53] smoskaluk opened #1887 "Cancellation of partially invoiced order with bundle product didn't work properly"
1. Magento with MSI multy stock mode
2. Simple product created and assigned to default source with qty 100
3. Bundle product  created with simple as child qty 1 (with  Dynamic SKU, Dynamic Weight, Dynamic Price and option 'Ship Bundle Items' = Together or Separately)
4. Order placed with 5 items of bundle product

### Steps to reproduce

1. Make partial invoice for your product for 3 item of bundl

[2018-11-10 07:58] smoskaluk opened #1888 "Wrong returns after credit memo for order with configurable product"
### Preconditions

1. Magento MSI multy stock mode
2. Configurable product created with 2 dropdown color options "Red" and "Black" having weight and qty on default source = 100

### Steps to reproduce

1. Place order with 10 items of configurable 'Red"
2. Create invoice for whole order
3. Create credit memo with return to stock for 10 items
4. Check in DB reservations in table "inventory_reservati

[2018-11-12 09:50] #894 closed, assigned to nobody

[2018-11-12 09:53] smoskaluk opened #1889 ""Quantity" field is present on Configurable product creation page in multisource mode."
### Preconditions
1. Magento with MSI
2. Custom stock with custom source created

### Steps to reproduce

1. Try to create Configurable product.

### Expected result

Field "Quantity" is absent in Product creation form.

### Actual result

Field "Quantity" is present in Product creation form (and is active for Configurable product).

[2018-11-12 14:45] smoskaluk opened #1890 "Elasticsearch don't work with Custom stock"
All the capabilities of Elasticsearch search adapter are preserved using Website with Custom stock assigned to it.

[2018-11-12 18:57] #1888 closed, assigned to IvanPletnyov

[2018-11-13 14:01] smoskaluk opened #1895 "Return to stock during Credit memo for order with virtual product not respecting sources priority for stock"
### Preconditions

1. Magento MSI
2. Custom stock with two custom sources created
3. Set 'custom source 2' to have higher priority then 'custom source 1'
4. Create virtual product with qty = 100 on both custom sources

### Steps to reproduce

1. Place order with 1 item of virtual product and make invoice for it
2. Verify that 1 item of virtual product deducted from 'custom source 2'
3. Create cred

[2018-11-13 17:48] phoenix128 commented on #1889
More than removing, I suggest to simply disable it.
Otherwise we have no more access to its advanced inventory configuration.

The same behaviour should be applied to bundles and grouped (composite products in general).

**NOTE**:
Should the same issue to be opened in core?
The behaviour is the same ant qty has no meaning in configurables.

[2018-11-13 18:52] VitaliyBoyko commented on #1889
Hi @phoenix128
Thank you for joining :).
I have worked on this task. Leave it to you if you already have a fix.

But pay attention that behavior for bundles and grouped which you have mentioned is already done before. For example, for the bundle, you can check this modifier `app/code/Magento/Bundle/Ui/DataProvider/Product/Form/Modifier/BundleQuantity.php:24`.
So I'm not sure that it is good practi

[2018-11-13 19:04] phoenix128 commented on #1889
@VitaliyBoyko ,
I agree with you and I think the issue should be fixed in the core IMHO.
This is a fix for MSI, but the source is in the core. @maghamed , what do you think about this?

[2018-11-13 20:01] VitaliyBoyko commented on #1895
Hi @smoskaluk
I can't reproduce the issue on the latest 2.3-develop branch of CE Magento with MSI. Could you please recheck it?
![image](https://user-images.githubusercontent.com/20116393/48439906-22cd8000-e790-11e8-98b1-d9f530445910.png)

[2018-11-13 23:01] maghamed commented on #1889
@phoenix128  had to revert your PR as quite a lot of MFTF tests were affected, see Jenkins for more details

[2018-11-14 07:15] smoskaluk commented on #1895
@VitaliyBoyko I can still reproduce this issue on latest 2.3-develop branch

[2018-11-14 07:34] SergeyP18 commented on #1875
1. Cretate product
![2018-11-14 09-30-42](https://user-images.githubusercontent.com/37869098/48466935-0103e580-e7f0-11e8-9229-af23fb1a2f24.png)
2. Go to "Reports" → "Low Stock"
![2018-11-14 09-32-04](https://user-images.githubusercontent.com/37869098/48467018-53dd9d00-e7f0-11e8-8f7a-d21ec36356f7.png)
Product not view in report.

[2018-11-14 07:34] maghamed commented on #1895
Step 1
![image](https://i.imgur.com/Nk4g2gk.png)

Step 2
![image](https://i.imgur.com/yQq6SPt.png)

Step 3
![image](https://i.imgur.com/f6OKPg6.png)

Step 4
![image](https://i.imgur.com/L8WVZdF.png)

[2018-11-14 08:48] IvanPletnyov commented on #1858
The problem is that lowstock page render in core block `Magento/Reports/Block/Adminhtml/Product/Lowstock.php` (not MSI block `Magento/InventoryLowQuantityNotificationAdminUi/Block/Adminhtml/Product/Lowstock/Grid.php`).

I think it happens because with EE version adding module Magento_Invitation which affect order of layout merge and because of that MSI layout changes to standard

[2018-11-14 10:41] #1886 closed, assigned to seruymt

[2018-11-14 15:31] #1895 closed, assigned to VitaliyBoyko

[2018-11-14 16:41] okolesnyk commented on #1889
Hi @phoenix128
I'm aware that you have an issues with MFTF tests failure. I think I can help you with this.
Most of MSI tests were relying on Qty field by mistake and this must be fixed. And also we should override All default Magento tests which are failing because of disabled Qty field.

I'll put fixes to your branch and will keep you posted on this.

[2018-11-15 08:54] smoskaluk opened #1905 "No returns to the source for configurable product during credit memo after partial invoice and shipping created"
### Preconditions

1. Magento MSI multy stock mode
2. Configurable product created with 2 dropdown color options "Red" and "Black" having weight and qty on default source = 100

### Steps to reproduce

1. Place order with 10 items of configurable 'Red"
(Qty on source = 100, salable qty = 90)
2. Create partial invoice for 3 items
3. Create partial shipment for 3 items
(Qty on source = 97, salable q

[2018-11-15 09:28] #1887 closed, assigned to seruymt, SergeyP18

[2018-11-15 09:52] IvanPletnyov opened #1906 "Cancellation of partially invoiced order with fixed bundle product isn't create"
### Preconditions
1. Magento with MSI
2. Multi source mode
3. Create Simple product on default source with quantity equal to 100
4. Create fixed bundle product (with created simple product with default quantity = 1)
Example:
- Dynamic SKU = No
- Dynamic Price = No
- Dynamic weight = No
![image](https://user-images.githubusercontent.com/26973706/48544312-fd459100-e8cb-11e8-8341-5dc651a0c016.png)

-

[2018-11-15 11:28] smoskaluk opened #1907 "No returns to the source for fixed bundle product during credit memo after partial invoice and shipping created"
### Preconditions

1. Magento MSI multy stock mode
2. Simple product created with qty on default source = 100
3. Create fixed bundle product with created simple product with default quantity = 1
(Dynamic SKU = No, Dynamic Price = No, Dynamic weight = No)

### Steps to reproduce

1. Place order with 10 items of fixed bundle product
(For child simple product Qty on source = 100, salable qty = 90)
2.

[2018-11-15 12:59] smoskaluk opened #1908 "No returns to the source for dynamic bundle product during partial credit memo after full invoice and partial shipping created"
### Preconditions

1. Magento MSI multy stock mode
2. Simple product created with qty on default source = 100
3. Create bundle product with created simple product with default quantity = 1
(Dynamic SKU = yes, Dynamic Price = yes, Dynamic weight = yes and option 'Ship bundle items = Together)

### Steps to reproduce

1. Place order with 10 items of fixed bundle product
(For child simple product Qty

[2018-11-15 14:27] smoskaluk opened #1909 "No returns to the source after partial Credit memo for fully invoiced and partially shipped order with Grouped product"
### Preconditions

1. Magento MSI with test source created
2. Simple product created with qty = 100 on default source
3. Grouped product created with with simple  product as a childs (qty=1)

### Steps to reproduce

1. Place order with Grouped product (simple product  qty = 10)
2. Verify that Salable Qty of product get = 90
3. Create Invoice for this order
4. Create partial Shipment for 3 item of

[2018-11-15 14:38] IvanPletnyov opened #1910 "Credit memo work incorrectly on invoiced and partially shipped order with configurable"
### Preconditions
1. Magento 2.3 with MSI
2. Create configurable with two option with quantity = 100
3. Create order with configurable option with quantity equal to 10

### Steps to reproduce
1. Create shipping with quantity = 6
2. Create invoice with quantity = 10 (all ordered quantity)
3. Create credit memo with quantity = 7

### Expected result
1. Quantity of ordered product = 100

### Actual r

[2018-11-15 14:47] #1909 closed, assigned to nobody

[2018-11-15 14:47] #1908 closed, assigned to nobody

[2018-11-15 14:48] #1907 closed, assigned to nobody

[2018-11-15 15:02] maghamed commented on #1910
This is expected behavior

[2018-11-15 15:02] #1910 closed, assigned to nobody

[2018-11-16 07:51] IvanPletnyov commented on #1875
@SergeyP18 Hi! I've rechecked this bug, it still reproduce(low stock report displays 'Out of stock' products).
Gif:
![low stock proof](https://user-images.githubusercontent.com/26973706/48605288-021a4b80-e985-11e8-8f33-216a38a0492b.gif)

[2018-11-16 12:09] IvanPletnyov opened #1912 "Source list is empty on SSA page on order with configurable with custom options"
### Preconditions
1. Magento 2 with MSI
2. Create three custom sources
3. Create custom stock with assigned created sources and assigned "main website"
4. Create configurable product with two options (black and white) with assigned custom sources.
5. On configurable product create two custom options

### Steps to reproduce
1. Create order with option black and choice custom options
2. Click "Ship"

[2018-11-16 13:05] #1217 closed, assigned to nobody

[2018-11-16 13:07] #1509 closed, assigned to phoenix128

[2018-11-16 13:31] #672 closed, assigned to nobody

[2018-11-16 13:33] #784 closed, assigned to nobody

[2018-11-16 13:43] #458 closed, assigned to nobody

[2018-11-16 13:58] larsroettig commented on #1720
Hi @maghamed,
if you describe the expected behaviour I can implement this Issue.

Currently, it is not a bug it was implemented in #237.

best regards,

Lars

[2018-11-19 10:02] IvanPletnyov opened #1913 "Wrong qty calculation on order with configurable after partial ship, partial invoice"
### Preconditions
1. Magento 2 with MSI
2. Create three custom sources (source 1, source 2 and source 3)
3. Create custom stock with assigned created sources and assigned "main website".
Priority for sources:
   1) Source 3
   2) Source 1
   3) Source 2
4. Create configurable product with two options (black and white) with assigned created sources and qty = 100.

### Steps to reproduce
1. Create o

[2018-11-19 10:12] maghamed commented on #1913
Please check this case when the full invoice created in the first step.

Because for me the issue looks like a bug with order status, but not as a problem with MSI computation

[2018-11-19 11:18] IvanPletnyov commented on #1913
@maghamed I've checked this case with full invoice, bug reproduce, but we have other results on "quantity per source"
![image](https://user-images.githubusercontent.com/26973706/48703818-9abb0080-ebfd-11e8-873b-0411a18a421d.png)

[2018-11-19 11:52] maghamed commented on #1913
If we apply next steps:

- order for 10 items
- full invoice (10 items)
- ship 3
- ship 2
- credit memo 5 items

The order should appear in a complete status after last credit memo operation without possibility to ship any more , so that it’s an issue with order status , but not with calculations

[2018-11-19 12:39] IvanPletnyov commented on #1913
@maghamed I've created issue on Jira https://jira.corp.magento.com/browse/MAGETWO-96456

[2018-11-20 08:03] vickdoan commented on #1905
I think the wrong qty was caused by $processedQty in the aroundExecute function ( see file app/code/Magento/InventorySales/Plugin/SalesInventory/ProcessReturnQtyOnCreditMemoPlugin.php)

I tried to invoice 3 qtys for Red option but  the "qty_invoiced" is different between the parent item and the child item in the "sales_order_item" table.

![image](https://user-images.githubusercontent.com/15009867

[2018-11-20 09:31] IvanPletnyov opened #1914 "500 error on source Item import"
### Preconditions
1. Magento 2 with MSI
2. Create source with code test_source_1
3. Create stock, assign to it main website and created source
4. Create simple product with sku = "Simple product 1" and assign created source to product with qty = 100

### Steps to reproduce
1. Go to System → Import
2. Import settings:
![image](https://user-images.githubusercontent.com/26973706/48763918-fe553480-ecb

[2018-11-20 14:12] #1849 closed, assigned to seruymt

[2018-11-20 14:12] #1914 closed, assigned to IvanPletnyov

[2018-11-21 09:28] vickdoan commented on #1912
@SergeyP18 I think the issue was caused by SKU of child products. It includes the custom option SKU and the system cannot find right item.

File: Magento\InventoryShippingAdminUi\Controller\Adminhtml\SourceSelection\ProcessAlgorithm.php - the execute() function

$requestItems[] = $this->itemRequestFactory->create([
                    'sku' => $data['sku'],
                    'qty' => $data['qty'

[2018-11-21 21:40] bartekszymanski opened #1920 "Missing sku column index in inventory_source_item table"
### Preconditions

1. Magento 2.3.0-beta32 installation

### Expected result

1. SELECT * FROM inventory_source_item WHERE sku = ?
execute using proper column index

### Actual result

1. SELECT * FROM inventory_source_item WHERE sku = ?
currently execute with full table scan
![obraz](https://user-images.githubusercontent.com/32022892/48869491-b7159380-eddd-11e8-831c-a85aa50e6290.png)

[2018-11-22 15:13] IvanPletnyov opened #1921 "Performance degradation on catalog page"
### Preconditions
1. Magento with MSI
2. Load performance fixtures
`bin/magento setup:perf:generate-fixtures setup/performance-toolkit/profiles/ce/small.xml`
3. [Enable SQL profiler](https://devdocs.magento.com/guides/v2.1/config-guide/db-profiler/db-profiler.html)

### Steps to reproduce
1. Open category page (example http://localhost/category-4.html)

### Magento with MSI profiler results
SQL qu

[2018-11-22 15:23] IvanPletnyov opened #1922 "Memory limit error when we transfer source on big count of products"
### Preconditions
1. Magento with MSI
2. Load performance fixtures `bin/magento setup:perf:generate-fixtures setup/performance-toolkit/profiles/ce/small.xml`
3. Create custom source
4. Create custom stock with assigned main website and created source
5. Set 'No' in Admin in Configuration->Catalog->Inventory-> Admin Bulk Operation for 'Run Asynchronously'

### Steps to reproduce
1. Go to catalog pr

[2018-11-23 12:47] gitfredrik commented on #1370
I have a client that would also benefit from functionality like this.
He offers "pre-order" on new products that are not yet in stock. So we allow backorders. He knows the shipment will be for 100 items so -100 in out of stock threshold would mean he wouldn´t sell more thru pre-order than he knows he´s gonna get in stock.

[2018-11-26 09:22] maghamed commented on #1870
Looks like a duplication #1667

[2018-11-26 15:02] maghamed commented on #1921
hey, @vickdoan  is there any update on this issue or maybe some assistance needed from our side?

[2018-11-27 12:23] IvanPletnyov opened #1924 "Wrong quantity on source after partial invoice, partial shipment and partial credit memo"
### Hiptest scenario
https://app.hiptest.com/projects/69435/test-runs/203632/folder-snapshots/1731766/scenario-snapshots/6739699/test-snapshots/8717915

### Preconditions
1. Magento with MSI
2. Create source
3. Create stock with assigned created source
4. Create simple product with assigned default source with quantity equal to 100

### Steps to reproduce
1. Create order with created product with

[2018-11-27 14:04] #1924 closed, assigned to nobody

[2018-11-27 14:05] IvanPletnyov commented on #1924
It isn't a bug

[2018-11-29 11:09] seansan opened #1925 "Feature Request: Assign price or discount price based on inventory"
### Description
Feature Request: Assign price or discount price based on inventory

### Expected behavior
Some inventory is old or consists of returns or we need to get rid of it. The same product however might exist in other inventories. Or at an inventory at the supplier.

So to start it would be really great of we are able to
- create a (dynamic) category that consts ONLY of products from inven

[2018-11-30 16:30] larsroettig commented on #1870
@maghamed i close this issue yep it is really duplication

[2018-11-30 16:30] #1870 closed, assigned to nobody

[2018-12-03 19:28] maghamed opened #1926 "Locale CSV files are not contained in MSI modules"
Locale CSV files are not contained in MSI modules

[2018-12-05 15:39] JacobBrownAustin opened #1928 "inventory-composer-installer doesn't work as intended for Magento Cloud environment on upgrade"
The inventory-composer-installer doesn't work as intended for Magento Cloud environment on upgrade.  This is because on Magento Cloud, during the build phase, on the build server, a fresh composer install is always run against the environments git branch.  The way it is currently written, inventory-composer-installer thinks that this is a fresh install, so it enabled MSI modules, even though we ex

[2018-12-05 19:49] JacobBrownAustin opened #1929 "inventory-composer-installer incorrectly disables InventoryMessageBus from MCOM modules on update"
The inventory-composer-installer composer plugin incorrectly disables InventoryMessageBus from MCOM modules.  The reason is because the module starts with the word "Inventory", and inventory-composer-installer disables all modules that start with that.

### Preconditions

1.  Have Magento 2.2 installed with MCOM modules installed.  (I tested with 2.2.6.)

### Steps to reproduce

1.  Upgrade to Mag

[2018-12-06 09:04] IvanPletnyov opened #1930 "Wrong coordinates by postcode"
### Preconditions
1. MSI repository on branch [distance-based-source-selection-algorythm](https://github.com/magento-engcom/msi/pull/1866)
2. Go to inventory configuration page **Catalog** > **Inventory** > **Google Distance Provider** and set your Google API key

### Steps to reproduce
1. Go to create source page
2. In Country select "Ukraine"
3. In Postcode field set 88000
4. Save source

### Ex

[2018-12-06 09:14] smoskaluk opened #1931 "Error during work of Distance based source selection algorithm in PR #1866"
### Preconditions

1.Set Distance based source selection algorithm settings on configuration page in admin (Catalog -> Inventory), select 'Google Map' as provider for distance based SSA, set proper Google API key
2. Create Test stock with two test sources with proper location data and assign it to Main website as sales channel
3. Create simple product and assign it to both of test sources
4. Place

[2018-12-06 16:13] lorikrell commented on #1461
Diagrams added and updated in 2.3.0
https://docs.magento.com/m2/ee/user_guide/catalog/inventory-about-order-status-reservation.html
https://docs.magento.com/m2/ee/user_guide/Resources/Images/inventory-diagram-simple-order.png
https://docs.magento.com/m2/ee/user_guide/Resources/Images/inventory-diagram-complicated-order.png

May add additional diagrams based on doc updates by Igor in https://github

[2018-12-06 16:32] lorikrell opened #1932 "DOCS - Store Pick Up Documentation"
Add documentation and information for implementing in-store pickup option for orders. This affects the following merchant information:

- Create/add sources for storefronts supporting shipping and in-store pickup
- Cancelations and returns may be affected on timing of fulfilled purchases, invoicing to affect stock (when picked up only? etc)
- In-store returns for credit memos

Requires docs, scree

[2018-12-06 16:58] lorikrell opened #1933 "DOCS - Distance Based SSA"
Related to PR https://github.com/magento-engcom/msi/pull/1866

Document configuring SSA for Distance Based

- Required config / data for sources (full address, geo coords)
- Google API Key and enabled options for store config in Google (distance matrix, geocoding APIs, etc) Multiple ways to set up the APIs for the key. Document easiest for merchants.
- Online/offline mode
- Shipment options - runn

[2018-12-10 21:32] mbrinton01 opened #1938 "Some headings are not indented on Source Selection page"
### Preconditions
1. dev-2.3-develop

### Steps to reproduce
1. Create Sources and Stock
1. Create order
1. Create Shipment
1. Click on Ship to create shipment for order

### Expected result
1. Available sources are presented based on SSA (Source Selection Algorithm)
1. Table headings are correctly indented (Source, Qty Available, Qty to Deduct)

### Actual result
1. Qty Available and Qty to Deduc

[2018-12-11 18:33] lorikrell opened #1939 "Configurable product out of stock after mass transfer from default source"
Updated steps after reindexing test.

Only an issue if you Mass Transfer quantity with the configurable + simple product configurations all selected, moving Default Stock to a custom stock. Works fine if you only select simple product configurations (not the configurable).

### Preconditions

1. Installed 2.3.0 + MSI.
2. This occurred with and without sample data installed.
3. With sample data, ex

[2018-12-12 08:05] maghamed opened #1940 "Fix comment for service"
[code]

**Return null if configuration for sku per stock is not exist** - service never returns null

[2018-12-12 08:19] smoskaluk commented on #1939
@lorikrell Hi, Lori! I guess problem is that your current stock assigned to Main website is Default stock - so on it you have no quantity for your Configurable child products - so Configurable  has status 'Out of stock'. If you assign Main website to your custom stock - where your Austin Warehouse assigned as well - and perform reindex - the status of Configurable will be 'In stock'.

[2018-12-12 15:04] lorikrell commented on #1939
From Slava:  Hi, Lori! I guess problem is that your current stock assigned to Main website is Default stock - so on it you have no quantity for your Configurable child products - so Configurable has status 'Out of stock'. If you assign Main website to your custom stock - where your Austin Warehouse assigned as well - and perform reindex - the status of Configurable will be 'In stock'.

Lori reply:

[2018-12-12 15:55] lorikrell commented on #1939
Checking this out based on feedback from Slava. Will verify his info to see if this is an issue or requires additional documentation to solve. Thanks!

[2018-12-12 16:15] Swahjak opened #1941 "Unnecessary conversion of product to SKU and back to ID using GetProductIdsBySkus"
Magento 2.3

### Summary

I'm not quite sure as to why, but to me there are some very strange cases where products and converted to SKU's and then back to ID's. Why SKU is used as identifier is a mystery to me (since we have ID's), but this seems to be a Magento core choice.

Correct me if I'm wrong, but is seems as if `Magento\InventorySales\Model\IsProductSalableCondition\IsProductSalableConditi

[2018-12-12 23:42] lorikrell commented on #1939
Tried the reindexing, didn't help. If you have configurable product selected AND simple product configurations, transfer from Default Source to custom source, it is out of stock. Reindex/cache clear didn't fix.
Updated steps with more info and screenshot.

[2018-12-16 23:14] Stepa4man commented on #1921
@maghamed, I did some investigation for category page performance.
I found 15 queries that have a very low performance. I have checked it
And I have several conclusions:

- All slow queries contain join to inventory_stock_1 sql view and it can't be indexed because it's just view (query without this sql view works like 10 times faster)
- Some of the queries have unnecessary joins to catalog_product

[2018-12-17 08:19] smoskaluk opened #1945 "Elasticsearch doesn't work with several words"
Make Elasticsearch working properly to search by several words

[2018-12-17 08:50] smoskaluk opened #1946 "Set for Admin bulk operations - run asynchronously by default"
Set by default for configuration in admin - Run asynchronously for Admin bulk operations

![image](https://user-images.githubusercontent.com/27818516/50076219-c70c7180-01e9-11e9-96de-52c275bd01cb.png)

[2018-12-17 11:44] smoskaluk opened #1947 "Source items deduction during Credit memo creation for unshipped order items"
During creating Credit memo for unshipped order next changes should be applied:
1. Set by default in new Credit memo document option "Return to stock" if order items was not shipped yet.
2. If merchant choose to not "Return to stock" orders items - deduct them from the source using SSA by  sources priority
3. Compensational reservations should be created for deducted items on corresponding Stock.

[2018-12-17 16:00] #1945 closed, assigned to nobody

[2018-12-17 16:31] Swahjak commented on #1941
Somewhat related to #1921 since this issue is a result of using SKU instead of ID.

[2018-12-17 17:26] zebimax opened #1948 "Invalid type cast and status calculation based on quantity column during stock_sources import"
### Preconditions

1. Magento 2.3-develop msi `version`

### Steps to reproduce

1. Try to Import stock_sources data
2. do not fill status column in csv
3. Use standart import page to import file
### Expected result

1. Validation is successfull
2. Status column is set based on quantity column
3. Import is successful

### Actual result

1. Validation is successfull
2. Import is not successfull

`P

[2018-12-17 21:17] maghamed commented on #1948
Thanks for this bug report @zebimax ! We will add it to the scope of the current Milestone

[2018-12-18 20:46] magterskine opened #1949 "Credit memo created for whole order with Simple product on Default stock after full invoice and shipment in Admin"
https://app.hiptest.com/projects/69435/test-plan/folders/735125/scenarios/1474868

[2018-12-19 10:07] cscd98 opened #1952 "Argument 1 passed to Magento\InventoryShipping\Model\GetSourceSelectionResultFromInvoice::getSelectionRequestItems() must implement interface Traversable, array given"
### Preconditions (*)
1. Magento 2.3.0 EE
2. PHP 7.2.13
3. MySQL 5.7.24

### Steps to reproduce (*)
1. Add to basket a simple product and a virtual product
2. Proceed to checkout
3. In code, the invoice is captured and saved in my own controller after 3dsecure has completed. This code works perfectly when payment for a simple sku on it's own.

[code]

After save, VirtualSourceDeductionProcessor is

[2018-12-19 11:43] maghamed commented on #1952
@craigcarnell thanks for this bug report! We will deal with it shortly.

Looks like the main issue here is the contract of

[code]

Because PHP can't deal with `array|Traversable` as a type.

What supposed to be here is `iterable` pseudo type introduced since PHP 7.1 - http://php.net/manual/en/language.types.iterable.php

_Iterable is a pseudo-type introduced in PHP 7.1. It accepts any array or ob

[2018-12-19 14:19] cscd98 commented on #1952
@Stepa4man @maghamed Can confirm that PR fixes my issue, thanks :+1:

Hope it's included in 2.3.1.

[2018-12-19 15:24] maghamed commented on #1952
@craigcarnell  it would be delivered much sooner than 2.3.1 release, as MSI releases are not coupled to main Magento project release timeline.
Currently, we plan to bundle next patch release of MSI at the beginning on January, 2019

btw, merged this PR into MSI mainline, thanks @Stepa4man for contribution!

[2018-12-19 15:34] Stepa4man commented on #1952
@craigcarnell, @maghamed
It's pleasure!!! Thanks!

[2018-12-21 12:44] naydav opened #1957 "Add MSI API-functional tests support to Travis"
MSI web API functional tests should be executed on Travis.

[2018-12-21 15:29] maghamed commented on #1941
hi @Swahjak , thanks for your question.

Magento is tending to isolated components design. You can ream more about this here - https://github.com/antonkril/architecture/blob/fdcfafe1d6187f9abaf18af9eec7c10e8067a637/design-documents/service-isolation.md

What it means in preactice that different components (bounded contexts in terms of Domain Driven Design) should communicate to each other via the

[2018-12-26 10:25] DnD-Mimosa opened #1961 "Can't use bulk API for inventory/source-items endpoint"
### Preconditions

1. Magento Commerce 2.3.0
2. Magento MSI

### Steps to reproduce

1. I'm trying to use the bulk API to update source items inventory through the endpoint inventory/source-items by using POST. As I saw in Magento documentation, if I want to use bulk API, I should call my endpoint like this :
https://magento.local/rest/async/bulk/V1/inventory/source-items
2. I tried with my own pa

[2018-12-26 16:06] smoskaluk opened #1962 "Fix work of asynchronous bulk inventory operations configured on MySQL DB connection"
Fix work of asynchronous  bulk inventory  operations configured on MySQL DB connection via message queue in module InventoryCatalogApi
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/message-queues/config-mq.html

[2018-12-26 16:12] smoskaluk opened #1963 "Make error message more informative for mass inventory transfer"
Make error message more informative for mass inventory transfer

![image](https://user-images.githubusercontent.com/27818516/50450959-c5ede980-0939-11e9-92c6-a81c59d4b0c6.png)

[2018-12-26 17:54] maghamed commented on #1961
@DnD-Mimosa  thanks for this bug report!
We will investigate it and get back with results shortly

[2018-12-27 10:29] IvanDotsenko opened #1965 "Wrong argument for method setActiveMenu() in module-inventory-admin-ui/Controller/Adminhtml/*"
# Wrong argument for method setActiveMenu() in module-inventory-admin-ui/Controller/Adminhtml/*

### Preconditions
1. Magento 2.3.0

### Steps to reproduce
1. It isn't visible on the frontend.

### Expected result
[code]

### Actual result
[code]
### File menu.xml module **module-inventory-admin-ui**
[code]

Looks like menu was moved from **module-inventory-api** to **module-inventory-admin-ui**

[2018-12-27 11:04] maghamed commented on #1961
Hi @DnD-Mimosa, looks like you have an issue in the format of your REST request, and the root cause of the issue is that our API for Inventory SourceItem Save **is Bulk by its nature.**

As you can see, `SourceItemsSaveInterface` service accepts not a single SourceItem, but an array of SourceItems
[code]

This new design of Interfaces which work with array of entities is recommended in Magento Ser

[2018-12-27 11:08] maghamed commented on #1961
@DnD-Mimosa  if my answer above resolved your problem, could you please close this issue or leave a feedback so we can proceed further

[2018-12-27 11:37] DnD-Mimosa commented on #1961
Hi @maghamed, thank you very much for your answer and your time !

It works now 👍

[2018-12-27 11:37] #1961 closed, assigned to nobody

[2018-12-27 12:04] smoskaluk commented on #1961
Hi @DnD-Mimosa!
Please change endpoint in your call like this <magento>rest/async/V1/inventory/source-items .
Also if you have only one "default" source assigned to your products, params should be different as well
{"sourceItems":[{"sku":"new_product1","source_code":"default","quantity":1000,"status":1},{"sku":"new_product2","source_code":"default","quantity":500,"status":1}]}

[2018-12-27 12:34] maghamed commented on #1961
Great, thanks!

[2018-12-27 13:45] maghamed commented on #1941
the corresponding PR has been merged in 2.3-develop branch and would be bundled into the next patch release of MSI soon

Btw it gave a slight Performance boost.

[2018-12-27 16:09] Swahjak commented on #1941
@maghamed First thanks for being so elaborate. I was going to write a rant about how SKU is a useless piece of information for us (it's basically a random set of characters made up by a random employee) but neither you (and certainly not I) are in the position to do anything about that anyway.

I understand, but then again don't. MSI knows it's Magento. We're loading product with ID's, extracting

[2018-12-28 16:50] maghamed commented on #1941
Hi, @Swahjak. It's great to see that people who care share their opinion and if they consider something as incorrect - make changes by yourself and deliver them in Pull Requests! I really appreciate that (in fact not only me but all people in Magento).

Agree

Agree

We just wanted to make contracts of the most used services of Inventory to work with SKUs:
[code]
and don't duplicate these services

[2018-12-28 17:08] maghamed commented on #1941
Just finished Code Review of your PR - https://github.com/magento-engcom/msi/pull/1966#pullrequestreview-188329498

do you accept my arguments for cache granularity or you still see a necessity in the low granular caching layer?

[2019-01-03 01:48] classdisk opened #1967 "Test"
TST-1

[2019-01-03 20:46] boldbart commented on #1234
I'm experiencing the same issue (Magento 2.3 EE and MSI).

[2019-01-07 17:22] lorikrell commented on #1963
I can help with the error messaging, depending on the action that failed.

[2019-01-08 01:24] jonathanribas opened #1968 "Source items deduction during checkout when order is successfully placed"
### Description
We are actually using a warehouse as our priority source and also an unified retail shops stock source.
As MSI allows it, we would like to ship each order item line through the priority source that was chosen by SSA priority algorithm.

Order line items processed by our warehouse are processed every minute, if picking step is ok, our internal system asks automatically Magento 2 API

[2019-01-08 07:29] sah-anshu commented on #1968
### + Expected behavior
- If we can send a notification to Source Email, it will be helpful.

[2019-01-08 08:17] #1967 closed, assigned to nobody

[2019-01-08 22:49] maghamed commented on #1968
Hi @jonathanribas , thanks for your feedback and feature request, we really appreciate that!
Now regarding your proposal. As for me what you need is not source deduction at the time of order placement, but Reservation mechanism on Source level (currently MSI provides Stock level reservations only). Source level reservations will allow to keep SSA result and prevent interfering of different orders

[2019-01-09 11:10] jonathanribas commented on #1968
Hi @maghamed, thanks for your reply.

Source reservations by SSA for priority sounds good!

Have you already planned to include this feature in an MSI milestone?

[2019-01-09 19:37] maghamed commented on #1968
@jonathanribas I don't think that we will proceed on this story in the coming future (H1 of 2019, as we have quite a lot of other stories with higher priority to do) unless somebody would contribute it to MSI and we accept this contribution

[2019-01-10 10:13] karthi5053 opened #1971 "Magento 2.3 - Multi-Source Inventory discrepancy with stock at source and salable quantity"
Thanks for incorporating, Multi source Inventory module for magento. But, we are facing some issues while incorporating and using this module on a realtime scenario.

Preconditions (*)

1) Magento 2.3.0 CE
2) PHP 7.1

Steps to reproduce (*)

1) Create a Inventory source under (Store-> Inventory-> Sources) as "NY-Warehouse".
2) Create a stock as "NY-Warehouse Stock" under (Store-> Inventory-> Stock

[2019-01-10 11:54] cscd98 commented on #1952
@maghamed Do you have an update on when the next release is please?

[2019-01-10 19:09] jonathanribas commented on #1968
Hi @maghamed,

Ok, thank you.

[2019-01-10 19:33] magterskine opened #1973 "Credit memo created with partial Refund for order with Simple product on Default stock after full invoice in Admin"
https://app.hiptest.com/projects/69435/test-plan/folders/735125/scenarios/1474997

[2019-01-10 20:28] lorikrell commented on #1933
Documented for Flare/Public User Guide. PR in review for merge when package ready.
Documented in Wiki:
https://github.com/magento-engcom/msi/wiki/Configure-MSI-SSA

[2019-01-10 20:29] lorikrell commented on #1933
Closing as complete. Provided information to Kevin for DevDocs updates (different ticket)

[2019-01-10 20:29] #1933 closed, assigned to lorikrell

[2019-01-10 20:44] magterskine opened #1974 "Credit Memo created with full refund with Simple product on Default stock after full invoice and partial shipment"
https://app.hiptest.com/projects/69435/test-plan/folders/735125/scenarios/2481833

[2019-01-10 22:27] magterskine opened #1976 "Credit Memo created with partial refund with Simple product on Default stock after full invoice and partial shipment"
https://app.hiptest.com/projects/69435/test-plan/folders/735125/scenarios/2482675

[2019-01-10 22:29] magterskine opened #1977 "Credit Memo created with partial refund with Simple product on Default stock after partial invoice and partial shipment"
https://app.hiptest.com/projects/69435/test-plan/folders/735125/scenarios/2489901

[2019-01-11 05:58] ghoshsweta opened #1978 "Negative as well as decimal values are been accepted while assigning quantity against a source in the product creation form"
### Preconditions (*)

1.Magento version 2.3.0
2.php version 7.2

### Steps to reproduce (*)

1)Login to Admin Panel
2)On left navigation goto Stores-> Inventory->sources
3)Create two source
4)Now goto left navigation Stores-> Inventory->stocks
5)Create stock with Sales Channels: the Main website, and add source created above to the stock
6)Go to Catalog->products
7)Click the edit button of any pr

[2019-01-14 15:46] HS-Fachmarkt opened #1980 "Bulk Inventory Transfer from backend doesn't work with numerical skus"
### Preconditions
1.    Magento Commerce 2.3.0
2.    Magento MSI

### Steps to reproduce
1. Create two inventory sources
2. Create or use a product with only digits in sku. Assign it to any Source and give it Quantity.
3. in Backend Catalog/Products: check the product and do the "Transfer Inventory to Source" action

### Expected result
1. Source should get changed

### Actual result
1. I get a bl

[2019-01-15 03:53] maghamed commented on #1980
Thanks for the bug report @HS-Fachmarkt.

I think the better way to fix the issue above is to add explicit type casting to string for SKU.

[2019-01-15 04:07] maghamed commented on #1978
Hi @swetacedcoss ,

thanks for the bug report.
Let's consider both of these possibilities: negative inventory amount and decimal value separately.

Negative inventory amount should be possible to enter and this possibility could be useful especially in case a Source represents Dropshipper. So, the inventory value represents not the actual Stock, but how many products Ordered and what's the "Invent

[2019-01-15 04:10] maghamed commented on #1962
https://github.com/magento/async-import/issues/19

[2019-01-15 15:28] maghamed opened #1983 "Improve performance of BulkInventoryTransfer"
\Magento\InventoryCatalog\Model\ResourceModel\BulkInventoryTransfer

[code]

Here we iterate over SKUs array checking whether `isSourceItemManagementAllowedForProductType` and if so we proceed with transferring , which is inefficient from the performance point of view.
So that we have to collect all transferable SKUs and transfer them in a scope of single operation

[2019-01-15 15:30] maghamed commented on #1980
hey @HS-Fachmarkt  the issue is fixed and merged into 2.3-develop branch

so that it would be released in the upcoming MSI Patch release

[2019-01-20 20:37] mcspronko commented on #1926
@maghamed How to assign this issue? Can you assign me please?

[2019-01-21 15:28] twosg opened #1988 "Database Rollback not working M2.3.0"
### Preconditions (*)

1. Magento 2.3.0
2. Debian 9, MariaDB 10.1.37
3. PHP 7.2.14

### Steps to reproduce (*)

1. `bin/magento setup:backup --db`
2. `bin/magento setup:rollback --db-file=1548082389_db.sql -n`

### Expected result (*)

1. Rollback completes without errors

### Actual result (*)

1. Rollback aborts with errors:

[code]

I guess that may be because of references to foreign tables wh

[2019-01-21 18:58] maghamed commented on #1988
thanks for the bug report @twosg  we will process and get back with results shortly

[2019-01-22 17:05] #1922 closed, assigned to nuzil

[2019-01-22 18:11] maghamed commented on #1988
I think one of the reasons based on the output could be that a backup/rollback tool does not support MySQL View.

So, that when rollback//backup handles `'inventory_stock_1'` and tries to disable KEYs for efficient insert
`ALTER TABLE inventory_stock_1 DISABLE KEYS` it gets similar issue:

[code]

[2019-01-22 18:15] maghamed opened #1990 "Improve performance of Sources sorting in SSA"
Currently, the final order fulfillment among sorted sources list implemented not efficiently (especially for those merchants who have a lot of Sources)

[code]

https://github.com/magento-engcom/msi/blob/2.3-develop/app/code/Magento/InventorySourceSelectionApi/Model/Algorithms/Result/GetDefaultSortedSourcesResult.php#L108-L109

[2019-01-22 18:21] maghamed opened #1991 "Add Support of Distance Based SSA"
The Distance Priority Algorithm is a new out-of-the-box Source Selection Algorithm for distance-based shipping recommendations. This algorithm compares the location of the shipping destination address with source locations to determine the closest source to fulfill shipments. The distance may be determined by physical distance or time spent traveling from one location to another, using imported da

[2019-01-23 15:44] maghamed commented on #1925
This is definitely an interesting idea to consider especially it would be useful for merchants who build a marketplace. But here we need no consider B2B requirements first. I believe this topic deserves a dedicated grooming meeting with @mbrinton01

[2019-01-24 15:33] m-schreiber opened #1995 "Magento_InventorySalesApi is missing acl.xml"
### Preconditions (*)

1. Magento Version 2.3.*
2. Magento_InventorySalesApi Version 1.0.0

### Steps to reproduce (*)

1. Add New Integration
2. Try to grant access to "InventorySalesApi::stock" as used in module-inventory-sales-api/etc/webapi.xml
3. Try to use API-Endpoint "GET http://<host>rest/us/V1/inventory/get-product-salable-quantity" as described in https://devdocs.magento.com/guides/v2.3

[2019-01-24 15:51] IvanPletnyov opened #1996 "Delete disabling new inventory modules"
### Summary
Don't disable modules:
1. Magento_InventoryDistanceBasedSourceSelection
2. Magento_InventoryDistanceBasedSourceSelectionAdminUi
3. Magento_InventoryDistanceBasedSourceSelectionApi
4. Magento_InventoryElasticsearch

, if module Magento_InventoryApi already enabled.

[2019-01-24 16:01] lorikrell commented on #1963
Could also make this part of this issue: https://github.com/magento-engcom/msi/issues/1584
Just need to know the scenarios that trigger an error. That error is a core Magento all else fails general error.

[2019-01-24 16:26] maghamed commented on #1996
Not delete module disabling, but don't disable NEW MSI modules if some MSI modules already enabled

[2019-01-25 15:30] maghamed commented on #1995
The fix has been merged into MSI mainline 2.3-develop branch and would be released shortly

[2019-01-26 03:09] shikhamis11 commented on #1978
@maghamed in that case this issue must be closed

[2019-01-28 10:04] karthi5053 commented on #1971
Hi,

Can we have an update on this?

Regards,
Karthi Kumar.

[2019-01-28 15:30] michaeljdietz opened #2001 "Quantity Incorrect After Changing SKU"
### Preconditions
1. Magento Version 2.3.*

### Steps to reproduce
1. Create a SKU with 1x quantity available at a single source
2. Purchase 1 quantity of that SKU
3. Verify SKU shows out of stock / unavailable
4. Change the SKU in the admin backend
5. Verify SKU no longer shows out of stock.

### Expected result
1. Product should still be out of stock.

### Actual result
1. Product shows availabl

[2019-01-29 11:20] k4emic opened #2002 "Stock Item reindex acts as "update on save" even when using "update on schedule""
### Preconditions

1. Magento 2.3.0
2. Inventory indexer set to "Update on schedule"

### Steps to reproduce

1. Use import-export feature to import any MSI stock items

### Expected result

1. Stock items are saved
2. Reindexing is handled by scheduled cron

### Actual result

1. Reindexing is handled immediately after import, then again by scheduled cron

### Why this happens
The underlying impl

[2019-01-29 16:09] keharper opened #2003 "POST /V1/inventory/source-selection-algorithm-result payload doesn't accept street_address"
### Preconditions

1. Branch: MSI 2.3-develop

### Steps to reproduce

1. Configure a source so that it can be used with the distance SSA.
2. Create an order and invoice.
3. Run `POST /V1/inventory/source-selection-algorithm-result` with a payload similar to the following. (The syntax of the payload was taken from Swagger.)

[code]

### Expected result

1. Success

### Actual result

[code]

The c

[2019-01-29 16:26] maghamed commented on #2001
Hi, @michaeljdietz  thanks for creating this issue.

Some time ago when we were starting MSI development we've discussed this issue and possible consequences it could bring. Along with that, we raised a question to the community what business cases could lead to the update of natural identity (Product SKU). And there were no business cases which could appear on a day to day basis. We were given se

[2019-01-29 16:41] maghamed commented on #2003
I think there would be even better to rename `street_address` -> `street` in this case, and the issue will gone

[2019-01-29 17:42] michaeljdietz commented on #2001
Igor,

While I appreciate your detailed response, I have to disagree whole heartedly, and from personal experience no less.  This kind of decision seems to have no benefit I can derive from your explanation.  Moreover, I have worked at great length in systems that similarly used business layer data for relation and identity purposes, and I can confirm that the decision to do so was ALWAYS fraught

[2019-01-30 16:10] maghamed commented on #1988
@Stepa4man  if you created PR to the Magento repo , could you please provide a reference in this thread to keep tracking it

[2019-01-30 16:10] #1978 closed, assigned to maghamed

[2019-01-30 16:21] #1857 closed, assigned to maghamed

[2019-01-30 16:22] #1847 closed, assigned to maghamed

[2019-01-30 16:25] maghamed commented on #1689
#1996

[2019-01-30 16:29] maghamed opened #2005 "On the SSA page if there is the only Source available we have to pre-select it in the Sources Drop-Down"
Chirag Dodia [4:00 AM]
Anyone know How to PreSelect Source from dropdown on completion of custom algorithm ajax? I came across the scenario where i have only one source available by processing algorithm. At that time selecting source doesn't make any sense

Igor Miniailo [4:42 AM]
@Chirag D (Wagento) , actually we should have a conditional logic on the SSA page which suppose to check whether one a

[2019-01-30 16:33] maghamed opened #2006 "Provide API service which calculates nearby ZIP code addresses (functionality used in Store Pickup) by given ZIP code"
Provide API service which provides nearby ZIP code addresses for a given ZIP code (functionality used in Store Pickup), based on downloaded GeoData for Distance-Based Algorithm.

The semantic of service should be similar to:

[code]

https://camo.githubusercontent.com/7ec324be02fcb73c8d7946f0a834cb37a0fafaec/68747470733a2f2f692e696d6775722e636f6d2f624739724773612e706e67

Documentation for Distance

[2019-01-31 05:49] maghamed commented on #2001
Hi Michael,

Thanks for your response. It's a pleasure to read the feedback of people who care about Magento and trying to prevent it headed down the destructive path.

So, let's postpone the discussion of what's more efficient an integer or sting for MySQL as a primary key, and consider what makes sense for Business, and whether surrogate database generated key `Product ID` means anything to a me

[2019-01-31 16:37] mcspronko commented on #2006
Talking this issue.

[2019-01-31 16:56] TadeuRodrigues commented on #2002
@maghamed assign me please, I'm working with this now.

[2019-01-31 19:13] michaeljdietz commented on #2001
Igor,

Thank you for responding again at great length and taking my concern seriously.  After reading your response, watching the YouTube video, and reading the discussion, I still have to disagree.  I apologize for not jumping into the conversation earlier.  I wasn't aware it was taking place as to be honest I haven't been very engaged in the online Magento community, simply engaged in developmen

[2019-02-01 03:04] TadeuRodrigues commented on #2002
@maghamed I'm working with this, can u assign me? thanks

[2019-02-01 09:33] k4emic commented on #2002
While doing some work with MSI today, we found that (always) doing a scheduled reindex might not be the best way of handling this, since the stock deduction triggers a reindex through the plugin mentioned in this issue.
This means that if the reindex is done by schedule, some time will pass where merchants are likely to be overselling items, since a positive reservation is placed (putting items ba

[2019-02-01 16:10] mcspronko commented on #1926
@maghamed Can this issue be closed?

[2019-02-04 08:42] #2003 closed, assigned to nobody

[2019-02-04 08:42] #2005 closed, assigned to josh-carter

[2019-02-04 08:44] #1939 closed, assigned to IvanPletnyov

[2019-02-04 08:44] #1946 closed, assigned to IvanPletnyov

[2019-02-04 08:45] #1948 closed, assigned to IvanPletnyov

[2019-02-04 08:45] #1667 closed, assigned to IvanPletnyov

[2019-02-04 08:47] IvanPletnyov opened #2013 "Change source quantity visualization on product page grid"
### Description
1. Replace brackets with colon (example: Test_source : 20)
2. Find and fix all mftf tests which could be failed after change.

[2019-02-05 14:55] IvanPletnyov opened #2015 "Optimize product grid page load "Quantity per Source" column"
### Description
On products grid load all sources and stock data on scope.

[2019-02-05 16:20] maghamed commented on #2002
sorry, I missed this thread.
@TadeuRodrigues  I just granted you write permission for MSI repo, and since now, you can self-assign yourself on open tickets and create Pull Request not from own fork, but just make branching from 2.3-develop MSI branch.

Did the same for you @k4emic  as well

[2019-02-06 08:40] patvdleer opened #2017 "Magento 2.3 - clean install - Unable to apply patch for Magento_InventorySales"
Completely clean setup, new server about an hour old, installed Ubuntu 18.04, Apache 2, MySQL 5.7 and PHP 7.1. When trying to run the Magento 2.3 setup it failed.

### Preconditions (*)

1. Magento 2.3.0
[code]

### Steps to reproduce (*)

1. Clean install
2. follow setup guide

### Expected result (*)

1. Install?

### Actual result (*)

![image](https://user-images.githubusercontent.com/1138136/

[2019-02-06 10:24] VitaliyBoyko commented on #1845
Closing this one.
Cannot reproduce it anymore.

[2019-02-06 10:24] #1845 closed, assigned to VitaliyBoyko

[2019-02-06 16:58] maghamed commented on #2017
Hey @patvdleer thanks for the issue report.

What version of MSI you are installing? Do you do composer installation or git?

[2019-02-06 22:45] danielciornei commented on #2017
@maghamed same issue happening here
using composer - issue appears on web wizard install
- magento can be however set-up from CLI , but in this case when trying to add Stock or Sources in admin the following error appears  : Could not load Sales Channels for Stock

[2019-02-07 08:29] IvanPletnyov opened #2020 "Fix static tests"
### Description

Magento\Test\Integrity\ComposerTest::testValidComposerJson
Passed: 202, Failed: 4, Incomplete: 0, Skipped: 0.

Data set: /var/www/html/app/code/Magento/InventoryDistanceBasedSourceSelection
The following dependencies are missing in root 'composer.json', while declared in child components.
Consider adding them to 'require-dev' section (if needed for child components only), to 'repl

[2019-02-07 08:54] smoskaluk commented on #2017
Hi @patvdleer !
I couldn't reproduce your issue, so may you please provide more details for it.
Thank you for your report!

[2019-02-07 09:26] patvdleer commented on #2017
I didn't, this is a clean composer install
`composer create-project --repository=https://repo.magento.com/ magento/project-community-edition httpdocs`

what else do you need?

[2019-02-07 12:43] IvanPletnyov opened #2023 "Add new MSI modules to magento2-infrastructure repository"
### Description
Add modules:
1) InventoryDistanceBasedSourceSelection,
2) InventoryDistanceBasedSourceSelectionAdminUi,
3) InventoryDistanceBasedSourceSelectionApi,
4) InventoryElasticsearch;
to magento2-infrastructure repository.

[2019-02-07 12:57] IvanPletnyov opened #2024 "Update MSI modules versions"
### Description
In [inventory-composer-metapackage](https://github.com/magento-engcom/inventory-composer-metapackage) update all MSI modules versions

[2019-02-07 17:10] danielciornei commented on #2017
@patvdleer @smoskaluk
this issue appears if  opcache.save_comments  in your opcache.ini file is set to 0.
Make sure it's set to 1, restart services and try again

[2019-02-07 17:23] patvdleer commented on #2017
@danielciornei that doesn't fix it

![image](https://user-images.githubusercontent.com/1138136/52430026-76d4d000-2b05-11e9-9738-4ff3ff26a075.png)

![image](https://user-images.githubusercontent.com/1138136/52430005-6b81a480-2b05-11e9-9489-054b01f6b75a.png)

[2019-02-07 17:32] danielciornei commented on #2017
ok, on closer look you had a different exception message
Original exception message: No such entity. - in your case
Original exception message: Could not load Sales Channels for Stock  - in my case

changing opcache.save_comments to 1 fixed my issue.
other change I made - max_input_time = 1800 in php.ini

[2019-02-07 21:09] timpea commented on #2001
We use SKU's that match our suppliers SKU so it is easy to pick products.  We change SKU's on our live site for the following reasons.
1) Change of supplier, we alter SKU's to match the new suppliers SKU.
2) Supplier changes part numbers, this has happened on a few occasions for a bulk of products from that supplier.
3) Typing mistakes when originally added.

[2019-02-08 15:32] michaeljdietz commented on #2001
Igor, haven't heard from you since my last post.  This appears to be a concern some others in the community are concerned about.  Is this something you guys are re-deliberating internally?

Thanks again.

[2019-02-10 20:03] maghamed commented on #2017
Does the issue still exist for you @patvdleer ?

[2019-02-10 20:03] #2023 closed, assigned to nobody

[2019-02-10 20:04] #2020 closed, assigned to IvanPletnyov

[2019-02-10 20:04] #2015 closed, assigned to IvanPletnyov

[2019-02-10 20:04] #2013 closed, assigned to IvanPletnyov

[2019-02-10 20:04] #1995 closed, assigned to IvanPletnyov

[2019-02-10 20:04] #1991 closed, assigned to phoenix128

[2019-02-10 20:04] #1980 closed, assigned to IvanPletnyov

[2019-02-10 20:04] #1965 closed, assigned to Stepa4man

[2019-02-10 20:04] #1957 closed, assigned to nobody

[2019-02-10 20:04] #1952 closed, assigned to Stepa4man

[2019-02-10 20:05] maghamed commented on #1952
@craigcarnell  this week

[2019-02-10 20:05] #1941 closed, assigned to nobody

[2019-02-10 20:05] #1940 closed, assigned to IvanPletnyov

[2019-02-10 20:05] #1938 closed, assigned to nobody

[2019-02-10 20:06] #1931 closed, assigned to IvanPletnyov

[2019-02-10 20:06] #1930 closed, assigned to IvanPletnyov

[2019-02-10 20:06] #1926 closed, assigned to mcspronko

[2019-02-10 20:06] #1921 closed, assigned to Stepa4man

[2019-02-10 20:06] #1920 closed, assigned to bartekszymanski

[2019-02-10 20:06] #1890 closed, assigned to IvanPletnyov

[2019-02-10 20:07] #1843 closed, assigned to VitaliyBoyko, IvanPletnyov

[2019-02-10 20:07] #1730 closed, assigned to Stepa4man

[2019-02-10 20:11] #2024 closed, assigned to nobody

[2019-02-10 20:23] maghamed commented on #2001
Hi @michaeljdietz

Sorry for not answering you for a while.
I was very busy with MSI 1.1.0 release preparation. Hopefully, it should happen during this week.
As soon as the release is done - I'll get back to this discussion.

FYI a week ago I brought this question to public discussion in Tweeter - https://twitter.com/iminyaylo/status/1091736497273925632
here you can get familiar with results.

[2019-02-10 20:31] maghamed commented on #2001
Hi @timpea

Great points described! Just several questions to you.

Thus, it's not a typical day to day operation, and you proceed with it once you have a new supplier, as a part of preparation. Why the tool which will do this transformation and would guarantee data consistency would not work for you?

How do you keep the consistency between the stored data in Magento and data arrived from an exte

[2019-02-10 20:32] maghamed commented on #1988
hey @Stepa4man  are you still working on this issue?

[2019-02-10 20:35] maghamed commented on #1971
hi @karthi5053 ,

Sorry for the late reply. I'll provide feedback as soon as MSI 1.1.0 release would be done.  Hopefully, this will happen during this week.

Too many resources currently dedicated to the project release.
Thanks for understanding

[2019-02-10 20:37] maghamed commented on #1968
@jonathanribas you can watch the presentation of Source-Level reservations on recent MSI demo - https://www.youtube.com/watch?v=ggucjcaBHjI&feature=youtu.be&t=1260&app=desktop

[2019-02-10 20:45] maghamed opened #2026 "Improve performance of building "Salable Quantity" on Product Grid"
Currently, Data Provider for "Salable Quantity" in Product grid uses next component for building the data `Magento\InventorySalesAdminUi\Ui\Component\Listing\Column\SalableQuantity`

Which could lead to big performance degradation even for medium size merchants

[2019-02-10 20:45] patvdleer commented on #2017
@maghamed sadly yes

[2019-02-10 20:47] maghamed opened #2027 "Improve the performance for Product Save operation."
Currently, each time when a product saved when the product assigned to "Default Stock", the system make data synchronization with Legacy Catalog Inventory.

We have to make this synchronization to work in an asynchronous way boost performance of Command Operations

[2019-02-10 20:49] maghamed opened #2028 "Rename "Shipping Step" into "Delivery Method" on Magento Checkout"
Since Store Pickup added, it's not correctly anymore to use the term "Shipping Step".

Rename "Shipping Step" into "Delivery Method" on Magento Checkout
https://github.com/magento-engcom/msi/wiki/Support-of-Store-Pickup-for-Multi-Source-Inventory

[2019-02-10 20:51] maghamed opened #2029 "Add UI button "Shipping" and "Pick in Store" for Shipment step during Checkout"
UI changes described on mockup here - https://github.com/magento-engcom/msi/wiki/Support-of-Store-Pickup-for-Multi-Source-Inventory

[2019-02-10 20:53] maghamed opened #2030 "Add an ability to Mark Orders placed with Store Pickup"
To prevent Race Condition we have to have an ability to segregate Orders placed with In Store Pickup delivery method out of other orders. This should be done with newly created ExtensionAttribute

https://github.com/magento-engcom/msi/wiki/Support-of-Store-Pickup-for-Multi-Source-Inventory#Race-condition-between-orders

[code]

[2019-02-10 20:56] maghamed opened #2031 "Add possibility to define Source to use for In Store Pickup"
How does Store Pickup work from a Merchant point of view

A merchant should have the ability to specify which Sources support Store Pickup. To do so we have to introduce corresponding Extension Attribute for Source entity and provide an ability to specify one via both Admin UI on the Source editing page and Web APIs. Based on the attribute value (whether it set) we will add the corresponding Sourc

[2019-02-10 20:57] maghamed opened #2032 "Store pickup orders race condition: reserve source items QTY"
## Race condition between orders

To prevent a race condition between orders. Which could happen in a next case:

The "Salable Quantity" on "Custom Stock" is 10 for SKU-1. "Custom Stock" consists of three sources:
- Source A, which contains 5 items of SKU-1
- Source B, which contains 4 items of SKU-1
- Source C, which contains 1 item of SKU-1

Altogether it gives us 5 + 4 + 1 = 10
Now there are 2

[2019-02-10 22:20] Stepa4man commented on #1988
@maghamed yes. Have some deadline here? I believe I can get it done tomorrow.

[2019-02-10 23:33] the-midi commented on #2031
Will have a look at this one.

[2019-02-10 23:34] toddhainsworth commented on #2028
Will take this for MLAU

[2019-02-10 23:35] kathyoungaligent commented on #2006
Taking this ticket please

[2019-02-10 23:40] kathyoungaligent commented on #2006
@maghamed can you please provide any more detail on where/how to obtain the referenced GeoData?

[2019-02-11 00:04] toddhainsworth commented on #2028
Hi @maghamed !

Am I correct in thinking this is the "Shipping" label at the very top of this screenshot?
https://camo.githubusercontent.com/13004e078dbcad254523a4ac5fb72c45c955f98f/68747470733a2f2f692e696d6775722e636f6d2f4c7378464466722e706e67

-Todd

[2019-02-11 01:05] toddhainsworth commented on #2028
PR #2033 created and assigned to you @maghamed  :+1: :smile:

[2019-02-11 01:21] maghamed opened #2034 "Add "Ready for Pickup" button on the Order page in Admin Panel which notifies Customer that Order could be picked up"
Add "Ready for Pickup" button to the Order Admin page for orders created with Store Pickup method, click on this button will initiate email notification to the customer if there are enough Qty on a selected source to fulfill the order.

If there are NOT enough Qty to fulfill order the merchant should be notified that he has to proceed with  Internal Transition (from Source B -> Source A ) to incre

[2019-02-11 01:24] maghamed opened #2035 "Create basic Modules for In Store Pickup functionality"
Create basic Modules
`InventoryInStorePickupApi`  - for Service layer
`InventoryInStorePickup`  - for implemenation
`InventoryInStorePickupAdminUi` - for all admin settings and configuratrions

[2019-02-11 02:08] bpetering commented on #1983
#mlau

[2019-02-11 02:09] bpetering commented on #1990
#mlau

[2019-02-11 02:48] toddhainsworth commented on #2030
Hi @maghamed,

I'm starting to look at tackling this one! Hoping you can confirm or correct my understanding of the requirements?

From what I understand, we want to give Store Pickup orders a higher priority in the SSA by indicating that is a Store Pickup order and modifying aspect(s) of the SSA to take this into account when fetching stock.

To accomplish this we first need to add an extension-a

[2019-02-12 07:54] IvanPletnyov opened #2039 "Add strong tag to sources name on product grid page"
### Description
Need return strong tag to sources names.

[2019-02-12 09:55] IvanPletnyov commented on #2017
@patvdleer Hello.

1. Perform please next SQL queries before install and give me results.
`SELECT *
FROM store_website;
`

`
SELECT *
FROM inventory_stock_sales_channel;
`

2. Give me please your config.php file (path: **[project dir]/app/etc/config.php**).

3. Give me please your root composer.json file (path: **[project dir]/composer.json**).

4. After installing (in any case) give me please you

[2019-02-12 11:19] patvdleer commented on #2017
@IvanPletnyov Before install? It's a clean install so there are no tables in the schema.

[2019-02-12 11:43] IvanPletnyov commented on #2017
@patvdleer Okay, without SQL. What about other ones?

[2019-02-12 12:52] Stepa4man commented on #1988
@maghamed https://github.com/magento/magento2/pull/21151

[2019-02-12 14:54] smoskaluk commented on #1688
Problem is reproducing in Single stock mode

[2019-02-12 16:08] patvdleer commented on #2017
## config.php

[code]

## Composer.json
[code]

## Install.log
[code]

[2019-02-12 16:10] patvdleer commented on #2017
## install.log formatted
[code]

[2019-02-12 19:11] #2039 closed, assigned to IvanPletnyov

[2019-02-13 09:45] mcspronko commented on #2006
@kathyoungaligent it appears that I am working on this ticket.

[2019-02-13 10:12] smoskaluk commented on #2017
Hi @patvdleer, in your composer.json MSI package line is missing, please insert it like this if you want latest MSI package 1.1.0

"require": {
        "magento/product-community-edition": "2.3.0",
        "magento/inventory-composer-metapackage": "1.1.0"
    },

or  "magento/inventory-composer-metapackage": "1.0.3" - for previous MSI version

here is full instruction how to install MSI
https://de

[2019-02-13 10:22] kathyoungaligent commented on #2006
I have an open PR for this issue on the store pick up epic

On Wed., 13 Feb. 2019, 8:15 pm Max Pronko <notifications@github.com wrote:

[2019-02-13 10:30] patvdleer commented on #2017
Well that's the thing, I wasn't looking for that, I am trying to run the default install. Should I still add it?

[2019-02-13 10:37] smoskaluk commented on #2017
sure, if you want MSI to be installed

[2019-02-13 11:02] patvdleer commented on #2017
@smoskaluk I don't, I don't need it

[2019-02-13 11:06] mcspronko commented on #2026
I would like to work on this one.

[2019-02-13 12:31] mcspronko commented on #2026
Started working on the issue.

[2019-02-13 13:19] mcspronko commented on #2026
Some intermediate results.

The prepareDataSource() timings:

- 1 product takes 0.09 secs
- 40001 product size (Medium Profile) takes 14 seconds

Working on the fix.

[2019-02-13 14:27] smoskaluk commented on #2017
Hi @patvdleer , as a work around you may disable all Magento_Inventory* modules in your Magento (set 0 for all of them in app/etc/config.php)  and then try to install

Magento_Inventory => 0,
Magento_InventoryAdminUi => 0,
Magento_InventoryApi => 0,
Magento_InventoryBundleProduct => 0,
Magento_InventoryBundleProductAdminUi => 0,
Magento_InventoryCatalog => 0,
Magento_InventorySales => 0,
Magento_I

[2019-02-13 17:01] lorikrell commented on #2017
For details see https://devdocs.magento.com/guides/v2.3/comp-mgr/install-extensions/inventory-management-installation.html

This page goes over upgrading from previous Magento versions:
https://devdocs.magento.com/guides/v2.3/comp-mgr/install-extensions/inventory-management-installation.html#previous-magento-versions

[2019-02-14 08:49] krzksz opened #2042 ""Only X left" message displays for out of stock products"
### Preconditions

1. Magento 2.3.0 with MSI.
2. `Only X left Threshold` option set to default `0`.
3. Simple product created with `0` quantity and `Out of Stock` status.

### Steps to reproduce

1. Go to product's page.
2. Check product's buybox.

### Expected result

1. `Out of stock` note is displayed.
2. `Only 0 left` note is not displayed.

### Actual result

1. Both `Out of stock` and `Only

[2019-02-14 11:47] rodrigowebjump commented on #2030
Hi @toddhainsworth,

I will try to help. @maghamed please validate our understanding :)

- The extension attribute must save the source selected by the customer (match shipping address from source vs order is a weak relationship, it can be edited)

- Modification in SSA to prevent Race condition: The change in the SSA is not for just store pickup orders. It should be modified to subtract all store

[2019-02-14 12:21] TadeuRodrigues commented on #2032
I'm starting to work.

[2019-02-14 12:24] TadeuRodrigues commented on #2034
I'm starting to work.

[2019-02-14 22:14] adarshkhatri opened #2043 "Cannot create shipment: Source item not found by source code: default and sku: [my-sku custom option]"
### Preconditions (*)

1. Magento Open Source 2.3
2. Inventory Source Enabled (By default? cannot disable)
3. https://imgur.com/uFZE5Y4

### Steps to reproduce (*)

1. Config product with Custom Options
2. Place order from frontend
3. Create Invoice
4. Create Shipment

### Expected result (*)

1. It should create shipment

### Actual result (*)

1. Source item not found by source code: default and

[2019-02-15 10:00] patvdleer commented on #2017
still doesn't explain how a clean install causes this error

[2019-02-15 15:22] richarddehoog opened #2045 "Stocks not visible on Stocks Page"
### Preconditions

1. I am using Magento 2.3
2. I have been able to add stocks, and i do see them in the product grids / salable QTY

### Steps to reproduce

1. When i add stock / assign sources i get the following result
2. https://prnt.sc/mlk2dt

### Expected result

1. Prviously i got a list with all stock
2.

### Actual result

1. https://prnt.sc/mlk2dt
2. In the product grid i do see that the

[2019-02-18 05:27] VZeroCool opened #2046 "Product saleable qty displays wrong count"
### Preconditions

1. Magento 2.3 CE
2. Apache 2.4.37 PHP 7.2

### Steps to reproduce

1. Create 2 sources China and Germany.
![sources](https://user-images.githubusercontent.com/36662131/52929532-cb304900-336a-11e9-9235-f46b6c960ab0.png)

2. Assign created sources to stock.
![stocks](https://user-images.githubusercontent.com/36662131/52929547-d3888400-336a-11e9-9593-0498f32acaf8.png)

3. Create s

[2019-02-18 15:53] IvanPletnyov commented on #2046
@VZeroCool Hello. I've checked this issue by your steps, I can't reproduce bug.
![image](https://user-images.githubusercontent.com/26973706/52962186-4b73a000-33a5-11e9-9482-77b654745c5f.png)

Maybe you can give me more information ? For example, is it fresh install ? Did you create orders with this product or maybe you did some other manipulations with the same sku, source codes etc...

[2019-02-18 15:57] smoskaluk commented on #2042
Hi @krzksz, thank you for your report, I can confirm that bug is reproducing. Please provide PR as you wrote in your comment. We are grateful for your contribution!

[2019-02-18 16:02] IvanPletnyov commented on #2045
Hey @richarddehoog  thanks for the issue report.

I could not reproduce this issue.
Tell me please, what version of MSI you installed ? Do you do composer installation or git?
Give me more information about steps. Is it fresh install or you upgraded from previous version ?

[2019-02-18 16:04] #1446 closed, assigned to AleksLi

[2019-02-18 16:05] maghamed commented on #2042
The Issue is added to the backlog of current Milestone

[2019-02-18 16:11] maghamed commented on #2046
Hey @VZeroCool , thanks for your bug report.

Looks like the root cause of the issue is the dirty state of your reservations. Read more about reservations mechanism here - https://github.com/magento-engcom/msi/wiki/Salable-Quantity-Calculation-and-Mechanism-of-Reservations

Can you please provide a dump of this SQL query to see what reservations are created for given SKU:
[code]

[2019-02-18 16:21] richarddehoog commented on #2045
Hello Ivan,

We have a fresh install, and then we have installed Aheadworks & Amasty extensions

We have already deactivated all extensions, but this did not solve the issue

We have installed the latest version of the MSI ( 1.1.0)

We have used composer for this

I can give you admin / SSH access if this helps

To make al long story short ( if this was not clear):

*	If we add stocks in stores =>

[2019-02-18 16:21] maghamed commented on #2046
Also, such situation is possible if you have the next configuration:
**Backorder** is enabled
AND
**Out-of-Stock Threshold** is set to -20

Read more about this here:
https://github.com/magento-engcom/msi/wiki/Configure-MSI-backorders

[2019-02-18 16:40] smoskaluk commented on #2043
Hi @adarshkhatri! Thank you for your report. I could not reproduce this issue, In my case I was able to create invoice and shipment without problems.

![image](https://user-images.githubusercontent.com/27818516/52965138-d1471980-33ac-11e9-9f63-59b80b233682.png)

![image](https://user-images.githubusercontent.com/27818516/52965037-87f6ca00-33ac-11e9-85c6-b6c58e0038c2.png)

May you please provide mo

[2019-02-18 22:43] adarshkhatri commented on #2043
Hi @smoskaluk

Thanks for reply. I had installed clean M2 2.3.0.

Product has to be configurable with custom option.

Product detail: https://imgur.com/a/rCOasA9

Hope this helps.

Thanks.

[2019-02-19 00:35] maghamed commented on #2043
This looks like a duplicate of issue https://github.com/magento-engcom/msi/issues/1912

Btw we have a pull request fixing this issue, which was not validated for other product types - https://github.com/magento-engcom/msi/pull/2012

@adarshkhatri could you please check that fix in #2012 works for you?

Btw @smoskaluk is it really not reproducible for you? As the initial ticket created back to Nove

[2019-02-19 01:55] adarshkhatri commented on #2043
@maghamed I don't see such fields in my shipping area.

Not sure if this will be helpful, but I will add the steps I took:

Initially I created a new source and stock. Assigned my new stock to newly created source. After that my frontend add to cart didn't work. It throws this error:

Then, I deleted the source and was able to add product to cart. My default source is active.

And when I try to sh

[2019-02-19 02:14] adarshkhatri commented on #2043
And after applying above https://github.com/magento-engcom/msi/pull/2012, it now gives similar exception:

[2019-02-19 04:24] maghamed commented on #2026
@mcspronko  can you please make a PR, even with your intermediate results.
So that we can run one on our Magento Performance Test environment to see the results, also we could validate the solution at the early stage whether it can bring some side effects

[2019-02-19 04:36] maghamed commented on #2045
Hi @richarddehoog , thanks for your feedback.

Could you please try to reproduce the bug with a fresh Magento 2.3 installation without 3rd party extensions, as even being deactivated they still could interfere with Magento. For example, if they changed something at the time when were installed.

Currently, we did not manage to replicate this case, which is very basic from the Inventory management

[2019-02-19 04:56] maghamed commented on #2017
Hey @patvdleer ,

MSI is a core part, it's a name for the new Inventory mechanism in Magento.
The old one - CatalogInventory is deprecated.

So, MSI is not just for merchants who want to use multi-sourcing capabilities of Magento, but for all merchants who wish to use Inventory functionality (as product Qty calculation) for their eCommerce stores.

With a high probability, the legacy mechanism (Ca

[2019-02-19 05:00] VZeroCool commented on #2046
@maghamed, If I execute your given SQL query it returns null for me.

**No backorders enabled** and an **out-of-stock threshold is set to 0.**

[2019-02-19 05:01] maghamed commented on #2017
True, this is still an open question.
Btw, from which source did you get your composer.json?

On Magento marketplace, we generate meta-package which includes MSI.

[2019-02-19 05:03] VZeroCool commented on #2046
@maghamed, It was working expected when I set up and configured MSI than after I placed several orders and using PayPal and different payment methods it starts behaving weirdly.

[2019-02-19 05:11] VZeroCool commented on #2046
@maghamed, Is there any way by which I can clear all MSI data ?
Possibly you can provide SQL to clear MSI information from DB.
So that I can setup MSI from scratch and track where its causing problem ?

[2019-02-19 07:45] IvanPletnyov commented on #2046
@VZeroCool Could you please create test source with code which you never used in the system, create new test stock (assign created source to stock) and create product with sku which you never used (assign created source to product) and try to reproduce this issue.

[2019-02-19 08:41] smoskaluk commented on #2043
@maghamed yes, from initial description I didn't understand that issue about configurable product and tried to reproduce with simple product with custom option.
With configurable product it reproducing, and as you already mentioned, it duplicate https://github.com/magento-engcom/msi/issues/1912.

[2019-02-19 09:59] smoskaluk commented on #2043
Hi @adarshkhatri ! I've tried fix in PR https://github.com/magento-engcom/msi/pull/2012 , and it was working well.

![image](https://user-images.githubusercontent.com/27818516/53006086-39454080-343d-11e9-80da-30c5fbce61d7.png)
I wonder, may be it didn't work in your case because you have 0 quantity for your child products of configurable product? Please recheck

![image](https://user-images.github

[2019-02-19 14:58] maghamed commented on #2046
@VZeroCool

Sorry, just to clarify, did you substitute `your_sku_here` with SKU of your product?
[code]

All the sources where MSI keeps its data are in tables:
`inventory_reservation` - storing reservations
`inventory_stock_N` - where N is stock ID, stores aggregated stock data without reservations
`inventory_source_item` - qty per each warehouse

That's all. So, you can track what makes 40 appea

[2019-02-19 15:16] maghamed commented on #2046
@IvanPletnyov  the case you described would not show a problem in computation.
We have to find a reason why data polluted.
And the reason for this mistake is orders which have been placed, and probably some issue happened with the processing of these orders.

Based on the data in the tables I mentioned above we can try to define this reason

[2019-02-19 16:20] guilhermetb opened #2048 "Source zipcode dropshipping"
Good afternoon, I have installed Magento 2.3 and it comes with the MSI
I want to work with dropshipping but I'm having difficulty with freight calculation, instead of picking zipcode from store -> inventary -> sources -> Address Data -> postcode it picks the zip from store -> configuration -> sales -> Shipping Details
Can someone help me?

[2019-02-20 04:33] adarshkhatri commented on #2043
@smoskaluk

They are zero because I am not managing stocks.

[2019-02-20 05:51] VZeroCool commented on #2046
@IvanPletnyov  and @maghamed, Thanks guys for an explanation but the problem was at ERP not in MSI.

One more thing I need to know there's inbuilt inventory transfer available but it only transfers all qty's not specific.

I think it's necessary to give an option to transfer specific qty to a specific source.

[2019-02-20 08:36] smoskaluk commented on #2048
Hi @guilhermetb ! Unfortunately, MSI doesn't support freight calculation for sources yet, so it calculating only from general shipping settings in configuration. I think you may look for such feature in third part extensions (like here https://marketplace.magento.com/)

[2019-02-20 09:39] VitaliyBoyko commented on #2043
@smoskaluk @maghamed
As far as I have understood from comments, this issue is not a duplicate of  #1912.
We need to disable source selection when manage stock is off on the shipment.
Right?

[2019-02-20 12:13] VitaliyBoyko commented on #2043
@adarshkhatri what the reason to use multiple sources if managing stock is disabled?

[2019-02-20 17:31] tomekjordan opened #2050 "PO Procurement Management + stock history"
### Description

True Inventory must have PO Procurement Management + Stock History + stock movements etc

### Expected behavior

Please add similar features that are available in many simple ERP systems, or Magento Embeded ERP or Shopware's PICKWARE

### Benefits

1. Now admin can change stock QTY by hand. this is danger, it doesnt provide stock movement history
2. Real Procurement Managent is ju

[2019-02-20 22:58] adarshkhatri commented on #2043
@VitaliyBoyko

Exactly, I am not managing stock but MSI is enabled by default.

Also, I might want to manage stock for specific item in future. In this case I would still want to have MSI enabled.

PS, I haven't created any source, there is just 1 available ie. "default".

Thanks.

[2019-02-21 00:21] guilhermetb commented on #2048
Hi @smoskaluk

Could you tell me some free preference module that solves this problem?

[2019-02-21 08:33] smoskaluk commented on #2048
Hi @guilhermetb , sorry, I don't have such information, you need to search for it by yourself. And I'm not sure that it would be for free.

[2019-02-22 06:56] mcspronko commented on #2026
@maghamed for sure I can. I also would like to share for public review my proposal on how to improve this issue, as it is quite complex and it is better to validate the approach before the actual code contributions.

[2019-02-22 09:13] mcspronko commented on #2026
Please review the proposed solution and provide feedback for [Salable Quantity Column in Product Grid Performance Proposal](https://github.com/pronkoconsulting/msi-documents/pull/1/files) document.

Thank you in advance

[2019-02-22 09:51] IvanPletnyov opened #2052 "Cache not flushed when grouped product on test stock totally sold"
### Preconditions
1. Magento with MSI.
2. Additional Stock and Source created.
3. Default website assigned as sales channel to additional stock.

### Steps to reproduce
1. Create simple product with qty = 100 on test source
2. Create virtual product with qty = 100 on test source
3. Create grouped product with assigned simple and virtual products (default qty for both product = 2)
4. Go to grouped

[2019-02-22 15:22] maghamed commented on #2052
if I am not wrong we have a duplicated issue in our backlog. Could you please check that out @IvanPletnyov

[2019-02-22 15:45] IvanPletnyov commented on #2052
@maghamed Yes, I've found old [issue 1695](https://github.com/magento-engcom/msi/issues/1695)
I'll close this issue.

[2019-02-22 15:46] #2052 closed, assigned to nobody

[2019-02-27 10:32] patvdleer commented on #2017
I can not, for the life of me, figure out why this is... I've tried switching to PHP7.2, reverting to "regular" MySQL instead of Percona MySQL... Still same shit

(composer) reinstalled multiple times, including clearing the cache...

[2019-02-27 10:54] patvdleer commented on #2017
via the tar.gz install

```[ERROR] Magento\Framework\Setup\Exception: Unable to apply patch Magento\InventorySales\Setup\Patch\Schema\InitializeWebsiteDefaultSock for module Magento_InventorySales. Original exception message: No such entity. in /var/www/vhosts/[]/httpdocs/vendor/magento/framework/Setup/Patch/PatchApplier.php:232```

[2019-02-27 12:27] azngeek opened #2053 "Missing ClientInterface for Magento\InventoryDistanceBasedSourceSelection\Model\ImportGeoNames"
### Preconditions
1. Magento "magento/project-enterprise-edition" 2.3

### Steps to reproduce
1. Install Magento 2.3 with all modules except that ones which are defined in composer:

[code]

### Expected result
1. I expect that at any step setup:di:compile will finish

### Actual result
1. There is no prefereed ClientInterface defined for the Module "Magento_InventoryDistanceBasedSourceSelection"

[2019-02-27 14:35] maghamed commented on #2027
hey @bpetering , if you don't mind I'll re-assign this issue to @phoenix128
He has some time allocated, and this task became a top priority for us.

Thanks

[2019-02-27 16:45] smoskaluk commented on #2017
Yes, it's very weird situation.  I'm installing Magento several times every day and never faced such problem. Did you have any errors when you create your Database for Magento?  Did you try to re-create new one  before installation?

[2019-02-27 17:36] magterskine opened #2055 "MFTF Logged In Customer created Order with Simple product on Test stock from Homepage"
https://app.hiptest.com/projects/69435/test-plan/folders/419534/scenarios/1408755

[2019-02-27 17:41] magterskine commented on #2055
Test Steps:
Given: New Category created
And Customer created from main website
And new source created
And New Stock created with New Source assigned and with Main Website assigned as Sales Channel
And Simple Product with Test Source assigned created

When Logged in Customer ordered Simple Product

Then Verify in admin that order created successfully
And Verify Salable QTY of Simple product on Test

[2019-02-27 18:06] phoenix128 commented on #2027
I created a pull request with a **very rough** implementation of asynchronous legacy inventory align.
I did not yet create the opposite synchronization, but it should be enough to run some performance test in the meanwhile.

[2019-02-27 19:24] magterskine opened #2057 "MFTF Logged In Customer created Order with Simple product from Homepage with Free Shipping method"
https://app.hiptest.com/projects/69435/test-plan/folders/419534/scenarios/1408757

[2019-02-27 19:26] magterskine commented on #2057
Test Steps:
Given New Category created
And New Source created
And New Stock created with New Source assigned and with Main Website assigned as Sales Channel
And Simple Product with Test Source assigned created
And Customer created from Main Website
And Free Shipping method is enable in admin

When Logged in Customer made order with Free Shipping method

Then Verify in admin that Order created succ

[2019-02-27 20:02] patvdleer commented on #2017
I tried 2.2.7 which also gave me issues, so I did what every reasonable devop would do, reinstall the VPS en threaten the server with a glass of water. I'll keep you posted once I finish setting it back up again

[2019-02-27 21:47] slacka1 opened #2058 "Existing Item Quantities at (default)Source set to zero when saving product images with gallery management"
### Preconditions

1. Magento 2.3
2. MSI 1.1.0
3. php 7.2
4. single store mode ("default" source only)
### Steps to reproduce

1.  create new simple product with ProductInterfaceFactory
2. save with product repository (no stock data set yet)
3. save inventory to "default" source with:
 Magento\InventoryApi\Api\SourceItemsSaveInterface
4. inventory successfully saves
5. add images to product using:

[2019-02-28 16:18] IvanPletnyov commented on #2058
@slacka1 Hello! If I understood correctly you are creating product, assign images and create stock items programmatically ? Thanks.

[2019-03-01 01:37] slacka1 commented on #2058
Yeah, maybe it has to do with how i am adding the images. I'm not sure.
`if($bIncludesImageData){

	//remove existing images first:
	$arrMediaGalleryEntries = $objGalleryManagement->getList($csvdata_sSku);
	foreach($arrMediaGalleryEntries as $objMediaGalleryEntry){
		$iMediaGalleryEntryId = $objMediaGalleryEntry->getId();
		$objGalleryManagement->remove($csvdata_sSku, $iMediaGalleryEntryId);
	}

[2019-03-01 01:41] slacka1 commented on #2058
Here's how i set inventory. It works but if this is put before the gallery code above, inventory values are set to 0. Sorry, i don't know why my newlines aren't in effect.
`// MSI (1.1.0) - Multi-Source-Inventory:  @vendor/magento/module-inventory-api/
$sSource = 'default'; //warehouse
$fQty    = $csvdata_dInvAvail;
$sSku    = $objExistingProduct->getSku();
$objSourceItemInterface = createSourceIt

[2019-03-01 07:55] brideo opened #2059 "Product stock Import timeout"
### Preconditions (*)

1. Magento 2.3 Installed
2. Magento MSI enabled
3. Large import stock file
4. Indexes set to "real-time"

### Steps to reproduce (*)

1. Go to admin
2. System > Import > Stock Sources
3. Add large files with composite products

### Expected result (*)

1.  Import should run

### Actual result (*)

1. Import times out and causes a memory leak

### Workaround

Set indexes to s

[2019-03-01 09:17] smoskaluk opened #2060 "Wrong order status for order with bundle product after partial shipping and partial refund"
### Preconditions

1. Magneto 2.3 with MSI 1.1.0 enabled (Single stock mode)
2. No custom sources and stocks created
3. Simple product created with qty = 100
4. Bundle product created with dynamic SKU, weight and price, with simple product as a child with 'Default Quantity' = 1 and option 'Ship Bundle Items' = Together.

### Steps to reproduce

1. Place order with 10 items of Bundle product
2. Cre

[2019-03-01 09:23] paales opened #2061 "Can we get some design/layout love for the Assigned Sources section?"
![schermafbeelding 2019-03-01 om 10 04 30](https://user-images.githubusercontent.com/1244416/53628318-09e7be00-3c0b-11e9-89a5-455c7cacfcc2.png)

- The rows should be full width, then you dont get those odd wrapping labels. If there is space, use it :)
- Row height is off
- ‘Assigned Sources’ label can be removed.
- Assign Sources should me moved below the table and be right-aligned (all buttons on

[2019-03-01 09:45] smoskaluk commented on #2061
@paales, all we need is love!

[2019-03-01 15:29] maghamed opened #2062 "Add Service which exports Aggregated Stock data including reservations"
For integration Magento with external Sales Channels like Amazon, eBay, Google Shopping etc.
We should provide a possibility of exporting aggregated stock data, ideally with reservations placed.

We should take into account that Stock could be very big.

And provide a possibility to specify Qty for products with Manage Stock = 0, as some of sales channels do not support products without quantities

[2019-03-01 20:45] slacka1 commented on #397
Is this supposed to be fixed in MSI 1.1.0?  I'm having this issue in 1.1.0.  Is it because parent is getting set to out-of-stock due to thresh-hold and parent not having inventory itself?

[2019-03-01 22:50] slacka1 commented on #1939
Not 100% sure if related, but on Magento2.3/msi-1.1, using Default Stock in single store mode, my configurable product shows as out of stock, despite children all having stock and showing as in stock.

[2019-03-04 10:39] smoskaluk commented on #2060
https://jira.corp.magento.com/browse/MAGETWO-98526

[2019-03-04 16:03] smoskaluk opened #2063 "Problem with adding decimal orderitems when negative Qty treshold"
### Preconditions

1. Create simple product with Qty = 2, set  'backorders' and 'use decimal'  - on, set ' Out-of-Stock Threshold' = -1;

### Steps to reproduce

1. Place 9 orders with such ordered Qtys: 0.59, 0.37, 0.24, 0.1, 0.2, 0.41, 0.1, 0.82, 0.17

### Expected result

1. Orders placed correctly

### Actual result

1. When adding the last 0.17 to the quote: The requested qty is not available

[2019-03-04 16:25] smoskaluk opened #2064 "Create integration test to check salable qty for product"
### Preconditions

1. Create  simple product with source item qty: 0,  source status: IN_STOCK, backorder - enabled, use decimal - On, out of stock treshold = -3.

### Steps to reproduce

1.Check programmtically \Magento\InventorySalesApi\Api\GetProductSalableQtyInterface

### Expected result

1.  Salable qty = 3

### Actual result

1. . Salable qty = 0

[2019-03-04 17:20] maghamed commented on #2064
in the scope of this ticket, we need to provide an Integration test for
[code]

and cover the case when Backorder and Minimal Threshold is set

[2019-03-05 12:02] lbajsarowicz opened #2066 "Inventory source disappears from UI after assign / unassign operation on Product Edit"
### Preconditions (*)
1. Magento 2.3.0 installed from Composer
2. MSI installed (by default with Magento 2.3.0 CE)

### Steps to reproduce (*)
1. Admin Panel: Enter "Add product" form
2. Click "Assign sources" button, wait for pan to open
3. Select one of the sources (eg. "Default"), click "Done"
4. Unassign selected source with thrash icon
5. Click "Assign sources" button again, wait for pan to o

[2019-03-05 16:02] patvdleer commented on #2017
[code]

after this the installation went flawless

[2019-03-05 16:02] #2017 closed, assigned to nobody

[2019-03-08 10:14] lbajsarowicz commented on #2066
The problem occurs only when removing last element from dynamic grid. It's caused by Magento's app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows-grid.js:setToInsertData method ( https://github.com/magento-engcom/msi/blob/cb1e674d0bc79b8937671d8b6bc33f4cb1694dcf/app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows-grid.js#L50-L68 ). If `insertData.length` is 0, the data is no

[2019-03-09 14:57] maghamed opened #2073 "Multisource Inventory, can't ship items when using default Stocks (need to Investigate)"
Need to investigate.

https://github.com/magento/magento2/issues/21646

[2019-03-10 18:32] josh-carter commented on #2064
@smoskaluk @maghamed I've created a PR in scope of this issue. However, there doesn't seem to be a problem - https://github.com/magento-engcom/msi/pull/2074

I've added a new Product/StockItem to the existing integration test for GetProductSalableQtyInterface, the product has the following stock data:

[code]

Expected result is 3, which is matched by the outcome of the test.

@smoskaluk perhaps t

[2019-03-11 11:39] simonmaass opened #2075 "Stocktaking Feature"
### Description (*)

For a better warehouse management a stocktaking feature is vital. It would be great if you could perform a regular stocktaking which matches the current stock status with a scannened stock...

### Expected behavior (*)

pretty much like this... http://documentation.boostmyshop.com/inventory_management_magento2/10_stock_take.html

### Benefits

should be clear...

### Additiona

[2019-03-12 14:28] maghamed commented on #2073
the issue is not reproducible on clean Magento 2.3 + MSI

now investigating possible reasons how the issue could appear during the migration 2.2 -> 2.3
https://github.com/magento/magento2/issues/21646#issuecomment-471769500

[2019-03-12 15:58] maghamed commented on #2046
Yes, currently it's not possible. Because there is no good proposal on how that could be implemented.
 Feel free to describe the idea and create a dedicated GitHub ticket for consideration

[2019-03-12 15:58] #2046 closed, assigned to nobody

[2019-03-12 23:44] SamB-GB opened #2078 "Reset MSI"
Is there a way to fully reset MSI so that we can start again. We seem to be having an issue between the actual stock and the saleable quantity (which seems to double despite only having default stock enabled).

So I would like to reset MSI and start again with it.

[2019-03-13 01:05] maghamed commented on #2078
Hey @SamB-GB ,

Currently, there is no possibility of resetting MSI, because it depends on your particular business model how would you like to treat already opened reservations. Whether to wipe them out or not (as you will lose sensitive data). The same as we don't provide a possibility of resetting Orders in Magento.

What I can recommend you to do is to check what you have in your reservation t

[2019-03-13 15:40] IvanPletnyov commented on #2053
@azngeek
1) I've downloaded composer СЕ version (composer create-project --repository=https://repo.magento.com/ magento/project-community-edition .)
2) Enabled all modules (bin/magento module:enable --all)
3) Run di compile (bin/magento setup:di:compile)
4) Install magento via web interface

I didn't found any problems. Could you please give more details about your problem.

[2019-03-13 16:21] #2064 closed, assigned to josh-carter

[2019-03-13 16:21] maghamed commented on #2063
#2065

[2019-03-13 18:39] ishakhsuvarov commented on #2035
Closing with #2036

Thanks for contributing @michaelwylde

[2019-03-13 18:39] #2035 closed, assigned to michaelwylde

[2019-03-13 18:52] maghamed commented on #2050
Hey @tomekjordan

Magento is not going to become another ERP system and go deep into that direction. We've never had that goal before either.

The cases you described are partially covered by Magento Order Management (https://magento.com/resources/magento-commerce-order-management) and Magento B2B
the other gap is covered with 3rd party extensions like the one you mentioned.

Why should we canniba

[2019-03-14 00:10] amelaraby opened #2079 "Sources with numeric source_code cannot be used for shipment"
### Preconditions (*)

1. Magento version 2.3.0

### Steps to reproduce (*)

1. Create a new source with a numeric "source code" (just numbers)
2. Assign the newly created source to a stock
3. Assign a product to the newly created source and add a quantity
4. Create a new test order with the specified product
5. In order shipment source selection page, select the numeric code source

### Expected

[2019-03-14 00:11] amelaraby commented on #2079
@magento-engcom-team Please assign this task to me in order to fix it...

[2019-03-14 00:15] araby93 commented on #2079
@magento-engcom-team give me 2.3-develop instance

[2019-03-14 07:54] karthi5053 commented on #1971
Hi,

Can we have an update on this?

Regards,
Karthi Kumar.

[2019-03-14 14:39] ishakhsuvarov commented on #2079
@araby93 Thank you for the PR!

As it's now merged I'm closing the issue.

[2019-03-14 14:39] #2079 closed, assigned to amelaraby

[2019-03-14 14:42] ishakhsuvarov commented on #2028
@toddhainsworth Thank you for the PR. It's now merged into `store-pickup` branch. I'm not closing this ticket at the moment, as it seems that Checkout label is still not renamed.

[2019-03-14 14:53] swnsma opened #2083 "Create 'In Store Pickup' Shipping Method."
Create new 'In Store Pickup' delivery method which will be used for 'In Store Pickup' functionality.
https://github.com/magento-engcom/msi/wiki/Support-of-Store-Pickup-for-Multi-Source-Inventory#how-does-store-pickup-work-from-a-customer-point-of-view

[2019-03-14 16:15] ishakhsuvarov opened #2084 "Cover nearest inventory source selection with integration tests"
### Description
Pull Request #2038 introduces an API allowing to select nearest Sources based on the provided country, postal code and radius. This piece of functionality is critical and therefore must be covered by a decent set of integration tests.

### To Do
1. Introduce integration tests for `\Magento\InventoryInStorePickupApi\Api\GetNearbySourcesByPostcodeInterface`

### Bonus track
1. Perfor

[2019-03-14 21:56] lucasvm commented on #1209
Hello, is there a fix for this? im getting this error on a Magento 2.3 site when access to admin area -> Products view i can´t list the products, im getting "Can't check requested quantity for products without Source Items support."
Is this a Magento error?

[2019-03-15 14:45] ishakhsuvarov commented on #1215
Done in #1245

[2019-03-15 14:45] #1215 closed, assigned to rogyar

[2019-03-15 14:54] smoskaluk opened #2087 "Partial refund works incorrectly after partial shipment and partial invoice for configurable product"
### Preconditions (*)

1. Custom stock with custom source created
2. Configurable product with color option 'red" qty = 100 created on custom source
3. Order placed with 5 items of configurable product with option 'red'

### Steps to reproduce (*)

1. Make partial invoice for 3 items of configurable - red
2.  Make partial shipment for 2 items of configurable - red
3.  Make partial credit memo for

[2019-03-15 15:02] maghamed commented on #2087
I believe this case will reproduce for Default stock either

[2019-03-15 20:40] maghamed commented on #2073
Could not Reproduce

[2019-03-15 20:40] #2073 closed, assigned to maghamed

[2019-03-15 20:45] maghamed commented on #2058
@IvanPletnyov @smoskaluk
did we able to reproduce the issue or we need any other input from @slacka1 ?

[2019-03-15 20:47] maghamed commented on #2045
if the bug still exists, @richarddehoog  feel free to re-open the issue

[2019-03-15 20:47] #2045 closed, assigned to nobody

[2019-03-15 20:50] #2006 closed, assigned to kathyoungaligent

[2019-03-15 20:50] #2028 closed, assigned to toddhainsworth

[2019-03-15 20:52] maghamed commented on #2034
hey @TadeuRodrigues  do you have any result so far? or should we make this ticket available for up for grabs?

[2019-03-15 20:58] maghamed commented on #1689
Fixed

[2019-03-15 20:58] #1689 closed, assigned to IvanPletnyov

[2019-03-15 20:58] maghamed commented on #1996
Fixed

[2019-03-15 20:58] #1996 closed, assigned to IvanPletnyov

[2019-03-15 21:00] #1988 closed, assigned to Stepa4man

[2019-03-15 21:01] #1968 closed, assigned to nobody

[2019-03-15 21:05] maghamed commented on #1873
@larsroettig  please update your PR and re-run builds

[2019-03-15 21:07] #1640 closed, assigned to nobody

[2019-03-15 21:08] #1616 closed, assigned to naydav

[2019-03-15 21:10] #1599 closed, assigned to nobody

[2019-03-15 21:11] #1632 closed, assigned to IvanPletnyov

[2019-03-15 21:14] #1600 closed, assigned to nobody

[2019-03-15 21:16] #1463 closed, assigned to nobody

[2019-03-15 21:22] #812 closed, assigned to AleksLi

[2019-03-15 21:25] #525 closed, assigned to maghamed

[2019-03-15 21:29] #2078 closed, assigned to maghamed

[2019-03-15 21:35] #1249 closed, assigned to nobody

[2019-03-15 21:45] #1583 closed, assigned to nobody

[2019-03-15 21:45] #1582 closed, assigned to nobody

[2019-03-15 21:58] TadeuRodrigues commented on #2034
@maghamed yes I have, let me finish some tests than I will send my branch.

[2019-03-16 15:56] phoenix128 commented on #1983
I think the biggest bottlnek here is represented by `\Magento\InventoryCatalog\Model\ResourceModel\BulkInventoryTransfer::transferInventory` more than the `isSourceItemManagementAllowedForProductType` check.

[2019-03-18 10:53] routbiplab opened #2094 "Products not visible on website after setting up MSI"
### Preconditions (*)

1. Magento v2.3.0
2. mysql Ver 15.1 Distrib 10.1.38-MariaDB

### Steps to reproduce (*)

1. Deploy sample data
2. Set up multi source inventory

### Expected result (*)

1. Products visible on website.

### Actual result (*)

1. Products doesn't show up on website though they are present in the Magento admin.

[2019-03-18 11:04] phoenix128 commented on #1963
Displaying the real error may lead to a sensitive information discovery. The actual error should be available in the Magento error log.

[2019-03-18 17:15] #2063 closed, assigned to larsroettig

[2019-03-18 17:46] maghamed commented on #2094
Hey @routbiplab

there could be many reasons for that:
1. Did you assign a proper Stock to the Website you are approaching?
2. What the "Salable Quantity" of the product which does not show up in Magento Admin Panel?

Most likely you assigned Stock with no products to your current wbsite.

Also, this documentation may be useful to get started with new Inventory mechanism:
- https://docs.magento.co

[2019-03-19 08:12] smoskaluk opened #2096 "Empty quantity for configurable product cause fatal error on 2.3.0 #21746"
Need to investigate
https://github.com/magento/magento2/issues/21746

[2019-03-19 09:23] IvanPletnyov commented on #2094
Hello @routbiplab . I've checked your ticket by this steps:

**Products available on default source:**
1. Install magento 2.3 with sample data
2. Add custom source
3. Add stock with created source (without assigned sales channels)
4. Run reindex and flush cache: bin/magento indexer:reindex; bin/magento flush:cache;
5. Go to category page, all products available:

![image](https://user-images.githu

[2019-03-19 10:39] routbiplab commented on #2094
Install magento 2.3 with sample data
Add custom source
Add stock with created source and assigned main website
Run reindex and flush cache: bin/magento indexer:reindex; bin/magento flush:cache;
In admin panel go to products grid and assign products to custom stock
Go to website and check for products visibile or not

[2019-03-19 11:13] IvanPletnyov commented on #2058
@slacka1 Hello, could you please create patch with your changes ?

[2019-03-19 11:31] IvanPletnyov commented on #2094
@routbiplab By this steps It's working for me.
1. Give me more information about your system.
2. Do you have any errors in log ?
3. Are you using CE version or EE ?
4. Do you use third party modules ?

[2019-03-19 13:58] maghamed commented on #2094
@routbiplab what the "Salable Quantity" you have in Magento Admin panel for the products which are absent on front-end?

[2019-03-19 14:52] #1587 closed, assigned to larsroettig

[2019-03-19 17:42] priyasbhat opened #2097 "Order fails for product configured to not manage stock in custom website"
### Preconditions (*)
1. Magento 2.3.0 installed and MSI enabled
2. Create new Website: **testing_website**
![Stores___Settings___Stores___Magento_Admin](https://user-images.githubusercontent.com/5289370/54643442-3454ca80-4a97-11e9-85fe-8b57ce2b5594.png)
2. Create new Source - testing_source
3. Create new Stock - testing_stock add testing_source assine to testing_website*

### Steps to reproduce (

[2019-03-19 21:12] maghamed commented on #2061
Most of the described items (if not all) are nice to have in MSI.
Dedicated grooming meeting to discuss proposed UI changes would be scheduled nearest time. UI specialist from Magento would be either invited there.

Sorry, for late response @paales

[2019-03-19 21:28] larsroettig commented on #2097
Hi i test it with the parameter but it is not reproduce-able for me :
https://www.youtube.com/watch?v=ntnxht8BMgQ

[2019-03-19 22:20] larsroettig commented on #2097
The `SkuIsNotAssignedToStockException` throw because the
`inventory_stock_id != default_stock_id` for the website `testing_website` at:

https://github.com/magento-engcom/msi/blob/fd7cd78df9090a53a379431ca824085b3b1af9fe/app/code/Magento/InventoryConfiguration/Model/GetStockItemConfiguration.php#L73-L80

We should also check for
[code]

[2019-03-20 11:47] priyasbhat commented on #2097
The issue over here is that the check for stock is not being skipped when the product is configured to manage_stock = false. I have spoken to @maghamed regarding this and he acknowledged
it is an issue.

[2019-03-20 14:04] #2096 closed, assigned to nobody

[2019-03-20 16:33] ishakhsuvarov opened #2099 "Customize core OrderRepository getList to process extension attributes"
### Description
For `Store Pickup` feature we would need to work with extension attributes on the Order Entity. Current `getList` implementation of `OrderRepository` does not add extension attributes to the loaded Orders entities.

[There is a core Pull Request which fixes it in `2.3-develop`](https://github.com/magento/magento2/pull/21797). Unfortunately, it's most likely that this changeset woul

[2019-03-20 21:13] larsroettig commented on #2097
### Documentation - how we can solve this Issue:

**1.  Change in `Magento\InventoryIndexer` we must change Index behaviour to:**

Add all the products which have *ManageStock = false*, and along with that product which assigned to the website which uses this Stock.

**Expected  Behaviour**
After Indexing entry is added to the added to correct ` inventory_stock_* ` DB Table

**2. Change Implementa

[2019-03-21 01:19] adarshkhatri commented on #2043
It looks like there is check in place:

            if (!$stockItemConfiguration->isManageStock()) {
                //We don't need to Manage Stock
                continue;
            }

https://github.com/magento-engcom/msi/blob/2.3-develop/app/code/Magento/InventorySourceDeductionApi/Model/SourceDeductionService.php#L76

I think solution would be to find the list by `product id` instead of sk

[2019-03-21 01:25] adarshkhatri commented on #2043
Also on my further investigation, I found this:

[code]

`$stockItemConfiguration->isManageStock()` for config item with custom option always returns `1`. I confirm, I am not managing stock for child and parent.

I also confirm, in my different instance, I have not created any STOCK SOURCE yet.
Manage Source: Default
Manage Stock: Default Stock

![sourcce](https://user-images.githubusercontent.com

[2019-03-21 19:46] maghamed opened #2101 "Introduce a service to partially transfer Stock data from One Source to Another with possibility to set Qty being transferred"
Introduce a service to partially transfer Stock data from One Source to Another with a possibility to set Qty being transferred per each SKU.

The existing set of services:
https://github.com/magento-engcom/msi/tree/2.3-develop/app/code/Magento/InventoryCatalogApi/Api/Bulk*

Does not cover partial stock transfer, so that we are always transferring the whole available Qty from Source-A to Source-B

[2019-03-22 08:22] smoskaluk opened #2102 "Error on category page when Elasticsearch 6 enabled"
Fatal error on category page on frontend when Elasticsearch 6 enabled

{"0":"Undefined factory elasticsearch6","1":"
#0 /app\/code\/Magento\/Catalog\/Model\/Layer.php(146): Magento\\Elasticsearch\\Model\\Layer\\Category\\ItemCollectionProvider->getCollection(Object(Magento\\Catalog\\Model\\Category\\Interceptor))\
n#1 /generated\/code\/Magento\/Catalog\/Model\/Layer\/Category\/Interceptor.php(37):

[2019-03-22 12:56] maghamed commented on #2102
Not an MSI issue.

The issue has been introduced into 2.3-develop branch a few days ago (2.3.0-release is not affected).

The fix for 2.3-develop is in the PR - https://github.com/magento/magento2ce/pull/3912

[2019-03-22 12:57] #2102 closed, assigned to nobody

[2019-03-22 17:00] maghamed opened #2105 "Get Rid of MySQL View usage on Default Stock in next class"
In service

\Magento\InventoryCatalog\Model\ResourceModel\AddIsInStockFieldToCollection
https://github.com/magento-engcom/msi/blob/msi-2027-improve-performance-product-save-operation/app/code/Magento/InventoryCatalog/Model/ResourceModel/AddIsInStockFieldToCollection.php

we are still using MySQL View on Default Stock which affects performance on front-end scenarios.

Conditional logic, similar to

[2019-03-22 19:05] maghamed opened #2106 "Not possible to save product in Multi Source environment just specifying Manage Source = fase"
1. Start creating a product in admin panel
2. Fill all the mandatory attributes
3. Open Advanced Inventory
4. Set Manage Stock = false in advanced inventory
5. Save product

Actual result:
`The stock item was unable to be saved. Please try again.` error appeared

Expected Result:

Product Saved

[2019-03-22 20:06] larsroettig commented on #2106
Hi I cannot reproduce at Version: b1177797df0  new Installation

### Repo Create:

2 Websites  Default and `Germany Website`
3 Sources Default, `Warehouse1`, `Warehouse2`
2 Stock Germany with `Warehouse1` and `Warehouse2` assigned to `Germany Website`

✅ 1. Start creating a product in admin panel
✅ 2. Fill all the mandatory attributes
✅ 3. Open Advanced Inventory
✅ 4. Set Manage Stock = false in a

[2019-03-22 20:25] maghamed commented on #2106
@larsroettig you should reproduce that bug having several sources created

[2019-03-22 20:25] maghamed commented on #2106
the bug is reproducible for me

[2019-03-23 14:15] #2042 closed, assigned to krzksz

[2019-03-24 16:59] novikor opened #2107 "[Store Pickup] - Notify customer button"
### Description (*)
We need to create a button for order page which should notify the customer when the order is ready for pickup.

### Expected behavior (*)
If:
- An Order is placed using store pickup
- The selected pickup source has enough qty to fulfill the order

The button should be displayed.

On button click an email using a custom email template should be sent.

[2019-03-24 19:35] digikeijs opened #2108 "MSI - Stock used from wrong source (multi store issue)"
### Preconditions (*)

1. Magento 2.3
2. MSI version 1.1

### Steps to reproduce (*)

(see screenshots)
1. Setup a multistore setup with 4 websites
2. Setup 1 extra source
3. Setup 1 extra stock
4. Assign 2 websites to the default stock
5. Assign 2 websites to the extra stock
6.  Assign a product to all websites and both sources and give 0 qty to default stock and 100 to the source.
7. Create an o

[2019-03-24 19:35] digikeijs commented on #2108
@maghamed

[2019-03-25 08:10] digikeijs commented on #2108
Looks like the issue is related to the address. When I create an order with a US address and add my product, on the first load it takes the wrong source/stock. When I change my state it suddenly gives the backorder message for the correct source / stock.
![image](https://user-images.githubusercontent.com/34745091/54904056-b3099780-4edd-11e9-9162-8c1d9810e9a0.png)

Already changed the distance prov

[2019-03-25 10:52] smoskaluk commented on #2108
Hi @digikeijs, I can't reproduce this issue, may you please give more details please.  Did you create separate Stores/Storeviews for your custom websites as well?

[2019-03-25 10:54] digikeijs commented on #2108
@smoskaluk yes there are. Do you want to look in to my test environment? Can you then ping me on slack?

[2019-03-25 14:21] smoskaluk opened #2109 "Price field enabled when bundle product with dynamic price creating"
During creation Bundle product with enabled 'Dynamic price' - by default - field 'Price' should be disabled

![image](https://user-images.githubusercontent.com/27818516/54926946-fc77d800-4f19-11e9-9995-113c1f2fe214.png)

[2019-03-25 14:35] YuliyaLabudova opened #2110 "Unskip MFTF for MAGETWO-44165"
Please, unskip these tests in the next release:
AdminCreateVirtualProductSwitchToConfigurableTest
AdminCreateSimpleProductSwitchToConfigurableTest
AdminCreateDownloadableProductSwitchToConfigurableTest

[2019-03-25 15:19] ishakhsuvarov commented on #2099
Merged in #2104

[2019-03-25 15:19] #2099 closed, assigned to swnsma

[2019-03-25 15:21] ishakhsuvarov commented on #2030
Merged in #2082

[2019-03-25 15:21] #2030 closed, assigned to toddhainsworth, swnsma

[2019-03-25 15:27] swnsma commented on #2107
Does it duplicate of #2034 ?

[2019-03-25 15:28] #2107 closed, assigned to novikor

[2019-03-25 15:42] #1276 closed, assigned to nobody

[2019-03-25 15:43] #1277 closed, assigned to nobody

[2019-03-26 08:41] smoskaluk commented on #2108
I can reproduce the issue when I place order from admin and qty of order items exceeds qty allocated on Default source for this product  - what is wrong - because inventory for that custom website set to custom stock with custom source assigned

[2019-03-26 09:49] routbiplab commented on #2094
It was above 100

[2019-03-26 13:19] maghamed commented on #2108
@smoskaluk pls update steps to reproduce in to this ticket, as currently all your find outs are in comments

[2019-03-26 13:26] digikeijs commented on #2108
@maghamed  @smoskaluk I updated the steps and added new screenshots

[2019-03-26 14:47] jorgb90 opened #2111 "How to get salable qty on frontend?"
Hi,

On the frontend we built some logic to determine the shipping time for our customers, but when using our current code the output is only from the Default source. It should output the total Salable qty of all sources as in the backend.

We are now using:

`<?php $qty = $_product->getExtensionAttributes()->getStockItem()->getQty(); ?>`

Or even:

`$objectManager = \Magento\Framework\App\ObjectM

[2019-03-26 16:51] jorgb90 commented on #2111
Found a solution in using:

`<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $StockState = $objectManager->get('\Magento\InventorySalesApi\Api\GetProductSalableQtyInterface');
	$qty = $StockState->execute($_product->getSku(), 2);
?>`

Is this the best way?

[2019-03-26 18:30] deiserh commented on #2066
Because of to less time I add my findings here so somebody else can continue with this ticket.

Its a valid behavor that the function setToInsertDate is length 0, because thats removing the assigned item.

The problem is, that in the providor.js (app/code/Magento/Ui/view/base/web/js/grid/provider.js) a reload loads the sources by a filter query.

If two items in the list and one will be removed ev

[2019-03-26 19:12] Watch3ruk commented on #2111
Hi,
i would like to know this as well.
And is there a way to change the salable qty ?
Product A friday qt is 50. monday qty is 50 and i have salable - 5 ?? i know WHY question is can i change so qty changes on order placement ??

[2019-03-26 21:54] jorgb90 commented on #2111
Mm with my solution I am getting the following error for configurable products:

Can't check requested quantity for products without Source Items support.

[2019-03-27 05:56] kandarp26 opened #2112 "Display out of stock product on category page"
### Preconditions (*)

1. Magento 2.3.0 installed and MSI enabled
2.  Create new Source - testing_source

### Steps to reproduce (*)

1. Create product with 1 qty.
2. Admin > catalog >stock option > Display Out of Stock Products = No
3. Place order with same product
4. Navigate to the category list page
--

### Expected result (*)

1. Product should disappear from the listing as it's out of stock

[2019-03-27 08:10] smoskaluk commented on #2112
Hi @kandarp26 ,  MSI works that way, that product will disappear not after placing order - but only after order completed (shipment created). You may notice in admin, on product grid that after placing order only salable qty on stock deducted for your product, but qty on source would be reduced only after shipping.

[2019-03-27 08:52] jorgb90 commented on #2112
I don't think this is the preferred way? If there is 1  piece left it can't stay online until its shipped? When its bought and paid for it should be taken offline..

[2019-03-27 09:04] jorgb90 opened #2113 "In stock, 0 qty and backorders allowed products not visible on category pages"
### Preconditions (*)
1. Magento 2.3 with MSI

### Steps to reproduce (*)
1. Create custom stock with custom source and main website assigned
2. Create a simple product with custom source assigned with qty '0' and status 'In Stock'
3. Go to Advanced Inventory
4. Set Manage Stock to Yes
5. Set Backorders to 'Allow Qty Below 0 And Notify Customer'

### Expected result (*)
1. Product is visible on ca

[2019-03-27 10:14] kandarp26 commented on #2112
@smoskaluk  Magento have a setting Admin > catalog >stock option > Display Out of Stock Products = No. Where out of stock product is not display on frontend .

Now in this case product display on product list but when we go to the product view page it show product out of stock.

[2019-03-28 09:07] maghamed commented on #2111
hey @jorgb90

you should use `GetProductSalableQtyInterface` to determine correct quantity on front-end .
Try not to use interfaces from CatalogInventory module, as all those interfaces currently deprecated.

Salable Qty is changed when either Reservation is placed or SourceItem Qty is changed

That's because you are trying to set Qty for Configurable Product, which in fact can't have Quantity by

[2019-03-28 09:07] #2111 closed, assigned to nobody

[2019-03-28 10:05] dudzio12 commented on #2112
https://github.com/magento/magento2/issues/22000

[2019-03-28 10:24] maghamed commented on #2112
@jorgb90 @dudzio12  the product, in fact, is gone when the order is placed. Thus, it's not possible to place another order with this product, neither to add it to a shopping cart. Even if you will visit the product page - the status of that product would be - "Out of Stock".

The reason why the product still appears on the category page and search result page is that we don't apply Reservations (c

[2019-03-28 14:13] dudzio12 commented on #2112
@maghamed Could you answer my question?https://github.com/magento/magento2/issues/22000#issuecomment-477545146

[2019-03-28 16:25] ishakhsuvarov opened #2116 "Improve existing implementation of "In Store Pickup" attribute of Source"
### Description
#2044 was merged into `store-pickup` branch, however some comments on the solution still remain. This ticket is aimed at improving the solution quality.

### To Do
1. Evaluate and adjust naming of the attribute. Something in the lines of `eligible_for_in_store_pickup` was discussed at the grooming session.
2. Eliminate dependency on the event fired from the controller. This is not

[2019-03-28 21:35] novikor commented on #2034
@maghamed, could you suggest a way we can implement this behavior?
How and where the notification should look like?
As I know, there are no mechanisms for Internal Transitions, are they?

[2019-03-28 23:28] TadeuRodrigues commented on #2034
@novikor i was working in this issue, let's me send my branch.

[2019-03-29 06:50] novikor commented on #2034
@TadeuRodrigues  - thanks, let`s try

[2019-03-29 06:58] novikor commented on #2034
@maghamed , I suggest just to display a warning when the button is not displayed.

[2019-03-30 00:05] maghamed commented on #1971
hey @karthi5053

sorry for late reply. Regarding the case, you described in the ticket. Currently, it is expected behavior which complies with the desirable state of new Inventory workflows.
MSI introduces two types of Quantities:

1. Quantity on Source (real quantity of product allocated on physical warehouse/distribution center/brick and mortar store)
2. Salable Quantity - aggregated quantity of

[2019-03-30 00:12] maghamed commented on #1971
if you have integration with 3rd party ERP systems and you make the source selection and Source Deduction there, but not in Magento. That means that this external system is your Source of Truth, but not Magento. Thus, having periodical synchronization on the level of inventory and accepting correct Source data from that system - that's your responsibility to customize Magento the way to make a dec

[2019-03-30 01:22] #701 closed, assigned to maghamed

[2019-03-30 07:56] ishakhsuvarov opened #2118 "GraphQL support for the new Inventory"
### Description
GraphQL implementation provided of 2.3.0 is sometimes returning incorrect stock information to the client. This happens due to its dependency on a legacy set of CatalogInventory APIs which do not account for reservations.

### To Do
1. Implement `InventoryGraphql` module which would provide Graphql endpoints with the correct product quantities.
2. Introduce graphql web api tests wh

[2019-03-30 08:04] ishakhsuvarov opened #2119 "Refactor dependency on a less generic type of OrderRepositoryInterface"
### Description
Some classes included in the MSI modules (for example `InventoryShippingAdminUi`) rely directly on a `Magento\Sales\Model\OrderRepository` without any clear reason.

### To Do
1. Refactor classes to rely on `OrderRepositoryInterface` instead.

[2019-03-30 12:23] lbajsarowicz commented on #1620
Does it make sense if we have MFTF coverage on this?
`app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest.xml`

[2019-03-30 14:32] maghamed commented on #2112
hey @dudzio12 ,

I've answered you on Magento GitHub , you can find my answer here - https://github.com/magento/magento2/issues/22000#issuecomment-478251209

[2019-03-30 15:36] diwipl commented on #2109
I've tried to reproduce following issue using 2.3-develop branch, but I was not able to.

![image](https://user-images.githubusercontent.com/3406741/55278231-e434fe00-5309-11e9-9fa1-1347c5ac8641.png)

Can you provide more details (which branch you've used) ?

[2019-03-30 18:15] Ctucker9233 commented on #1627
Is this issue valid for 2.2.8? I just ran into it there.

[2019-03-30 22:32] ishakhsuvarov commented on #2119
Fixed in #2122

[2019-03-30 22:32] #2119 closed, assigned to pierzakp

[2019-03-31 08:26] swnsma opened #2126 "Immutable DTO for Pickup Location"
### Description
We need to add possibility to auto-generate immutable DTO objects in case to provide possibility to extend for the last.
Possible solution:
* Check and align possibilities with #1281
* Create config with XML settings, where fields and corresponding types will be described for entity
* Create generation possibility for immutable DTO based on configurations
* Replace 'PickupLocationI

[2019-04-01 09:03] smoskaluk commented on #2109
Hi @diwipl, the issue is reproducible on branch 2.3.0-release, but it looks like it already fixed on 2.3-develop. Thank you for report!

[2019-04-01 09:03] #2109 closed, assigned to diwipl

[2019-04-01 12:53] seansan commented on #1925
groomed? ;P

[2019-04-01 17:42] ishakhsuvarov commented on #2116
Merged in #2125

[2019-04-01 17:42] #2116 closed, assigned to swnsma

[2019-04-01 21:00] mbrinton01 commented on #1925
Currently several members of the team are traveling to support community events. We will add this for discussion in the next grooming meeting.

[2019-04-02 09:59] djixas opened #2128 "Error editing or creating inventory source #22093"
### Preconditions (*)
Magento: 2.3.1
PHP 7.2 + MySQL 5.6

The following extensions were disabled during fresh install

Amazon_Core
Amazon_Payment
Amazon_Login
Dotdigitalgroup_Email
Klarna_Core
Klarna_Kp
Klarna_Ordermanagement
Magento_Authorizenet
Magento_AuthorizenetAcceptjs
Magento_Braintree
Magento_Dhl
Magento_DownloadableGraphQl
Magento_DownloadableImportExport
Magento_Fedex
Magento_InventoryPr

[2019-04-02 11:53] karthi5053 commented on #1971
Hi Maghamed,

Thank you for your detailed explanation on this.

As it stands, MSI module works quite well when the stock and order fullfillment are managed within magento. But when, it comes to integrating Magento with external ERP/Warehouses system, we may face such issues.

Regards,
Karthi Kumar.

[2019-04-02 12:20] jorgb90 opened #2129 "Fatal error in assign sources on product level"
### Preconditions (*)
1. Magento 2.3.1 CE with MSI
2. ElasticSearch

### Steps to reproduce (*)
1. In the backend have a product with two sources
2. Open the product and go to Assign Sources
3. In the overlay the fatal error occurs.

Fatal error: Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught Error: Call to undefined method Magento\Framework\Api\Sea

[2019-04-02 12:39] jorgb90 opened #2130 "Wrong salable quantity"
### Preconditions (*)
1. Magento 2.3.1 with MSI

### Steps to reproduce (*)
1. Create a product with two sources. One sources has 1 pc in stock.
2. Create an order and ship this order so its completed.
3. Both sources now say 0 pcs in stock, but salable qty still gives 1.

### Expected result (*)
1. Salable qty to be 0

### Actual result (*)
1. Salable qty is 1

![salableqty](https://user-images.g

[2019-04-02 15:35] maghamed commented on #2130
hey @jorgb90 ,

I don't the the initial reservation created at the time of Order Placement. Just the compensastional one, created at the time of Shipment.
How did you create the order, which way? REST/SOAP/Front-end/Back-end?

Do you have any 3rd party extensions which somehow affect Order Placement?

Can you check whether pulgin `\Magento\InventorySales\Plugin\Sales\OrderManagement\AppendReservat

[2019-04-02 16:00] maghamed commented on #2130
Or, did you change SKU of the product after the order has been placed?

[2019-04-02 16:49] ishakhsuvarov commented on #2108
@digikeijs Problem should be fixed with #2123
Thanks for reporting

[2019-04-02 16:49] #2108 closed, assigned to diwipl

[2019-04-02 19:46] digikeijs commented on #2108
Wow that's quick. Any idea when this will be available to download / install?

[2019-04-03 04:54] ishakhsuvarov commented on #2053
Hi @azngeek
Closing this ticket now. Please continue tracking under reference #2128 as it seems similar.

Thanks.

[2019-04-03 04:54] #2053 closed, assigned to nobody

[2019-04-03 04:56] ishakhsuvarov commented on #2128
Hi @djixas
Please try the same with module `Magento_ReleaseNotification` enabled.

I suspect that there is an incorrect DI configuration, which is specified for `ClientInterface` only in that module. We will look into appropriate ways to fix it meanwhile

[2019-04-03 05:38] ishakhsuvarov opened #2131 "Incorrect processing of products with non-manageable stock absent in stock index"
### Description
In case where a new Product was created with no source/stock assignment (or assignment to a non-default source/stock) and has `Manage Stock = false` in its Advanced Inventory settings it would not show up in the frontend.

Currently, a set of plugins in the `InventoryCatalog` module are responsible for adapting catalog inventory stock status to use indexes provided by MSI. These pl

[2019-04-03 05:47] ishakhsuvarov opened #2132 "[UI Love for Assigned Sources] Notify Quantity"
### Description
This ticket is created in effort to split #2061 into smaller and more manageable items.

`Assigned Sources` panel, located on the Product Edit page has a lot of tightly packed controls, some of which may be (re)moved to maintain cleaner look and better experience.

### To Do
1. Eliminate column `Notify Quantity Use Default` on the Assigned Sources panel.
2. Move checkbox which was

[2019-04-03 05:50] ishakhsuvarov opened #2133 "[UI Love for Assigned Sources] Unassign column"
### Description
This ticket is created in effort to split #2061 into smaller and more manageable items.

`Assigned Sources` panel, located on the Product Edit page has a lot of tightly packed controls, some of which may be (re)moved to maintain cleaner look and better experience.

### To Do
1. Remove `Unassign` column label, as Trash can icon seems to be self-explanatory.
2. Add `Unassign` tooltip

[2019-04-03 05:54] ishakhsuvarov opened #2134 "[UI Love for Assigned Sources] Source code"
### Description
This ticket is created in effort to split #2061 into smaller and more manageable items.

`Assigned Sources` panel, located on the Product Edit page has a lot of tightly packed controls, some of which may be (re)moved to maintain cleaner look and better experience.

### To Do
1. `Source Code` label doesn't seem to have too much of a use in this specific panel so it may be removed.
2

[2019-04-03 06:46] smoskaluk commented on #2108
Hi @digikeijs , it's already merged into 2.3-develop branch

[2019-04-03 07:32] jorgb90 commented on #2130
Hi @maghamed,

**How did you create the order, which way? REST/SOAP/Front-end/Back-end?**
Just at the front-end as a normal customer.

**Do you have any 3rd party extensions which somehow affect Order Placement?**
Nope. We only import stock through Xtento stock import plugin, but that has nothing to do with order placement.

**Can you check whether pulgin \Magento\InventorySales\Plugin\Sales\Order

[2019-04-03 07:45] smoskaluk commented on #2128
Hi @djixas , thank you for report.
I was able to reproduce the same error by next steps:

Install Magento: 2.3.1
Disable module Magento_ReleaseNotification
Run bin/magento setup:di:compile

![image](https://user-images.githubusercontent.com/27818516/55461653-a4b62c80-55fd-11e9-90c0-9f66afeebf67.png)

[2019-04-03 08:21] HS-Fachmarkt opened #2135 "source_code attribute is missing in REST API endpoint "shipments""
### Preconditions (*)
1. Magento 2.3.1 Commerce
2. MSI with multiple stocks

### Steps to reproduce (*)
1. Call the magento 2 rest api on /rest/V1/shipment/22 ([shipment.txt](https://github.com/magento-engcom/msi/files/3037565/shipment.txt)). extension_attributes with attribute source_code is set. "extension_attributes: {source_code: "warehouse_poz"}"
2. Call the magento 2 rest api on /rest/V1/shi

[2019-04-03 10:27] maghamed commented on #2130
@jorgb90 what exactly you mean saying you disabled stock and then enabled it again? When MSI is enabled we always place reservations at the time of order placement. There is no possibility to avoid that unless you disabled msi modules.
Did you disable MSI modules?

[2019-04-03 10:37] maghamed commented on #2130
Or you initially had another stock assigned to website where you placed that order. Then you assigned stock with ID=2 to that website, while the order has not been completed, and afterward you shipped that order. So that initial reservation and compensational one are created for different stocks which breaks calculation

[2019-04-03 11:01] maghamed commented on #1971
Hey @karthi5053 ,
That’s not an issue, but by desig behavior. Moreover you could consider that  as  a feature for your integration as Magento introduces explicit extension point  for customization, and you literally need  to customize just one place in the code to make your customization work properly in accordance to your business scenarios.  You can look at this interface https://github.com/mage

[2019-04-03 11:15] jorgb90 commented on #2130
@maghamed

**Did you disable MSI modules?**
No just disabled Manage Stock under configuration/catalog/inventory in the back-end.

**Or you initially had another stock assigned to website where you placed that order. So that initial reservation and compensational one are created for different stocks which breaks calculation**
Nope we didn't had another stock assigned. It wouldn't remove the initial

[2019-04-03 11:20] maghamed commented on #1971
Btw you can watch presentation by @vadimjustus who is talking about similar customizations when Magento syncing up with ERP   https://youtu.be/RoIEaoVm4mU

[2019-04-03 12:42] smoskaluk commented on #2129
Hi @jorgb90 , I couldn't reproduce this issue, may you please give more details about it.

[2019-04-03 12:57] jorgb90 commented on #2129
@smoskaluk

I just now that we are getting this error:

[2019-04-03 12:59] jorgb90 commented on #2129
@smoskaluk
I just know that we are getting this error on a Magento application running in production mode. If we visit stores/source or stores/stocks in the backend or just try to assign sources on the product page we get it.

**Edit:**
I can confirm now that ElasticSearch has nothing to do with it. We disabled it and we are still getting this error.

[2019-04-03 14:01] lorikrell commented on #2061
I would say we need In Stock / Out of Stock as that is an actual status used and understood for the product availability.
Happy to review and help for any UX text! :)

[2019-04-03 14:38] maghamed commented on #2130
@jorgb90 , so the issue is that you switched Manage Stock to false for some products. With this configuration setting Magento does not create any reservations at all including both order placement and shipment. When orders were placed you decided to change that configuration setting to true, so that Magento started to handle product quantities. Thus, when you done shipment Magento created compensa

[2019-04-03 14:41] maghamed commented on #2130
@jorgb90 , so the issue is that you switched Manage Stock to false for some products. With this configuration setting Magento does not create any reservations at all including both order placement and shipment. When orders were placed you decided to change that configuration setting to true, so that Magento started to handle product quantities. Thus, when you done shipment Magento created compensa

[2019-04-03 15:33] smoskaluk opened #2138 "Disable fields in Mass action -> Update attributes -> Advanced inventory"
When multi sources enabled, on Products grid in Mass action -> Update attributes -> Advanced inventory
next fields need to be disabled and hidden (How it implemented in Advanced inventory on Product page):
Qty, Notify for Quantity Below and Stock Status

![image](https://user-images.githubusercontent.com/27818516/55492403-d05a0680-563f-11e9-859c-6d9f00a1c4f5.png)

[2019-04-03 16:43] jorgb90 commented on #2130
@maghamed Its either that (I dont know if the Manage Stock setting disables MSI events?) or it's just that by upgrading Magento and enabling MSI on a production environment (which has already orders placed before MSI was enabled) it creates shipment_created events and thus have a mismatch as it doesn't have a compensational transaction.

[2019-04-03 20:55] maghamed commented on #2130
correct, that's another reason of getting Qty calculation wrong

[2019-04-03 20:57] maghamed commented on #2129
@jorgb90 do you have any 3rd party extensions or customization, as on pure Magento 2.3.1 + MSI the issue is not reproducible

[2019-04-05 05:40] #2130 closed, assigned to nobody

[2019-04-05 05:47] #2112 closed, assigned to maghamed

[2019-04-05 07:48] jorgb90 commented on #2129
@maghamed It is running on a production environment so yes there are 3rd party extensions installed, but none have something to do with listing sources and stocks in the back-end. The only customization I have done to MSI is this one #2113. All other functionalities like assigning sources through the productgrid are working fine.

BTW How do I know if I have the latest version of MSI installed?

[2019-04-05 08:50] ishakhsuvarov opened #2140 "Reservations CLI"
### Description
Admin UI for reservations was not created intentionally, as it's not intended to be viewed of manipulated by the merchant. Nevertheless, when testing advanced user scenarios involving new Inventory absence of UI for the Reservations may be frustrating and create challenge in understanding how inventory quantities are calculated and if everything is calculated correct.

One of the m

[2019-04-05 13:02] smoskaluk commented on #2094
@routbiplab we can't reproduce this issue. Do you have any 3-d part modules installed? Do you have errors in log?

[2019-04-05 13:57] lorikrell commented on #2140
CLI command would be awesome! We will need to document this in the docs. Will create a doc ticket.

[2019-04-05 13:59] lorikrell opened #2143 "DOCS - CLI Command for Reservations"
Document in the DevDocs the CLI commands for:

CLI command to view inventory reservations data allows to get the list of reservations along with their sales event information, quantities, stock id projected on the relevant completed orders.

Possible development strategy:
* Select all of the reservations, having order as a business type and any of the event types meaning it's completed (not pendin

[2019-04-05 16:09] giuseppemorelli commented on #2138
Hey folks,
actually the form of mass attribute update is created with this phtml file

`app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/action/inventory.phtml` that has this Block php class `app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Action/Attribute/Tab/Inventory.php`

My first thought was to edit the .phtml and add a fuction on a block class. This kind of approa

[2019-04-06 08:31] #1971 closed, assigned to maghamed

[2019-04-08 09:27] daniloargentiero commented on #1828
Waiting for ee pull request approval:

https://github.com/magento/partners-magento2ee/pull/18

[2019-04-08 10:26] #2050 closed, assigned to maghamed

[2019-04-08 10:28] maghamed commented on #531
This GitHub ticket should address this issue - https://github.com/magento-engcom/msi/issues/2140

CLI Toolings should help with Inventory Consistency

[2019-04-08 10:28] #531 closed, assigned to maghamed

[2019-04-08 10:29] smoskaluk commented on #2129
@jorgb90 If you installed your Magento from repo.magento.com - then you have latest released MSI version.
Please try to reproduce your issue on clean fresh Magento 2.3.1 installation - without any 3rd party modules

[2019-04-08 13:06] ishakhsuvarov commented on #2132
Closing, as issue is fixed in #2149 by @fratob85

Thanks!

[2019-04-08 13:06] #2132 closed, assigned to fratob85

[2019-04-08 13:06] ishakhsuvarov commented on #2133
Closing, as issue is fixed in #2145 by @fratob85

Thanks!

[2019-04-08 13:06] #2133 closed, assigned to fratob85

[2019-04-08 13:06] ishakhsuvarov commented on #2134
Closing this ticket now, as @fratob85 fixed it in #2147
Thanks!

[2019-04-08 13:06] #2134 closed, assigned to fratob85

[2019-04-08 13:30] ishakhsuvarov commented on #2105
Closing, as issue is fixed in the scope of #2120 by @bartekszymanski

Thanks for collaboration!

[2019-04-08 13:30] #2105 closed, assigned to bartekszymanski

[2019-04-08 14:28] ishakhsuvarov commented on #2084
Integration tests were added in the scope of #2091

Thanks @vadimjustus

[2019-04-08 14:28] #2084 closed, assigned to vadimjustus

[2019-04-09 06:32] smoskaluk opened #2151 "[UI Love for Assigned Sources] Move buttons"
Description
This ticket is created in effort to split #2061 into smaller and more manageable items.

Assigned Sources panel, located on the Product Edit page has a lot of tightly packed controls, some of which may be (re)moved to maintain cleaner look and better experience.

### To Do
1.  Move buttons "Assign Sources" and "Advanced Inventory" to the right side and to the same level of the grid - a

[2019-04-09 06:45] smoskaluk opened #2152 "[UI Love for Assigned Sources] Hide Headers"
Description
This ticket is created in effort to split #2061 into smaller and more manageable items.

Assigned Sources panel, located on the Product Edit page has a lot of tightly packed controls, some of which may be (re)moved to maintain cleaner look and better experience.

### To Do
Hide grid headers and label "Assigned Sources" when there are no Sources assigned

![image](https://user-images.gi

[2019-04-09 09:23] maghamed opened #2153 "Add Source Type extension attribute"
Would be great to have an extensible Source Type attribute, which will provide an ability for extension devs to use this attribute to adjust priorities for Source deduction in Source Selection Algorithm.
Say, make the stock on Drop-shipper be deducted after the stock on other sources has been fully used.

Currently, we have the next types:
- regular source
- drop-shipper
- virtual (?)

but this li

[2019-04-09 10:57] phizab opened #2154 "Cannot assign source in bulk to products"
### Preconditions (*)

1. Magento 2.3.1
2. Configuration "cataloginventory/bulk_operations/async" is enabled

### Steps to reproduce (*)

1. Select product(s) in product grid.
2. Choose "Assign Inventory Source"
3. Set checkbox of any source
4. Click "Assign sources"

### Expected result (*)

1. Bulk is getting scheduled

### Actual result (*)

1. Redirect to product grid
2. Error Message: "Someth

[2019-04-09 12:20] maghamed commented on #2154
Hi @phizab ,

This issue is addressed in this PR - https://github.com/magento-engcom/msi/pull/2086
which is, unfortunately, not yet released.
The root cause of the issue is topic names change which happened since 2.3.1 release.

While this PR is not delivered to any MSI release - you can still use synchronous transfer which is quite fast at this moment, as it was refactored recently and now it mov

[2019-04-09 13:09] maghamed commented on #2108
@digikeijs currently we are going to make next MSI delivery in approx 10 days from now

[2019-04-09 13:13] maghamed commented on #2143
Moved from #MSI Slack:
what we want is to add 3 CLI commands:
1. Will find all the reservations created for Completed Orders (statuses: completed, canceled, closed) where the summed up reservation quantity does not equal `0`
2. Will find Open orders (statuses: processing, pending) for which we don't have initial reservation created (the issue when merchant migrated from 2.0/2.1/2.2 with open order

[2019-04-09 13:13] maghamed commented on #2140
Moved from #MSI Slack:
what we want is to add 3 CLI commands:
1. Will find all the reservations created for Completed Orders (statuses: completed, canceled, closed) where the summed up reservation quantity does not equal `0`
2. Will find Open orders (statuses: processing, pending) for which we don't have initial reservation created (the issue when merchant migrated from 2.0/2.1/2.2 with open order

[2019-04-09 13:14] maghamed commented on #2078
should be addressed in #2140

[2019-04-09 13:18] maghamed commented on #2053
@tephereth all the code changes which affect non-Inventory modules should be delivered via Magento 2 GitHub repository, but not MSI one. Could you please create an independent PR to Magento repo

[2019-04-09 14:02] tephereth commented on #2053
yes @maghamed , my fix of MSI is just there as a reference and linked to the core fix https://github.com/magento/magento2/pull/22179
this one has been approved but then closed because is a duplicated one (another identical PR was approved 1 month ago, it seems).

[2019-04-10 07:48] malesh-v opened #2155 "Zero qty for children products when save configurable product twice"
### Steps to reproduce (*)
1. Click Add Product drop-down
2. Click Configurable Product
3. Fill all required fields
4. Click _Create Configuration_
5. Select Attribute and click _Next_
6. Select Attribute values and click _Next_
7. In _Quantity per source_ section, select _Apply single quantity to each SKUs_
8. Select source
9. Enter some qty greater than zero
10. Click _Next_
11. Click _Generate

[2019-04-10 08:33] malesh-v opened #2156 "Product status is 'In Stock' on storefront even it is Out of Stock in all Sources"
### Steps to reproduce (*)
1. Go to create product page
2. Fill all required data
3. Assign a few sources
4. Switch **Source Item Status** to **Out of Stock** on each source
5. Switch **Backorders** to **Allow Qty Below 0** on Advanced Inventory page
6. Save product
7. Open product on storefront

### Expected result (*)
Product isn't salable and status is **Out of Stock**

### Actual result (*)
Pr

[2019-04-10 10:10] maghamed commented on #2156
Looks like we need to add a designated condition into the condition chain
[code]
which would be responsible for checking that at least one SourceItem should have `In Stock` status.

The same should be done for \Magento\InventorySalesApi\Api\IsProductSalableForRequestedQtyInterface service

[2019-04-10 10:12] maghamed commented on #2154
@phizab
I will close this issue, as it was already addressed in the scope of delivered PR.

Feel free to re-open if you consider that existing fix does not apply for you.

[2019-04-10 10:12] #2154 closed, assigned to nobody

[2019-04-10 15:07] #2155 closed, assigned to nobody

[2019-04-10 15:11] ishakhsuvarov commented on #2118
Delivered with #2124

Thank you @bartekszymanski

[2019-04-10 15:11] #2118 closed, assigned to bartekszymanski

[2019-04-10 15:13] ishakhsuvarov opened #2159 "Increase InventoryGraphql test coverage"
### Description
Current implementation of the `InventoryGraphql` module is only covered by the limited scope of automated tests from `CatalogInventoryGraphql` module. Included scenarios does not account for cases when multiple sources are configured.

### To Do
* Add api functional tests to `InventoryGraphql` which cover multi source scenarios

[2019-04-10 15:42] ishakhsuvarov opened #2160 "Send Store Pickup confirmation email asynchronously"
### Description
In order to improve "Ready for Pickup" operation performance it's necessary to send confirmation email asynchronously.

### Scenario
1. Store Pickup order is created by any means (Frontend, Admin, WebAPI)
2. Login to admin and open created Store-Pickup order
3. Process order and click "Notify Customer"
4. ✅ Confirmation email is sent to customer in background instead of blocking th

[2019-04-10 15:56] #2031 closed, assigned to michaelwylde

[2019-04-10 15:58] ishakhsuvarov opened #2161 "UI Components in Store Pickup admin UI"
### Description
UI Components has become a standard for Admin UI and must be used in favor of older backend UI widgets.

### To Do
* Investigate if it is viable to replace `\Magento\InventoryInStorePickupAdminUi\Block\Adminhtml\Order\View\ReadyForPickup` with a UI component
* Do it.

[2019-04-10 16:48] lorikrell opened #2162 "Docs - API quick reference"
Would be great to have the only Page with all MSI APIs listed there.
So that we can always point 3rd party developers and provide link to that page when they have questions regarding MSI APIs.

LOCATION:
https://devdocs.magento.com/guides/v2.3/inventory/index.html Add or link here

**New Content:**
https://github.com/magento-engcom/msi/wiki/Magento-MSI-APIs

BACKGROUND:
Initially we already wanted

[2019-04-10 17:58] seansan commented on #2153
+1

We use an attribute to flag virtual (not local) stock sources that follow different fulfillment behavior

https://magento.stackexchange.com/a/269323/78

[2019-04-11 06:35] ishakhsuvarov commented on #2135
Closing this ticket, as issue has already been fixed in #2142

Thanks @tephereth

[2019-04-11 06:35] #2135 closed, assigned to tephereth

[2019-04-11 09:43] mrtuvn commented on #2043
Hello guys any updates on this problem ? Today i faced same issue like this

[2019-04-11 09:55] mrtuvn commented on #2043
I got issue with custom option of product configurable
Source item not found by source code: default and sku: AdminConfig-Black-Test.
AdminConfig is SKU of parent
Black is child attribute
Test is custom option SKU

[2019-04-11 14:55] ishakhsuvarov commented on #2034
Closing this ticket now, as initial implementation is already delivered to the `store-pickup` branch in #2127

[2019-04-11 14:55] #2034 closed, assigned to novikor

[2019-04-11 15:02] novikor opened #2163 "Tests coverage for #2034"
### Summary (*)
We must implement test coverage for  magento-engcom/msi#2034

### Examples (*)
No examples. Just do it.

[2019-04-11 15:03] ishakhsuvarov opened #2164 "Order Ready for Pickup tests coverage"
### Description
Merging #2127 created a gap in the automatic tests coverage. Feature must be covered by a decent set of tests by the time of the release.

### To Do
* [ ] Integration tests created for Order Ready For Pickup feature
* [ ] Functional Tests cover the UI part of the feature

[2019-04-11 19:16] TBlindaruk commented on #2163
The same as https://github.com/magento-engcom/msi/issues/2164

[2019-04-11 19:17] TBlindaruk commented on #2164
The same as https://github.com/magento-engcom/msi/issues/2163

[2019-04-12 07:18] #2163 closed, assigned to novikor

[2019-04-12 07:20] novikor commented on #2164
I suggest splitting the issue into 2: first for Unit/Integration/API-functional and the second one for MFTF.

In this case, it will be merged faster.

Or I`ll implement it in different PRs related to the same issue.

[2019-04-12 07:20] novikor commented on #2164
@TBlindaruk , thank you for collaboration. I`ll close the duplicate.

[2019-04-12 08:51] ishakhsuvarov commented on #2164
@novikor Feel free to split it in any way. We are good with it as long as feature is covered with tests :)

[2019-04-12 10:26] phoenix128 opened #2166 "Wrong output for "inventory:reservation:list-not-compensated" CLI command"
`inventory:reservation:list-not-compensated` command line returns `Inconsistencies found on following entries:` without any order instead of `No order inconsistencies were found`.

This happens when items not compensated are found in non finalized orders.

### Preconditions (*)
1. Start with a clean database
2. Create one or more test orders and run a partial shipment

### Steps to reproduce (*)
1

[2019-04-12 12:55] ishakhsuvarov commented on #2101
Merged in #2117

Thanks @bcerban !

[2019-04-12 12:55] #2101 closed, assigned to bcerban

[2019-04-12 13:29] ishakhsuvarov commented on #2166
Fixed in #2167

@phoenix128 @riccardougolini Huge thanks to you guys!

[2019-04-12 13:29] #2166 closed, assigned to riccardougolini

[2019-04-12 15:46] ishakhsuvarov commented on #1537
Merged in https://github.com/magento/magento2/pull/17424

[2019-04-12 15:46] #1537 closed, assigned to phoenix128

[2019-04-12 15:48] ishakhsuvarov commented on #478
Looks like fix was merged in https://github.com/magento/magento2/pull/15690

Thanks @kisroman

[2019-04-12 15:48] #478 closed, assigned to nobody

[2019-04-13 08:39] ishakhsuvarov commented on #2113
Fixed in #2139

[2019-04-13 08:39] #2113 closed, assigned to nobody

[2019-04-13 08:52] ishakhsuvarov opened #2169 "Reservations CLI for incomplete orders"
### Description
See #2140 for details and more information.

### To Do
1. CLI command is introduced to find all orders in incomplete state which don't have initial reservation.
2. List of orders is displayed similarly to the existing CLI command.

[2019-04-13 08:57] ishakhsuvarov opened #2170 "Reservations CLI: Compensation"
### Description
See #2140 for details and more information.

### To Do
1. Reservations CLI command is created, which is capable of compensating orders with reservations in inconsistent states (non created, not compensated, etc). Ideally, command should accept input from #2140 and #2169
2. Command accepts a parameter which specifies if inconsistent reservations must be cleared or compensated.
3. Co

[2019-04-13 08:59] ishakhsuvarov commented on #2140
Moved additional points to #2169 and #2170.
Closing this ticket, as the command in question was merged in #2148

[2019-04-13 08:59] #2140 closed, assigned to riccardougolini

[2019-04-13 11:49] ishakhsuvarov commented on #2128
Closing, as issue is now fixed. Relevant Pull Requests:
* https://github.com/magento/magento2/pull/21540
* https://github.com/magento-engcom/msi/pull/2144

[2019-04-13 11:49] #2128 closed, assigned to tephereth

[2019-04-13 15:34] krzksz commented on #2029
As far as I can see in the linked document there are 2 approaches:
- Regular shipping address form with store pickup as a shipping option.
- Toggle between shipping and store pickup without shipping options selector.

Could you please clarify what is the final idea for checkout UI?

[2019-04-13 19:54] TBlindaruk commented on #2161
I will try to do it

[2019-04-15 08:53] vpodorozh commented on #2164
@novikor - when do you expect it to be finished?
I need to know to plan my time. Thx.

[2019-04-15 11:24] novikor commented on #2164
@vpodorozh  - we have not any strict deadlines at the moment.

Anyway, earlier is better.

[2019-04-16 06:21] VitaliyBoyko commented on #2059
Hi @brideo
I've tested the issue and cannot reproduce it on my environment.

Could you please check your `memory_limit` configuration. The import took around 56.43 MiB of memory and about 3 seconds per 100 rows. In case if the config least you should increase it or decrease the bunch size.
 Import of 39k (medium profile of performance fixtures) rows has taken 676 seconds, max memory usage has been

[2019-04-16 08:30] swnsma opened #2182 "Source Entity expansion with Pickup Location attributes"
### Description
Source entity need to be expanded with additional attributes for Pickup Location.
At least next attributes need to be added:
- Front Name - which will be used for name of Pickup Location on Magneto Frontend.
- Open Hours - attribute which will be used to show open hours of Pickup Location.

Please foresee next cases:
- if source is not Pickup Location - attributes should hided or s

[2019-04-16 08:34] swnsma opened #2183 "Pickup Location Provider Service"
### Description
Please create a service(s) to provide pickup location.
- The service should provide list of Pickup Location entities (see #2126).
- The service should provide closest Pickup Location based on entered postcode (see #2006)
- Service should be available as API REST/SOAP endpoint.

[2019-04-16 11:55] malesh-v commented on #2087
I can't reproduce this issue.

[2019-04-16 11:55] #2087 closed, assigned to nobody

[2019-04-16 17:06] ishakhsuvarov commented on #1912
Closing, as fix is delivered to `2.3-develop` branch.

Thanks @VitaliyBoyko

[2019-04-16 17:06] #1912 closed, assigned to VitaliyBoyko

[2019-04-16 18:00] ishakhsuvarov commented on #2169
Closing, merged in #2171

[2019-04-16 18:00] #2169 closed, assigned to vadimjustus

[2019-04-16 19:04] ishakhsuvarov opened #2185 "Improve GetNearbySourcesByPostcode API"
### Description
Current API for `GetNearbySourcesByPostcode` has multiple issues to it, potentially creating challenge for future customizations and improvements:
* API is not scoped
* Pickup location is represented only by `country` and `postcode` which is not ideal for many scenarios.

### To Do
Design a better API. For example (still has be refined) it could use an appropriate address object in

[2019-04-17 10:46] lyusya-nnn opened #2188 "Can not add products manually to configurable"
### Preconditions (*)

1. Magento 2.3.1 with MSI enabled and 3 websites
2. Custom stock with custom source created

### Steps to reproduce (*)

1. Create few simple products, assign proper sources and qty
2. Create a configurable product
3. Open configurable product, Click on 'Add Products Manually' in Configurations section, select products and click 'Done'

### Expected result (*)

1. Quantity P

[2019-04-17 21:41] ishakhsuvarov commented on #1947
Fixed in #2179

Many thanks @seruymt

[2019-04-17 21:41] #1947 closed, assigned to seruymt

[2019-04-18 10:39] lyusya-nnn opened #2190 "Configurable product price is always 0 if 'Display Out of Stock Products' = Yes"
### Preconditions (*)

1. Magento 2.3.1 with MSI enabled and 3 websites
2. Custom stock with custom source created
![sources](https://user-images.githubusercontent.com/8502721/56353852-061ff300-61db-11e9-8c01-e01ac6718114.png)
![stocks](https://user-images.githubusercontent.com/8502721/56353919-2d76c000-61db-11e9-9e27-e20ac09b692f.png)

### Steps to reproduce (*)

1. Create configurable products
!

[2019-04-18 14:29] ishakhsuvarov commented on #1983
Closing, as it's expected to be fixed in #2056

Thanks @phoenix128

[2019-04-18 14:30] ishakhsuvarov commented on #2027
Closing. Async stock synchronisation is implemented in #2056

@phoenix128 Thanks!

[2019-04-18 14:37] #1949 closed, assigned to magterskine

[2019-04-18 14:38] #1973 closed, assigned to magterskine

[2019-04-18 14:38] #1976 closed, assigned to magterskine

[2019-04-18 20:38] magterskine opened #2192 "MFTF - Reorder of the Order with Simple product on Test stock from Admin"
https://app.hiptest.com/projects/69435/test-plan/folders/735202/scenarios/1482457

[2019-04-19 09:59] maghamed commented on #2190
@vad1m777  this issue needs to be verified without MSI installed as MSI is not dealing with prices at all

[2019-04-19 15:32] phoenix128 commented on #1889
Should this be closed?

[2019-04-19 15:33] VincentMarmiesse commented on #2112
Hi @maghamed,

I'm not sure to understand why this issue is closed, there *is* an issue right?
If the setting `Admin > catalog >stock option > Display Out of Stock Products` is set to No, product should disappear as soon as it gets an order (ie a reservation).

I understood it's done on purpose because it can causes some performance issues, but it's still a bug don't you think?

[2019-04-21 12:10] TBlindaruk commented on #2164
@vpodorozh How your progress is?

[2019-04-23 14:37] lyusya-nnn commented on #2190
I think there is some configuration missing in module-inventory-configurable-product/etc/di.xml

[code]

[2019-04-23 15:23] ishakhsuvarov commented on #2059
Hi @brideo
Multiple people have trie reproducing the issue in question so far with no success. I'm closing the ticket for now.

Please feel free to reopen if the issue persists for you and maybe you find a specific step to make it reproducible.

Thanks!

[2019-04-23 15:23] #2059 closed, assigned to nobody

[2019-04-23 19:09] dbkab commented on #2112
any updates on this issue? this is really problematic in our case since the majority of our catalog consists of unique single products..

[2019-04-23 19:19] lorikrell opened #2195 "DOCS - 1.1.2 Release Notes and Module updates"
Add release notes for 1.1.2
DevDocs: https://devdocs.magento.com/guides/v2.3/inventory/release-notes.html
Wiki:
Filter for current PRs: https://github.com/magento-engcom/msi/pulls?utf8=%E2%9C%93&q=is%3Apr+label%3A%22MSI+1.1.2+Release%22+

- New CLI commands for reservations
- Performance updates
- New UI updates for sources (product pages)
- Partial stock mass transfer API
- GraphQL support for MS

[2019-04-23 21:23] magterskine opened #2196 "MFTF - MSI-1527 test fix"
Fixing broken MSI-1527 test

[2019-04-24 23:13] ishakhsuvarov opened #2203 "Reservations can not be compensated for the configurable product using CLI"
### Description
1. Place order for 1 child of configurable product from main website and default stock
2. Delete reservation from the DB
3. Run `bin/magento inventory:reservation:list-inconsistencies -r | bin/magento inventory:reservation:create-compensations`

❌Result:

4. Place order for 1 child of configurable product from Test website and Test stock
5. Delete reservation from the DB
6. Run `bi

[2019-04-25 05:01] lorikrell commented on #2195
PR Draft prepped for MSI 1.1.2 release notes in DevDocs - https://github.com/magento/devdocs/pull/4342
Final updates in progress (links to CLI reference, any further updates)

[2019-04-25 12:26] #1990 closed, assigned to phoenix128

[2019-04-25 14:39] IvanPletnyov commented on #2203
In service GetReservationFromCompensationArgument we load order by increment id via orderRepository, but method get in order repository use entity_id. I think for fix we need get entity_id by increment id and load order by received entity_id.

[2019-04-25 15:02] smoskaluk opened #2204 "Table inventory_stock_2 show is_salable = 1 for configurable and grouped product which are Out of stock"
### Preconditions (*)

1. Custom stock with custom source and custom Website created
2. Configurable and grouped products created with child products assigned to Custom source with positive qty

### Steps to reproduce (*)

1. Set parent configurable and grouped products as "Out of stock" in admin and save
2. In DB check inventory_stock_2 table

### Expected result (*)

1. Value for column "Is_sala

[2019-04-25 17:14] lorikrell commented on #2143
In review.

[2019-04-25 17:15] lorikrell commented on #2162
Igor will be providing content to add to DevDocs!

[2019-04-25 19:00] #2062 closed, assigned to Stepa4man

[2019-04-25 19:02] #2170 closed, assigned to vadimjustus

[2019-04-25 22:41] lorikrell opened #2207 "DOCS - Implement partial stock transfer api"
Docs Ticket - MSI 1.1.2
Document New API for partial inventory mass transfer from source to source (No UI planned at this time, all APIs) (PR 2117)

Documentation to be added to DevDocs.
https://devdocs.magento.com/guides/v2.3/rest/modules/inventory/bulk-inventory.html

[2019-04-25 22:43] lorikrell commented on #2207
Completed and merged to devdocs MSI 1.1.2 integration branch.

[2019-04-25 22:43] #2207 closed, assigned to keharper

[2019-04-25 22:44] lorikrell opened #2208 "DOCS - GraphQL additions for MSI 1.1.2"
Documentation ticket

Document GraphQL additions introduced by MSI PR-2124
Content for DevDocs
https://devdocs.magento.com/guides/v2.3/graphql/reference/products.html

[2019-04-25 22:45] lorikrell commented on #2208
Work completed and merged to DevDocs MSI 1.1.2 Integration branch

[2019-04-25 22:45] #2208 closed, assigned to keharper

[2019-04-25 22:54] ishakhsuvarov opened #2209 "Update Stock Item Configuration service once Bundle support is implemented"
### Description
Default stock checking condition for Stock Item Configuration service must be removed once it's unblocked by the Bundle Product support.

Ref: https://github.com/magento-engcom/msi/pull/2189

[2019-04-25 23:45] ishakhsuvarov opened #2210 "Price Indexer fails with large catalogs"
### Preconditions (*)
1. Magento with MSI is installed and configured in a single-stock mode.
2. Large performance profile generated

### Steps to reproduce (*)
1. Run reindex with large profile applied

### Expected result (*)
✅Success

### Actual result (*)
❌DB Query is executed enormously long time.

### Possible Solution
Product Price Indexer depends on stock index. Because of this `ModifySele

[2019-04-25 23:49] ishakhsuvarov opened #2211 "InventoryExport APIs do not correctly support sales channels"
### Description
By default MSI installations use Website as a Sales Channel, however, system should support customisations changing this behavior and assigning sales channel to something else.

### To Do
* Review `ExportStockIndexDataInterface` and `ExportStockSalableQtyInterface`.
* Eliminate `websiteCode` from the arguments  and replace it with sales channel.
* Introduce logic to resolve sales c

[2019-04-26 05:55] lorikrell commented on #2143
Content merged to devdocs integration branch for 1.1.2. Closing

[2019-04-26 05:55] #2143 closed, assigned to lorikrell

[2019-04-26 13:56] #2196 closed, assigned to nobody

[2019-04-26 15:11] swnsma commented on #2126
Merged #2173.

[2019-04-26 15:11] #2126 closed, assigned to swnsma

[2019-04-26 15:12] #1974 closed, assigned to magterskine

[2019-04-26 15:13] #2055 closed, assigned to magterskine

[2019-04-26 15:13] #2057 closed, assigned to magterskine

[2019-04-26 21:39] maghamed opened #2213 "Discover pluginization of isSaleable method on product model in Magento"
### Description
Method `isSalable` of `Magento\Catalog\Model\Product` has tens of usages across Magento Core files and possibly multitude of other usages in existing third-party customization.

Currently, MSI does not introduce any plugin or other logic which would return correct value from this method given environment with multiple source setup.

### Background
https://magento.stackexchange.com/

[2019-04-29 15:32] ishakhsuvarov commented on #2110
Unskipped in the scope of private PR https://github.com/magento/magento2ce/pull/4128

[2019-04-29 15:32] #2110 closed, assigned to nobody

[2019-04-29 18:01] ishakhsuvarov commented on #2156
Fixed in #2172

[2019-04-29 18:01] #2156 closed, assigned to vpodorozh, novikor

[2019-05-01 07:16] VitaliyBoyko commented on #2043
Fixed in 2.3 develop

[2019-05-01 07:16] #2043 closed, assigned to VitaliyBoyko

[2019-05-02 03:17] mrtuvn commented on #2043
@VitaliyBoyko can you add reference pull request related with this fix

[2019-05-02 20:19] maghamed opened #2217 "Check that new MSI modules are not disabled when Magento has been upgraded 2.3.(0|1) -> 2.3.(1|2) with MSI"
check here for more details - https://magento.stackexchange.com/questions/273255/modules-disable-after-upgrade-2-3-1

[2019-05-03 11:22] pushpagupta-magento opened #2218 "Because of inventory_sales module (MSI) : Backorder Item Status is not showing if we placed order with backorder item in magento2.3.x"
### Preconditions (*)

1. Magento version 2.3.0
2. Should have inventory_sales module (MSI)

### Steps to reproduce (*)

1. Set a product up as backorderable - 0 quantity stock, "allow orders below 0", in stock, enabled
2. As a frontend customer, add this backordered product to a cart
3. Add an additional "normal" stock item to the cart (not backordered - this step may not be strictly required but

[2019-05-03 11:22] pushpagupta-magento commented on #2218
Hi, please assign this issue to me. I am not able to assign this to me.

[2019-05-03 11:38] pushpagupta-magento commented on #2218
@magento-engcom-team give me 2.3-develop instance

[2019-05-03 17:41] teodorpav commented on #2043
I have the same issue on 2.3.1 with simple product without any custom options. The issue is when the products are imported but 'Salable Quantity' is 0. If you Edit/Save the product the issue will be fixed.

[2019-05-04 05:31] pushpagupta-magento commented on #2218
Hi Team : I have found the solution for it and working on it and soon will generate the PR.

[2019-05-04 06:12] pushpagupta-magento commented on #2218
I am working on this at #dmcdindia19

[2019-05-04 09:01] milindsingh opened #2220 "Shipment create via API salesShipmentRepositoryV1 throw Fatal error"
### Preconditions (*)

1. Magento 2.3.1 with MSI enabled
2. Single Default Source for Inventory
3. The order created from Admin Panel

### Steps to reproduce (*)

1.  Create an order created from Admin Panel
2. Create Shipment via API:

[code]

### Expected result (*)

1. Shipment is created in Admin

### Actual result (*)

1. Fatal Error
[code]

Note: **Works after disabling the MSI modules.**

[2019-05-04 09:01] milindsingh opened #3193 "Shipment create via API salesShipmentRepositoryV1 throw Fatal error"
### Preconditions (*)

1. Magento 2.3.1 with MSI enabled
2. Single Default Source for Inventory
3. The order created from Admin Panel

### Steps to reproduce (*)

1.  Create an order created from Admin Panel
2. Create Shipment via API:

[code]

### Expected result (*)

1. Shipment is created in Admin

### Actual result (*)

1. Fatal Error on API Response
[code]

Note: **Works after disabling the M

[2019-05-04 11:13] RishiRanjan21 commented on #1036
I am facing the same issue.

[2019-05-04 13:33] novikor commented on #2032
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 13:39] novikor commented on #2032
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 13:40] novikor commented on #2032
@magento-engcom-team give me store-pickup instance

[2019-05-04 14:22] staywithabhi commented on #1234
i am also getting the same issue in magento 2.3.1

[2019-05-04 20:58] maghamed commented on #2218
hey @pushpagupta-magento  I granted you write permissions for MSI repo, so that since now you can create branches in MSI repo but not to fork MSI in own fork. Also, you can self-assign yourself to any tickets from the MSI backlog

[2019-05-07 11:12] IvanPletnyov commented on #3193
@milindsingh Hello! I check this issue and I noticed one mistake in your request body. Could you please add field "order_item_id" to items (it must work properly)
For example:
_{"entity": {"increment_id": "000000003","order_id": 3,"items": [{ "order_item_id": 3,"qty": 1}],"tracks": [{"order_id": 3, "qty": 1,"track_number": "123","title": "Test","carrier_code": "dhl" }]}}_

[2019-05-07 13:19] Enterframe99 commented on #825
We are in 2.3.
When we submit an order we have the result described by smoskaluk but this is true for the first 20/30 seconds; after that time the saleable quantity return to the correct value.
We think that is due to catalog reindex time, but if a customer make an order in this few seconds we can receive an order for a product that isn't avaiable.

[2019-05-07 21:30] ishakhsuvarov commented on #2129
@jorgb90 Closing this ticker for now as we were unable to reproduce it at this point. Please feel free to reopen if you have any additional information on this.

Thanks

[2019-05-07 21:30] #2129 closed, assigned to nobody

[2019-05-07 21:33] ishakhsuvarov commented on #2094
Hi @routbiplab

I am closing this ticket now due to inactivity and the fact that we couldn't reliably reproduce the issue. Please feel free to reopen if you have any additional information.

[2019-05-07 21:33] #2094 closed, assigned to nobody

[2019-05-07 21:48] ishakhsuvarov commented on #1889
@phoenix128 We can take another attempt at this :) @okolesnyk is still ready to help with tests ❤️

[2019-05-07 21:49] ishakhsuvarov commented on #2048
Hi @guilhermetb
Closing ticket for now, as it seems that discussion has reached its logical end. Please reopen if you have any more questions.

Thanks

[2019-05-07 21:49] #2048 closed, assigned to maghamed

[2019-05-08 19:54] lorikrell commented on #2195
Work completed https://github.com/magento/devdocs/pull/4377

[2019-05-08 19:54] #2195 closed, assigned to lorikrell

[2019-05-08 22:07] lorikrell commented on #2162
https://github.com/magento/devdocs/pull/4457 PR for work

[2019-05-08 22:56] lorikrell commented on #2162
Merged and complete

[2019-05-08 22:56] #2162 closed, assigned to keharper, lorikrell

[2019-05-09 15:34] novikor opened #2222 "Pickup notification creates shipment for default source only"
### Preconditions (*)

0. Create a source with code `pickup` and mark it as used for pickup
1. Create an order
2. Mark it as placed using Store Pickup
`INSERT IGNORE
INTO inventory_pickup_location_order (order_id, pickup_location_code)
SELECT entity_id, 'pickup'
FROM sales_order;`

### Steps to reproduce (*)

1. Go to order view page and press 'Notify Order is Ready for Pickup'

### Expected resul

[2019-05-10 01:10] ishakhsuvarov commented on #2164
Looks like there is no progress

[2019-05-10 01:30] ishakhsuvarov opened #2227 "Shipping / Pick In Store switcher on Checkout"
### Description
In order for Customer to select the Store pickup delivery method a new component has to be introduced. Component has to be a simple switcher, with 2 options "Shipping" and "Pick in Store". Ideally, component should be reusable and provide an interface for the developer to introduce more values or change it's behavior in a friendly way.

### Expected behavior
By default Checkout sta

[2019-05-10 06:24] swnsma commented on #2227
#2029

[2019-05-10 09:58] smoskaluk commented on #1688
Now it reproducing on default and custom stocks as well

[2019-05-10 13:32] milindsingh commented on #3193
@ishakhsuvarov
Yes, you are correct that by providing the  "order_item_id" the issue doesn't occur.
But I think the API should have a basic validation check of data sent for shipment?
Is data validation not done intentionally?

[2019-05-10 13:38] smoskaluk commented on #2060
Reproducing on default stock as well

[2019-05-10 13:41] smoskaluk opened #2229 "'Reorder' button is visible for order in customer cabinet when ordered item is sold out"
### Preconditions

1. Create simple (or virtual or downloadable) product "Prod 1" with qty=1
2. Create customer account on Main website

### Steps to reproduce

1. Create order with 1 item of product "Prod 1"
2. Make shipment and invoice for this order
3. Goto "My Orders" tab on personal cabinet of your customer

### Expected result

1. Button "Reorder" should't be visible for your order

### Actu

[2019-05-10 16:14] ishakhsuvarov commented on #2029
Closing in favor of #2227

[2019-05-10 16:14] #2029 closed, assigned to nobody

[2019-05-11 21:22] novikor commented on #2164
@vpodorozh has committed to do it next week.

In Vlad we trust (no)

[2019-05-12 17:27] willtran commented on #2229
I have checked the behaviour on OOTB Magento 2.3 (without MSI)
Re-order button is available when product is out of stock.
However when you click on the link Magento will complain:

**Product that you are trying to add is not available.**

I think we should keep the current behaviour as it is more clear to the customer why they can't re-order. In addition to check whether or not the order can be re

[2019-05-12 17:28] willtran commented on #2229
Same with admin area, re-order button is available when you visit the order inside admin regardless of stock status.

[2019-05-12 18:11] willtran opened #2238 "Unable to assign more sources to stock in inventory/stock/edit"
### Preconditions (*)
1. Magento MSI
2. At least 2 sources
3. Create a new stock with 1 or more initial sources.

### Steps to reproduce (*)
1. On page load there is a javascript error:
`Uncaught TypeError: Unable to process binding "click: function(){return $data.deleteRecord.bind($data,$record().index,$record().recordId) }"
Message: Cannot read property 'bind' of undefined`
2. Proceed to the adm

[2019-05-13 08:32] nmalevanec opened #2242 ""Only X left' = 0 not displayed for 'Out of stock' Simple product on Default source and Main website automation"
### Steps to be automated

1. New source created
2. New Stock created with New Source assigned
3. Simple Product created on Default source with Qty = 0 and status 'Out of stock'
4. Enable 'Display Out of Stock Products' in Configuration
5. Set 'Only X left Threshold' = 0 in Configuration
6. Verify that message 'Only 0 left' not appeared on Simple product page on frontend

[2019-05-13 08:40] nmalevanec opened #2243 ""Only X left' = 0 not displayed for 'Out of stock' Simple product on Test source and Main website automation"
### Steps to be automated.

1. New source created
2. New Stock created with New Source assigned and with Main Website assigned as Sales Channel
3. Simple Product created on Test source with Qty = 0 and status 'Out of stock'
4. Enable 'Display Out of Stock Products' in Configuration
5. Set 'Only X left Threshold' = 0 in Configuration
6. Verify that message 'Only 0 left' not appeared on Simple produ

[2019-05-13 08:43] nmalevanec opened #2244 ""Only X left' = 0 not displayed for 'Out of stock' Simple product on Test source and Test website - automation"
### Steps to be automated

1. Admin User creates new Website with new Store and new Store View
2. Set your Test Website accessible on frontend
3. New source created
4. New Stock created with New Source assigned and with Test Website assigned as Sales Channel
5. Simple Product created on Test source with Qty = 0 and status 'Out of stock' and assigned to Test website
6. Enable 'Display Out of Stock

[2019-05-13 08:49] nmalevanec opened #2245 ""Only X left' = 0 not displayed for 'Out of stock' Simple product on Default source and Test website - automation"
### Steps to be automated

1. Admin User creates custom Website with new Store and new Store View
2. Set your Test Website accessible on frontend
3. New source created
4. New Stock created with New Source assigned
5. Simple Product created on Default source with Qty = 0 and status 'Out of stock' and assigned to Test website
6. Enable 'Display Out of Stock Products' in Configuration
7. Set 'Only X

[2019-05-13 09:00] nmalevanec opened #2246 "Inventory Export Stock Api dump-stock-index-data for different types of products on Default stock - automation"
### Steps to be automated.

1. New source created
2. New Stock created with New Source assigned
3. Simple Product created with Default Source assigned
4. Virtual Product created with Default Source assigned
5. Grouped Product created with child products assigned on default source
6. Configurable Product created with drop-down attribute and child product assigned to Default Source in admin
7. Bundl

[2019-05-13 09:10] VZeroCool commented on #2046
I would like to reopen it. I'm getting this issue even after disabling all custom modules.

Steps will be Place an order and cancel that order. After cancel qty has to be return to stock but its not returning.

Due to this count is getting weird and weird. @maghamed

[2019-05-13 10:02] nmalevanec opened #2247 "Inventory Export Stock Api export-stock-salable-qty for different types of products on Default stock - automation"
### Steps to be automated.

1. New source created
2. New Stock created with New Source assigned
3. Simple Product created with Default Source assigned
4. Virtual Product created with Default Source assigned
5. Grouped Product created with child products assigned on default source
6. Configurable Product created with drop-down attribute and child product assigned to Default Source in admin
7. Bundl

[2019-05-13 10:07] nmalevanec opened #2248 "Inventory Export Stock Api export-stock-salable-qty for different types of products on Test stock - automation"
### Steps to be automated

1. New Website with new Store and new Store View successfully created
2. New source created
3. New Stock created with New Source assigned and with Test Website assigned as Sales Channel
4. Simple Product created with Test Source assigned and visible on Test website
5. Virtual Product created with Test Source assigned and visible on Test website
6. Downloadable Product cr

[2019-05-13 10:13] nmalevanec opened #2249 "Inventory Export Stock Api dump-stock-index-data for different types of products on Test stock - automation"
### Steps to be automated

1. New Website  created with Store and new Store View
2. New source created
3. New Stock created with New Source assigned and with Test Website assigned as Sales Channel
4. Simple Product created with Test Source assigned and visible on Test website
5. Virtual Product created with Test Source assigned and visible on Test website
6. Downloadable Product created with sever

[2019-05-13 10:36] nmalevanec opened #2250 "Admin user created shipment for whole order with Simple product from Test source with numeric source code - automation"
### Steps to be automated.

1. New sources created with numeric source code
2. New Stock created with 2 Sources assigned and with Main Website assigned as Sales Channel
3. Simple Product with 2 Sources on non-default stock assigned created
4. Customer created from Main website
5. Logged in Customer ordered Simple product
6. Shipment created for whole  order on Test stock
7. Shipment was successful

[2019-05-13 10:47] nmalevanec opened #2251 "Configurable product created on Single stock mode with empty Qty field"
### Steps to be automated

1. Configurable Product  with empty Qty field created on Single Stock mode in admin
2. Configurable product created successfully

[2019-05-13 11:03] Stepa4man opened #2252 "In stock status shown at admin product view page when product out stock when developer mode enabled"
The Problem related to Magento deployment modes.
Issue only reproducible when developer mode enabled.

### Preconditions
1. Install actual 2.3-develop from msi github
2. Set deploy mode developer
3. Create a simple product in stock with some qty

### Steps to reproduce
1. Set stock status out of stock
2. Save product

### Expected result
1. Product saved
2. Stock status - Out of stock

### Actual

[2019-05-13 11:25] nmalevanec opened #2253 "Admin user create order from Test website with Simple product with inventory on Default and Test stock - automation"
### Steps to be automated

1. Admin User creates custom Website with new Store and new Store View
2. Set your Test Website accessible on frontend
3. Customer created from Test website
4. New Category created
5. New source created
6. New Stock created with New Source assigned and with Test Website assigned as Sales Channel
7. Simple Product created with Default and Test Source assigned and visible

[2019-05-13 11:42] nmalevanec opened #2254 "Graphql endpoints return correct product and 'only x left' quantities - automation"
### Steps to be automated

1. New source created
2. New Stock created with New Source assigned
3. Simple Product created on Default source with Qty = 10
4. Set 'Only X left Threshold' in Configuration
5. Customer created from Main website
6. Order created with 5 items of Simple product from Admin
7. Run flush cache
8. Make call in Graphql playground to check product and 'only x left' quantities
9.

[2019-05-13 11:53] nmalevanec opened #2255 "Admin user apply to several simple products mass action 'Assign Inventory sources' on Products grid asynchronously - automation"
### Steps to be automated

1. New source created
2. New Stock created with New Source assigned
3. Several Simple Products created with Default Source assigned
4. Setup asynchronous run for bulk operations in configuration
5. Admin user apply to several simple products mass action 'Assign Inventory Sources' on Products grid asynchronously
6. Mass action 'Assign Inventory Sources' was applied succes

[2019-05-13 11:59] nmalevanec opened #2256 "Save twice during creating Configurable Product - automation"
### Steps to be automated

1. New source created
2. Save twice  during creating of Configurable Product
3. Verify that child products of Configurable product have correct qty

[2019-05-13 17:37] vpodorozh commented on #2164
@novikor ... check [this](https://github.com/magento-engcom/msi/commit/8378eb210490170ea169ac21f562613400a2ebe8#diff-8067531c077b8d7cb29f9f5be449a4ffR124) ...

[2019-05-13 20:36] novikor commented on #2164
@vpodorozh , should I create a PR with 1 code line of changes?)

[2019-05-13 21:29] novikor commented on #2182
PR is expected this week.

[2019-05-14 03:28] #2246 closed, assigned to nobody

[2019-05-14 03:28] #2247 closed, assigned to nobody

[2019-05-14 03:28] #2248 closed, assigned to nobody

[2019-05-14 03:28] #2249 closed, assigned to nobody

[2019-05-14 03:28] #2250 closed, assigned to nobody

[2019-05-14 03:28] #2251 closed, assigned to nobody

[2019-05-14 03:28] #2253 closed, assigned to nobody

[2019-05-14 03:28] #2254 closed, assigned to nobody

[2019-05-14 03:28] #2255 closed, assigned to nobody

[2019-05-14 03:28] #2256 closed, assigned to nobody

[2019-05-14 06:06] vpodorozh commented on #2164
@novikor - in fact, you will need to change at least 3 lines of code, it is not the only bug - take a look at two other test cases with comments.
But you know, nevermind - I'll fix it for you :)

[2019-05-14 11:42] smoskaluk opened #2260 "Inventory Export Stock Api dump-stock-index-data fails"
### Preconditions (*)

1. MSI + EE + B2B
2. Multistock enabled
3. Products of various types created assigned to Default source (But reproducing for custom stock as well)

### Steps to reproduce (*)

1. Create Inventory Export Stock Api dump-stock-index-data for products on Default stock

### Expected result (*)

1. Export done successfully

### Actual result (*)

1. Export fails
[2019-05-13 14:56:

[2019-05-14 13:47] smoskaluk opened #2261 "Mass action 'Select all' doesn't work properly on product grid"
### Preconditions (*)

1. MSI with multistock enabled
2. performance-toolkit/profiles/ce/small.xml preset applied

### Steps to reproduce (*)

1. Open 'Products' grid in admin
2. Choose 'Select All' for the grid (you got 1200 items selected) and select mass action 'Assign Inventory Source'

### Expected result (*)

1. You may apply assigning custom source to all 1200 items

### Actual result (*)

[2019-05-14 23:03] Stepa4man commented on #2260
Thanks, for report @smoskaluk. It's a good issue. I missed this thing.

[2019-05-17 06:10] swnsma opened #2264 "Get Pickup Locations API tests coverage."
### Description
Cover Pickup Locations API with webapi tests.
See related PR #2214

[2019-05-17 06:20] swnsma opened #2265 "Extension attributes for Pickup Locations AddressInterface"
### Description
Check how we can make *\Magento\InventoryInStorePickupApi\Api\Data\AddressInterface* extensible with extension attributes.
Related PR: #2214

[2019-05-17 15:43] mypav commented on #2066
I can't reproduce this problem by specified preconditions.

[2019-05-17 15:45] lbajsarowicz commented on #2066
Run MFTF test #2069 that covers the issue

[2019-05-18 13:04] swnsma commented on #2185
Merged in #2214

[2019-05-18 13:04] #2185 closed, assigned to swnsma

[2019-05-18 13:05] swnsma commented on #2183
Merged in #2214

[2019-05-18 13:05] #2183 closed, assigned to swnsma

[2019-05-21 16:27] vpodorozh commented on #2164
Note about MFTF tests coverage - it is not possible to do right now because "Order Ready for Pickup" functionality can be present in Admin on Order page only in case there is a row in `inventory_pickup_location_order` table with current order_id and defined pickup_location_code.
Data into `inventory_pickup_location_order` can be passed only via manual SQL query for now (functionality development i

[2019-05-22 14:03] asim-vax opened #2269 "Anyway to disable stock reservation?"
### Summary (*)
We are noticing an issue where the default behaviour of MSI (no sources or stock set up) is that as an item is sold, it adds a record to inventory_reservation. And salable quantity is reduced.

We manage our stock in another system, and update the quantity field as orders come in. This is causing issues as suddenly the salable quantities are lowering, and never reset.

Is there a w

[2019-05-22 14:55] cscd98 commented on #2140
@ishakhsuvarov What tables do you need to empty manually to do this?

inventory_reservation ?

[2019-05-22 17:02] cscd98 commented on #2269
MSI has dependencies on reservation code.

I've added the following plugin override:

[code]

And added a new back end option Manage Reservations.

Will this cause any other issues?? e.g. when the item is shipped for example?

Have to add the variables again as they are private :-1:

[2019-05-22 17:59] cscd98 opened #2270 "Default stock: 1 shown next to qty in Admin?"
I've emptied my stock_reservation and inventory_shipment_source table on a development machine.

In the back end Catalog->Grid the default stock says: 1 but in inventory_source_item it says 52 for that sku??

Qty
52.0000

Default Stock: 1

[2019-05-22 18:04] cscd98 opened #2271 "Call to a member function getIsVirtual() on null"
Magento 2.3.1, happens locally using PHP 7.2, after returned from my 3dsecure test gateway to confirm order success.

[code]

[2019-05-23 07:57] KhrystynaBalog opened #2273 "Exception on default stock edit"
### Preconditions (*)

1. Magento with MSI

### Steps to reproduce (*)

1. Install Magento with MSI
2. Go to admin area
3. Navigate to Stores>Stocks
4. Create new Stock and assign Main website
5. Navigate to Stock grid
6. Press edit Default Stock

### Expected result (*)

1. Default stock edit page opened

### Actual result (*)

1. Exception occurred
![image](https://user-images.githubusercontent.

[2019-05-23 21:41] ishakhsuvarov commented on #2273
Hi @KhrystynaBalog

Got this fixed in https://github.com/magento-engcom/msi/pull/2272 already! Thanks for reporting

[2019-05-23 21:41] #2273 closed, assigned to nobody

[2019-05-23 21:44] ishakhsuvarov commented on #2271
Hi @craigcarnell
Some additional context on your 3dsecure test gateway would be really helpful. Does it use any specific controllers when order is placed? What is the flow in general?

[2019-05-23 21:53] ishakhsuvarov commented on #2269
Generally we do not advise to disable reservations mechanism as it might cause undesired effects in multiple scenarios across the system.

@asim-vax Scenario you are describing should work fine when you have `Manage Stock = False` on the product level, this way you would tell Magento Inventory to stop trying to manage stock for you. Is there any specific reason you decided not to use it?

[2019-05-23 21:54] ishakhsuvarov commented on #2260
Seems to be fixed with https://github.com/magento-engcom/msi/pull/2263

Thanks @Stepa4man

[2019-05-23 21:54] #2260 closed, assigned to Stepa4man

[2019-05-24 01:27] keharper opened #2274 "DOCS: Add devdocs topic about integrating MSI with external ERP/stock keeping systems"
### Summary (*)

Question on the MSI Slack channel

I have been reviewing this docs
https://devdocs.magento.com/guides/v2.3/rest/tutorials/inventory/index.html

The thing is that I need to catch the recently created order to be sent to a proprietary ERP , along with the data of the order I need to know from what source is the product going to be shipped

From what I have seen that data is created

[2019-05-24 05:04] ishakhsuvarov commented on #2274
On a side note, when order is created product is reserved only at a stock level. Source deduction occurs later when order is shipped, as in multiple scenarios it would be a performance intense operation which we don’t want to happen during checkout.

[2019-05-24 09:41] KhrystynaBalog opened #2275 "Error after adding grouped product to the cart from the category page"
### Preconditions (*)

1. Create custom stock with custom source
2. Create grouped product with child simple product with default quantity 2 on custom source.

### Steps to reproduce (*)

1. Go to Category page
2. Try to add Grouped product to the cart

### Expected result (*)

1. Grouped product added to the cart successfully.

### Actual result (*)

1. Grouped product isn't added to the cart, bu

[2019-05-24 11:41] cscd98 commented on #2271
@ishakhsuvarov order is saved, pending payment status

Customer is re-directed to a controller, which verifies that the customer is enrolled in 3dsecure through an API call.

If the customer is enrolled, they are re-directed to the bank, which then re-directs them back to the same controller in Magento.

There the order is captured (if 3dsecure was succesful):

[code]

[2019-05-24 11:59] Berdir opened #2276 "Resaving shipments in same process results in stock deduction"
It seems that saving a shipment with changes can result in repeated stock deduction.

I assume that this should prevent that:
[code]

I think this might only happen if a shipment is saved again in the same process, because \Magento\Sales\Model\Order\ShipmentRepository::save() puts the saved entity into the repository, but that means that \Magento\Framework\EntityManager\Observer\AfterEntityLoad::e

[2019-05-24 12:08] Berdir commented on #2276
I did run into this in an integration test for a module I'm creating.

I added a workaround there: https://github.com/swisspost-yellowcube/magento2-yellowcube/commit/78ad1b2795deaaa44ddc27fcf3621861c4c1aafd#diff-fbc227e53b22951fbb542a93bfd927aeR278, without that, the test fails.

[2019-05-26 14:41] maghamed opened #2277 "No linked stock found during the upgrade from 2.2 -> 2.3"
2.2.7 -> 2.3.1

Composer installation, upgrade through UI wizard.

For some reasons, Default Source and Stock have not been created during upgrade to Magento 2.3.1
\Magento\InventoryCatalog\Setup\Operation\CreateDefaultStock
\Magento\InventoryCatalog\Setup\Operation\CreateDefaultSource
(two these setup operations were not executed).

As the result exception with a message "no linked stock found" t

[2019-05-27 05:50] willtran commented on #1487
@maghamed this seems like an interesting one, is there more brief / requirement ?

[2019-05-27 12:49] #2222 closed, assigned to novikor

[2019-05-27 16:34] swnsma commented on #2032
Merged in #2237.

[2019-05-27 16:34] #2032 closed, assigned to novikor

[2019-05-28 05:14] ishakhsuvarov commented on #2275
Closing as non-reproducible per offline discussion with @KhrystynaBalog

[2019-05-28 05:14] #2275 closed, assigned to nobody

[2019-05-28 14:22] lorikrell commented on #2274
Will check this out. Thanks!

[2019-05-28 20:47] okorshenko opened #2279 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-05-28 20:53] #2279 closed

[2019-05-29 16:11] ishakhsuvarov commented on #2229
@willtran Thanks for investigation. This seems to be reasonable, so I'll be closing this ticket

[2019-05-29 16:11] #2229 closed, assigned to willtran

[2019-05-29 16:15] ishakhsuvarov commented on #3193
@milindsingh Yes, I guess this is something we should investigate and figure out the best fix. It might be more of a core issue however.

[2019-05-29 16:18] ishakhsuvarov commented on #2213
Hi @SergeyP18 Do you still plan to work on this item?

[2019-05-29 16:23] ishakhsuvarov commented on #2211
Closing, as it's already Merged.
Thanks @bartekszymanski

[2019-05-29 16:23] #2211 closed, assigned to bartekszymanski

[2019-05-29 16:27] ishakhsuvarov commented on #2203
Hi @phoenix128
Are you still interested in this item?

[2019-05-29 16:27] ishakhsuvarov commented on #2160
Hi @KonstantinZhidkovskiy
Are you still working on this or should we unassign the ticket?

[2019-05-29 18:01] maghamed opened #2281 "Add Sources column to the Sales Order Grid in Magento Admin panel"
Igor Miniailo [12:46 PM]
But regarding Product Grid we need to think how to  do it properly, as we have too many states here:
1. Orders where SSA / Shipment is not run yet - so there is Source allocation at all
2. Orders for which we had partial shipment , but they are still not completed yet
3. Orders in complete state , whether canceled / refunded / or shipped
I believe the intermediate state co

[2019-05-29 18:09] skukla commented on #2281
To clarify, the chief business value provided by this proposition is order visibility.  In the event of a need to clarify an error or the inability to fulfill, we should provide the merchant with the quickest possible method to find and diagnose those issues.

[2019-05-29 18:14] ishakhsuvarov commented on #1977
Closing, seems to be merged in #2228

[2019-05-29 18:14] #1977 closed, assigned to magterskine

[2019-05-29 18:27] ishakhsuvarov commented on #1906
Seems to be merged in #1919

[2019-05-29 18:27] #1906 closed, assigned to SergeyP18

[2019-05-29 18:40] ishakhsuvarov commented on #1688
Duplicate: https://github.com/magento-engcom/msi/issues/1875
Duplicate: https://github.com/magento-engcom/msi/issues/1858

This issue seems to be reproducible only on EE